.sidebar {
    padding-top: 100px;
    list-style: none;
}

.sidebar[data-active-color="danger"] .dashboardnav li.active>a,
.off-canvas-sidebar[data-active-color="danger"] .dashboardnav li.active>a {
    color: #01a2dd !important;
    list-style: none;
}

.sidebar ul > li {
    list-style: none !important;
    margin-top: 40px;
    
}

.sidebar li > a > p {
    margin: -20px !important;
}

.sidebar .dashboardnav li.active>a:before,
.off-canvas-sidebar .dashboardnav li.active>a:before {
    border-right: 0px solid #DDDDDD;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 40px;
}

.sidebar .dashboardnav li.active>a:after,
.off-canvas-sidebar .dashboardnav li.active>a:after {
    border-right: 0px solid #f4f3ef;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: -1px;
    top: 40px;
}

table {
    font-size: 10px !important;
    padding: 0px;
}

.card .table thead th:first-child {
    padding: 0px;
}

div#project_images {
    display: block;
}

div.maincontent {
    padding:50px;
    padding-top: 120px !important;

}

div#project_images > img {
    display: inline !important;
}




