{% set prints = __SELF__.prints %}
{% set productCategories = __SELF__.productCategories %}
{% set category = __SELF__.category %}
{% set colors = __SELF__.colors %}
{% set printSizes = Navigation.printSizes %}
{% set formats = __SELF__.formats %}
{% put styles %}
    <link href="/themes/kokore/assets/css/affix-top.css" rel="stylesheet" />
{% endput %}
<section class="grid-shop" styles="padding:0px !important">
		<!-- .grid-shop -->
		<div class="container-fluid">
			<div class="row" style="padding-left:30px;">
				<div class="col-sm-2 col-md-2">
					<div class="weight">
						<div class="title categoryTitles">
							<h4><a href="">New in</a></h4>
							<h4><a href="">Bestsellers</a></h4>
							<h4><a href="">Nature in a Glass</a></h4>
						</div>
					</div>
					<div class="weight">
						<div class="title"></div>
						<div class="categories" style="margin-top: -25px;">
						<ul>
							{% for category in productCategories %}
								{% if not category.parent_category_id %}
									<li><a href="#" class="parentCategory activeCategory" data-request="onPrints">{{category.category_name}}</a></li>
									<ul>
										{% for subCategory in category.categories %}
											<li><a href="{{ 'prints' | page({'slug' : subCategory.slug}) }}" class="childCategory" data-request="onCategoryPrints" data-request-data="slug:'{{subCategory.slug}}'">{{subCategory.category_name}}</a></li>
										{% endfor %}
									</ul>
								{% endif %}
							{% endfor %}
						</ul>
						</div>
					</div>
					{% spaceless %}
					<div class="weight">
						<div class="title">
							<h2>Color</h2>
						</div>
						{% for color in colors %}
							<img src="{{color.color_image.path}}" width="25" height="25" class="whitespace" alt="{{color.slug}}" />
						{% endfor %}
					</div>
					{% endspaceless %}
					<div class="weight">
						<div class="title">
							<h2>Format</h2>
						</div>
						<div class="formatContainer">
							{% for format in formats %}
								<label class="filterFormat {{format.slug}}" for="">{{format.format}}</label>
							{% endfor %}
						</div>
					</div>
					<div class="weight">
						<div class="title">
							<h2>Size</h2>
						</div>
						{% for size in printSizes %}
							<label>{{size.size}}
								<input type="checkbox" value="{{size.slug}}" data-value="{{size.slug}}" data-id="{{size.id}}">
							</label>
						{% endfor %}
					</div>
				</div>
				<div class="col-sm-10 col-md-10" style="padding:20px;">
					<div style="margin: 0 auto; width:60%; text-align:center">
						<h4 class="intro-title">Prints</h4>
						<p class="intro-size">Our entire range of prints can be viewed here! We have an extensive range, with something to suit almost all homes and interior design styles. All of our designs are printed on matt, uncoated paper of the highest quality and, because our designs are regularly updated, you're guaranteed to find something that's just right for you!</p>
					</div>
					
					<div class="grid-spr">
						{# <div class="col-sm-5 col-md-5"> <span>Showing {{prints|length}} prints</span> </div> #}
						<div class="col-sm-12 col-md-12 text-right">
							<div class="select-option">
								<select>
									<option value="Shop Favorites">Shop Favorites</option>
									<option value="Lowest Price">Lowest Price</option>
									<option value="Highest Price">Highest Price</option>
								</select>
							</div> <a href="#" class="grid-view-icon"><i class="fa fa-th-large" aria-hidden="true"></i></a> <a href="#" class="list-view-icon"><i class="fa fa-list" aria-hidden="true"></i></a> </div>
					</div>
					<div id="printsPartial" class="row wow zoomIn animated" data-wow-duration=".5s" data-wow-delay=".2s">
						{% for print in prints %}
                        
                        <div class="col-md-4" style="padding:18px 30px;">
							<!-- .pro-text -->
							<div class="pro-text">
								<!-- .pro-img -->
								<div class="pro-img"> <img class="frames" src="{{print.product_image.path}}" alt="2">
									<!-- .hover-img -->
									<div class="hover-img">
										<ul>
											<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
											<li><a href="#" data-toggle="modal" data-target="#quickModal" data-request="onView" data-request-data="slug: '{{print.slug}}'" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									{% if print.new and print.sale_off %}
                            <div class="new tage">
                                
                                <span class="new-text">NEW</span>
                                <span class="pres-text">-{{print.sale_amount}}%</span>
                                
                            </div>
            {% elseif print.new %}
                <div class="new tage">
                                <span class="new-text">NEW</span>
                            </div>
            {% elseif print.sale_off %}
                            <div class="discount tage">
                                <span class="discount-text">-{{print.sale_amount}}%</span>
                            </div>
            {% endif %}
									<!-- /.hover-img -->
								</div>
								
								<div class="pro-info">
									<!-- /.pro-img --><a href="{{'product-details' | page({'slug':print.slug})}}">{{print.product_name}}</a> <form id="myCart_form" data-request="onAddToCart" data-request-flash class="cart" method="post" enctype='multipart/form-data' style="display: inline-block"> <a href="#" class="addtocart">+ Add to cart</a> </form>
								<div class="price">NGN {{ print.price }}</div>
								</div>
								
							</div>
							<!-- /.pro-text -->
						</div>
                        {% endfor %}
					</div>
					{{prints.render|raw}}
				</div>
			</div>
		</div>
		<!-- /.grid-shop -->
	</section>



