{% set print = __SELF__.printModal %}
{% set format = __SELF__.format %} 
{% set colors = __SELF__.colors %}
{% set frames = Shop.frames %}
{% set sizes = __SELF__.sizes %}
{% set prices = __SELF__.prices %}
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<!-- left side -->
								<div class="col-sm-6 col-md-6">
									<!-- product gallery -->
									<div id="home-slider3" class="carousel fadein carousel-fade" data-ride="carousel">
										<!-- .home-slider -->
										<div class="carousel-inner">
											{# <div class="item active">
												<div class="caption">
													<img src="assets/images/Products/1.jpg" alt="qoute-icon">
												</div>
											</div>
											<div class="item">
												<div class="caption">
													<img src="assets/images/Products/11.jpg" alt="qoute-icon">
												</div>
											</div>
											<div class="item">
												<div class="caption">
													<img src="assets/images/Products/8.jpg" alt="qoute-icon">
												</div>
											</div> #}
											<div class="item active">
												<div class="caption">
													<img class="modalImage" src="{{print.product_image.path}}" alt="qoute-icon">
												</div>
											</div>
											<ul class="carousel-indicators">
												<li data-target="#home-slider3" data-slide-to="0" class="active"> <img src="{{print.product_image.path}}" alt="qoute-icon"></li>
												{# <li data-target="#home-slider3" data-slide-to="1" class=""> <img src="assets/images/Products/11.jpg" alt="qoute-icon"></li>
												<li data-target="#home-slider3" data-slide-to="2" class=""> <img src="assets/images/Products/8.jpg" alt="qoute-icon"></li>
												<li data-target="#home-slider3" data-slide-to="3" class=""> <img src="assets/images/Products/16.jpg" alt="qoute-icon"></li> #}
											</ul>
										</div>
										<!-- /.home-slider -->
									</div>
									<!-- / product gallery -->
								</div>
								<!-- left side -->
								<!-- right side -->
								<div class="col-sm-6 col-md-6">
									<!-- .pro-text -->
									<div class="pro-text product-detail">
										<!-- /.pro-img -->
										<a href="#">
											<h4>{{print.product_name}} <span style="font-size:10px" class="pull-right"> <span ><i class="fa fa-heart"></i></span>&nbsp; {{print.favorites_count}}</span> </h4> 
									</span>
										</a>
										{% if print.user %}
									<a href="{{'profile'|page({'display_name':print.user.display_name})}}">
										<span style="font-size:11px">by {{print.user.display_name}}</span>
									</a>
								{% endif %} 
										<div class="star2">
											{# <ul>
												<li class="red-color"><i class="fa fa-star" aria-hidden="true"></i></li>
												<li class="red-color"><i class="fa fa-star" aria-hidden="true"></i></li>
												<li class="red-color"><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><a href="#">10 review(s)</a></li>
												<li><a href="#"> Add your review</a></li>
											</ul> #}
										</div>
										<p class="price-detail" id="productbaseprice">NGN {{print.price}} {% if print.out_of_stock %}
                                             <span style="font-size:10px; text-decoration:none">
                                            {# <span class="woocommerce-Price-currencySymbol"></span> #} Out of Stock</span> 
                                            {% endif %}</p>
										{# <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
										<ul class="short-ul">
											<li>Claritas est etiam processus dynamicus.</li>
											<li>Qui sequitur mutationem consuetudium lectorum. </li>
											<li>Claritas est etiam processus dynamicus.</li>
										</ul> #}
                                        <p>{{print.product_excerpt|raw}}</p>
										<form data-request="onAddHomeItemToDbCart" data-request-flash class="cart" method="post" enctype='multipart/form-data'>
										<input type="hidden" name='product' value='{{print.id}}'>
										{% if print.homeitem %}
										<div class="size">
											<p>Color *</p>
											<div class="select-option">
												<select name="color">
												 <option value="">- Please select -</option>
													{% for color in colors %}
														<option value="{{color.id}}">{{color.color}}</option>
													{% endfor %}
                                      
                                   				 </select>
											</div>
										</div>
										{% endif %}
										
										
											<div class="numbers-row">
												<input name="quantity" id="french-hens" value="1" type="number">
												{# <div class="inc button">+</div>
												<div class="dec button">-</div> #}
											</div>
										{% if not product.out_of_stock %}
                                            <a href="#" class="addtocart2 submit">Add to cart</a>
                                            {% endif %}
										
										</form>
										{# {% if user %}
												{% component 'Newfav' print_id = print.id %}
											{% endif %} #}
										{# <a href="#" class="hart"><i class="fa fa-heart-o" aria-hidden="true"></i></a> #}
										{# <a href="#" class="hart"><i class="fa fa-sliders" aria-hidden="true"></i></a> #}
										<div class="tag">
											{# <p>Categories: <span>Bags, Blazers, Boots, Jackets, Pants, Shirts.</span></p> #}
											{# <p>Tag: <span>outerwear.</span></p> #}
										</div>
										<div class="share">
											<ul>
												<li>Share:</li>
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
											</ul>
										</div>

									</div>
									<!-- /.pro-text -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>

			<script>
		$('.submit').click(function(e) {
    e.preventDefault();
    $(this).closest('form').submit();
}); 
	</script>
