{% set homeitems = __SELF__.homeitems %}

{% put styles %}
    <link href="/themes/kokore/assets/css/affix-top.css" rel="stylesheet" />
{% endput %}
{% for homeitem in homeitems %}
    <div class="row">
						<!-- .pro-text -->
						<div class="pro-text">
							<div class="col-xs-12 col-sm-4 col-md-3">
								<!-- .pro-img -->
                                <a href="{{'product-details'|page({'slug':homeitem.slug})}}">
								<div class="pro-img"> <img class="frames" src="{{homeitem.product_image.path}}" alt="{{homeitem.product_name}}">
									{# <div class="new tage"> <span class="new-text">NEW</span> <span class="pres-text">-15%</span> </div> #}
								</div>
                                </a>
								<!-- /.pro-img -->
							</div>
							<div class="col-sm-8 col-md-8">
								<!-- .listview-detail -->
								<div class="listview-detail">
									<!-- /.pro-img --><a href="{{'product-details'|page({'slug':homeitem.slug})}}">{{str_limit(homeitem.product_name|raw, 25)}}</a>
									<div class="price2">NGN {{homeitem.price}}
                                    {# <span>200</span> #}
                                    </div>
									<p>{{homeitem.description|raw}}</p>
									<ul class="ul-content">
										{# <li>Light green crewneck sweatshirt.</li>
										<li>Hand pockets.</li>
										<li>Relaxed fit.</li> #}
									</ul> 
									<form id="myCart_form" data-request="onAddToCart" data-request-flash class="cart" method="post" enctype='multipart/form-data'>
										<input type="hidden" name="quantity" value="1" />
										{# <input type="hidden" name="size" value="12cmx18cm-5x7" /> #}
										{% set printPrice = homeitem.prices|first %}
										<input type="hidden" name="size" value="5 x 7" />
										<input type="hidden" name="frame" value="gold" />
										
										<input type="hidden" name="price" value="{{homeitem.price}}" />
										<input type="hidden" name="product" value="{{print.id}}" />
									 	<a href="#" class="addtocart2 addtocart submit">+ Add to cart</a>
										<a href="#" class="hart"><span class="fa fa-heart-o"></span></a>
								 	</form>
									{# <a href="#" class="addtocart2">Add to cart</a> <a href="#" class="hart"><span class="fa fa-heart-o"></span></a></div> #}
								<!-- /.listview-detail -->
							</div>
						</div>
						<!-- /.pro-text -->
					</div>
{% endfor %}