{# <div class="reply-form" id="postForm">

    {{ form_open({ request: 'onPost' }) }}

        <input type="hidden" name="topic" value="{{ topic.id }}" />

        <div class="member-area">
            <img src="{{ member.user.avatarThumb(50) }}" class="member-avatar" alt="{{ member.username }}" />
        </div>

        <div class="post-area">
            <textarea
                id="topicContent"
                name="content"
                rows="6"
                class="form-control">{{ form_value('content') }}</textarea>
            <span class="help-block">You can use <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a> syntax.</span>
            <div class="btx-button btx-button--border btx-button-hover--inverse btx-button-size--medium btx-button-color--brand">
                                        <button class="btnx" type="submit" style="border-radius:35px;">Post a comment</a>
                                    </div>
        </div>

    {{ form_close() }}

</div> #}



    

        
						<div id="respond" class="comment-respond">
							<h2><span>Leave a comment</span></h2>
							<form method="post" data-request="onPost" id="commentform" class="comment-form">
								<input type="hidden" name="topic" value="{{ topic.id }}" />
								<p>Comments <span>*</span></p>
								<p class="comment-form-comment">
									<textarea id="topicContent"
                name="content"
                rows="6"
                placeholder="Comment" aria-required="true"
                class="form-control">{{ form_value('content') }}</textarea>
								</p>
								<p class="form-submit">
									<input name="submit" id="submit" class="btn btn-secondary" value="send messages" type="submit"> </p>
							</form>
						</div>
					