{# <div class="forum-posts">
    {% for post in posts %}
        <div class="forum-post" data-post-id="{{ post.id }}" id="post-{{ post.id }}">
            {% partial __SELF__ ~ "::post" post=post %}
        </div>
    {% endfor %}
</div> #}

<div class="comment-respond comment-replay">
    <h2><span>Comments ({{posts |length}})</span></h2>
    <div >
     
    {% for post in posts %}
        <div class="forum-post" data-post-id="{{ post.id }}" id="post-{{ post.id }}">
            {% partial "site/topic/post" post=post %}
        </div>
    {% endfor %}
     </div>
</div>
    
        
        
        


