{% set project = __SELF__.project %}
{% set projects = Projects.projects %}
<h2>Create Project Item</h2>
<form data-request="onSubmitProjectItem" method="post" data-request-validate data-request-files data-request-flash>
    {{ form_token() }}
    {{ form_sessionKey() }}
<label for="project_name">Project Name</label>
<select name="project">
    {% for project in projects %}
        <option value="{{project.id}}">{{project.project_name}}</option>
    {% endfor %}
</select>
<label for="project_name">Project Item Name</label>
<input type="text" name="title">

<label for="project_description">Project Description</label>
<textarea name="description" id="" cols="30" rows="10"></textarea>
<hr>
<label for="project_images">Project Image</label>                
    <input name="project_item_image" id="imageForm" type="file" accept="image/*" data-request="onItemImageUpload" data-request-validate data-request-files data-request-flash multiple/>
    <div id="project_item_image">
        {% if not project_item_image %}
            <img src="{{ 'assets/img/noimg.jpg'|theme }}" alt="Item Image" class="b-radius3 img-responsive">
        {% else %}
                <img src="{{ project_item_image.path }}" alt="Item Image" class="projectimage" />
        {% endif %}
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Create project item</button>
</form>