{% set product = DashboardProducts.product %}
{% set manufacturers = DashboardProducts.manufacturers %}
{% set categories = DashboardProducts.categories %}
<h2>Create Print</h2>
<form data-request="onCreateProduct" method="post" data-request-validate data-request-files data-request-flash>
    {{ form_token() }}
    {{ form_sessionKey() }}
<input type="hidden" name="user_id" value="{{user.id}}">
<label for="product_name">Print Name</label>
<input type="text" name="product_name">
{# <label for="product_price">Print Price (N)</label>
<input type="text" name="price"> #}
<label for="product_reference">Print Reference</label>
<input type="text" name="product_reference">
<label for="product_excerpt">Print Excerpt (Short description)</label>
<input type="text" name="product_excerpt">
<label for="category_id">Print Categories</label>
<select type="text" name="category_id">
        <option value="">Choose a category</option>
    {% for category in categories %}
        <option value="{{category.id}}">{{category.category_name}}</option>
    {% endfor %}
</select>
{# <label for="manufacturer_id">Manufacturer</label> #}
{# <select type="text" name="manufacturer_id">
        <option value="">Choose a manufacturer</option>
    {% for manufacturer in manufacturers %}
        <option value="{{manufacturer.id}}">{{manufacturer.manufacturer_name}}</option>
    {% endfor %}
</select> #}
<label for="product_description">Print Description</label>
<textarea name="product_description" id="" cols="30" rows="10"></textarea>
<hr>
<label for="product_image">Print Image</label>                
    <input name="product_image" id="imageForm" type="file" accept="image/*" data-request="onImageUpload" data-request-validate data-request-files data-request-flash/>
    <div id="product_image">
        {% if not product_image %}
            <img src="{{ 'assets/img/noimg.jpg'|theme }}" alt="Print Images" class="b-radius3 img-responsive">
        {% else %}
                <img src="{{ product_image.path }}" alt="Product Image" class="projectimage" />
        {% endif %}
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Create Print</button>
</form>