{% set project = __SELF__.project %}
<h2>Create a project</h2>
<form data-request="onSubmitProject" method="post" data-request-validate data-request-files data-request-flash>
    {{ form_token() }}
    {{ form_sessionKey() }}
<label for="project_name">Project Name</label>
<input type="text" name="project_name">
<label for="project_description">Project Description</label>
<textarea name="project_description" id="" cols="30" rows="10"></textarea>
<hr>
<label for="project_image">Project Image</label>                
    <input name="project_image" id="imageForm" type="file" accept="image/*" data-request="onImageUpload" data-request-validate data-request-files data-request-flash/>
    <div id="project_image">
        {% if not project_featured_image %}
            <img src="{{ 'assets/img/noimg.jpg'|theme }}" alt="Project Images" class="b-radius3 img-responsive">
        {% else %}
                <img src="{{ project_featured_image.path }}" alt="project Image" class="projectimage" />
        {% endif %}
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Create project</button>
</form>