{% set product = DashboardProducts.product %}
{% set manufacturers = DashboardProducts.manufacturers %}
{% set categories = DashboardProducts.categories %}
<h2>Edit product</h2>
<form data-request="onEditProduct" method="post" data-request-validate data-request-files data-request-flash>
    {{ form_token() }}
    {{ form_sessionKey() }}
<input type="hidden" name="user_id" value="{{user.id}}">
<label for="product_name">Product Name</label>
<input type="text" name="product_name" value="{{product.product_name}}">
<label for="product_price">Product Price (N)</label>
<input type="text" name="price" value="{{product.price}}">
<label for="product_reference">Product Reference</label>
<input type="text" name="product_reference" value="{{product.product_reference}}">
<label for="product_excerpt">Product Excerpt (Short description)</label>
<input type="text" name="product_excerpt" value="{{product.product_excerpt}}">
<label for="category_id">Product Category</label>
<select type="text" name="category_id">
        <option value="">Choose a category</option>
    {% for category in categories %}
        <option value="{{category.id}}" {% if product.category_id == category.id %}selected{% endif %}>{{category.category_name}}</option>
    {% endfor %}
</select>
<label for="manufacturer_id">Manufacturer</label>
<select type="text" name="manufacturer_id">
        <option value="">Choose a manufacturer</option>
    {% for manufacturer in manufacturers %}
        <option value="{{manufacturer.id}}" {% if product.manufacturer_id == manufacturer.id %}selected{% endif %}>{{manufacturer.manufacturer_name}}</option>
    {% endfor %}
</select>
<label for="product_description">Product Description</label>
<textarea name="product_description" id="" cols="30" rows="10"></textarea>
<hr>
<label for="product_image">Product Image</label>                
    <input name="product_image" id="imageForm" type="file" accept="image/*" data-request="onImageUpload" data-request-validate data-request-files data-request-flash/>
    <div id="product_image">
        {% if not product.product_image %}
            <img src="{{ 'assets/img/noimg.jpg'|theme }}" alt="Product Images" class="b-radius3 img-responsive">
        {% else %}
                <img src="{{ product.product_image.path }}" alt="Product Image" class="projectimage" />
        {% endif %}
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Edit Product</button>
</form>