<div class="sidebar-wrapper">
    
    <ul class="dashboardnav">
        <li class="{% if this.page.id == 'my-account' %}active{% endif %}">
            <a href="{{'my-account' | page}}">
                <i class="ti-panel"></i>
                
                <p>Profile</p>
                
            </a>
        </li>
        {# <li class="{% if this.page.id == 'userprofile' %}active{% endif %}">
            <a href="{{'userprofile' | page}}">
                <i class="ti-user"></i>
                <p>User Profile</p>
            </a>
        </li> #}
        {% if user.regular == 1 %}
        {# <li class="{% if this.page.id == 'requestforquotes' %}active{% endif %}">
            <a href="{{'requestforquotes' | page}}">
                <i class="ti-view-list-alt"></i>
                <p>Request for quotes</p>
            </a>
        </li> #}
        {# <li class="{% if this.page.id == 'callfortenders' %}active{% endif %}">
            <a href="{{'callfortenders' | page}}">
                <i class="ti-text"></i>
                <p>Call for tenders</p>
            </a>
        </li> #}
        <li class="{% if this.page.id == 'orders' %}active{% endif %}">
            <a href="{{'orders'|page}}">
                <i class="ti-pencil-alt2"></i>
                <p>Orders</p>
            </a>
        </li>
        {# {% if user.profession_id %} #}
        {# <li class="{% if this.page.id == 'products' %}active{% endif %}">
            <a href="{{'dashboard-products' | page}}">
                <i class="ti-pencil-alt2"></i>
                <p>Prints</p>
            </a>
        </li> #}

        {# <li class="{% if this.page.id == 'tenders' %}active{% endif %}">
            <a href="{{'dashboard-callfortenders' | page}}">
                <i class="ti-pencil-alt2"></i>
                <p>Call for tenders</p>
            </a>
        </li> #}
        {% else %}
         <li class="{% if this.page.id == 'products' %}active{% endif %}">
            <a href="{{'dashboard-products' | page}}">
                <i class="ti-pencil-alt2"></i>
                <p>Prints</p>
            </a>
        </li>
        {% endif %}
        {# {% endif %} #}

        {# <li>
            <a href="maps.html">
                <i class="ti-map"></i>
                <p>Maps</p>
            </a>
        </li>
        <li>
            <a href="notifications.html">
                <i class="ti-bell"></i>
                <p>Notifications</p>
            </a>
        </li> #}   
    </ul>
</div>