{# <h3 style="text-align:center; line-height:40px">Welcome to your Dashboard. From here you can edit your profile, showcase your projects, make connections, and much more.</h3> #}
{% set professions = Getcustomerinfo.professions %}
<form data-request="onUpdate" method="post" data-request-files class="form-group">
        {{ form_token() }}
    {{ form_sessionKey() }}
<div class="col-md-6">
        <div class="form-group"> <br/>

                <label for="avatar">Profile Picture</label>
                <input class="form-1-style2 border1 borderf7 b-radius3" name="avatar" type="file" id="accountName" >
        </div>
        
        <div class="form-group"> <br/>
        <label for="header_image">Header Image</label>
        <input class="form-1-style2 border1 borderf7 b-radius3" name="header_image" type="file" id="accountName" >
        </div>
        <div class="form-group"> <br/>
        {% if not user.supplier or user.company %}
        <label for="accountName">First Name</label>
        <input class="form-1-style2 border1 borderf7 b-radius3" name="name" type="text" id="accountName" value="{{ user.name }}">
        </div>
        <div class="form-group"> <br/>
        <label for="accountName">Surname</label>
        <input class="form-1-style2 border1 borderf7 b-radius3" name="surname" type="text" id="accountName" value="{{ user.surname }}">
        </div>

        <div class="form-group"> <br/>
        {% endif %}
        <label for="accountEmail">Email</label>
        <input class="form-1-style2 border1 borderf7 b-radius3" name="email" type="email" id="accountEmail" value="{{ user.email }}">
        </div>
        <div class="form-group"> <br/>
        <label for="phone_number">Phone Number</label>
        <input class="form-1-style2 border1 borderf7 b-radius3" name="phone_number" type="text" placeholder="2340000000000" id="phone_number" value="{{ user.phone_number }}">
        </div>
        <div class="form-group"> <br/>
        <label for="accountPassword">New Password</label>
        <input class="form-1-style2 border1 borderf7 b-radius3" name="password" type="password" id="accountPassword">
        </div>
        <div class="form-group"> <br/>
        <label for="accountPasswordConfirm">Confirm New Password</label>
        <input class="form-1-style2 border1 borderf7 b-radius3" name="password_confirmation" type="password" id="accountPasswordConfirm">
        </div>
</div>

<div class="col-md-6">
{% if not user.regular %}
        {# <div class="form-group"> <br/>
        <label for="company_name">Company Name</label>
        <input class="form-1-style2 border1 borderf7 b-radius3" name="company_name" type="text" id="company_name" value="{{ user.company_name }}">
        </div> #}

        {# <div class="form-group"> <br/>
        <label for="profession_id">{% if user.company == 1 or user.supplier == 1 %}Category {% else %} Profession {% endif %}</label>
        <select name="profession_id" id="">
                {% for profession in professions %}
                        <option value="{{profession.id}}" {% if user.profession.id == profession.id %}selected{% endif %}>{{profession.profession_name}}</option>
                {% endfor %}
        </select>
        <input class="form-1-style2 border1 borderf7 b-radius3" name="profession_id" type="text" id="profession" value="{{ user.profession.profession_name }}">
        </div> #}
{% endif %}
        
        <div class="form-group"> <br/>
        <label for="country">Country</label>
        <input class="form-1-style2 border1 borderf7 b-radius3" name="country" type="text" id="state" value="{{ user.country }}">
        </div>

        <div class="form-group"> <br/>
        <label for="state">State</label>
        <input class="form-1-style2 border1 borderf7 b-radius3" name="state" type="text" id="state" value="{{ user.state }}">
        </div>

        <div class="form-group"> <br/>
        <label for="city">City</label>
        <input class="form-1-style2 border1 borderf7 b-radius3" name="city" type="text" id="city" value="{{ user.city }}">
        </div>

        <div class="form-group"> <br/>
        <label for="address">Address Line 1</label>
        <input class="form-1-style2 border1 borderf7 b-radius3" name="address1" type="text" id="address" value="{{ user.address1 }}">
        </div>

        <div class="form-group"> <br/>
        <label for="address2">Address Line 2</label>
        <input class="form-1-style2 border1 borderf7 b-radius3" name="address2" type="text" id="address2" value="{{ user.address2 }}">
        </div>
</div>
    <div class="col-md-12" style="width:100%; margin: 0 auto;">
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Save</button>
    </div>
</form>
