<div class="container d-md-flex align-items-center justify-content-between">
		
		<!-- copyright text -->
		<span class="copyright">© 2018 Kokore. All Rights Reserved.</span>
		
		<!-- social icons -->
		<ul class="social-profiles">
			<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
			<li><a href="#"><i class="fab fa-twitter"></i></a></li>
			<li><a href="#"><i class="fab fa-instagram"></i></a></li>
		</ul>

	</div>