<div class="container">
		
		<!-- mobile menu toggle -->
		<button class="menu-toggle">
			<span></span>
			<span></span>
			<span></span>
		</button>
		
		<!-- main menu -->
		<nav class="horizontal-menu scrollspy">
			<ul>
				<li><a href="/">HOME</a></li>
				<li><a href="/prints">Prints</a></li>
				<li><a href="/customer-service">Customer Service</a></li>
				{# <li><a href="">Resume</a></li>
				<li><a href="#works">Works</a></li>
				<li><a href="#contact">Contact</a></li> #}
			</ul>
		</nav>

	</div>
	
	<!-- mobile menu -->
	<nav class="mobile-menu scrollspy">
		<ul>
			<li><a href="#hero">Home</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#services">Services</a></li>
			<li><a href="#resume">Resume</a></li>
			<li><a href="#works">Works</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</nav>