{% set competitionCategories = __SELF__.competitionCategories %}



<div class="btx-item js-item-accordion btx-accordion btx-accordion--border btx-left-align btx-p-border-border" data-multiple="">
    {% for category in competitionCategories %} 
    <article class="btx-entry btx-col-1-5 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-product-design compCategoryImages"
        style="padding:0 0px; margin-bottom:0px;">
        <a href="#modal-demo-{{category.id}}" class="btx-entry-inner anmt-item anmt-fadein anmt-content-slideup">
            <div class="btx-entry-header ">
                <div class="btx-entry-media">
                    <img src="{{category.image.path}}" alt="{{category.title}}" width="200" height="150" class="categoryimagesize"/>
                </div>
                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.8);"></div>
            </div>
            <div class="btx-entry-body title-middle">
                <div class="btx-entry-body-inner">
                    {# <div class="btx-portfolio-preview btx-s-text-color">
                        <i data-mfp-src="{{'assets/upload/portfolio-radio-cover.jpg'|theme}}" class="fa fa-2x fa-minimal-plus" title="The New Wave"></i>
                    </div> #}
                </div>
            </div>
        </a>
    </article>
    {% endfor %}
</div>



<div class="btx-col-12">
{% for category in competitionCategories %} 
                                            <div class="btx-item js-item-modal btx-modal mfp-hide btx-light-scheme" id="modal-demo-{{category.id}}" style="overflow-y:auto;" data-animation="move-horizontal">
                                                <div class="btx-background" data-type="color" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                                    <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#ffffff; opacity:1;"></div>
                                                </div>
                                                <div class="btx-item js-item-image btx-image btx-center-align btx-image--circle" style="margin-bottom:40px;">
                                                    <div class="btx-image-container">
                                                        <img src="{{category.image.path}}" alt="" style="max-width:100%;" width="80" /> </div>
                                                </div>

                                                <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align" style="margin-bottom:10px;">
                                                    <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">{{category.title}}</h3>
                                                </div>

                                                {# <div class="btx-item js-item-text btx-text btx-center-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">

                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner">
                                                                Creative Director </div>
                                                        </div>

                                                    </div>
                                                </div> #}

                                                <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align">
                                                    <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100px; height:2px; background-color:#01a2dd;">
                                                    </div>
                                                </div>

                                                <div class="btx-item js-item-text btx-text btx-center-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">

                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner">
                                                                {{category.content|raw}}   
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="btx-item js-item-space btx-space" style="height:5px;"></div>

                                                {# <div class="btx-item js-item-social btx-social btx-social--plain btx-center-align">
                                                    <div class="btx-social-inner">
                                                        <a href="http://facebook.com/" class="btx-social-item btx-social-facebook btx-social-item--color" target="_blank"><span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small"><span class="btx-icon-normal btx-icon-plain btx-p-brand-color" ><i class="fa fa-facebook"></i></span><span class="btx-icon-hover btx-icon-plain btx-s-brand-color" ><i class="fa fa-facebook"></i></span></span></a><a href="http://twitter.com/" class="btx-social-item btx-social-twitter btx-social-item--color" target="_blank"><span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small"><span class="btx-icon-normal btx-icon-plain btx-p-brand-color" ><i class="fa fa-twitter"></i></span><span class="btx-icon-hover btx-icon-plain btx-s-brand-color" ><i class="fa fa-twitter"></i></span></span></a><a href="http://instagram.com/" class="btx-social-item btx-social-instagram btx-social-item--color" target="_blank"><span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small"><span class="btx-icon-normal btx-icon-plain btx-p-brand-color" ><i class="fa fa-instagram"></i></span><span class="btx-icon-hover btx-icon-plain btx-s-brand-color" ><i class="fa fa-instagram"></i></span></span></a><a href="http://youtube.com/" class="btx-social-item btx-social-youtube btx-social-item--color" target="_blank"><span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small"><span class="btx-icon-normal btx-icon-plain btx-p-brand-color" ><i class="fa fa-youtube"></i></span><span class="btx-icon-hover btx-icon-plain btx-s-brand-color" ><i class="fa fa-youtube"></i></span></span></a> </div>
                                                </div> #}
                                            </div>
{% endfor %}
                                        </div>

                                        

 {# <section class="btx-section js-dynamic-navbar btx-p-border-border" id="1" data-index="1">
                            <div class="btx-section-wrapper" style="padding-top:0px; padding-bottom:0px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12"> #}
{# {% for category in competitionCategories %}
<div class="btx-item js-item-modal btx-modal mfp-hide btx-light-scheme" id="{{category.slug}}" style="overflow-y:auto;">
    <div class="btx-background" data-type="color" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
        <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#ffffff; opacity:1;"></div>
    </div>
    <div class="btx-item js-item-image btx-image btx-center-align btx-image--circle" style="margin-bottom:40px;">
        <div class="btx-image-container">
            <img src="upload/team-02.jpg" alt="" style="max-width:100%;" width="80" height="80" /> </div>
    </div>

    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align" style="margin-bottom:10px;">
        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">{{category.title}}</h3>
    </div>

    <div class="btx-item js-item-text btx-text btx-center-align btx-primary-font">
        <div class="btx-row" style="margin:0 -30px;">

            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                <div class="btx-text-content-inner">
                    Creative Director </div>
            </div>

        </div>
    </div>

    <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align">
        <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100px; height:2px; background-color:#01a2dd;">
        </div>
    </div>

    <div class="btx-item js-item-text btx-text btx-center-align btx-primary-font">
        <div class="btx-row" style="margin:0 -30px;">

            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                <div class="btx-text-content-inner">
                    Proin laoreet urna vel elit feugiat, vel posuere leo tempor. Vivamus iaculis lorem et nunc bibendum, quis tincidunt ipsum
                    porttitor. Maecenas sit amet mi at velit eleifend eleifend ut ut ex. Ut arcu tellus, pellentesque sed
                    commodo eu, eleifend sit amet leo. Sed vitae fringilla neque. Quisque non eros vitae ligula vulputate
                    facilisis. Morbi imperdiet tempus finibus. Sed posuere mollis lorem, in placerat mi luctus ac. Aliquam
                    consequat erat sed urna lobortis, ut lacinia mi tincidunt. Quisque nec tempus est. Quisque molestie quis
                    erat ac ornare. Vivamus vehicula turpis lectus, ac ultricies felis vestibulum nec. </div>
            </div>

        </div>
    </div>

    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
</div>

{% endfor %} #}
{# </div>
</div>
</div>
</div>
</div> #}