<div class="col-md-8">
    <div class="contact-form">
        <div class="contact-title">
            <h2>
                Contact Us
            </h2>
        </div>
    </div>
    
    <div class="contact-form">
        <div class="contact-title">
        </div>
        <form action="#" method="post" id="commentform" class="comment-form">
            <div class="col-md-6">
                <p>Name
                    <span>*</span>
                </p>
                <p class="comment-form-author">
                    <input id="author" name="author" value="" size="30" type="text">
                </p>
            </div>
            <div class="col-md-6">
                <p>Email
                    <span>*</span>
                </p>
                <p class="comment-form-email">
                    <input id="email" name="email" value="" size="30" type="text">
                </p>
            </div>
            <div class="col-md-6">
                <p>Phone number
                    <span>*</span>
                </p>
                <p class="comment-form-email">
                    <input id="email" name="email" value="" size="30" type="text">
                </p>
            </div>
            <div class="col-md-6">
                <p>Question</p>
                <select name="" id="">
                    <option value="">Select Case</option>
                    <option value="">My Order</option>
                    <option value="">Shipping / Delivery</option>
                    <option value="">Returns / Exchanges</option>
                    <option value="">Claims</option>
                    <option value="">Special Offers / Discount</option>
                    <option value="">Newsletter</option>
                    <option value="">Payment</option>
                    <option value="">Product Questions</option>
                    <option value="">Collaborations / Press</option>
                    <option value="">Other</option>
                </select>
            </div>
            <div class="col-md-6">
            <p>Image 1</p>
            <input type="file">
            </div>
            <div class="col-md-12">
                <p>Comments
                    <span>*</span>
                </p>
                <p class="comment-form-comment">
                    <textarea id="comment" name="comment" cols="45" rows="6" placeholder="Comment" aria-required="true"></textarea>
                </p>
            </div>
            <div class="col-md-12">
                <p class="form-submit">
                    <input name="submit" id="submit" class="btn btn-secondary" style="background-color:#000" value="send message" type="submit"> </p>
            </div>
        </form>
    </div>
            
</div>