<div class="col-md-8">
    <div class="contact-form">
        <div class="contact-title">
            <h2>
                FAQs
            </h2>
        </div>
    </div>
    <div class="tabContent" id="tabContent1">
        <div id="shippinginfo" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">How can I track my parcel?</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>You will receive an email with a tracking link as soon as your order leaves our warehouse.
                        Make sure to also check your junk mail folder, since emails can sometimes end up there.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Can I cancel my purchase?</a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                <p>If you wish to cancel your order before we dispatch, please call us immediately
                    on +234 902 466 2007. However, we cannot guarantee that we will be able to sort this
                    out before your order is shipped, as our packing/shipping department prides itself on getting products heading our customers' way quickly.
                    If you placed your order on a weekend or after business hours please send us an email at create@thisiskokore.com</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">How do I make a return?</a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                Please call us on +234 902 466 2007 to speak to one of our representatives to help you handle the request during business hours or contact us on create@thisiskokore.com outside business hours 
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">I have not received an order confirmation</a>
            </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">
                <p>If you placed an order with us but did not receive an order confirmation, it may be because an
                    incorrect email address was provided. Contact us at create@thisiskokore.com to check whether
                    we have an order registered for you, and to correct your email address so that you can receive
                    your order confirmation. It may also be because the order has not gone through. Kindly contact
                    us before placing a new order to avoid duplicate orders.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Can I order posters with my own dimensions or designs?</a>
            </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Of course! We would be delighted to work with any dimensions or designs you have. Please go to our <a href="/customized">customized</a> page for further details.</p>
            </div>
        </div>
    </div>
</div>