<div class="col-md-3">
    <ul style="margin-top:150px;" class="faqMenu">
        <li>
            <a href="#faq" id="mfaq">FAQS</a>
        </li>
        <li>
            <a href="#orders" id="morders"> Orders</a>
        </li>
        <li>
            <a href="#shipping" id="mshipping">Shipping </a>
        </li>
        <li>
            <a href="#retclaim" id="mret">Returns & Claims</a>
            <ul id="retmenu">
                <li>Returns</li>
                <li>Exchange</li>
                <li>Claims</li>
                <li>Refunds</li>
            </ul>
        </li>
        <li>
            <a href="#payment" id="mpayment">Payments</a>
        </li>
        <li>
            <a href="#offers" id="moffers">Offers</a>
        </li>
        <li>
            <a href="#products" id="mproducts">About Our products</a>
             <ul id="prodmenu">
                <li>Prints</li>
                <li>Size guide</li>
            </ul>
        </li>
        <li>
            <a href="#contacts" id="mcontacts">Contact Us</a>
        </li>

    </ul>
</div>