<div class="col-md-8">
    <div class="contact-form">
        <div class="contact-title">
            <h2>
                Offers
            </h2>
        </div>
    </div>
    <div class="tabContent" id="tabContent1">
        <div id="shippinginfo" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse19">I forgot to enter my discount code.</a>
                </h4>
            </div>
            <div id="collapse19" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                    Contact customer service, and we'll help you sort it out.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse20">My discount code isn't working.</a>
            </h4>
        </div>
        <div id="collapse21" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
               Please double-check the spelling of the code, and please confirm if the discount promo has expired. If not, please contact customer service so that we can help you.</p>
            </div>
        </div>
    </div>
    <div>
        <p>General information about the offers</p>

        <p>
            At times, Kokore may offer specials on their website, e.g. free shipping or sales. These benefits are valid for the duration of the campaign, and for the products mentioned by Kokore. Kokore reserves the right to withdraw such offers at any time. Offers on specific items are valid for a limited time, and as long as items are in-stock
        </p>
    </div>
</div>