<div class="col-md-8">
    <div class="contact-form">
        <div class="contact-title">
            <h2>
                Orders
            </h2>
        </div>
    </div>
    <div class="tabContent" id="tabContent1">
        <div id="shippinginfo" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">How do I know if my order went through?</a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        You will receive an order confirmation at the email address you entered at checkout. If you have not received a confirmation shortly after submitting your order, there may be an issue with your transaction. Contact us, and we'll get it sorted out!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">I didn't receive an order confirmation.</a>
            </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    If you submitted an order with us, but didn't receive an order confirmation, it's possible that your email address was entered incorrectly. Get in touch with us at create@thisiskokore.com to see if we have received an order in your name. We're happy to fix the email address on file and send you the order confirmation. In other cases, the order may not have gone through, so just get in touch before placing a new order to avoid a duplicate order.
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">How can I track my order?</a>
            </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse">
            <div class="panel-body">
               <p>You will receive an email with a tracking link as soon as your order leaves our warehouse.
                        Make sure to also check your junk mail folder, since emails can sometimes end up there.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">Can I cancel my order?</a>
            </h4>
        </div>
        <div id="collapse13" class="panel-collapse collapse">
            <div class="panel-body">
                <p>If you wish to cancel your order before we dispatch, please call us immediately
                    on +234 902 466 2007. However, we cannot guarantee that we will be able to sort this
                    out before your order is shipped, as our packing/shipping department prides itself on getting products heading our customers' way quickly.
                    If you placed your order on a weekend or after business hours please send us an email at create@thisiskokore.com</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">Can I make changes to my order after submitting payment? </a>
            </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                
                Unfortunately, we can't make changes to an existing order, but if you contact us as soon as possible, we may be able to cancel the order before it leaves our stockroom. Then, after the order has been cancelled, you can go back in and place a new order with the correct items. This way, you can avoid being billed for two orders.
                </p>
            </div>
        </div>
    </div>
    
</div>