<div class="col-md-8">
    <div class="contact-form">
        <div class="contact-title">
            <h2>
                Payments
            </h2>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse19">Can I pay with card?  </a>
            </h4>
        </div>
        <div id="collapse19" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                 Sure, you can use Verve, Visa and Mastercard.
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse18">Can I pay by transfer?  </a>
            </h4>
        </div>
        <div id="collapse18" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                Yes, payment can be made to our bank account, once payment has been confirmed by the Kokore Team, order will be processed: <br />
                <p><b>Bank Name:</b> FCMB</p>
                <p><b>Account Name:</b> This is Kokore</p>
                <p><b>Account Number:</b>5335609013</p>
                </p>
            </div>
        </div>
    </div>
</div>