<div class="col-md-8">
    <div class="contact-form">
        <div class="contact-title">
            <h2>
                Shipping
            </h2>
        </div>
    </div>
    <div class="tabContent" id="tabContent1">
        <div id="shippinginfo" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">What is the cost of shipping?</a>
                </h4>
            </div>
            <div id="collapse14" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                    Free shipping on orders only above N25,000.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">How long will delivery take? </a>
            </h4>
        </div>
        <div id="collapse15" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                3-7 working days </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">How do you ship packages?</a>
            </h4>
        </div>
        <div id="collapse16" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                We utilize our Kokore services, once you've added your products to the cart and proceeded to checkout, you will be given a tracking number as well as phone number to track your delivery.
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">What happens if I'm not available to receive my package? </a>
            </h4>
        </div>
        <div id="collapse17" class="panel-collapse collapse">
            <div class="panel-body">
                <p>In the event that products are returned due to customer failing to receive their package, we charge a fee of N3,000. This covers shipping to and from you, as well as handling and restocking of products.</p>
            </div>
        </div>
    </div>
</div>