a.favoritebutton{
    text-decoration: none;
}
a.favoritebutton:hover {
    text-decoration: none;
}
a.favoritebutton:focus{
    text-decoration: none;
}
.easyPaginateNav a {padding:5px;}
.easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}