title = "2018 Challenge"
url = "/competition/2018-challenge"
layout = "default"
is_hidden = 0
[Checkout]
[Cart]
[account]
[Community]
[CompetitionCategories]

==
 <main class="btx-content btx-content--no-header" id="main">
            <article id="post-762" class="btx-content-wrapper post-762 page type-page status-publish has-post-thumbnail hentry">
                <div class="btx-main2 btx-main--single">
                    <div class="btx-main-wrapper">
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                            <div class="btx-section-wrapper" style="padding-bottom:40px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-2">
                                            <div class="btx-item js-item-space btx-space btx-mobile-hidden" style="height:20px;"></div>
                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align btx-uppercase">
                                                <h6 class="btx-heading-text btx-primary-font btx-s-text-color btx-s-text-border competitionSide" style="letter-spacing:1px;">
                                                    <span style="color: rgb(119, 119, 119);">Background</span>
                                                </h6>
                                            </div>
                                            <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                        </div>
                                        <div class="btx-col-10">
                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align anmt-item anmt-fadein">
                                                <h1 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:-0.02em;">
                                                    <span class="font-style font-style-big" style="font-size: 70px; font-weight:500">
                                                        <b>The 2018 Challenge</b>
                                                    </span>
                                                </h1>
                                            </div>
                                            <div class="btx-item js-item-text btx-text btx-left-align btx-custom_c-font line-height-16">
                                                <div class="btx-row" style="margin:0 -30px;">
                                                    <div class="btx-text-content btx-col-12 anmt-item anmt-fadein" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <span class="font-style competitionBackground" style="font-size: 18px; font-weight:300; line-height:1.6; color: rgb(34, 34, 34); text-align:justify">
                                                                Lagos has a very rich history, starting as an Awori settlement in the 15th century, to becoming the economic capital of the Federal Republic of Nigeria in 1991. In between that time, the city has served as a war camp for the Ancient Kingdom of Benin in the 16th century, a British colony in the 19th century and Nigeria’s first capital upon amalgamation in 1914 and at independence in 1960. <br/><br/>

Lagos State currently has a population estimated at 20 million people and boasts of being Africa’s 5th largest economy with a GDP of $91 billion – Larger than some African economic power houses including Ivory Coast and Kenya.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="1">
                            <div class="btx-section-wrapper" style="padding-top:40px; padding-bottom:40px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-2">
                                            <div class="btx-item js-item-space btx-space btx-mobile-hidden" style="height:5px;"></div>
                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align btx-uppercase">
                                                <h6 class="btx-heading-text btx-primary-font btx-s-text-color btx-s-text-border competitionSide" style="letter-spacing:1px;">
                                                    <span style="color: rgb(119, 119, 119);">THE PROBLEM</span>
                                                </h6>
                                            </div>
                                            <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                        </div>
                                        <div class="btx-col-10">
                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                <div class="btx-row" style="margin:0 -30px;">
                                                    <div class="btx-text-content btx-col-12 anmt-item anmt-fadein" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <span style="color: rgb(34, 34, 34); font-weight:normal; line-height:1.6; font-size:16px !important; text-align:justify">With it’s growing population and economic progress though comes severe challenges. These range from; energy and infrastructure shortages, to inadequate housing, security, health, sanitation, water supply, drainage facilities and much more.
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="2">
                            <div class="btx-section-wrapper" style="padding-top:40px; padding-bottom:40px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-2">
                                            <div class="btx-item js-item-space btx-space btx-mobile-hidden" style="height:5px;"></div>
                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align btx-uppercase">
                                                <h6 class="btx-heading-text btx-primary-font btx-s-text-color btx-s-text-border competitionSide" style="letter-spacing:1px;">
                                                    <span style="color: rgb(119, 119, 119);">AWARDS</span>
                                                </h6>
                                            </div>
                                            <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                        </div>
                                        <div class="btx-col-10">
                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                <div class="btx-row" style="margin:0 -30px;">
                                                    <div class="btx-text-content btx-col-12 anmt-item anmt-fadein" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <ul class="btx-text-bullet" style="list-style:none; list-style-position:inside;">
                                                                <li>
                                                                    <span style="color: rgb(34, 34, 34); font-weight:normal; line-height:1.6; font-size:16px !important; text-align:justify">
                                                                        - <span style="font-weight: bold;"> Trip to Barcelona Spain:</span> An ALL expense paid trip to the Smart City Expo World Congress in Barcelona Spain.
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span style="color: rgb(34, 34, 34); font-weight:normal; line-height:1.6; font-size:16px !important; text-align:justify">
                                                                       - <span style="font-weight: bold;">Start Up and Office Expansion Kits:</span> Laptops, Graphic Tablets and Software
Licenses.
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span style="color: rgb(34, 34, 34); font-weight:normal; line-height:1.6; font-size:16px !important; text-align:justify">
                                                                       - <span style="font-weight: bold;">Work Placement:</span> One-year student internships at top companies for student winners.
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span style="color: rgb(34, 34, 34); font-weight:normal; line-height:1.6; font-size:16px !important; text-align:justify">
                                                                       {# <span style="font-weight: bold;">#}- And much more.
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="3">
                            <div class="btx-section-wrapper" style="padding-top:40px; padding-bottom:40px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-2">
                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align btx-uppercase">
                                                <h6 class="btx-heading-text btx-primary-font btx-s-text-color btx-s-text-border competitionSide" style="letter-spacing:1px;">
                                                    <span style="color: rgb(119, 119, 119);">CALL TO ACTION</span>
                                                </h6>
                                            </div>
                                            <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                        </div>
                                        <div class="btx-col-10">
                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                <div class="btx-row" style="margin:0 -30px;">
                                                    <div class="btx-text-content btx-col-12 anmt-item anmt-fadein" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <span style="color: rgb(34, 34, 34); font-weight:normal; line-height:1.6; font-size:16px !important; text-align:justify"><p>As an Innovator, Entrepreneur, Problem Solver, Design Professional and/or simply a concerned citizen; propose a design solution to address some of these challenges currently being experienced by a community of your choosing within the State.

Examples of communities include: waterfront communities (e.g. Ikorodu), downtown communities (e.g. Lagos Island), commercial suburbs (e.g. Victoria Island and Ikeja), housing estates etc.</p>
<p>
Proposed solutions should address challenges in any of the following categories:
</p>    
<ol type="i">
    <li>Urban Congestion</li>
    <li>Green Buildings & Infrstructure</li>
    <li>Water, Sanitation and Hygiene</li>
    <li>Renewable & Clean Energy</li>
    <li>Alternative Building Technologies</li>
    <li>Urban & Indoor Agriculture</li>
    <li>Transportation & Mobility</li>
    <li>Safety & Security</li>
    <li>Connectivity & Internet of Things</li>
    <li>Indoor Environment Design</li>
</ol>
Design solutions can be on any scope of your choosing - from the (re)planning of the entire
city, to the design of a single apartment. A conceptual framework (with accompanying plans,
sketches and explanations) can be used to illustrate the overall solution and communicate
higher level details. The most important sections of the design however, should be designed
in as much detail as you deem necessary, taking into account the imperative for the
development of resilient, sustainable and smart communities of the future.
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="3">
                                    <div class="btx-section-wrapper" style="padding-top:40px; padding-bottom:40px;">
                                        <div class="btx-container">
                                            <div class="btx-row btx-row--main">
                                                <div class="btx-col-2">
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align btx-uppercase" >
                                                        <h6 class="btx-heading-text btx-primary-font btx-s-text-color btx-s-text-border competitionSide" style="letter-spacing:1px;">
                                                            <span style="color: rgb(119, 119, 119);"></span>
                                                        </h6>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                </div>
                                                <div class="btx-col-10">
                                                    <div class="btx-item js-item-portfolio btx-portfolio btx-portfolio--grid btx-center-align btx-portfolio--hover-content">
                                                        <div class="btx-portfolio-content" style="margin:0 0px;" >
                                                            {% component 'CompetitionCategories' %}
                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="1">
                            <div class="btx-section-wrapper" style="padding-top:40px; padding-bottom:40px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-2">
                                            <div class="btx-item js-item-space btx-space btx-mobile-hidden" style="height:5px;"></div>
                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align btx-uppercase">
                                                <h6 class="btx-heading-text btx-primary-font btx-s-text-color btx-s-text-border competitionSide" style="letter-spacing:1px;">
                                                    <span style="color: rgb(119, 119, 119);">ELIGIBILITY</span>
                                                </h6>
                                            </div>
                                            <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                        </div>
                                        <div class="btx-col-10">
                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                <div class="btx-row" style="margin:0 -30px;">
                                                    <div class="btx-text-content btx-col-12 anmt-item anmt-fadein" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <span style="color: rgb(34, 34, 34); font-weight:normal !important; line-height:1.6 !important; font-size:16px !important; text-align:justify"><p>The contest is open to ALL. From Students to Professionals, Architects to Engineers,
Freelancers to Companies, Entrepreneurs to Employees. All you require is a desire to solve
problems and WIN.</p>

<p>Entries can be made Individually or as part of Group of up to a maximum of 4 people.
*Student awards will be presented separately</p>


<p>To register for the competition, please sign up at FFE.ng and fill out the ‘2018 FFE.ng Design
Challenge’ registration form.</p>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                       
                    </div>
                </div>
            </article>
        </main>



                                        
                                  