title = "2018 Challenge"
url = "/competition/2018-challenge-bak"
layout = "default"
is_hidden = 0
[Checkout]
[Cart]
[account]
[Community]
==

<main class="btx-content btx-content--with-header" id="main">
    <article id="post-221" class="btx-content-wrapper post-221 page type-page status-publish hentry">

        <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme" style="height:60vh;"
            data-role="header" data-scheme="dark">
            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                <div class="btx-background-wrapper">
                    <div class="btx-background-inner" style="background-image:url({{'assets/images/challenge.jpeg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                </div>

                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#333; opacity:0.4;"></div>
            </div>
            <div class="btx-page-hero-inner btx-container">
                <div class="btx-page-hero-wrapper btx-center-align">
                    <div class="btx-page-hero-content btx-middle-vertical">
                        <div class="btx-page-hero-content-wrapper btx-center-align" style="max-width:550px;">

                            <div class="btx-page-hero-body">

                                <div class="btx-page-hero-body-title">
                                    <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.02em; font-weight: 300">The 2018 Challenge</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </article>




    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="btx-primary-font" style="padding: 60px 0px;">
        <h3>Background:</h3>
<p>Lagos has a very rich history, starting as an Awori settlement in the 15th century, to becoming
the economic capital of the Federal Republic of Nigeria in 1991. In between that time, the city
has served as a war camp for the Ancient Kingdom of Benin in the 16th century, a British colony
in the 19th century and Nigeria’s first capital upon amalgamation in 1914 and at independence
in 1960.</p>

<p>Lagos State currently has a population estimated at 20 million people and boasts of being
Africa’s 5th largest economy with a GDP of $91 billion – Larger than some African economic
power houses including Ivory Coast and Kenya.</p>

<h3>The Problem(s):</h3>
<p>With it’s growing population and economic progress though comes severe challenges. These
range from; energy and infrastructure shortages, to inadequate housing, security, health,
sanitation, water supply, drainage facilities and much more.</p>

<h3>Call to Action:</h3>
<p>As an Innovator, Entrepreneur, Problem Solver, Design Professional and/or simply a
concerned citizen; propose a design solution to address some of these challenges currently
being experienced by a community of your choosing within the State.</p>

<p>Examples of communities include: waterfront communities (e.g. Ikorodu), downtown
communities (e.g. Lagos Island), commercial suburbs (e.g. Victoria Island and Ikeja), housing
estates etc.</p>

<p>Proposed solutions should address challenges in any of the following categories:</p>
<ol type="i">
    <li>Urban Congestion</li>
    <li>Green Buildings & Infrstructure</li>
    <li>Water, Sanitation and Hygiene</li>
    <li>Renewable & Clean Energy</li>
    <li>Alternative Building Technologies</li>
    <li>Urban & Indoor Agriculture</li>
    <li>Transportation & Mobility</li>
    <li>Safety & Security</li>
    <li>Connectivity & Internet of Things</li>
    <li>Indoor Environment Design</li>
</ol>

<p>Design solutions can be on any scope of your choosing - from the (re)planning of the entire
city, to the design of a single apartment. A conceptual framework (with accompanying plans,
sketches and explanations) can be used to illustrate the overall solution and communicate
higher level details. The most important sections of the design however, should be designed
in as much detail as you deem necessary, taking into account the imperative for the
development of resilient, sustainable and smart communities of the future.</p>

<h3>ELIGIBILITY:</h3>
<p>The contest is open to ALL. From Students to Professionals, Architects to Engineers,
Freelancers to Companies, Entrepreneurs to Employees. All you require is a desire to solve
problems and WIN.</p>

<p>Entries can be made Individually or as part of Group of up to a maximum of 4 people.
*Student awards will be presented separately</p>

<h3>AWARDS:</h3>

<p>The competition will culminate in a Finalists Exhibition and Awards ceremony at the Civic
Center in Victoria Island, Lagos in August 2018.</p>

<p>Awards will include:</p>

<ul>
    <li>An ALL expense paid trip to the Smart City Expo World Congress in Barcelona Spain.</li>
    <li>Start Up and Office Expansion Kits including: Laptops, Graphic Tablets and Software
Licenses.</li>
    <li>One-year student internships at top companies for student winners.</li>
    <li>And much more.</li>
</ul>


<p>To register for the competition, please sign up at FFE.ng and fill out the ‘2018 FFE.ng Design
Challenge’ registration form.</p>


    </div>
    </div>
    </div>
    </div>
</main>
