title = "About Kokore"
url = "/about-us"
layout = "default"
is_hidden = 0
[Checkout]
[Cart]
==

<section>
    <div class="container">
        <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-8">
                <img class="img img-responsive about-banner" src="{{'assets/images/about-page-banner.jpeg'|theme}}" alt="">
            </div>
        <div class="col-md-12"></div>
        </div>
    </div>
</section>

<section>
    <!-- .contact form -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                
                {# <ul style="margin-top:150px" class="faqMenu">
                    <li>
                        <a href="/customer-service">Customer Service</a>
                    </li>
                    <li>
                        <a href="#">Shipping Policy</a>
                    </li>
                    <li>
                        <a href="#">Returns & Refunds </a>
                    </li>
                    <li>
                        <a href="#">Terms & Conditions</a>
                    </li>
                </ul> #}
            </div>

            <div class="col-md-6">
                <div class="about-us" style="margin-top:100px; padding-bottom: 100px">
                    <div class="contact-title">
                        <div class="div">
                            <h2 style="text-align:center">
                                Reflections on the home
                            </h2>
                        </div>
                    </div>
                    <p>
                        The first time my rental apartment felt like home was the day I framed some of my photographs that I loved and hung them on the wall right in front of my TV. A gallery wall that was not that’ll-do-for-now or until-I-get-something-better. Perhaps beyond
                        the constant packing and unpacking of boxes, the moving trucks between a new job, old friends, and old lovers, new beginnings and old memories, we still feel an instinct to be rooted in a place.

                        <br> <br> They say millennials move on average every two years, so that sense of place is a fleeting thing. I have a vague memory of a sunlit window in an apartment in Florence, the cold winter reflecting through the living room
                        in Baltimore, The rays of natural light peeping through the blinds in Lagos. It is the furniture and frames, then, that I place my sense of home in, the objects that I take with me to root me to a sense of place, to—in an instant—make
                        a new city familiar, a new place comfortable. Kokore is the home items for your home, wherever that may be, wherever you will go.
                    </p>
                    <div style="height:0px;"></div>
                    <div style="margin:0 auto; width:100%; margin-top:30px; display:inline-block; text-align:center">
                        <h5>CREATIVE DIRECTOR:</h5>
                        <p>Seiyefa Toritse Prekake</p>
                        <h5>OFFICE:</h5>
                        <p>Silicon Valley Estates <br> Lagos, Nigeria <br>create@thisiskokore.com <br>+2348090662007</p>
                    </div>

                    {#
                    <h4 style="margin-top:50px">About Our Products</h4>
                    <p>
                        Our posters are printed on uncoated, premium matt paper (200g) of the highest quality. The paper has a luxurious finish. All posters (except those measuring 13x18cm and 21x30cm) are rolled and delivered in a cylindrical tube to prevent damage during transport.
                        We also offer fittings such as frames, hangers, picture ledges and clips to facilitate your tableau creation. If you have any questions about our business, products or your order, kindly contact us at info@desenio.co.uk and we
                        will be happy to help! Would you like some tips on arranging your gallery wall? Visit our Inspiration Rooms.
                    </p> #}

                </div>
            </div>

            <div class="col-md-3"></div>

            <div class="row">
                <div class="col-md-12" style="height:400px">

                </div>
            </div>
        </div>
    </div>
    <!-- /.contact form  -->
</section>