title = "Advertising"
url = "/advertising"
layout = "default"
is_hidden = 0
[Cart]
[account]
==
<main class="btx-content btx-content--with-header" id="main">
    <article id="post-5272" class="btx-content-wrapper post-5272 page type-page status-publish hentry">
        <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme" data-role="header"
            data-scheme="dark">
            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
            </div>
            <div class="btx-page-hero-inner btx-container">
                <div class="btx-page-hero-wrapper btx-center-align">
                    <div class="btx-page-hero-content btx-middle-vertical">
                        <div class="btx-page-hero-content-wrapper btx-center-align">
                            <div class="btx-page-hero-body">
                                <div class="btx-page-hero-body-title">
                                    <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font">Advertising</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="btx-main btx-main--single">
            <div class="btx-main-wrapper">
                <div class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
                    </div>
                    <div class="btx-section-wrapper">
                        <div class="btx-container">
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:80px; padding-right:12%; padding-left:80px; padding-bottom:12%;">
                                                    <div class="btx-item js-item-html btx-html"> Speak directly to your target audience. For advertising related enquiries,
                                                        bookings and placements, please contact:
                                                        <a href="mailto:adverts@ffe.ng">adverts@ffe.ng</a>.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
