title = "Artist Works"
url = "/profiles/profile/:display_name/artist-works"
layout = "default"
is_hidden = 0

[Community]
[account]
[Projects]
[Cart]
==

{% set urlUser = Community.urlUser %}
{% set canEdit = Community.canEdit %}
{% set allPrints = Community.allPrints %}
{% put styles %}
	{# <link rel="stylesheet" href="{{'assets/profile/css/fontawesome-all.min.css' | theme}}" type="text/css" media="all"> #}
	<link rel="stylesheet" href="{{'assets/profile/css/simple-line-icons.css' | theme}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{'assets/profile/css/slick.css' | theme}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{'assets/profile/css/magnific-popup.css' | theme}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{'assets/profile/css/animate.css' | theme}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{'assets/profile/css/style.css' | theme}}" type="text/css" media="all">
    <link rel="stylesheet" href="{{'assets/profile/css/myprofilestyles.css' | theme}}" type="text/css" media="all">
{% endput %}

<!-- section portfolio -->
<section id="works" class="portfolio with-line">

	<div class="container">
		
		<!-- section header -->
		{% if urlUser.type_id == 3 %}
		<div class="section-header">
			<span class="back-text">{{urlUser.display_name}}</span>
			<h2>My Works</h2>
			
		</div>
		{% else %}
		<div class="section-header">
			<span class="back-text">{{urlUser.display_name}}</span>
			<h2>Prints</h2>
			
		</div>
		{% endif %}
		
		<!-- portfolio filter (desktop) -->
		{# <ul class="portfolio-filter">
			<li class="current" data-filter="*">All</li>
			<li data-filter=".photography">Photography</li>
			<li data-filter=".branding">Branding</li>
			<li data-filter=".video">Video</li>
			<li data-filter=".audio">Audio</li>
		</ul> #}
		
		<!-- portfolio filter (mobile) -->
		{# <select class="portfolio-filter-mobile">
			<option value="*">All</option>
			<option value=".photography">Photography</option>
			<option value=".branding">Branding</option>
			<option value=".video">Video</option>
			<option value=".audio">Audio</option>
		</select> #}
		
		<!-- portolio wrapper -->
		<div class="row portfolio-wrapper wow slideInUp">
			
			<!-- portfolio item -->
			{% for print in allPrints %}
			<div class="col-sm-3 video">
				<div class="portfolio-item text-center">
					<a href="/prints/print/{{print.slug}}">
						<div class="thumb">
							<div class="icons">
								<a href="{{print.product_image.path}}" class="portfolio-image" data-effect="mfp-move-horizontal">
									<i class="icon-size-fullscreen fullscreen"></i>
								</a>
								<a href="/prints/print/{{print.slug}}">
									<i class="icon-link link"></i>
								</a>
							</div>
							<img src="{{print.product_image.path}}" alt="Portfolio-title" />
							{# <div class="mask"></div> #}
						</div>
					</a>
					<h4 class="title"><a href="/prints/print/{{print.slug}}">{{print.product_name}}</a></h4>
					{# {% for category in print.categories %}
						<span class="term">{{category.category_name}}</span>
					{% endfor %} #}
				</div>
			</div>
			{% endfor %}
			
			<!-- portfolio item -->
			{# <div class="col-sm-4 photography">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="{{'assets/profile/images/portfolio/portfolio-2-full.jpg' | theme}}" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="single-portfolio.html">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="{{'assets/profile/images/portfolio-2.jpg'|theme}}" alt="Portfolio-title" />
						<div class="mask"></div>
					</div>
					<h4 class="title"><a href="single-portfolio.html">Floor Photo</a></h4>
					<span class="term">Photography</span>
				</div>
			</div> #}
			
			<!-- portfolio item -->
			{# <div class="col-sm-4 branding audio">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="{{'assets/profile/images/portfolio/portfolio-3-full.jpg' | theme}}" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="single-portfolio.html">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="{{'assets/profile/images/portfolio-3.jpg'|theme}}" alt="Portfolio-title" />
						<div class="mask"></div>
					</div>
					<h4 class="title"><a href="single-portfolio.html">Creative Work</a></h4>
					<span class="term">Branding, Audio</span>
				</div>
			</div> #}
			
			<!-- portfolio item -->
			{# <div class="col-sm-4 photography">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="{{'assets/profile/images/portfolio/portfolio-4-full.jpg' | theme}}" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="single-portfolio.html">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="{{'assets/profile/images/portfolio-4.jpg'|theme}}" alt="Portfolio-title" />
						<div class="mask"></div>
					</div>
					<h4 class="title"><a href="single-portfolio.html">Some Creative</a></h4>
					<span class="term">Photography</span>
				</div>
			</div> #}
			
			<!-- portfolio item -->
			{# <div class="col-sm-4 audio">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="{{'assets/profile/images/portfolio/portfolio-5-full.jpg' | theme}}" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="single-portfolio.html">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="{{'assets/profile/images/portfolio-5.jpg'|theme}}" alt="Portfolio-title" />
						<div class="mask"></div>
					</div>
					<h4 class="title"><a href="single-portfolio.html">Mountain Shoot</a></h4>
					<span class="term">Audio</span>
				</div>
			</div> #}
			
			<!-- portfolio item -->
			{# <div class="col-sm-4 branding">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="{{'assets/profile/images/portfolio/portfolio-6-full.jpg' | theme}}" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="single-portfolio.html">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="{{'assets/profile/images/portfolio-6.jpg'|theme}}" alt="Portfolio-title" />
						<div class="mask"></div>
					</div>
					<h4 class="title"><a href="single-portfolio.html">A Woman In Nature</a></h4>
					<span class="term">Branding</span>
				</div>
			</div> #}

		</div>
		
		<!-- more button -->
		<div class="more-button text-center">
			<a href="{{'profile'|page({'display_name':urlUser.display_name})}}" class="btn btn-outline">Back To Profile</a>
		</div>

	</div>
	
</section>
{% put scripts %}

<script src="{{'assets/profile/js/jquery.easing.min.js'| theme}}"></script>
   
<script src="{{'assets/profile/js/popper.min.js'| theme}}"></script>
<!-- Bootstrap -->
{# <script src="{{'assets/profile/js/bootstrap.min.js'| theme}}"></script> #}
<!-- jPreloader -->
<script src="{{'assets/profile/js/jpreloader.min.js'| theme}}"></script>
<!-- Waypoints JS -->
<script src="{{'assets/profile/js/jquery.waypoints.min.js'| theme}}"></script>
<!-- Counterup JS -->
<script src="{{'assets/profile/js/jquery.counterup.min.js'| theme}}"></script>
<!-- Stellar (parallax) -->
<script src="{{'assets/profile/js/jquery.stellar.js'| theme}}"></script>
<!-- Magnific Popup -->
<script src="{{'assets/profile/js/jquery.magnific-popup.min.js'| theme}}"></script>
<!-- Isotope (filtered portfolio) -->
<script src="{{'assets/profile/js/isotope.pkgd.min.js'| theme}}"></script>
<!-- Wow JS -->
<script src="{{'assets/profile/js/wow.min.js'| theme}}"></script>
<!-- Flat Surface Shader JS -->
<script src="{{'assets/profile/js/fss.min.js'| theme}}"></script>
<!-- Particles JS -->
<script src="{{'assets/profile/js/particles.min.js'| theme}}"></script>
<script src="{{'assets/profile/js/particles-config.js'| theme}}"></script>
<!-- Parallax JS -->
<script src="{{'assets/profile/js/parallax.min.js'| theme}}"></script>
<!-- Slick carousel -->
<script src="{{'assets/profile/js/slick.min.js'| theme}}"></script>
<!-- Bootstrap Validator -->
<script src="{{'assets/profile/js/validator.js'| theme}}"></script>
<!-- Contact form -->
<script src="{{'assets/profile/js/contact.js'| theme}}"></script>
<!-- Talib Template JS -->
<script src="{{'assets/profile/js/custom.js'| theme}}"></script>
{% endput %}