title = "Blog"
url = "/blog/:page?"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
[Cart]
[account]

==

{# 
 <main class="btx-content btx-content--no-header" id="main">
            <article id="post-779" class="btx-content-wrapper post-779 page type-page status-publish has-post-thumbnail hentry">

                <div class="btx-main2 btx-main--single">
                    <div class="btx-main-wrapper"> #}
                        {# <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-overlay btx-p-bg-bg" style="opacity:1;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:0px; padding-bottom:10px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main btx-row--no-spacing">
                                        <div class="btx-col-1-5">

                                            <div class="btx-item js-item-blog btx-blog btx-blog--grid btx-left-align btx-center-align-responsive">

                                                <div class="btx-blog-content" style="margin:0 0px;">

                                                    <article class="btx-entry btx-entry--columnist btx-col-12 post-139 post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-design tag-life tag-style" style="margin-bottom:0px; padding:0 0px;" data-filter="Design">
                                                        <div class="btx-entry-inner " style="background-color:transparent;">
                                                            <div class="btx-entry-header">
                                                                <div class="btx-entry-media btx-s-text-color">
                                                                    <a class="" href="#"><img src="upload/blog-paint-1024x683.jpg" alt="" width="1024" height="683"  /></a>
                                                                </div>
                                                            </div>

                                                            <div class="btx-entry-body">

                                                                <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:12px; text-transform:uppercase; letter-spacing:0.05em;">
                                                                    <a href="#">The bluish shade of gray</a>
                                                                </h4>

                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="btx-col-1-5">

                                            <div class="btx-item js-item-blog btx-blog btx-blog--grid btx-left-align btx-center-align-responsive">

                                                <div class="btx-blog-content" style="margin:0 0px;">

                                                    <article class="btx-entry btx-entry--columnist btx-col-12 post-128 post type-post status-publish format-standard has-post-thumbnail hentry category-inspiration tag-ocean tag-wave" style="margin-bottom:0px; padding:0 0px;" data-filter="Inspiration">
                                                        <div class="btx-entry-inner " style="background-color:transparent;">
                                                            <div class="btx-entry-header">
                                                                <div class="btx-entry-media btx-s-text-color">
                                                                    <a class="" href="#"><img src="upload/blog-wave-1024x683.jpg" alt="" width="1024" height="683"  /></a>
                                                                </div>
                                                            </div>

                                                            <div class="btx-entry-body">

                                                                <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:12px; text-transform:uppercase; letter-spacing:0.05em;">
                                                                    <a href="#">Ride a wave in Honolulu</a>
                                                                </h4>

                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="btx-col-1-5">

                                            <div class="btx-item js-item-blog btx-blog btx-blog--grid btx-left-align btx-center-align-responsive">

                                                <div class="btx-blog-content" style="margin:0 0px;">

                                                    <article class="btx-entry btx-entry--columnist btx-col-12 post-137 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle tag-life" style="margin-bottom:0px; padding:0 0px;" data-filter="Lifestyle">
                                                        <div class="btx-entry-inner " style="background-color:transparent;">
                                                            <div class="btx-entry-header">
                                                                <div class="btx-entry-media btx-s-text-color">
                                                                    <a class="" href="#"><img src="upload/blog-child-1024x683.jpg" alt="" width="1024" height="683"  /></a>
                                                                </div>
                                                            </div>

                                                            <div class="btx-entry-body">

                                                                <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:12px; text-transform:uppercase; letter-spacing:0.05em;">
                                                                    <a href="#">The day we were together</a>
                                                                </h4>

                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="btx-col-1-5">

                                            <div class="btx-item js-item-blog btx-blog btx-blog--grid btx-left-align btx-center-align-responsive">

                                                <div class="btx-blog-content" style="margin:0 0px;">

                                                    <article class="btx-entry btx-entry--columnist btx-col-12 post-141 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-mountain tag-winter" style="margin-bottom:0px; padding:0 0px;" data-filter="Travel">
                                                        <div class="btx-entry-inner " style="background-color:transparent;">
                                                            <div class="btx-entry-header">
                                                                <div class="btx-entry-media btx-s-text-color">
                                                                    <a class="" href="#"><img src="upload/blog-winter-1024x683.jpg" alt="" width="1024" height="683" /></a>
                                                                </div>
                                                            </div>

                                                            <div class="btx-entry-body">

                                                                <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:12px; text-transform:uppercase; letter-spacing:0.05em;">
                                                                    <a href="#">Hey folks, it&#8217;s winter</a>
                                                                </h4>

                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="btx-col-1-5">

                                            <div class="btx-item js-item-blog btx-blog btx-blog--grid btx-left-align btx-center-align-responsive">

                                                <div class="btx-blog-content" style="margin:0 0px;">

                                                    <article class="btx-entry btx-entry--columnist btx-col-12 post-133 post type-post status-publish format-standard has-post-thumbnail hentry category-photography tag-design tag-style" style="margin-bottom:0px; padding:0 0px;" data-filter="Photography">
                                                        <div class="btx-entry-inner " style="background-color:transparent;">
                                                            <div class="btx-entry-header">
                                                                <div class="btx-entry-media btx-s-text-color">
                                                                    <a class="" href="#"><img src="upload/blog-bridge-1024x683.jpg" alt="" width="1024" height="683"  /></a>
                                                                </div>
                                                            </div>

                                                            <div class="btx-entry-body">

                                                                <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:12px; text-transform:uppercase; letter-spacing:0.05em;">
                                                                    <a href="#">Meet our new project, Bridge</a>
                                                                </h4>

                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section> #}
                        {% partial 'site/posts2' %}
                        
                        
{#                        
                    </div>
                </div>

            </article>
        </main> #}