title = "Call for tenders"
url = "/dashboard/callfortenders"
layout = "dashboardLayout"
is_hidden = 0

[session]
security = "users"
[Cart]
[CallForTenders]
==

<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Call for tenders</h4>
                <p class="category"></p>
            </div>
            <div class="content">
                {% component 'CallForTenders' %}
            </div>
        </div>
    </div>
    </div>
</div>

