title = "Careers"
url = "/careers"
layout = "default"
is_hidden = 0
[Cart]
[account]
==
<main class="btx-content btx-content--with-header" id="main">
    <article id="post-1241" class="btx-content-wrapper post-1241 page type-page status-publish hentry">
        <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme btx-fade-content faded"
            data-role="header" data-scheme="dark">
            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="1" data-mobileparallax="">
                <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
            </div>
            <div class="btx-page-hero-inner btx-container">
                <div class="btx-page-hero-wrapper btx-center-align">
                    <div class="btx-page-hero-content btx-middle-vertical">
                        <div class="btx-page-hero-content-wrapper btx-center-align">
                            <div class="btx-page-hero-body">
                                <div class="btx-page-hero-body-title">
                                    <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font">Careers</h1>
                                </div>
                                <div class="btx-page-hero-divider">
                                    <div class="btx-page-hero-divider-inner btx-s-text-bg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="btx-main btx-main--single">
            <div class="btx-main-wrapper">
                <div class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#ffffff; opacity:0.9;"></div>
                    </div>
                    <div class="btx-section-wrapper">
                        <div class="btx-container">
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <blockquote class="btx-item js-item-quote btx-quote btx-quote--border btx-center-align btx-p-border-border btx-with-background">
                                        <div class="btx-quote-text btx-s-text-color btx-secondary-font">“It is Amazing what you can accomplish if you don’t care who gets the credit”</div>
                                        <div
                                            class="btx-quote-author btx-s-text-color">–&nbsp; Harry Truman</div>
                                </blockquote>
                                <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-light-scheme">
                                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                        data-mobileparallax="">
                                        <div class="btx-background-overlay " style="background-color:#ffffff; opacity:0.9;"></div>
                                    </div>
                                    <div class="btx-box-inner" data-height="">
                                        <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                            <div class="btx-box-body" style="padding-top:80px; padding-right:12%; padding-left:12%; padding-bottom:80px;">
                                                <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner">
                                                                <span class="font-style" style="font-size: 15px;">At FF&amp;E Digital Enterprises, we’re always on the look
                                                                    out for great talent.
                                                                    <br>
                                                                    <br>If you’re a young, dynamic and results oriented Team
                                                                    Player, with an interest in the use of technology to
                                                                    shape the world, then get in touch.
                                                                    <br>
                                                                    <br>We’re particularly interested in:
                                                                    <br>- Web Developers: Front and Back End
                                                                    <br>- Graphic Designers
                                                                    <br>- Quantity Surveyors
                                                                    <br>- Engineers: All Disciplines.
                                                                    <br>- Business Developers
                                                                    <br>- Generally Bright Individuals
                                                                    <br>
                                                                    <br>
                                                                    <br>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="btx-item js-item-html btx-html">
                                                    <p style="font-size: 15px">CV’s can be sent to:
                                                        <a href="mailto:careers@ffe.ng">careers@ffe.ng</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </article>
</main>
