title = "Choose Designer"
url = "/decor-services/choose-designer"
layout = "default"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0
[Bookdecor]
[Projects]

[Cart]

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<?php
use Ffande\Procurement\Models\Product;
use Ffande\Procurement\Models\Category;
use Ffande\Procurement\Models\Frame;
use Ffande\Procurement\Models\Format;
use Ffande\Procurement\Models\Color;
use Ffande\Procurement\Models\Size;
use RainLab\User\Models\User;

function onStart() {
    $this->prepareVars();
    $this->addCss('assets/css/affix-top.css');
	$this->getSessionData();
}

function prepareVars(){	
    $this['decorators'] = User::where('type_id', 3)->get();
}

function getSessionData(){
    $this['package'] = Session::get('package');
}
?>
==
{% set packages = Bookdecor.packages %}
{% put styles %}
	{# <link rel="stylesheet" href="{{'assets/profile/css/fontawesome-all.min.css' | theme}}" type="text/css" media="all"> #}
	<link rel="stylesheet" href="{{'assets/profile/css/simple-line-icons.css' | theme}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{'assets/profile/css/slick.css' | theme}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{'assets/profile/css/magnific-popup.css' | theme}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{'assets/profile/css/animate.css' | theme}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{'assets/profile/css/style.css' | theme}}" type="text/css" media="all">
    <link rel="stylesheet" href="{{'assets/profile/css/myprofilestyles.css' | theme}}" type="text/css" media="all">
{% endput %}

{# <section id="hero" class="hero particles" data-stellar-background-ratio="0.5">
		
	<div class="intro cta">

		<div class="container" style="width:100%">
			
			<!-- parallax layers -->
			<div class="parallax" data-relative-input="true">
				
				<!-- title -->
				<h1 class="title layer" data-depth="0.5">We build brands for a digital world</h1>
				
				<!-- description -->
				<span class="description layer" data-depth="0.6">Work with an interior designer</span>
				
				<!-- button -->
				<a href="#" class="btn btn-light layer" data-depth="0.8">Get a Quote</a>

			</div>

		</div>

	</div>
	
	<!-- scroll down icon -->
	<a href="#services" class="scroll-down-icon">
		<i class="fas fa-chevron-down scroll-down"></i>
	</a>

	<div id="particles-js"></div>
	
</section> #}

<section id="howitworks" class="hp__how-it-works">

<div class="section-header">
  <h1> Choose A Designer</h1>
</div>

  <p class="hidden-mama-block">
    Choose From Our Best Designers...
  </p>

 
</section>




<!-- section team -->
<section id="team" class="team with-line" style="padding-bottom:50px; padding-top: 0px;">

	<div class="container">
		
		<!-- section header -->
		<div class="section-header">
			<span class="back-text">Member</span>
			<h2>Our Designers</h2>
			
		</div>
		
		<div class="row">
			{% for decorator in decorators %}
			<!-- column -->
			<div class="col-md-3 col-sm-6">
				<!-- team member -->
				<div class="team-member box-shadow">
					<div style="height:250px;background:url({{decorator.backImage.path}})"> <!-- 265px x 255px -->
						{# <img style="border-radius:100px; width:150px; margin-top:150px; border:8px #fff solid" src="{{'assets/profile/images/team/2.jpg'|theme}}" alt="team" /> #}
						<img style="border-radius:100px; width:150px; margin-top:150px; border:8px #fff solid" src="{{decorator.avatar.path}}" alt="team" /> <!-- 265px x 255px -->
					</div>
					
					<div class="details">
						<h4 class="title" style="margin-top:50px;"> <a href="{{'profile'|page({'display_name':decorator.display_name})}}">{{decorator.name}} {{decorator.surname}}</a> </h4>
						<span class="job">Interior Designer</span>
						{% if user.available %}
							<span class="availability">I am taking projects this week</span>
						{% else %}
							<span class="availability">Not taking projects this week</span>
						{% endif %}
						{# <ul class="social-profiles">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul> #}
					</div>
				</div>
			</div>
			{% endfor %}

			<!-- column -->
			{# <div class="col-md-3 col-sm-6">
				<!-- team member -->
				<div class="team-member box-shadow">
					<img src="{{'assets/profile/images/team/2.jpg'|theme}}" alt="team" />
					<div class="details">
						<h4 class="title">John Doe</h4>
						<span class="job">Ceo Founder</span>
						<ul class="social-profiles">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

			<!-- column -->
			<div class="col-md-3 col-sm-6">
				<!-- team member -->
				<div class="team-member box-shadow">
					<img src="{{'assets/profile/images/team/3.jpg'|theme}}" alt="team" />
					<div class="details">
						<h4 class="title">Jane Doe</h4>
						<span class="job">Ceo Founder</span>
						<ul class="social-profiles">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

			<!-- column -->
			<div class="col-md-3 col-sm-6">
				<!-- team member -->
				<div class="team-member box-shadow">
					<img src="{{'assets/profile/images/team/4.jpg'|theme}}" alt="team" />
					<div class="details">
						<h4 class="title">Johnatan Doe</h4>
						<span class="job">Ceo Founder</span>
						<ul class="social-profiles">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div> #}

		</div>

	</div>
	
</section>

<section id="contact" class="with-line">

	<div class="container">
		
		<!-- section header -->
		<div class="section-header">
			<span class="back-text">Contact</span>
			<h2>Get In Touch</h2>
			
		</div>
			
		<div class="row">
			<div class="col-md-3"></div>

			<!-- column with offset -->
			<div class="col-md-6 col-sm-12">

				<!-- Contact Form -->
				<form data-request="onBookDecor">
					
					<div class="messages"></div>

					<!-- Name input -->
					<div class="col-md-6" style="padding:0px; padding-right:5px">
						<div class="form-group">
							<input type="text" class="form-control" name="f_name" id="InputName" placeholder="First Name" required="required" data-error="First name is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="col-md-6" style="padding:0px; padding-left:5px">
						<div class="form-group">
							<input type="text" class="form-control" name="l_name" id="InputName" placeholder="Last Name" required="required" data-error="Last name is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>

					<!-- Email input -->
					<div class="col-md-6" style="padding:0px; padding-right:5px">
						<div class="form-group">
							<input type="email" class="form-control" id="InputEmail" name="email" placeholder="Email address" required="required" data-error="Email is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
					

					<div class="col-md-6" style="padding:0px; padding-left:5px">
						<div class="form-group">
							<input type="text" class="form-control" name="phone" id="InputName" placeholder="Phone Number" required="required" data-error="Phone Number is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>

					{# <!-- Subject input -->
					<div class="form-group">
						<input type="text" class="form-control" id="InputSubject" name="InputSubject" placeholder="Subject" required="required" data-error="Subject is required.">
						<div class="help-block with-errors"></div>
					</div>	 #}

					<!-- Subject input -->
					<div class="form-group">
							<select type="text" class="form-control" id="package" name="package" style="height:50px;" required="required">
								<option value="">Choose a package</option>
                                {% for dbpackage in packages %}
                                    <option value="{{dbpackage.package_name}}" {% if package == dbpackage.package_name|lower %} selected {% endif %}>{{dbpackage.package_name}} Design</option>
                                {% endfor %}
								{# <option value="mini" {% if package == 'mini' %} selected {% endif %}>Mini Design</option>
								<option value="full" {% if package == 'full' %} selected {% endif %}>Full Design</option>
								<option value="free" {% if package == 'free' %} selected {% endif %}>Start Chatting</option> #}
							</select>
					</div>				

                    <div class="form-group">
                        <select type="text" class="form-control" id="designer" name="decorator" style="height:50px;" required="required">
                            <option value="">Choose a Decorator</option>
                            {% for decorator in decorators if decorator.available %}
                                <option value="{{decorator.id}}">{{decorator.display_name}}</option>
                            {% endfor %}
                        </select>
					</div>	

					<!-- Message textarea -->
					<div class="form-group">
						<textarea name="message" id="InputMessage" class="form-control" rows="7" placeholder="Message" required="required" data-error="Message is required."></textarea>
						<div class="help-block with-errors"></div>
					</div>

					<button type="submit" name="submit" id="submit" value="Book" class="btn btn-default btn-full">Book</button><!-- Send Button -->

				</form>
				<!-- Contact Form end -->

			</div>
			<!-- end column -->
			<div class="col-md-3"></div>

		</div>

	</div>
	
</section>













{% put scripts %}

<script src="{{'assets/profile/js/jquery.easing.min.js'| theme}}"></script>
   
<script src="{{'assets/profile/js/popper.min.js'| theme}}"></script>
<!-- Bootstrap -->
{# <script src="{{'assets/profile/js/bootstrap.min.js'| theme}}"></script> #}
<!-- jPreloader -->
<script src="{{'assets/profile/js/jpreloader.min.js'| theme}}"></script>
<!-- Waypoints JS -->
<script src="{{'assets/profile/js/jquery.waypoints.min.js'| theme}}"></script>
<!-- Counterup JS -->
<script src="{{'assets/profile/js/jquery.counterup.min.js'| theme}}"></script>
<!-- Stellar (parallax) -->
<script src="{{'assets/profile/js/jquery.stellar.js'| theme}}"></script>
<!-- Magnific Popup -->
<script src="{{'assets/profile/js/jquery.magnific-popup.min.js'| theme}}"></script>
<!-- Isotope (filtered portfolio) -->
<script src="{{'assets/profile/js/isotope.pkgd.min.js'| theme}}"></script>
<!-- Wow JS -->
<script src="{{'assets/profile/js/wow.min.js'| theme}}"></script>
<!-- Flat Surface Shader JS -->
<script src="{{'assets/profile/js/fss.min.js'| theme}}"></script>
<!-- Particles JS -->
<script src="{{'assets/profile/js/particles.min.js'| theme}}"></script>
<script src="{{'assets/profile/js/particles-config.js'| theme}}"></script>
<!-- Parallax JS -->
<script src="{{'assets/profile/js/parallax.min.js'| theme}}"></script>
<!-- Slick carousel -->
<script src="{{'assets/profile/js/slick.min.js'| theme}}"></script>
<!-- Bootstrap Validator -->
<script src="{{'assets/profile/js/validator.js'| theme}}"></script>
<!-- Contact form -->
{# <script src="{{'assets/profile/js/contact.js'| theme}}"></script> #}
<!-- Talib Template JS -->
<script src="{{'assets/profile/js/custom.js'| theme}}"></script>
{% endput %}