title = "Community"
url = "/community"
layout = "default"
is_hidden = 0
[Checkout]
[Cart]
[account]
[Community]
==
{% set professions = Community.professions %}
<main class="btx-content btx-content--with-header" id="main">
    <div>{% flash success %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div>
    <article id="post-16551" class="btx-content-wrapper post-16551 page type-page status-publish hentry" style="padding-top:40px;">
        <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme btx-page-hero--fit-height"
            data-role="header" data-scheme="dark" data-screen_percent="100" style="height: auto;">
            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                <div class="btx-background-wrapper" style="height: 472.8px; transform: translateY(47px);">
                    <div class="btx-background-inner" style="background-image:url({{'assets/images/communityhome.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                </div>
                <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.03;"></div>
            </div>
            <div class="btx-page-hero-inner btx-container--fullwidth">
                <div class="btx-page-hero-wrapper btx-center-align" style="">
                    <div class="btx-page-hero-content btx-middle-vertical">
                        <div class="btx-page-hero-content-wrapper btx-center-align">
                            <div class="btx-page-hero-body">
                                <div class="btx-page-hero-body-title">
                                    <h1 class="btx-page-hero-title btx-s-text-color btx-custom_a-font">
                                        <span class="font-style font-style-big" style="font-size: 58px;">Welcome to Nigeria's Built Environment Community</span>
                                    </h1>
                                </div>
                                <div class="btx-page-hero-subtitle btx-page-hero-subtitle--bottom btx-primary-font">
                                    <span class="font-style" style="font-size: 20px;">
                                        <span style="color: rgb(249, 249, 249);">Connecting Architecture, Engineering &amp; Construction Firms, Clients and Professionals</span>
                                    </span>
                                </div>
                                <div class="btx-page-hero-divider">
                                    <div class="btx-page-hero-divider-inner btx-s-text-bg"></div>
                                </div>
                                <div class="btx-page-hero-buttons" style="display: inline">
                                    <div class="btx-button btx-button--border btx-button-hover--inverse btx-button-size--medium btx-button-color--basic">
                                        <a class="btnx" {% if not user %} href="{{'register'|page}}" {% else %} href="{{'my-account'|page}}" {% endif %} style="border-radius:4px; border-width:1px;">
                                            <i class="fa btx-icon--before fa-ln-users"></i>Join the Community</a>
                                    </div>
                                </div>
                                <div class="btx-page-hero-buttons" style="display: inline">
                                        <div class="btx-button btx-button--border btx-button-hover--inverse btx-button-size--medium btx-button-color--basic">
                                            <a class="btnx" href="#modal-demo-community" target="_blank" style="border-radius:4px; border-width:1px;">
                                                <i class="fa btx-icon--before fa-play"></i>about the Community</a>
                                        </div>
                                    </div> 
                                {% if user %} 
                                    <div class="btx-page-hero-buttons" style="display: inline">
                                        <div class="btx-button btx-button--border btx-button-hover--inverse btx-button-size--medium btx-button-color--basic">
                                            <a class="btnx" href="#modal-demo-3" target="_blank" style="border-radius:4px; border-width:1px;">
                                                <i class="fa btx-icon--before fa-ln-users"></i>Invite contacts</a>
                                        </div>
                                    </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="btx-main btx-main--single">
            <div class="btx-main-wrapper">
                <div class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
                    </div>
                    <div class="btx-section-wrapper" style="padding-top:120px; padding-right:60px; padding-left:60px; padding-bottom:120px;">
                        <div class="btx-container--fullwidth">
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="max-width:733px; overflow-y:hidden;">
                                                <div class="btx-box-body">
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align btx-uppercase">
                                                        <h2 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0.1em;">
                                                            <a href="{{'register'|page}}">register your free account today!</a>
                                                        </h2>
                                                    </div>
                                                    <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align" style="margin-top:30px; margin-bottom:30px;">
                                                        <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100px; height:2px;">
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-center-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 19px;">Join the community of Nigeria's
                                                                        <br>Architecture, Engineering and Construction (AEC)
                                                                        firms and professionals,
                                                                        <br>Showcase your projects, and Connect with clients
                                                                        and professionals
                                                                        <br>across the country.
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align" style="margin-top:30px; margin-bottom:30px;">
                                        <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100px; height:2px;">
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main">
                            {% for profession in professions %}
                                <div class="btx-col-4">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-light-scheme">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:15px; padding-right:15px; padding-left:15px; padding-bottom:15px;">
                                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                            {% if user %}
                                                                <a class="btx-media-wrapper-inner" href="{{'my-account'|page}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-fill btx-icon--large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="{{profession.profession_image}}"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-fill btx-s-brand-bg btx-s-brand-contrast-color">
                                                                            <i class="{{profession.profession_image}}"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            {% else %}
                                                                <a class="btx-media-wrapper-inner" href="{{'register'|page}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-fill btx-icon--large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="{{profession.profession_image}}"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-fill btx-s-brand-bg btx-s-brand-contrast-color">
                                                                            <i class="{{profession.profession_image}}"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>

                                                            {% endif %}
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                        {% if user %} 
                                                            <a href="{{'my-account'}}">{{profession.profession_name}}</a>
                                                            <a href="{{'register'|page}}"></a>
                                                        {% else %}
                                                            <a href="{{'register'|page}}">{{profession.profession_name}}</a>
                                                            <a href="{{'register'|page}}"></a>
                                                        {% endif %}
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {# <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:15px; padding-right:15px; padding-left:15px; padding-bottom:15px;">
                                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'register'|page}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-fill btx-icon--large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-ln-briefcase"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-fill btx-s-brand-bg btx-s-brand-contrast-color">
                                                                            <i class="fa fa-ln-briefcase"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                            <a href="{{'register'|page}}">M&amp;E Consultants</a>
                                                            <a href="{{'register'|page}}"></a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-light-scheme">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#ffffff; opacity:0.6;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:15px; padding-right:15px; padding-left:15px; padding-bottom:15px;">
                                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'register'|page}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-fill btx-icon--large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-ln-drop"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-fill btx-s-brand-bg btx-s-brand-contrast-color">
                                                                            <i class="fa fa-ln-drop"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                            <a href="{{'register'|page}}">Plumbing Contractors</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-light-scheme">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:15px; padding-right:15px; padding-left:15px; padding-bottom:15px;">
                                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'register'|page}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-fill btx-icon--large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-ln-users"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-fill btx-s-brand-bg btx-s-brand-contrast-color">
                                                                            <i class="fa fa-ln-users"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                            <a href="{{'register'|page}}">Facility Managers</a>
                                                            <a href="{{'register'|page}}"></a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> #}
                                </div>
                            {% endfor %}
                                {# <div class="btx-col-4">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-light-scheme">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#ffffff; opacity:0.6;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:15px; padding-right:15px; padding-left:15px; padding-bottom:15px;">
                                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'register'|page}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-fill btx-icon--large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-road"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-fill btx-s-brand-bg btx-s-brand-contrast-color">
                                                                            <i class="fa fa-road"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                            <a href="{{'register'|page}}">Developers</a>
                                                            <a href="{{'register'|page}}"></a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-light-scheme">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:15px; padding-right:15px; padding-left:15px; padding-bottom:15px;">
                                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'register'|page}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-fill btx-icon--large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-ln-users"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-fill btx-s-brand-bg btx-s-brand-contrast-color">
                                                                            <i class="fa fa-ln-users"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                            <a href="{{'register'|page}}">Project Managers</a>
                                                            <a href="{{'register'|page}}"></a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-light-scheme">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:15px; padding-right:15px; padding-left:15px; padding-bottom:15px;">
                                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'register'|page}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-fill btx-icon--large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-calc"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-fill btx-s-brand-bg btx-s-brand-contrast-color">
                                                                            <i class="fa fa-calc"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                            <a href="{{'register'|page}}">Quantity Surveyors</a>
                                                            <a href="{{'register'|page}}"></a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-light-scheme">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#ffffff; opacity:0.6;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:15px; padding-right:15px; padding-left:15px; padding-bottom:15px;">
                                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'register'|page}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-fill btx-icon--large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-adjustments"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-fill btx-s-brand-bg btx-s-brand-contrast-color">
                                                                            <i class="fa fa-adjustments"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                            <a href="{{'register'|page}}">General Contractors</a>
                                                            <a href="{{'register'|page}}"></a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-4">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-light-scheme">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:15px; padding-right:15px; padding-left:15px; padding-bottom:15px;">
                                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'register'|page}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-fill btx-icon--large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-pencil-square-o"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-fill btx-s-brand-bg btx-s-brand-contrast-color">
                                                                            <i class="fa fa-pencil-square-o"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                            <a href="{{'register'|page}}">Interior Designers</a>
                                                            <a href="{{'register'|page}}"></a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-light-scheme">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:15px; padding-right:15px; padding-left:15px; padding-bottom:15px;">
                                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'register'|page}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-fill btx-icon--large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-ln-construction"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-fill btx-s-brand-bg btx-s-brand-contrast-color">
                                                                            <i class="fa fa-ln-construction"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                            <a href="https://ffe.ng/register">Civil &amp; Structural Engineers</a>
                                                            <a href="{{'register'|page}}"></a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-light-scheme">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#ffffff; opacity:0.6;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:15px; padding-right:15px; padding-left:15px; padding-bottom:15px;">
                                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'register'|page}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-fill btx-icon--large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-dm-bulb"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-fill btx-s-brand-bg btx-s-brand-contrast-color">
                                                                            <i class="fa fa-dm-bulb"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                            <a href="{{'register'|page}}">Electrical Contractors</a>
                                                            <a href="{{'register'|page}}"></a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-light-scheme">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:15px; padding-right:15px; padding-left:15px; padding-bottom:15px;">
                                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'register'|page}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-fill btx-icon--large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-ln-globe"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-fill btx-s-brand-bg btx-s-brand-contrast-color">
                                                                            <i class="fa fa-ln-globe"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                            <a href="{{'register'|page}}">Others</a>
                                                            <a href="{{'register'|page}}"></a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>

<!-- Button trigger modal -->
                                                <div class="mfp-content" style="display:none;">
                                                    <div class="btx-item js-item-modal btx-modal btx-light-scheme" id="modal-demo-3"
                                                        style="overflow-y:auto;" data-animation="zoom-out">
                                                        <div class="btx-background" data-type="color" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                                            <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#ffffff; opacity:1;"></div>
                                                        </div>
                                                        <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                            <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">Invite Contacts</h3>
                                                        </div>

                                                        <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align">
                                                            <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;">
                                                            </div>
                                                        </div>

                                                        <div class="btx-item js-item-contactform btx-contactform btx-contactform--standard">


                                                            <div role="form" class="wpcf7" id="wpcf7-f1045-p521-o1" lang="en-US" dir="ltr">
                                                                <div class="screen-reader-response"></div>
                                                                <form data-request="onInvite" method="post" class="wpcf7-form" novalidate="novalidate" data-request-flash>
                                                                    <div id="shareform">
                                                                    <div class="btx-row">
                                                                        <div class="btx-col-4">
                                                                            <div class="btx-form-container">
                                                                                <label>Name
                                                                                    <span class="required">*</span>
                                                                                </label>
                                                                                <br>
                                                                                <span class="wpcf7-form-control-wrap your-name">
                                                                                    <input type="text" name="name[]" value=""
                                                                                        size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                        aria-required="true" aria-invalid="false">
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="btx-col-6">
                                                                            <div class="btx-form-container">
                                                                                <label>Email
                                                                                    <span class="required">*</span>
                                                                                </label>
                                                                                <br>
                                                                                <span class="wpcf7-form-control-wrap your-email">
                                                                                    <input type="text" name="email[]" value=""
                                                                                        size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                        aria-required="true" aria-invalid="false">
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="btx-col-1">
                                                                            <div class="btx-form-container">
                                                                                <i class="fa fa-plus" aria-hidden="true" id="addfriend"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div class="btx-col-1">
                                                                            <div class="btx-form-container">
                                                                                <i class="fa fa-minus" aria-hidden="true" id="removefriend"></i>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    </div>
                                                                    <div class="btx-contactform-submit">
                                                                        <button class="wpcf7-form-control wpcf7-submit">Invite</button>
                                                                    </div>
                                                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {# Modal end #}
                                                <div class="btx-item js-item-modal btx-modal btx-light-scheme mfp-hide" id="modal-demo-community" style="max-width:733px; overflow-y:auto;"
    data-animation="3d-unfold">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/nscI1hVwwCY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>
