title = "Competition Introduction"
url = "/competition"
layout = "default"
is_hidden = 0
[Checkout]
[Cart]
[account]
[Community]
==

<main class="btx-content btx-content--with-header" id="main">
            <article id="post-771" class="btx-content-wrapper post-771 page type-page status-publish has-post-thumbnail hentry">

                <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-page-hero--fit-height squeeze-hero" data-role="header">
                    <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-wrapper">
                            <div class="btx-background-inner" style="background-image:url({{'assets/images/competition.jpeg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                        </div>
                    </div>
                    <div class="btx-page-hero-inner btx-container">
                        <div class="btx-page-hero-wrapper btx-left-align">
                            <div class="btx-page-hero-content btx-middle-vertical" style="padding-top:200px; padding-left:8%; padding-bottom:200px;">
                                <div class="btx-page-hero-content-wrapper btx-left-align">

                                    <div class="btx-page-hero-media">
                                        <span class="btx-icon btx-icon--without-hover btx-icon--fill btx-icon--large"><span class="btx-icon-normal btx-icon-fill btx-p-brand-bg btx-p-brand-contrast-color" style="background-color:#a4a4a4; color:#fff;"><i class="fa fa-ln-apartment"></i></span></span>
                                    </div>

                                    <div class="btx-page-hero-body">

                                        <div class="btx-page-hero-body-title">
                                            <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.03em;"><span class="font-style font-style-big" style="font-size: 90px; line-height:1"><span style="font-weight: bold;">Design<br>Challenge<br>Initiative</span></span></h1>
                                        </div>

                                        <div class="btx-page-hero-subtitle btx-page-hero-subtitle--bottom btx-secondary-font"><span class="font-style" style="font-size: 19px; font-weight:500"><span style="color: rgb(48, 48, 48);">Lagos, March - July 2018</span>
                                            </span>
                                        </div>

                                        <div class="btx-page-hero-buttons">

                                            <div class="btx-button btx-button--fill btx-button-hover--inverse btx-button-size--large btx-button-color--basic"><a class="btnx" href="{{'2018-challenge'|page}}" style="border-radius:35px;">Find out more</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="btx-main2 btx-main--single">
                    <div class="btx-main-wrapper">
                        <section class="btx-section js-dynamic-navbar btx-p-border-border btx-dark-scheme" data-index="0" data-scheme="dark">
                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-wrapper">
                                    <div class="btx-background-inner" style="background-image:url({{"assets/upload/bg-arch.jpg"|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                                </div>
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#1d1d1d; opacity:0.9;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:160px; padding-bottom:160px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-7">

                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                <h2 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border"><span class="font-style" style="font-size: 42px; font-weight:500">About The FFE.ng Design Challenge Initiative</span></h2>
                                            </div>

                                            <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align" style="margin-top:30px; margin-bottom:30px;">
                                                <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;">
                                                </div>
                                            </div>

                                            <div class="btx-item js-item-text btx-text btx-left-align btx-custom_c-font ">
                                                <div class="btx-row" style="margin:0 -30px;">

                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <span class="font-style" style="font-size: 19px; line-height:1.78571; font-weight:300">
                                                                According to the United Nations, 54% of the world’s population lives in urban areas, with an
                                                                additional 2 billion people expected to be added to the urban populations of Asia and Africa
                                                                alone by 2050. This trend is clearly reflected in Africa, with cities such as Johannesburg, Cairo,
                                                                Lagos, Accra, Kinshasa and Nairobi either being, or fast becoming megacities with populations
                                                                of over 10 Million people.<br>
                                                            </span> 
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="btx-item js-item-space btx-space" style="height:20px;"></div>

                                            {# <div class="btx-item js-item-countdown btx-countdown btx-countdown--group btx-left-align" data-timestamp="1484245800000">

                                                <div class="btx-countdown-item btx-countdown-week" data-label="week">
                                                    <div class="btx-countdown-number btx-s-text-contrast-color btx-primary-font btx-s-text-bg" style="color:#cccccc; font-size:28px; background-color:transparent;"></div>
                                                    <span class="btx-countdown-label btx-primary-font" style="color:#cccccc;">weeks</span>
                                                </div>

                                                <div class="btx-countdown-item btx-countdown-day" data-label="day">
                                                    <div class="btx-countdown-number btx-s-text-contrast-color btx-primary-font btx-s-text-bg" style="color:#cccccc; font-size:28px; background-color:transparent;"></div>
                                                    <span class="btx-countdown-label btx-primary-font" style="color:#cccccc;">days</span>
                                                </div>
                                                <div class="btx-countdown-item btx-countdown-hour" data-label="hour">
                                                    <div class="btx-countdown-number btx-s-text-contrast-color btx-primary-font btx-s-text-bg" style="color:#cccccc; font-size:28px; background-color:transparent;"></div>
                                                    <span class="btx-countdown-label btx-primary-font" style="color:#cccccc;">hours</span>
                                                </div>
                                                <div class="btx-countdown-item btx-countdown-minute" data-label="minute">
                                                    <div class="btx-countdown-number btx-s-text-contrast-color btx-primary-font btx-s-text-bg" style="color:#cccccc; font-size:28px; background-color:transparent;"></div>
                                                    <span class="btx-countdown-label btx-primary-font" style="color:#cccccc;">minutes</span>
                                                </div>
                                                <div class="btx-countdown-item btx-countdown-second" data-label="second">
                                                    <div class="btx-countdown-number btx-s-text-contrast-color btx-primary-font btx-s-text-bg" style="color:#cccccc; font-size:28px; background-color:transparent;"></div>
                                                    <span class="btx-countdown-label btx-primary-font" style="color:#cccccc;">seconds</span>
                                                </div>
                                            </div> #}
                                        </div>
                                        <div class="btx-col-5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="btx-section js-dynamic-navbar btx-p-border-border btx-dark-scheme" data-index="0" data-scheme="dark">
                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-wrapper">
                                    {# <div class="btx-background-inner" style="background-image:url({{"assets/upload/bg-arch.jpg"|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div> #}
                                </div>
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#fff; opacity:1;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:160px; padding-bottom:160px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-5">
                                        
                                            <div class="btx-item js-item-image btx-image btx-center-align">
                                            {# <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#0d0d0d; opacity:0.9;"></div> #}
                                                <div class="btx-image-container">
                                                    <img src="{{"assets/upload/gallery-minimal-13-2.jpeg"|theme}}" alt="" style="max-width:100%;" width="640" height="640"> </div>
                                            </div>
                                        </div>
                                        <div class="btx-col-7">

                                            {# <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                <h2 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border"><span class="font-style" style="font-size: 42px;">ABOUT THE FFE.ng DESIGN CHALLENGE INITIATIVE</span></h2>
                                            </div>

                                            <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align" style="margin-top:30px; margin-bottom:30px;">
                                                <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;">
                                                </div>
                                            </div> #}

                                            <div class="btx-item js-item-text btx-text btx-left-align btx-custom_c-font ">
                                                <div class="btx-row" style="margin:0 -30px;">

                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <span class="font-style" style="font-size: 19px; line-height: 1.78571; font-weight:300; color: rgb(102, 102, 102);">
                                                                Bringing this closer to home, Nigeria alone is set to add another 212 million urban dwellers to
                                                                its existing urban population by 2050, equivalent to almost 10% of the total urban population
                                                                growth globally, within the same period. <br/>

                                                                How do we make sure our cities are able to continuously develop while meeting the
                                                                challenges arising from rapid urbanisation? Challenges which include; housing, energy,
                                                                infrastructure, air quality, security, connectivity, water supply and drainage amongst others.<br>
                                                            </span> 
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="btx-item js-item-space btx-space" style="height:20px;"></div>

                                        
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="btx-section js-dynamic-navbar btx-p-border-border btx-dark-scheme" data-index="0" data-scheme="dark">
                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-wrapper">
                                    <div class="btx-background-inner" style="background-image:url({{"assets/upload/bg-arch-2.jpeg"|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                                </div>
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#0d0d0d; opacity:0.9;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:160px; padding-bottom:160px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-7">

                                            {# <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                <h2 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border"><span class="font-style" style="font-size: 42px;">ABOUT THE FFE.ng DESIGN CHALLENGE INITIATIVE</span></h2>
                                            </div>

                                            <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align" style="margin-top:30px; margin-bottom:30px;">
                                                <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;">
                                                </div>
                                            </div> #}

                                            <div class="btx-item js-item-text btx-text btx-left-align btx-custom_c-font ">
                                                <div class="btx-row" style="margin:0 -30px;">

                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <span class="font-style" style="font-size: 19px; line-height: 1.78571; font-weight:300;">
                                                                With this in mind, The FFE.ng Design Challenge aims to:
                                                                <ul>
                                                                    <li>Promote the proactive use of ‘Applied Knowledge’ and ‘Design Thinking’ to address
                                                                    current and anticipated difficulties experienced in everyday urban life.</li>
                                                                    <li>Promote home-grown talent, to provide indigenous solutions to local problems of
                                                                    global relevance.</li>
                                                                    
                                                                    <li>Harness our collective imagination to intentionally shape the future of our urban
                                                                    environment and thus build Sustainable, Smart and Resilient cities.</li>
                                                                    <li>Finally, the FFE.ng Design Challenge aims to celebrate the collective spirit of Design,
                                                                    Innovation and Enterprise inherent in the African way of life.</li>
                                                                
                                                                </ul>
                                                            </span> 
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="btx-item js-item-space btx-space" style="height:20px;"></div>

                                            {# <div class="btx-item js-item-countdown btx-countdown btx-countdown--group btx-left-align" data-timestamp="1484245800000">

                                                <div class="btx-countdown-item btx-countdown-week" data-label="week">
                                                    <div class="btx-countdown-number btx-s-text-contrast-color btx-primary-font btx-s-text-bg" style="color:#cccccc; font-size:28px; background-color:transparent;"></div>
                                                    <span class="btx-countdown-label btx-primary-font" style="color:#cccccc;">weeks</span>
                                                </div>

                                                <div class="btx-countdown-item btx-countdown-day" data-label="day">
                                                    <div class="btx-countdown-number btx-s-text-contrast-color btx-primary-font btx-s-text-bg" style="color:#cccccc; font-size:28px; background-color:transparent;"></div>
                                                    <span class="btx-countdown-label btx-primary-font" style="color:#cccccc;">days</span>
                                                </div>
                                                <div class="btx-countdown-item btx-countdown-hour" data-label="hour">
                                                    <div class="btx-countdown-number btx-s-text-contrast-color btx-primary-font btx-s-text-bg" style="color:#cccccc; font-size:28px; background-color:transparent;"></div>
                                                    <span class="btx-countdown-label btx-primary-font" style="color:#cccccc;">hours</span>
                                                </div>
                                                <div class="btx-countdown-item btx-countdown-minute" data-label="minute">
                                                    <div class="btx-countdown-number btx-s-text-contrast-color btx-primary-font btx-s-text-bg" style="color:#cccccc; font-size:28px; background-color:transparent;"></div>
                                                    <span class="btx-countdown-label btx-primary-font" style="color:#cccccc;">minutes</span>
                                                </div>
                                                <div class="btx-countdown-item btx-countdown-second" data-label="second">
                                                    <div class="btx-countdown-number btx-s-text-contrast-color btx-primary-font btx-s-text-bg" style="color:#cccccc; font-size:28px; background-color:transparent;"></div>
                                                    <span class="btx-countdown-label btx-primary-font" style="color:#cccccc;">seconds</span>
                                                </div>
                                            </div> #}
                                        </div>
                                        <div class="btx-col-5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                    </div>
                </div>

            </article>
        </main>