title="Confirm & Pay"
url="/confirm-pay/:id?"
layout="default"
[Cart]
[Shop]
[PaystackPayment]
[Checkout]
==
{% set order = PaystackPayment.order %}
{% set orderDetails = PaystackPayment.orderDetails %}
{% set transRef = PaystackPayment.transRef %}
{% set secretKey = PaystackPayment.secretKey %}
<section class="grid-shop blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="height:5px">
                
            </div>       
        </div>
    </div>
</section>
<section class="grid-shop blog">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <img class="img img-responsive" src="{{'assets/images/buy.jpg'|theme}}" alt="">
                </div>
            </div> 
            <div class="col-md-6">
                <div class="">
                    <h3 style="margin-top:0px">Thank you for your order</h3>
                    <h5>Order Summary</h5><br/>
                    <p><b>Name: </B>{{order.user.name}} {{order.user.surname}}<br/> <b>Number: </b>{{order.phone_number}}<br/><b>Email: </b>{{order.user.email}}<br/>
                    <b>Address: </b>{{order.address}}</p>
                    {% if order.discounted_total %}<br/>
                <h4>Total: NGN {{order.discounted_total | number_format('2','.',',')}}</h4>
                {% else %}
                <h4>Total: NGN {{order.total}}</h4>
                {% endif %}
                <p>Click on <strong>"Pay Now!"</strong> below to Pay for your order</p>
                    <div style="margin-top:10px;">
                        We take special care to make your order fit your space and we will deliver your doorstep  <strong>within 3 - 7 business days</strong>
                        <br/><br/>

                        
                    </div>
                </div>
            </div>       
        </div>
           
            
    </div>
</section>
<section class="grid-shop blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="height:20px">
                
            </div>       
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-success btn-lg btn-block" data-request="onCOD" data-request-data="id: {{order.id}}" style="background-color:#333 !important; color:#fff; border: solid #333; border-radius:0px">
                    <i class="fa fa-plus-circle fa-lg"></i> Cash On Delivery
                </button>
            </div>
            <div class="col-md-6">
                <form data-request="onRedirectToGateway" method='POST'>
                    <input type="hidden" name="email" value="{{order.user.email}}"> 
                    <input type="hidden" name="orderID" value="{{order.id}}">
                    <input type="hidden" name="amount" value="
                        {% if not order.discounted_total %}
                            {{order.total * 100 + 1000}}
                        {% else %}
                            {{order.discounted_total * 100 + 1000}}
                        {% endif %}
                        "> 
        {# <input type="hidden" name="quantity" value="3"> #}
        {# <input type="hidden" name="metadata" value="{{ json_encode($array = ['key_name' => 'value',]) }}" >  #}
                    <input type="hidden" name="reference" value="{{ transRef }}"> 
                    <input type="hidden" name="key" value="{{ secretKey }}"> 
                    {{ form_token() }}
                    <button class="btn btn-success btn-lg btn-block" style="background-color:#333 !important; color:#fff; border: solid #333; border-radius:0px" type="submit" value="Pay Now!">
                        <i class="fa fa-plus-circle fa-lg"></i> Pay Now!
                    </button>
                </form>
            </div>

            <div style="height:100px !important"></div>
        </div>
    </div>
</section>






