title = "Customer Service"
url = "/customer-service"
layout = "default"
is_hidden = 0

[Cart]
[account]
[session]
==
<section>
    <!-- .contact form -->
    <div class="container" style="padding-bottom:50px">
        <div class="row">
            {% partial 'customer-service/menu' %}
            <div class="col-md-1"></div>
            <div id="cscontent">
                <div id="cfaq">
                    {% partial 'customer-service/faqs' %}
                </div>
                <div id="corders" class="">
                    {% partial 'customer-service/orders' %}
                </div>
                <div id="cshipping" class="">
                    {% partial 'customer-service/shipping' %}
                </div>
                <div id="cret" class="">
                    {% partial 'customer-service/returnsandclaims' %}
                </div>
                <div id="cpayment" class="">
                    {% partial 'customer-service/payment' %}
                </div>
                <div id="coffers" class="">
                    {% partial 'customer-service/offers' %}
                </div>
                <div id="cproducts" class="">
                    {% partial 'customer-service/products' %}
                </div>
                <div id="ccontacts" class="">
                    {% partial 'customer-service/contacts' %}
                </div>
            </div>
            



            {# <div class="col-md-6">
                <div class="contact-form">
                    <div class="contact-title">
                        <h2>
                            Contact Info
                        </h2>
                    </div>
                </div>
                <div class="col-md-12 contact-info">
                    <ul>
                        <li>
                            <div class="img-icon">
                                <img src="{{'assets/images/contact-icon2.jpg'|theme}}" alt="phone-icon">
                            </div>
                            <strong>Phone</strong>
                            <br/> Office: +234 809 066 2007
                        </li>
                        <li>
                            <div class="img-icon">
                                <img src="{{'assets/images/contact-icon3.jpg'|theme}}" alt="phone-icon">
                            </div>
                            <strong>email Address </strong>
                            <br/> Email: info@thisiskokore.com
                        </li>
                    </ul>
                    <p>You are always welcome to contact us! We are passionate about our customer service and will do everything
                        we can to help you.</p>
                    <p>
                        Our customer service is open:
                        <br>
                        <strong>Weekdays:</strong> 09:00-18:00
                        <br>
                        <strong>Closed for lunch:</strong> 11.00-12.00
                        <br>
                        <strong>Weekends:</strong> 12:00 - 15:00
                        <br>
                        <strong>Holidays:</strong> Closed
                        <br>
                    </p>
                    <div class="f-sicon2">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <div class="contact-title">
                        <h2>
                            Contact Form
                        </h2>
                    </div>
                    <form action="#" method="post" id="commentform" class="comment-form">
                        <div class="col-md-6">
                            <p>Name
                                <span>*</span>
                            </p>
                            <p class="comment-form-author">
                                <input id="author" name="author" value="" size="30" type="text">
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>Email
                                <span>*</span>
                            </p>
                            <p class="comment-form-email">
                                <input id="email" name="email" value="" size="30" type="text">
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>Phone number
                                <span>*</span>
                            </p>
                            <p class="comment-form-email">
                                <input id="email" name="email" value="" size="30" type="text">
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p>Comments
                                <span>*</span>
                            </p>
                            <p class="comment-form-comment">
                                <textarea id="comment" name="comment" cols="45" rows="6" placeholder="Comment" aria-required="true"></textarea>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p class="form-submit">
                                <input name="submit" id="submit" class="btn btn-secondary" style="background-color:#000" value="send message" type="submit"> </p>
                        </div>
                    </form>
                </div>
            </div> #}
        </div>
    </div>
    <!-- /.contact form  -->
</section>





<script>
    $(document).ready(function(){
        $('#corders').hide();
        $('#cshipping').hide();
        $('#cproducts').hide();
        $('#ccontacts').hide();
        $('#cpayment').hide();
        $('#cret').hide();
        $('#coffers').hide();
        $('#mfaq').click(function(){
            $('#cscontent').children().hide();
            $('#cfaq').show();
        });
        $('#morders').click(function(){
            $('#cscontent').children().hide();
            $('#corders').show();
        });
        $('#mshipping').click(function(){
            $('#cscontent').children().hide();
            $('#cshipping').show();
        });
        $('#mret').click(function(){
            $('#cscontent').children().hide();
            $('#cret').show();
        });
        $('#mpayment').click(function(){
            $('#cscontent').children().hide();
            $('#cpayment').show();
        });
        $('#moffers').click(function(){
            $('#cscontent').children().hide();
            $('#coffers').show();
        });
        $('#mproducts').click(function(){
            $('#cscontent').children().hide();
            $('#cproducts').show();
        });
        $('#mcontacts').click(function(){
            $('#cscontent').children().hide();
            $('#ccontacts').show();
        });
    });
</script>