title = "Customized"
url = "/customized"
layout = "default"
is_hidden = 0

[Cart]
[Shop]

==
<section class="grid-shop blog customized">
    <div class="container">
        <div class="row">
                <div class="col-md-6">
                    <img src="{{'assets/images/teaserImage1.jpg'|theme}}" style="padding:20px" alt="">
                    <div class="teasertext">
                        <h4>Your world, your furniture</h4>
                        <div>
                            The world revolves around you and not around boring standardized furniture.
                            Make the furniture yours. Make the furniture fit your world! Have a small home? Choose intelligent design that makes the most of it. Or a big, triangular house? No problem, personalize the furniture to make it fit perfectly. At BoConcept, you choose your design, size, shape, color and material. 
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="teasertext">
                        <h4>A personal touch</h4>
                        <div>
                            Customization is very close to our heart and concept. We love interior design and through passion and persistence, we create furniture designs that fit your personal lifestyle. Our concept is all about you, your world and your exciting, personal taste. So start designing, optimizing, combining and personalizing – we’re ready! 
                        </div>
                    </div>
                    <img src="{{'assets/images/teaserImage2.jpg'|theme}}" style="padding:20px" alt="">
                </div>
            </div>
    </div>
</section>
<section class="grid-shop blog extraspace">
		<!-- .grid-shop -->
		<div class="container">
			<div class="row">
                <div class="col-md-4">
                    <!-- .pro-text -->
                    <div class="pro-text">
                        <!-- .pro-img -->
                        <div class="pro-img">
                            <img src="{{'assets/images/furniture.jpeg'|theme}}" width="250px" height="250px" class="img-responsive img-circle" style="width:250px !important; height:250px !important; text-align:center; margin:0 auto" alt="2">
                            <!-- .hover-img -->
                            <!-- /.hover-img -->
                        </div>
                        <div class="featuredText">
                        <h4>Personalize Your Custom Furniture</h4>
                        <ul class="customized">
                            <li>- choose from quality, eco material options</li>
                            <li>- free design help along the way, and material samples</li>
                            <li>- price it out on our website or in our store</li>
                        </ul>
                        </div>
                        <!-- /.pro-img -->
                    </div>
                    <!-- /.pro-text -->
                </div>
                <div class="col-md-4">
                    <!-- .pro-text -->
                    <div class="pro-text">
                        <!-- .pro-img -->
                        <div class="pro-img">
                            <img src="{{'assets/images/build.jpeg'|theme}}" width="250px" height="250px" class="img-responsive img-circle" style="width:250px !important; height:250px !important; text-align:center; margin:0 auto" alt="2">
                            <!-- .hover-img -->
                            <!-- /.hover-img -->
                        </div>
                        <div class="featuredText">
                        <h4>Your Pieces are built in Lagos, Nigeria</h4>
                        <ul class="customized">
                            <li>- furniture is made one at a time, with build updates</li>
                            <li>- made by expert craftsmen and craftswomen</li>
                            <li>- only takes 4 weeks</li>
                        </ul>
                        </div>
                        <!-- /.pro-img -->
                    </div>
                    <!-- /.pro-text -->
                </div>
                <div class="col-md-4">
                    <!-- .pro-text -->
                    <div class="pro-text">
                        <!-- .pro-img -->
                        <div class="pro-img">
                            <img src="{{'assets/images/delivery.jpeg'|theme}}" width="250px" height="250px" class="img-responsive img-circle" style="width:250px !important; height:250px !important; text-align:center; margin:0 auto" alt="2">
                            <!-- .hover-img -->
                            <!-- /.hover-img -->
                        </div>
                        <div class="featuredText">
                            <h4>It's Shipped to You, Hassle Free</h4>
                            <ul class="customized">
                                <li>- we ship nationwide, with great service</li>
                                <li>- feel confident with our ridiculously fair return policy</li>
                            </ul>
                        </div>
                        
                        <!-- /.pro-img -->
                    </div>
                    <!-- /.pro-text -->
                </div>
                	
			</div>
		</div>
		<!-- /.grid-shop -->
	</section>

    <section class="extraspace2">
		<!-- .contact form -->
		<div class="container">
			<div class="row">
				<div class="col-md-6">
                <div class="contact-form">
                    <div class="contact-title">
                        <h3>
                            Contact Info
                        </h3>
                    </div>
                </div>
                <div class="col-md-12 contact-info">
                    <ul>
                        {#
                        <li>
                            <div class="img-icon">
                                <img src="assets/images/contact-icon1.jpg" alt="phone-icon">
                            </div>
                            <strong>Our Address</strong>
                            <br/> 1234 Heaven Stress, Beverly Hill.
                        </li> #}
                        <li>
                            <div class="img-icon">
                                <img src="{{'assets/images/contact-icon2.jpg'|theme}}" alt="phone-icon">
                            </div>
                            <strong>Phone</strong>
                            <br/> Office: +234 809 066 2007
                        </li>
                        <li>
                            <div class="img-icon">
                                <img src="{{'assets/images/contact-icon3.jpg'|theme}}" alt="phone-icon">
                            </div>
                            <strong>email Address </strong>
                            <br/> Email: info@thisiskokore.com
                        </li>
                    </ul>
                    <p>You are always welcome to contact us! We are passionate about our customer service and will do everything
                        we can to help you.</p>
                    <p>
                        Our customer service is open:
                        <br>
                        <strong>Weekdays:</strong> 09:00-18:00
                        <br>
                        <strong>Closed for lunch:</strong> 11.00-12.00
                        <br>
                        <strong>Weekends:</strong> 12:00 - 15:00
                        <br>
                        <strong>Holidays:</strong> Closed
                        <br>
                    </p>
                    <div class="f-sicon2">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <div class="contact-title">
                        <h3>
                            Contact Form
                        </h3>
                    </div>
                    <form action="#" method="post" id="commentform" class="comment-form">
                        <div class="col-md-6">
                            <p>First Name
                                <span>*</span>
                            </p>
                            <p class="comment-form-author">
                                <input id="author" name="author" value="" size="30" type="text">
                            </p>
                        </div>
                         <div class="col-md-6">
                            <p>Last Name
                                <span>*</span>
                            </p>
                            <p class="comment-form-author">
                                <input id="author" name="author" value="" size="30" type="text">
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>Email
                                <span>*</span>
                            </p>
                            <p class="comment-form-email">
                                <input id="email" name="email" value="" size="30" type="text">
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>Phone number
                                <span>*</span>
                            </p>
                            <p class="comment-form-email">
                                <input id="email" name="email" value="" size="30" type="text">
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p>Comments
                                <span>*</span>
                            </p>
                            <p class="comment-form-comment">
                                <textarea id="comment" name="comment" cols="45" rows="6" placeholder="Comment" aria-required="true"></textarea>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p class="form-submit">
                                <input name="submit" id="submit" class="btn btn-secondary" style="background-color:#000" value="send message" type="submit"> </p>
                        </div>
                    </form>
                </div>
            </div>
			</div>
		</div>
		<!-- /.contact form  -->
	</section>



