title = "My Prints"
url = "/my-account/prints"
layout = "dashboardLayout2"
is_hidden = 0

[session]
security = "users"
[Cart]
[DashboardProducts]
==

<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
       
                {% component 'DashboardProducts' %}

    </div>
    </div>
</div>

