title = "My Wishlist"
url = "/my-account/wishlist"
layout = "dashboardLayout2"
is_hidden = 0

[session]
security = "users"
[Cart]
[DashboardProducts]
==

<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
        {% partial 'dashboard2/likes' %}
    </div>
    </div>
</div>

