title = "My Portfolio"
url = "/my-account/portfolio"
layout = "dashboardLayout2"
is_hidden = 0

[session]
security = "users"
[Cart]
[DashboardPortfolio]
==

<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
        {% component 'DashboardPortfolio' %}

    </div>
    </div>
</div>

