title = "Dashboard Projects"
url = "/my-account/projects"
layout = "dashboardLayout"
is_hidden = 0

[session]
security = "users"
[Cart]
[Projects]
==

<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h2 class="title">Projects</h2>
                <p class="category"></p>
            </div>
            <div class="content">
                <h3 style="text-align:center; line-height:40px">Steps for creating a project</h3>
                <ul>
                    <li>Click on "Create a project": Fill and submit project creation form</li>
                    <li>Click on "Create a project item": Fill and submit project item creation form. make sure you select the appropriate existing project for each item </li>
                    
                </ul>
                {% component 'Projects' %}
            </div>
        </div>
    </div>
    </div>
</div>

