title = "Decor Services"
url = "/decor-services"
layout = "default"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0
[Bookdecor]
[Projects]

[Cart]

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<?php
use Ffande\Procurement\Models\Product;
use Ffande\Procurement\Models\Category;
use Ffande\Procurement\Models\Frame;
use Ffande\Procurement\Models\Format;
use Ffande\Procurement\Models\Color;
use Ffande\Procurement\Models\Size;
use RainLab\User\Models\User;

function onStart() {
    $this->prepareVars();
    $this->addCss('assets/css/affix-top.css');
	
}

function prepareVars(){	
    $this['decorators'] = User::where('type_id', 3)->get();
}
?>
==
{% put styles %}
	{# <link rel="stylesheet" href="{{'assets/profile/css/fontawesome-all.min.css' | theme}}" type="text/css" media="all"> #}
	<link rel="stylesheet" href="{{'assets/profile/css/simple-line-icons.css' | theme}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{'assets/profile/css/slick.css' | theme}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{'assets/profile/css/magnific-popup.css' | theme}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{'assets/profile/css/animate.css' | theme}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{'assets/profile/css/style.css' | theme}}" type="text/css" media="all">
    <link rel="stylesheet" href="{{'assets/profile/css/myprofilestyles.css' | theme}}" type="text/css" media="all">
{% endput %}

{# <section id="hero" class="hero particles" data-stellar-background-ratio="0.5">
		
	<div class="intro cta">

		<div class="container" style="width:100%">
			
			<!-- parallax layers -->
			<div class="parallax" data-relative-input="true">
				
				<!-- title -->
				<h1 class="title layer" data-depth="0.5">We build brands for a digital world</h1>
				
				<!-- description -->
				<span class="description layer" data-depth="0.6">Work with an interior designer</span>
				
				<!-- button -->
				<a href="#" class="btn btn-light layer" data-depth="0.8">Get a Quote</a>

			</div>

		</div>

	</div>
	
	<!-- scroll down icon -->
	<a href="#services" class="scroll-down-icon">
		<i class="fas fa-chevron-down scroll-down"></i>
	</a>

	<div id="particles-js"></div>
	
</section> #}

<section id="howitworks" class="hp__how-it-works">

<div class="section-header">
  <h2> How It Works
    
  </h2>
</div>

  <p class="hidden-mama-block">
    Kokore Decor Services is the best way to design your home. We work within any budget, big or small. You can start from scratch or work with a designer using your existing furniture pieces.
  </p>

 
</section>

<section class="grid-shop decor">
    <div class="container">
        <div class="row">
                
                <div class="col-md-6">
                    <div class="teasertext">
						<h5>COLLABORATIVE & CONVENIENT</h5>
                        <h4 style="width:350px">Work one-on-one with your designer online. Anytime, anywhere.</h4>
                        <div>
                            You’ll work collaboratively with your designer at your convenience throughout the
design process, with degrees from certified interior design programs around the
country, and memberships and certifications, our interior designers are here to

help you create your dream home/space.
                        </div>
                    </div>
                    <img src="{{'assets/images/teaserImage2.jpg'|theme}}" alt="">
                </div>
				<div class="col-md-6">
                    <img src="{{'assets/images/teaserImage1.jpg'|theme}}" alt="">
                    <div class="teasertext" >
						<h5>AFFORDABLE & PERSONALIZED</h5>
                        <h4 style="width:350px">Our designers work with your style and budget—taking the guess work out of decorating.</h4>
                        <div>
                            You’ll share your style and inspiration with your designer—whether you have a Pinterest board full of ideas or are just getting started. They’ll also work with your existing furniture to create a cohesive design and layout. 
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>

<!-- section services -->
<section id="services" class="services with-line">

	<div class="container">
		
		<!-- section header -->
		<div class="section-header">
			<span class="back-text">Services</span>
			<h2>What We Do</h2>
			
		</div>
		
		<!-- carousel wrapper -->
		<div class="row services-wrapper">
			
			<div class="col-sm-4">
				
				<div class="service-box ">
					<i class="icon-camera"></i>
					<h4>Work with a professional</h4>
					<p>The one-on-one experience of working with our talented team of designers can't be matched anywhere else</p>
				</div>

			</div>

			<div class="col-sm-4">
				
				<div class="service-box ">
					<i class="icon-puzzle"></i>
					<h4>A "just for you" design</h4>
					<p>Your home and your tastes are unique to you - and each step of the process is tailored to your likes, dislikes and everything in between.</p>
				</div>

			</div>

			<div class="col-sm-4">
				
				<div class="service-box ">
					<i class="icon-frame"></i>
					<h4>Simplified ordering</h4>
					<p>From start to finish, you shop from 200+ sellers and then order directly through Kokore.</p>
				</div>

			</div>

			<div class="col-sm-4">
				
				<div class="service-box ">
					<i class="icon-screen-smartphone"></i>
					<h4>The best customer service</h4>
					<p>Any questions or concerns you have in any part of the design process, we've got you! Our team is available via chat, email or phone to help out</p>
				</div>

			</div>

			{# <div class="col-sm-4">
				
				<div class="service-box box-shadow">
					<i class="icon-globe-alt"></i>
					<h4 class="title">Web Development</h4>
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
				</div>

			</div> #}

		</div>

	</div>
	
</section>

<!-- section facts with counter -->
{# <section class="dark facts" data-stellar-background-ratio="0.5">
	
	<div class="container">

		<div class="row">
			
			<div class="col-md-3 col-sm-6">
				<div class="fact-item">
					<h2>+<em class="count">253</em></h2>
					<p>Projects Completed</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="fact-item">
					<h2>+<em class="count">140</em></h2>
					<p>Satisfied Customers</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="fact-item">
					<h2>+<em class="count">18</em>k</h2>
					<p>Cup of Coffee</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="fact-item">
					<h2>+<em class="count">20</em>k</h2>
					<p>Hours Worked</p>
				</div>
			</div>

		</div>

	</div>

	<div class="mask"></div>

</section> #}

<!-- section team -->
<section id="team" class="team with-line" style="padding-bottom:50px; padding-top: 0px;">

	<div class="container">
		
		<!-- section header -->
		<div class="section-header">
			<span class="back-text">Member</span>
			<h2>Our Team</h2>
			
		</div>
		
		<div class="row">
			{% for decorator in decorators %}
			<!-- column -->
			<div class="col-md-3 col-sm-6">
				<!-- team member -->
				<div class="team-member box-shadow">
					<div style="height:250px;background:url({{decorator.backImage.path}})"> <!-- 265px x 255px -->
						{# <img style="border-radius:100px; width:150px; margin-top:150px; border:8px #fff solid" src="{{'assets/profile/images/team/2.jpg'|theme}}" alt="team" /> #}
						<img style="border-radius:100px; width:150px; margin-top:150px; border:8px #fff solid" src="{{decorator.avatar.path}}" alt="team" /> <!-- 265px x 255px -->
					</div>
					
					<div class="details">
						<h4 class="title" style="margin-top:50px;"> <a href="{{'profile'|page({'display_name':decorator.display_name})}}">{{decorator.name}} {{decorator.surname}}</a> </h4>
						<span class="job">Interior Designer</span>
						{% if decorator.available %}
							<span class="availability">I am taking projects this week</span>
						{% else %}
							<span class="availability">Not taking projects this week</span>
						{% endif %}
						{# <ul class="social-profiles">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul> #}
					</div>
				</div>
			</div>
			{% endfor %}

			<!-- column -->
			{# <div class="col-md-3 col-sm-6">
				<!-- team member -->
				<div class="team-member box-shadow">
					<img src="{{'assets/profile/images/team/2.jpg'|theme}}" alt="team" />
					<div class="details">
						<h4 class="title">John Doe</h4>
						<span class="job">Ceo Founder</span>
						<ul class="social-profiles">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

			<!-- column -->
			<div class="col-md-3 col-sm-6">
				<!-- team member -->
				<div class="team-member box-shadow">
					<img src="{{'assets/profile/images/team/3.jpg'|theme}}" alt="team" />
					<div class="details">
						<h4 class="title">Jane Doe</h4>
						<span class="job">Ceo Founder</span>
						<ul class="social-profiles">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

			<!-- column -->
			<div class="col-md-3 col-sm-6">
				<!-- team member -->
				<div class="team-member box-shadow">
					<img src="{{'assets/profile/images/team/4.jpg'|theme}}" alt="team" />
					<div class="details">
						<h4 class="title">Johnatan Doe</h4>
						<span class="job">Ceo Founder</span>
						<ul class="social-profiles">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div> #}

		</div>

	</div>
	
</section>



{# <section id="team" class="team with-line" style="padding-bottom:80px">

	<div class="container">
		
		<!-- section header -->
		<div class="section-header">
			<span class="back-text">Offer</span>
			<h2>Our Packages</h2>
			
		</div>
		
		<div class="row">
			
			<!-- column -->
			<div class="col-sm-4">
				
				<div class="service-box box-shadow">
					<i class="icon-screen-smartphone"></i>
					<h4 class="title">$199</h4>
					<p>Get all the help you need for a full room makeover. Your designer will deliver an action plan including a room visualization and shopping list.</p>
				</div>

			</div>

			<!-- column -->
			<div class="col-sm-4">
				
				<div class="service-box box-shadow">
					<i class="icon-screen-smartphone"></i>
					<h4 class="title">$79</h4>
					<p>When your room needs a refresh, collaborate with a designer to develop a vision and add accessories. Perfect for bathrooms and hallways too!</p>
				</div>

			</div>

			<!-- column -->
			<div class="col-sm-4">
				
				<div class="service-box box-shadow">
					<i class="icon-screen-smartphone"></i>
					<h4 class="title">Free</h4>
					<p>Ask a styling question or get help finding that perfect product.</p>
				</div>

			</div>

			<!-- column -->
			

		</div>

	</div>
	
</section> #}

<!-- section portfolio -->
{# <section id="works" class="portfolio with-line">

	<div class="container">
		
		<!-- section header -->
		<div class="section-header">
			<span class="back-text">Portfolio</span>
			<h2>Recent Works</h2>
			
		</div>
		
		<!-- portfolio filter (desktop) -->
		<ul class="portfolio-filter">
			<li class="current" data-filter="*">All</li>
			<li data-filter=".photography">Photography</li>
			<li data-filter=".branding">Branding</li>
			<li data-filter=".video">Video</li>
			<li data-filter=".audio">Audio</li>
		</ul>
		
		<!-- portfolio filter (mobile) -->
		<select class="portfolio-filter-mobile">
			<option value="*">All</option>
			<option value=".photography">Photography</option>
			<option value=".branding">Branding</option>
			<option value=".video">Video</option>
			<option value=".audio">Audio</option>
		</select>
		
		<!-- portolio wrapper -->
		<div class="row portfolio-wrapper wow slideInUp">
			
			<!-- portfolio item -->
			<div class="col-sm-4 video">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="images/portfolio/portfolio-1-full.jpg" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="single-portfolio.html">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="images/portfolio-1.jpg" alt="Portfolio-title" />
						<div class="mask"></div>
					</div>
					<h4 class="title"><a href="single-portfolio.html">Shoes on the Table</a></h4>
					<span class="term">Video</span>
				</div>
			</div>
			
			<!-- portfolio item -->
			<div class="col-sm-4 photography">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="images/portfolio/portfolio-2-full.jpg" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="single-portfolio.html">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="images/portfolio-2.jpg" alt="Portfolio-title" />
						<div class="mask"></div>
					</div>
					<h4 class="title"><a href="single-portfolio.html">Floor Photo</a></h4>
					<span class="term">Photography</span>
				</div>
			</div>
			
			<!-- portfolio item -->
			<div class="col-sm-4 branding audio">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="images/portfolio/portfolio-3-full.jpg" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="single-portfolio.html">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="images/portfolio-3.jpg" alt="Portfolio-title" />
						<div class="mask"></div>
					</div>
					<h4 class="title"><a href="single-portfolio.html">Creative Work</a></h4>
					<span class="term">Branding, Audio</span>
				</div>
			</div>
			
			<!-- portfolio item -->
			<div class="col-sm-4 photography">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="images/portfolio/portfolio-4-full.jpg" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="single-portfolio.html">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="images/portfolio-4.jpg" alt="Portfolio-title" />
						<div class="mask"></div>
					</div>
					<h4 class="title"><a href="single-portfolio.html">Some Creative</a></h4>
					<span class="term">Photography</span>
				</div>
			</div>
			
			<!-- portfolio item -->
			<div class="col-sm-4 audio">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="images/portfolio/portfolio-5-full.jpg" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="single-portfolio.html">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="images/portfolio-5.jpg" alt="Portfolio-title" />
						<div class="mask"></div>
					</div>
					<h4 class="title"><a href="single-portfolio.html">Mountain Shoot</a></h4>
					<span class="term">Audio</span>
				</div>
			</div>
			
			<!-- portfolio item -->
			<div class="col-sm-4 branding">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="images/portfolio/portfolio-6-full.jpg" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="single-portfolio.html">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="images/portfolio-6.jpg" alt="Portfolio-title" />
						<div class="mask"></div>
					</div>
					<h4 class="title"><a href="single-portfolio.html">A Woman In Nature</a></h4>
					<span class="term">Branding</span>
				</div>
			</div>

		</div>
		
		<!-- more button -->
		<div class="more-button text-center">
			<a href="portfolio.html" class="btn btn-outline">More Works</a>
		</div>

	</div>
	
</section> #}

<!-- section testimonials carousel -->
<section class="dark testimonials" data-stellar-background-ratio="0.5" style="padding:50px 0 30px">
	
	<div class="container">
		
		<!-- carousel wrapper -->
		<div class="testimonials-wrapper">
			
			<!-- testimonial item -->
			<div class="testimonial-item">
				<p>A room should never allow the eye to settle in one place,

it should smile at you
and create fantasy</p>
				
				<h4 class="title">Juan Montoya</h4>
			</div>
			
			<!-- testimonial item -->
			<div class="testimonial-item">
				<p>I think we should make the best of where we live
and we all should be able to come back home to a place
that is welcoming and represents who we are</p>
				
				<h4 class="title">David Bromstad</h4>
			</div>
			
			<!-- testimonial item -->
			<div class="testimonial-item">
				<p>I may go as far as to say
that good design can improve your health

by reducing stress</p>
				
				<h4 class="title">Michelle Elzay</h4>
			</div>
			<!-- testimonial item -->
			<div class="testimonial-item">
				<p>Every room needs
a slap in the face.</p>
				
				<h4 class="title">Geoffrey Ross</h4>
			</div>
			<!-- testimonial item -->
			<div class="testimonial-item">
				<p>Your home should tell a story of who you are
and be a collection of what you love</p>
				
				<h4 class="title">Nate Berkus</h4>
			</div>
			<!-- testimonial item -->
			<div class="testimonial-item">
				<p>Design is so simple,
that’s why it’s so complicated</p>
				
				<h4 class="title">Paul Rand</h4>
			</div>

		</div>

	</div>

	<div class="mask"></div>

</section>

{% component 'Bookdecor' %}

<!-- section blog -->
<section id="blog" class="blog with-line" style="padding-bottom:100px" >

	<div class="container">
		
		<!-- section header -->
		<div class="section-header">
			<span class="back-text">Articles</span>
			<h2>From the Blog</h2>
			
		</div>
		
		<!-- blog wrapper -->
		<div class="row blog-wrapper">
			{% partial 'decor-services/posts' %}
			
			
		</div>
		
		<!-- more button -->
		<div class="more-button text-center">
			<a href="/blog" class="btn btn-outline" style="color:#fff">More Posts</a>
		</div>

		

	</div>
	
</section>

<!-- section clients logo carousel -->
{# <section class="dark clients" data-stellar-background-ratio="0.5">

	<!-- fix validator issue -->
	<h2 class="hidden">Clients</h2>
	
	<div class="container">
		
		<!-- carousel wrapper -->
		<div class="clients-wrapper wow slideInRight">
			
			<!-- client item -->
			<div class="client-item">
				<a href="#">
					<img src="images/client-1.png" alt="airbnb" />
				</a>
			</div>
			
			<!-- client item -->
			<div class="client-item">
				<a href="#">
					<img src="images/client-2.png" alt="business-insider" />
				</a>
			</div>
			
			<!-- client item -->
			<div class="client-item">
				<a href="#">
					<img src="images/client-3.png" alt="airbnb" />
				</a>
			</div>
			
			<!-- client item -->
			<div class="client-item">
				<a href="#">
					<img src="images/client-4.png" alt="business-insider" />
				</a>
			</div>

			<!-- client item -->
			<div class="client-item">
				<a href="#">
					<img src="images/client-5.png" alt="airbnb" />
				</a>
			</div>
			
			<!-- client item -->
			<div class="client-item">
				<a href="#">
					<img src="images/client-2.png" alt="business-insider" />
				</a>
			</div>

		</div>

	</div>

	<div class="mask"></div>

</section> #}

<!-- section contact -->
{# <section id="contact" class="with-line" style="margin:0 auto; text-align:center">

	<div class="container">
		
		<!-- section header -->
		<div class="section-header">
			<span class="back-text">Contact</span>
			<h2>Get In Touch</h2>
			
		</div>
			
		<div class="row">
		<div class="col-md-3"></div>
			<!-- column with offset -->
			<div class="col-md-6 offset-md-3">

				<!-- Contact Form -->
				<form id="contact-form" class="contact-form" method="post" action="http://pxltheme.co/demo/talib-html/demo/form/contact.php">
					
					<div class="messages"></div>

					<!-- Name input -->
					<div class="form-group">
						<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Your name" required="required" data-error="Name is required.">
						<div class="help-block with-errors"></div>
					</div>

					<!-- Email input -->
					<div class="form-group">
						<input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Email address" required="required" data-error="Email is required.">
						<div class="help-block with-errors"></div>
					</div>

					<!-- Subject input -->
					<div class="form-group">
						<input type="text" class="form-control" id="InputSubject" name="InputSubject" placeholder="Subject" required="required" data-error="Subject is required.">
						<div class="help-block with-errors"></div>
					</div>				

					<!-- Message textarea -->
					<div class="form-group">
						<textarea name="InputMessage" id="InputMessage" class="form-control" rows="7" placeholder="Message" required="required" data-error="Message is required."></textarea>
						<div class="help-block with-errors"></div>
					</div>

					<button type="submit" name="submit" id="submit" value="Submit" class="btn btn-default btn-full">Submit</button><!-- Send Button -->

				</form>
				<!-- Contact Form end -->

			</div>
			<!-- end column -->

		</div>

	</div>
	
</section> #}

<!-- section contact info with icon -->
{# <section class="dark contact-info">
	
	<!-- fix validator issue -->
	<h2 class="hidden">Contact Info</h2>
	
	<div class="container">
		
		<div class="row">
			
			<!-- column -->
			<div class="col-md-4 col-sm-12">
				<!-- address box -->
				<div class="address-box d-flex align-items-center">
					<div class="icon">
						<i class="icon-location-pin"></i>
					</div>
					<p>1355 Market Street, Suite 900 San Francisco, CA 94103</p>
				</div>
			</div>
			
			<!-- column -->
			<div class="col-md-4 col-sm-12">
				<!-- address box -->
				<div class="address-box d-flex align-items-center">
					<div class="icon">
						<i class="icon-phone"></i>
					</div>
					<p>+(123) 456-7890 <br /> +(123) 908-7890</p>
				</div>
			</div>
			
			<!-- column -->
			<div class="col-md-4 col-sm-12">
				<!-- address box -->
				<div class="address-box d-flex align-items-center">
					<div class="icon">
						<i class="icon-envelope"></i>
					</div>
					<p>hello@pxltheme.co <br /> talib@hotmail.com</p>
				</div>
			</div>

		</div>

	</div>

</section> #}

<script>
	$(document).ready(function(){
		$(document).on("click",".choosepackage",function(){
			var form = $(this).closest("form");
			//console.log(form);
			form.submit();
		});
	});
</script>

{% put scripts %}

<script src="{{'assets/profile/js/jquery.easing.min.js'| theme}}"></script>
   
<script src="{{'assets/profile/js/popper.min.js'| theme}}"></script>
<!-- Bootstrap -->
{# <script src="{{'assets/profile/js/bootstrap.min.js'| theme}}"></script> #}
<!-- jPreloader -->
<script src="{{'assets/profile/js/jpreloader.min.js'| theme}}"></script>
<!-- Waypoints JS -->
<script src="{{'assets/profile/js/jquery.waypoints.min.js'| theme}}"></script>
<!-- Counterup JS -->
<script src="{{'assets/profile/js/jquery.counterup.min.js'| theme}}"></script>
<!-- Stellar (parallax) -->
<script src="{{'assets/profile/js/jquery.stellar.js'| theme}}"></script>
<!-- Magnific Popup -->
<script src="{{'assets/profile/js/jquery.magnific-popup.min.js'| theme}}"></script>
<!-- Isotope (filtered portfolio) -->
<script src="{{'assets/profile/js/isotope.pkgd.min.js'| theme}}"></script>
<!-- Wow JS -->
<script src="{{'assets/profile/js/wow.min.js'| theme}}"></script>
<!-- Flat Surface Shader JS -->
<script src="{{'assets/profile/js/fss.min.js'| theme}}"></script>
<!-- Particles JS -->
<script src="{{'assets/profile/js/particles.min.js'| theme}}"></script>
<script src="{{'assets/profile/js/particles-config.js'| theme}}"></script>
<!-- Parallax JS -->
<script src="{{'assets/profile/js/parallax.min.js'| theme}}"></script>
<!-- Slick carousel -->
<script src="{{'assets/profile/js/slick.min.js'| theme}}"></script>
<!-- Bootstrap Validator -->
<script src="{{'assets/profile/js/validator.js'| theme}}"></script>
<!-- Contact form -->
<script src="{{'assets/profile/js/contact.js'| theme}}"></script>
<!-- Talib Template JS -->
<script src="{{'assets/profile/js/custom.js'| theme}}"></script>
{% endput %}