title = "Decor Orders"
url = "/my-account/decor-orders"
layout = "dashboardLayout2"
is_hidden = 0

[session]
security = "users"
[Cart]
[Projects]
[Decororders]
==

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">          
            {% component 'Decororders' %}
        </div>
    </div>
</div>

