title="Book Decor & Pay"
url="/decor-confirm-pay/:id?"
layout="default"
[Cart]
[Shop]
[PaystackPaymentDecor]
[Checkout]
==
{% set order = PaystackPaymentDecor.order %}
{% set transRef = PaystackPaymentDecor.transRef %}
{% set secretKey = PaystackPaymentDecor.secretKey %}
<section class="grid-shop blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="height:100px">
                
            </div>       
        </div>
    </div>
</section>
<section class="grid-shop blog">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <img class="img img-responsive" src="{{'assets/images/buy.jpg'|theme}}" alt="">
                </div>
            </div> 
            <div class="col-md-6">
                <div class="">
                    <h3 style="margin-top:0px">Confirm and Pay</h3>
                    <h5>Order Summary</h5><br/>
                    <p><b>Name: </B>{{order.f_name}} {{order.l_name}}<br/> <b>Number: </b>{{order.phone}}<br/><b>Email: </b>{{order.email}}<br/><b>Message: </b>{{order.message}}<br/>
                    <p>You selected <b>{{order.user.name}} {{order.user.surname}}</b> as your interior designer and the <b>{{order.package.package_name}} Package</b></p>

                <h4>Total: NGN {{order.amount | number_format('2','.',',')}}</h4>
                <p><strong>Pay</strong> with the button below</p>
                    <div style="margin-top:10px;">
                        “Be faithful to your own taste, because nothing you really like is ever out of style.”
                        <em> - Billy Baldwin</em><br/><br/>

                        
                    </div>
                </div>
            </div>       
        </div>
           
            
    </div>
</section>
<section class="grid-shop blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="height:20px">
                
            </div>       
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form data-request="onRedirectToGateway" method='POST'>
                    <input type="hidden" name="email" value="{{order.email}}"> 
                    <input type="hidden" name="orderID" value="{{order.id}}">
                    <input type="hidden" name="amount" value="{{order.amount * 100}}"> 
        {# <input type="hidden" name="quantity" value="3"> #}
        {# <input type="hidden" name="metadata" value="{{ json_encode($array = ['key_name' => 'value',]) }}" >  #}
                    <input type="hidden" name="reference" value="{{ transRef }}"> 
                    <input type="hidden" name="key" value="{{ secretKey }}"> 
                    {{ form_token() }}
                    <button class="btn btn-success btn-lg btn-block" style="background-color:#333 !important; color:#fff; border: solid #333; border-radius:0px" type="submit" value="Pay Now!">
                        <i class="fa fa-plus-circle fa-lg"></i> Pay to Book Now!
                    </button>
                </form>
            </div>

            <div style="height:100px !important"></div>
        </div>
    </div>
</section>






