title = "Decor Order Details"
url = "/my-account/decor-orders/:slug"
layout = "dashboardLayout2"
is_hidden = 0

[session]
security = "users"
[Cart]
[Projects]
[Orders]
[Decororderdetails]
==
{% set order = Decororderdetails.orderDetails %}

<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
                <p>Total: <b>NGN {{order.amount|number_format(2, '.', ',')}}</b></p>
                {% component 'Decororderdetails' total=order.amount order=order %}
          
    </div>
    </div>
</div>

