title = "Delivery Terms"
url = "/delivery-terms"
layout = "default"
is_hidden = 0
[Cart]
[account]
==
<main class="btx-content btx-content--with-header" id="main">
    <article id="post-12261" class="btx-content-wrapper post-12261 page type-page status-publish hentry">
        <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme btx-fade-content faded"
            data-role="header" data-scheme="dark">
            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="1" data-mobileparallax="">
                <div class="btx-background-wrapper" style="height: 331px; transform: translateY(28px);">
                    <div class="btx-background-inner" style="background-image:url({{'assets/images/pexels-photo-511359.jpeg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                </div>
                <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
            </div>
            <div class="btx-page-hero-inner btx-container">
                <div class="btx-page-hero-wrapper btx-center-align">
                    <div class="btx-page-hero-content btx-middle-vertical">
                        <div class="btx-page-hero-content-wrapper btx-center-align">
                            <div class="btx-page-hero-body">
                                <div class="btx-page-hero-body-title">
                                    <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font">Delivery Terms</h1>
                                </div>
                                <div class="btx-page-hero-divider">
                                    <div class="btx-page-hero-divider-inner btx-s-text-bg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="btx-main btx-main--single">
            <div class="btx-main-wrapper">
                <div class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#ffffff; opacity:0.9;"></div>
                    </div>
                    <div class="btx-section-wrapper">
                        <div class="btx-container">
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-light-scheme">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#ffffff; opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:30px; padding-right:12%; padding-left:12%; padding-bottom:80px;">
                                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner"> Deliveries are grouped into three classes:</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-table btx-table btx-table--minimal btx-left-align">
                                                        <table>
                                                            <thead class="btx-p-brand-border">
                                                                <tr>
                                                                    <th>Category</th>
                                                                    <th>Description</th>
                                                                    <th>Approx Delivery Period</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="btx-p-brand-border">
                                                                <tr class="btx-table-body-row ">
                                                                    <td style="width:30%;">Class A</td>
                                                                    <td style="width:53%;">Items are available for immediate delivery.</td>
                                                                    <td style="width:17%;">7 to 10 Days</td>
                                                                </tr>
                                                                <tr class="btx-table-body-row btx-s-bg-bg">
                                                                    <td style="width:30%;">Class B</td>
                                                                    <td style="width:53%;">ON-CALL: Items are available for immediate shipment at
                                                                        International Logistics Centres.</td>
                                                                    <td style="width:17%;">4 to 6 Weeks</td>
                                                                </tr>
                                                                <tr class="btx-table-body-row ">
                                                                    <td style="width:30%;">Class C</td>
                                                                    <td style="width:53%;">In Production: Applicable to large Project purchases
                                                                        with predefined lead times.</td>
                                                                    <td style="width:17%;">12 to 16 Weeks</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">Delivery category and estimated delivery times are communicated
                                                                        before orders are confirmed and payment made.
                                                                        <br>
                                                                        <br>N.B:&nbsp;
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <ul class="btx-text-bullet" style="list-style:circle; list-style-position:inside;">
                                                                        <li>Lagos, Abuja &amp; PH: Orders are delivered to your
                                                                            Project Site.</li>
                                                                        <li>Other parts of Nigeria: Orders are delivered to designated
                                                                            Centres in each State for pick up.</li>
                                                                        <li>Please See: “Terms and Conditions” for further information.</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>

