title = Error
url = "/error"
layout = "default"
is_hidden = 0
[Cart]
[account]
[session]
==
<main class="btx-content btx-content--no-header" id="main">
            <article id="post-1267" class="btx-content-wrapper post-1267 page type-page status-publish hentry">

                <div class="btx-main2 btx-main--single">
                    <div class="btx-main-wrapper">
                        <section class="btx-section js-dynamic-navbar btx-p-border-border btx-dark-scheme btx-section--fit-height" data-index="0" data-scheme="dark">
                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-wrapper">
                                    <div class="btx-background-inner" style="background-image:url({{'assets/images/Homepageimages/p12.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                                </div>
                                <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.7;"></div>
                            </div>
                            <div class="btx-section-wrapper">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">

                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:2px;"><span class="font-style font-style-big" style="font-size: 120px;"><span style="font-weight: bold;">Oops!</span><br></span></h3>
                                            </div>

                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align btx-uppercase">
                                                <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:-0.01em;"><span class="font-style" style="font-size: 30px;"><span style="font-weight: bold;">Something unexpected happened</span></span></h3>
                                            </div>

                                            <div class="btx-item js-item-space btx-space" style="height:20px;"></div>

                                            <div class="btx-item js-item-text btx-text btx-center-align btx-custom_c-font">
                                                <div class="btx-row" style="margin:0 -30px;">

                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <span class="font-style" style="font-size: 18px;"><span style="color: rgb(255, 255, 255);">Perhaps you may return to the homepage and start browsing. <br />Contact us if the problem persists</span>
                                                            <br>
                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align">
                                                <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:320px; height:1px; background-color:#aaaaaa;">
                                                </div>
                                            </div>

                                            <div class="btx-item js-item-button btx-button btx-button--border btx-center-align btx-button-size--medium btx-button-hover--inverse btx-button-color--basic">
                                                <a href="{{'home'|page}}" class="btnx" style="border-radius:40px; border-width:1px;">

                                                    <i class="fa fa-arrow-left btx-icon--before"></i> Back to Homepage
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </article>
        </main>