title = "faqs"
url = "/faqs" 
layout = "default" 
is_hidden = 0 
[Cart] 
[account] 
==

<main class="btx-content btx-content--with-header" id="main">
    <article id="post-1249" class="btx-content-wrapper post-1249 page type-page status-publish hentry">
        <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme" data-role="header"
            data-scheme="dark">
            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
            </div>
            <div class="btx-page-hero-inner btx-container">
                <div class="btx-page-hero-wrapper btx-center-align">
                    <div class="btx-page-hero-content btx-middle-vertical">
                        <div class="btx-page-hero-content-wrapper btx-center-align">
                            <div class="btx-page-hero-body">
                                <div class="btx-page-hero-body-title">
                                    <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font">FAQ’s</h1>
                                </div>
                                <div class="btx-page-hero-divider">
                                    <div class="btx-page-hero-divider-inner btx-s-text-bg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="btx-main btx-main--single">
            <div class="btx-main-wrapper">
                <div class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
                    </div>
                    <div class="btx-section-wrapper">
                        <div class="btx-container">
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-heading btx-heading btx-heading--breakline btx-center-align"
                                        style="margin-bottom:40px;">
                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="border-color:#222222; letter-spacing:-0.02em;">The answer to all your questions.</h3>
                                    </div>
                                    <div class="btx-item js-item-accordion btx-accordion btx-accordion--fill btx-left-align anmt-item anmt-fadeinu animated btx-opacity1"
                                        data-multiple="">
                                        <div class="btx-accordion-panel active ">
                                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                                data-mobileparallax="">
                                                <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                            </div>
                                            <div class="btx-accordion-heading btx-s-text-color btx-p-border-border btx-s-bg-bg"
                                                style="color:#222; background-color:#ffffff; border-width:1px; border-style:solid; border-color:#01a2dd;">
                                                <span class="btx-accordion-title">What is FFE.ng?</span>
                                                <span class="twf twf-angle-right"></span>
                                            </div>
                                            <div class="btx-accordion-body" style="padding-top: 30px; padding-bottom: 30px; display: block;">
                                                <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner"> FFE.ng is an online procurement platform for the Architecture, Engineering and Construction industry. It simplifies project procurement by providing a central point for sourcing products and services for Architecture, Engineering and Construction projects.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-accordion-panel ">
                                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                                data-mobileparallax="">
                                                <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                            </div>
                                            <div class="btx-accordion-heading btx-s-text-color btx-p-border-border btx-s-bg-bg"
                                                style="color:#222; background-color:#ffffff; border-width:1px; border-style:solid; border-color:#01a2dd;">
                                                <span class="btx-accordion-title">What can I do on the FFE.ng platform?</span>
                                                <span class="twf twf-angle-right"></span>
                                            </div>
                                            <div class="btx-accordion-body" style="padding-top:30px; padding-bottom:30px;">
                                                <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner"> You can do a number of things on the platform including:

<br>- Source for products for your construction and engineering projects.
<br>- Find professionals and companies to work on your projects.
<br>- Connect and collaborate with fellow AEC professionals.
<br>- Connect with potential clients.
<br>- Find AEC related jobs and opportunities.

<br>* AEC = Architecture, Engineering & Construction
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-accordion-panel ">
                                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                                data-mobileparallax="">
                                                <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                            </div>
                                            <div class="btx-accordion-heading btx-s-text-color btx-p-border-border btx-s-bg-bg"
                                                style="color:#222; background-color:#ffffff; border-width:1px; border-style:solid; border-color:#01a2dd;">
                                                <span class="btx-accordion-title">How can I list my products on the site?</span>
                                                <span
                                                    class="twf twf-angle-right"></span>
                                            </div>
                                            <div class="btx-accordion-body" style="padding-top:30px; padding-bottom:30px;">
                                                <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner">Your products can be listed on the FFE.ng platform if you are a Manufacturer or Authorised Distributor of building and construction products.
<br>
Please contact info@ffe.ng and we will get in touch with you accordingly.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-accordion-panel ">
                                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                                data-mobileparallax="">
                                                <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                            </div>
                                            <div class="btx-accordion-heading btx-s-text-color btx-p-border-border btx-s-bg-bg"
                                                style="color:#222; background-color:#ffffff; border-width:1px; border-style:solid; border-color:#01a2dd;">
                                                <span class="btx-accordion-title">How does FFE.ng benefit me?</span>
                                                <span class="twf twf-angle-right"></span>
                                            </div>
                                            <div class="btx-accordion-body" style="padding-top:30px; padding-bottom:30px;">
                                                <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner"> <b>If you are a Project Owner:</b> <br>  
<br>- Products on the site are from leading global and local manufacturers. You get the best prices and guaranteed quality when sourcing for these products on the platform.
<br>- You enjoy the convenience of on-site delivery for your orders.
<br>- With our 'Call for Tenders' feature, you are able to receive and evaluate competitive bids from multiple service providers for your projects, and choose the option that best suits your needs.
<br>- Get inspiration for your projects by exploring professional portfolios, design ideas and solutions across different project types.

<br>  <br> <b>If you are a Developer:</b> <br>
<br>- You can showcase and market your projects 'Free of Charge' to potential clients to further grow your business.
<br>- Products on the site are from leading global and local manufacturers. You get the best prices, guaranteed quality and installation support when sourcing for these products on the platform.
<br>- You can find professional talent to recruit to your team via the FFE.ng Professional Community.

<br><br> <b>If you are an Architecture, Engineering or Construction professional, you can:</b> <br>
<br>- Showcase your project portfolio, including designs and reference projects, and stand out to potential clients.
<br>- Connect with potential clients via the FFE.ng Community and in response to 'Call for Tenders' on the platform.
<br>- Source for materials for your projects via the platform. Products on the site are from leading global and local manufacturers, as such you receive best prices, guaranteed quality and installation support when sourcing for these products via the platform.

<br><br> <b>If you are a Manufacturer or Supplier you can:</b> <br>
<br>- Advertise your products and solutions directly to your target audience.
<br>- Access an addiitonal sales channel when your products are sold via the FFE.ng platform.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-accordion-panel ">
                                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                                data-mobileparallax="">
                                                <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                            </div>
                                            <div class="btx-accordion-heading btx-s-text-color btx-p-border-border btx-s-bg-bg"
                                                style="color:#222; background-color:#ffffff; border-width:1px; border-style:solid; border-color:#01a2dd;">
                                                <span class="btx-accordion-title">What types of products can be sourced on the FFE.ng platform</span>
                                                <span class="twf twf-angle-right"></span>
                                            </div>
                                            <div class="btx-accordion-body" style="padding-top:30px; padding-bottom:30px;">
                                                <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner"> Prooduct categories currently available on the platform include:

<br>- Sanitary and piping
<br>- Electrical and Lighting
<br>- Insulation and Drywall
<br>- Ventilation and Air Conditioning
<br>- Construction Chemicals
<br>- Fire Safety
<br>- Miscellaneous</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-accordion-panel ">
                                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                                data-mobileparallax="">
                                                <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                            </div>
                                            <div class="btx-accordion-heading btx-s-text-color btx-p-border-border btx-s-bg-bg"
                                                style="color:#222; background-color:#ffffff; border-width:1px; border-style:solid; border-color:#01a2dd;">
                                                <span class="btx-accordion-title">How can we inspect items before ordering?</span>
                                                <span
                                                    class="twf twf-angle-right"></span>
                                            </div>
                                            <div class="btx-accordion-body" style="padding-top:30px; padding-bottom:30px;">
                                                <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner"> Please get in touch with us on:

<br>+234 810 0800 5500 OR info@ffe.ng
</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-accordion-panel ">
                                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                                data-mobileparallax="">
                                                <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                            </div>
                                            <div class="btx-accordion-heading btx-s-text-color btx-p-border-border btx-s-bg-bg"
                                                style="color:#222; background-color:#ffffff; border-width:1px; border-style:solid; border-color:#01a2dd;">
                                                <span class="btx-accordion-title">Are there installation services available with items sourced on the platform?</span>
                                                <span class="twf twf-angle-right"></span>
                                            </div>
                                            <div class="btx-accordion-body" style="padding-top:30px; padding-bottom:30px;">
                                                <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner"> Please get in touch with us on:

<br>+234 810 0800 5500 OR info@ffe.ng
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-accordion-panel ">
                                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                                data-mobileparallax="">
                                                <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                            </div>
                                            <div class="btx-accordion-heading btx-s-text-color btx-p-border-border btx-s-bg-bg"
                                                style="color:#222; background-color:#ffffff; border-width:1px; border-style:solid; border-color:#01a2dd;">
                                                <span class="btx-accordion-title">How can I find professionals and service providers on the site?</span>
                                                <span class="twf twf-angle-right"></span>
                                            </div>
                                            <div class="btx-accordion-body" style="padding-top:30px; padding-bottom:30px;">
                                                <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner">The FFE.ng community is made up of professionals and firms across the Architecture, Engineering and Construction industries. To find Professionals or Firms, simply browse or search the platform as required. You can also invite firms and professionals to tender for your project using the 'Call for Tenders' feature on the site.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-accordion-panel ">
                                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                                data-mobileparallax="">
                                                <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                            </div>
                                            <div class="btx-accordion-heading btx-s-text-color btx-p-border-border btx-s-bg-bg"
                                                style="color:#222; background-color:#ffffff; border-width:1px; border-style:solid; border-color:#01a2dd;">
                                                <span class="btx-accordion-title">Who can use FFE.ng?</span>
                                                <span class="twf twf-angle-right"></span>
                                            </div>
                                            <div class="btx-accordion-body" style="padding-top:30px; padding-bottom:30px;">
                                                <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner"> Everyone with an interest in the Architecture, Engineering and Construction industry. From clients to Developers, Architects, Contractors and other professionals.
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-accordion-panel ">
                                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                                data-mobileparallax="">
                                                <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                            </div>
                                            <div class="btx-accordion-heading btx-s-text-color btx-p-border-border btx-s-bg-bg"
                                                style="color:#222; background-color:#ffffff; border-width:1px; border-style:solid; border-color:#01a2dd;">
                                                <span class="btx-accordion-title">Is it free to Use and/or Sign Up?</span>
                                                <span class="twf twf-angle-right"></span>
                                            </div>
                                            <div class="btx-accordion-body" style="padding-top:30px; padding-bottom:30px;">
                                                <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner"> Yes. Signing up to the FFE.ng platform is free.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-accordion-panel ">
                                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                                data-mobileparallax="">
                                                <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                            </div>
                                            <div class="btx-accordion-heading btx-s-text-color btx-p-border-border btx-s-bg-bg"
                                                style="color:#222; background-color:#ffffff; border-width:1px; border-style:solid; border-color:#01a2dd;">
                                                <span class="btx-accordion-title">Where are products delivered to?</span>
                                                <span class="twf twf-angle-right"></span>
                                            </div>
                                            <div class="btx-accordion-body" style="padding-top:30px; padding-bottom:30px;">
                                                <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner"> Products are either delivered to site or to a delivery hub for final pick up.

<br>Please get in touch with us on:

<br>+234 810 0800 5500 OR info@ffe.ng
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-accordion-panel ">
                                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                                data-mobileparallax="">
                                                <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                            </div>
                                            <div class="btx-accordion-heading btx-s-text-color btx-p-border-border btx-s-bg-bg"
                                                style="color:#222; background-color:#ffffff; border-width:1px; border-style:solid; border-color:#01a2dd;">
                                                <span class="btx-accordion-title">Can purchased items be returned?</span>
                                                <span class="twf twf-angle-right"></span>
                                            </div>
                                            <div class="btx-accordion-body" style="padding-top:30px; padding-bottom:30px;">
                                                <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner"> Only in the case of a manufacturer’s defect or where the wrong item has been supplied.
Returns for other reasons, such as a change of mind, are unfortunately Not Accepted.
Items with manufacturer’s defects will be Replaced NOT Refunded.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-accordion-panel ">
                                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                                data-mobileparallax="">
                                                <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                            </div>
                                            <div class="btx-accordion-heading btx-s-text-color btx-p-border-border btx-s-bg-bg"
                                                style="color:#222; background-color:#ffffff; border-width:1px; border-style:solid; border-color:#01a2dd;">
                                                <span class="btx-accordion-title">What are the available payment options?</span>
                                                <span class="twf twf-angle-right"></span>
                                            </div>
                                            <div class="btx-accordion-body" style="padding-top:30px; padding-bottom:30px;">
                                                <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner"> PPayment options for products sourced on the platform include:

<br>- Purchase Order
<br>- Cash
<br>- Cheque
<br>- Bank Transfers
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-accordion-panel ">
                                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                                data-mobileparallax="">
                                                <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                            </div>
                                            <div class="btx-accordion-heading btx-s-text-color btx-p-border-border btx-s-bg-bg"
                                                style="color:#222; background-color:#ffffff; border-width:1px; border-style:solid; border-color:#01a2dd;">
                                                <span class="btx-accordion-title">What are the available delivery options?</span>
                                                <span class="twf twf-angle-right"></span>
                                            </div>
                                            <div class="btx-accordion-body" style="padding-top:30px; padding-bottom:30px;">
                                                <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner"> We have 3 Delivery Classes:

<br>a. CLASS A: Items are Available Immediately: Delivery is typically within 7 to 10 Days.

<br>b. CLASS B: Items are On-Call at International Logistics Centres: Delivery is typically within 4 to 6 Weeks.

<br>c. CLASS C: Factory Batch Orders: These mainly apply to larger projects with predefined lead times. Delivery is typically within 12 to 16 Weeks.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main btx-row--no-spacing">
                                <div class="btx-col-4">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-box--fit-height btx-light-scheme"
                                        style="border-top-width:1px; border-bottom-width:1px; border-left-width:1px;" data-screen_percent="20">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="5" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                        </div>
                                        <div class="btx-box-inner" style="height: auto; line-height: inherit;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:auto;">
                                                <div class="btx-box-body" style="padding-top:60px; padding-right:40px; padding-left:40px; padding-bottom:36px;">
                                                    <div class="btx-item js-item-feature btx-feature btx-feature--top btx-center-align"
                                                        style="margin-top:30px; margin-bottom:30px;">
                                                        <div class="btx-feature-content">
                                                            <div class="btx-row" style="margin:0 -15px;">
                                                                <div class="btx-feature-item btx-p-border-border btx-col-12"
                                                                    style="padding:0 15px;">
                                                                    <div class="btx-feature-media">
                                                                        <div class="btx-media-wrapper">
                                                                            <div class="btx-media-wrapper-inner">
                                                                                <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--x-large">
                                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color"
                                                                                        style="color:#01a2dd;">
                                                                                        <i class="twf twf-et-map-pin"></i>
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-feature-body">
                                                                        <div class="btx-feature-title btx-s-text-color btx-secondary-font"
                                                                            style="letter-spacing:-0.01em;">Email Support</div>
                                                                        <div class="btx-feature-description">No.1 Towry Close, Off Idejo Street,
                                                                            <br>Victoria Island, Lagos.
                                                                            <br>Nigeria.&nbsp;</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-4">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-box--fit-height btx-light-scheme"
                                        style="border-top-width:1px; border-bottom-width:1px; border-left-width:1px; border-right-width:1px;"
                                        data-screen_percent="30">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="5" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                        </div>
                                        <div class="btx-box-inner" style="height: auto; line-height: inherit;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:auto;">
                                                <div class="btx-box-body" style="padding-top:60px; padding-right:40px; padding-left:40px; padding-bottom:60px;">
                                                    <div class="btx-item js-item-feature btx-feature btx-feature--top btx-center-align"
                                                        style="margin-top:30px; margin-bottom:30px;">
                                                        <div class="btx-feature-content">
                                                            <div class="btx-row" style="margin:0 -15px;">
                                                                <div class="btx-feature-item btx-p-border-border btx-col-12"
                                                                    style="padding:0 15px;">
                                                                    <div class="btx-feature-media">
                                                                        <div class="btx-media-wrapper">
                                                                            <div class="btx-media-wrapper-inner">
                                                                                <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--x-large">
                                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color"
                                                                                        style="color:#01a2dd;">
                                                                                        <i class="twf twf-et-chat"></i>
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-feature-body">
                                                                        <div class="btx-feature-title btx-s-text-color btx-secondary-font"
                                                                            style="letter-spacing:-0.01em;">
                                                                            <span class="font-style" style="font-size: 18px;">Let's Talk</span>
                                                                        </div>
                                                                        <div class="btx-feature-description">Office 1: (+234) 081 0800 5500
                                                                            <br>Office 2: (+234) 070 3048 0381</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-4">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-box--fit-height btx-light-scheme"
                                        style="border-top-width:1px; border-bottom-width:1px; border-right-width:1px;" data-screen_percent="30">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="5" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#ffffff; opacity:1;"></div>
                                        </div>
                                        <div class="btx-box-inner" style="height: auto; line-height: inherit;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:auto;">
                                                <div class="btx-box-body" style="padding-top:60px; padding-right:40px; padding-left:40px; padding-bottom:60px;">
                                                    <div class="btx-item js-item-feature btx-feature btx-feature--top btx-center-align"
                                                        style="margin-top:30px; margin-bottom:30px;">
                                                        <div class="btx-feature-content">
                                                            <div class="btx-row" style="margin:0 -15px;">
                                                                <div class="btx-feature-item btx-p-border-border btx-col-12"
                                                                    style="padding:0 15px;">
                                                                    <div class="btx-feature-media">
                                                                        <div class="btx-media-wrapper">
                                                                            <div class="btx-media-wrapper-inner">
                                                                                <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--x-large">
                                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color"
                                                                                        style="color:#01a2dd;">
                                                                                        <i class="twf twf-et-envelope"></i>
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-feature-body">
                                                                        <div class="btx-feature-title btx-s-text-color btx-secondary-font"
                                                                            style="letter-spacing:-0.01em;">
                                                                            <span class="font-style" style="font-size: 18px;">
                                                                                <span style="color: rgb(34, 34, 34);">Email Inquiry</span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="btx-feature-description">General:
                                                                            <a href="https://ffe.ng/contact-us/">info@ffande.ng</a>
                                                                            <br>Careers:
                                                                            <a href="https://ffe.ng/contact-us/">hr@ffande.ng</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
