title = "This is Kokore"
url = "/home-items"
layout = "default"
is_hidden = 0

[Cart]
[Shop]
[session]
security = "all"

==
{% set prints = Shop.prints %}
{% set homeitems = Shop.homeItems %}
{% set productCategories = Shop.productCategories %}
{% set homeItemCategories = Shop.homeItemCategories %}
{% set category = Shop.category %}
{% set colorNames = Shop.colorNames %}
{% set colorFiles = Shop.colorFiles %}
{% set printSizes = Navigation.printSizes %}
<section class="grid-shop blog">

		<!-- .grid-shop -->
		<div class="container-fluid">
			<div class="row" style="padding-left:30px;">
				{# <div class="col-sm-2 col-md-2">
					
					<div class="weight">
						<div class="title"></div>
						<div class="categories" style="margin-top: -25px;">
						<ul>
							<li class="parentCategory activeCategory">Categories</li>
							{% for category in homeItemCategories %}
								<li><a href="#" class="childCategory" data-request="onCategoryPrints" data-request-data="slug:'{{subCategory.slug}}'">{{category.category_name}}</a></li>
							{% endfor %}
						</ul>
						</div>
					</div>
					{% spaceless %}
					<div class="weight">
						<div class="title">
							<h2>Color</h2>
						</div>
						{% for colorFile in colorFiles %}
							<img src="{{'assets/images/color-filter'|theme}}/{{colorFile}}" width="25" height="25" class="whitespace"/>
						{% endfor %}
					</div>
					{% endspaceless %}
					<div class="weight">
						<div class="title">
							<h2>Format</h2>
						</div>
						<div class="formatContainer">
							<label class="filterFormat portrait" for="">Portrait</label>
							<label class="filterFormat landscape" for="">Landscape</label>
							<label class="filterFormat square" for="">Square</label>
						</div>
					</div>
					<div class="weight">
						<div class="title">
							<h2>Size</h2>
						</div>
						{% for size in printSizes %}
							<label>{{size.size}}
								<input type="checkbox" value="{{size.slug}}" data-value="{{size.slug}}" data-id="{{size.id}}">
							</label>
						{% endfor %}
					</div>
				</div> #}
				<div class="col-sm-12 col-md-12">
					
						{% partial 'homeitems/homeitems-grid' homeitems=Shop.homeItems %}
					
						<div class="pagetions">
							{{ Shop.homeItems.render|raw }}
							<!-- .pagetions -->
							{# <div class="col-md-6">
								<ul>
									<li><a href="#">1</a></li>
									<li><a href="#" class="active">2</a></li>
									<li><a href="#">...</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
								</ul>
							</div> #}
							{# <div class="col-md-6 text-right"> <span>Showing 1-12 of 30 relults</span> </div> #}
							<!-- /.pagetions -->
						</div>
				
			</div>
		</div>
		<!-- /.grid-shop -->
	</section>
