title = "This is Kokore"
url = "/"
layout = "default"
is_hidden = 0

[Cart]
[Shop]
[account]
[Instagram]
[session]
[Newfav]
[myFavoritePosts]
[DisplaySingleProduct]
security = "all"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 4
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog-detail"
[Newsletterusers]
[SecondarySlider]
[homelink]

==

{% set cookie = Newsletterusers.newsletterCookie %}
<section class="banner-outer">
    <!-- .banner-outer -->
    {% component 'homelink' %}
    <!-- /.banner -->
</section>
<section class="new-arrivals">
    <!-- .new-arrivals -->
    <div class="container">
        <div class="tittle text-center">
            <h2>Trending Products</h2>
            {# <p>Mirum est notare quam littera gothica quam nunc putamus parum claram!</p> #}
        </div>
        <div class="row animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">
            {% partial 'Shop::homeprints' %}
            
        </div>
    </div>
    <!-- /.new-arrivals -->
</section>

{# <section class="banner-outer">
		<!-- .banner-outer -->
         <div class="tittle text-center">
            <h2>Our Blog Posts</h2>
            <p>Mirum est notare quam littera gothica quam nunc putamus parum claram!</p>
        </div>
		<div class="col-sm-6 col-md-6 homeblogitems" style="padding-left:0px;">
       
			<!-- .banner-img -->
			<div class="">
            {% for image in posts[0].featured_images|slice(0,1) %}
				<img src="{{image.path}}" alt="about-img1" width="950" height="457" class="featuredhome" />
            {% endfor %}
				<div class="banner-text2">
					<div class="banner-text3">
                    <h4><!--Products Essentials --> {{ posts[0].published_at|date('F d, Y') }}</h4>
					<h3> {{ posts[0].title }}</h3>
					<p> {{ str_limit(posts[0].excerpt|raw,131)}}</p>
                    </div>
					<p><a href="{{'blog'}}/post/{{ posts[0].slug }}">Read more</a></p>
				</div>
			</div>
			<!-- /.banner-outer -->
		</div>

		<div class="col-sm-6 col-md-6 homeblogitems">
			<!-- .banner-img -->
			<div class="">
            {% for image in posts[1].featured_images|slice(0,1) %}
				<img src="{{image.path}}" alt="about-img1" width="950" height="457" />
            {% endfor %}
				<div class="banner-text2">
                <div class="banner-text3">
					<h4><!--Products Essentials --> {{ posts[1].published_at|date('F d, Y') }}</h4>
					<h3>{{ posts[1].title }}</h3>
					<p> {{ str_limit(posts[1].excerpt|raw,131)}}</p>
                    </div>
					<p><a href="{{'blog'}}/post/{{ posts[1].slug }}">Read more <!-- <span>$196.98</span> --></a></p>
                
				</div>
			</div>
			<!-- /.banner-outer -->
		</div>
		<!-- /.banner -->
</section> #}
<section class="new-arrivals">
    <!-- .new-arrivals -->
    <div class="container">
        <div class="tittle text-center">
            <h2>Sale Off</h2>
            <p>Take advantage of Our products on Sale today!</p>
        </div>
        <div class="row animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s" style="margin:0 auto">
            {% partial 'Shop::homesales' %}
        </div>
    </div>
    <!-- /.new-arrivals -->
</section>
{# <section class="section-white">
    {% component 'SecondarySlider' %}
</section> #}


<section class="banner-outer" style="padding-bottom:50px">
 
        <div class="tittle text-center">
            <h2>Instagram Widget</h2>
            <p>A Quick Preview of Our Instagram Feed</p>
        </div>
        <div class="text-center">
            <div id="instafeed">
                
            </div>
        </div>
        <div class="row animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">
            
        </div>
  
</section>

    {% component 'Newsletterusers' %}

{% if not cookie %}
    {% partial 'site/newsletters' %}
{% endif %}
    
