title = "Product Details"
url = "/home-items/home-item/:slug?"
layout = "default"
is_hidden = 0

[DisplaySingleProduct]

[Cart]

[Newfav]
model_class = "\Ffande\Procurement\Models\Product"

[myFavoritePosts]
postPage = "blog/post"

[Ratings]

[account]
paramCode = "code"
forceSecure = 0
==
{% set product = DisplaySingleProduct.product %}
{# {% set relatedProduct = DisplaySingleProduct.relatedProducts %} #}
{% set peopleAlsoBought = DisplaySingleProduct.peopleAlsoBought %}
{% set frames = DisplaySingleProduct.frames %}
{% set sizes = DisplaySingleProduct.sizes %}
{% set colors = DisplaySingleProduct.colors %}
{% set printSizes = Navigation.printSizes %}
{% set prices = DisplaySingleProduct.prices %}
{% set ratings = DisplaySingleProduct.productRatings %}
{% set ratingValues = [7,6,5,4,3,2,1] %}

	<section class="grid-shop">
		<!-- product-bg -->
		<div class="product-detail-bg">

			<div class="container">
				<div class="bdr">
					<ul>
						<li><a href="{{'/'}}">Home</a></li>
						<li>/</li>
						<li><a href="{{'/prints-ajax'}}">Prints</a></li>
						<li>/</li>
						<li><span>{{product.product_name}}</span></li>
						
					</ul>
				</div>
				<div class="row">
					<!-- left side -->
					<div class="col-sm-6 col-md-6">
						<!-- product gallery -->
						<div id="home-slider3" class="carousel fadein carousel-fade" data-ride="carousel" data-interval="2500">
							<!-- .home-slider -->
							<div class="carousel-inner">
							{% if product.gallery is not empty %}
								{% for productImage in product.gallery %}
								<div class="item {% if productImage == product.gallery|first %} active {% endif %}">
									<div class="caption">
										<img src="{{productImage.path}}" alt="qoute-icon">
									</div>
								</div>
								{% endfor %}
							{% else %}
								<div class="item active">
									<div class="caption">
										<img src="{{product.product_image.path}}" alt="qoute-icon">
									</div>
								</div>
							{% endif %}
							
								
								{# <div class="item">
									<div class="caption">
										<img src="{{'assets/images/Products/11.jpg'|theme}}" alt="qoute-icon">
									</div>
								</div>
								<div class="item">
									<div class="caption">
										<img src="{{'assets/images/Products/8.jpg'|theme}}" alt="qoute-icon">
									</div>
								</div>
								<div class="item">
									<div class="caption">
										<img src="{{'assets/images/Products/16.jpg'|theme}}" alt="qoute-icon">
									</div>
								</div> #}
								<ul class="carousel-indicators">
									{% for productImage in product.gallery %}
										<li data-target="#home-slider3" data-slide-to="{{productImage.id}}" {% if productImage == product.gallery|first %} class="active" {% endif %}> <img src="{{productImage.path}}" alt="qoute-icon"></li>
									{% endfor %}
									
									{# <li data-target="#home-slider3" data-slide-to="1"> <img src="{{'assets/images/Products/11.jpg'|theme}}" alt="qoute-icon"></li>
									<li data-target="#home-slider3" data-slide-to="2"> <img src="{{'assets/images/Products/8.jpg'|theme}}" alt="qoute-icon"></li>
									<li data-target="#home-slider3" data-slide-to="3"> <img src="{{'assets/images/Products/16.jpg'|theme}}" alt="qoute-icon"></li> #}
								</ul>
							</div>
							<!-- /.home-slider -->
						</div>
						<!-- / product gallery -->
					</div>
					<!-- left side -->
					<!-- right side -->
					<div class="col-sm-6 col-md-6">
						<!-- .pro-text -->
						<div class="pro-text product-detail">
							<!-- /.pro-img -->
							<a href="#">
								<h4>{{product.product_name}} <span style="font-size:10px" class="pull-right"> <span ><i class="fa fa-heart"></i></span>&nbsp; {{product.favorites_count}}</span></h4> 
								{% if product.user %} <a href="{{'profile'|page({'display_name':product.user.display_name})}}">by <span style="color:#f0ad4e !important; font-weight:450 ">{{product.user.display_name}} </span></a> {% endif %}
							</a>
							<div class="star2">
								<ul>
									
                                {{'<li><i class="fa fa-star"></i></li>' | str_repeat((DisplaySingleProduct.averageRating)|round(1,'floor')) }}
                                {{'<li><i class="fa fa-star-o"></i></li>' | str_repeat(7 - ((DisplaySingleProduct.averageRating)|round(1,'ceil'))) }}
                            {# <li><i class="fa fa-star-o"></i></li> #}
									
									<li><a href="#">{{ratings|length}} review(s)</a></li>
									<li> <a data-target="#menu2" data-toggle="menu2" href="#reviews">Add your review</a></li>
								</ul>
							</div>
							{% if  product.sale_off %}
								<p class="price-detail" id='productbaseprice'>NGN {{product.price - product.price * product.sale_amount / 100}} <span class="sale">NGN {{product.price}}</span>
									{% if product.out_of_stock %}
										<span style="font-size:10px; text-decoration:none">{# <span class="woocommerce-Price-currencySymbol"></span> #} Out of Stock</span> 
									{% endif %}
								</p> 
							{% else %}
								<p class="price-detail" id='productbaseprice'>NGN {{product.price}}
									{% if product.out_of_stock %}
										<span style="font-size:10px; text-decoration:none">{# <span class="woocommerce-Price-currencySymbol"></span> #} Out of Stock</span> 
									{% endif %}
								</p>
							{% endif %}
                                            
							{# <p class="price-detail" id='productsizeprice'></p> #}
							{% if product.product_description %}
								{{product.product_description|raw}}
							{% else %}
								{{product.product_excerpt|raw}}
							{% endif %}
							{# <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
							<ul class="short-ul">
								<li>Claritas est etiam processus dynamicus.</li>
								<li>Qui sequitur mutationem consuetudium lectorum. </li>
								<li>Claritas est etiam processus dynamicus.</li>
							</ul> #}
							<form {% if product.homeitem %} data-request="onAddHomeItemToDbCart" {% else %} data-request="onAddToDBCart" {% endif %} data-request-flash class="cart" method="post" enctype='multipart/form-data'>
										<div id="priceupdate">
											<input type="hidden" name='price' value="{{product.price}}">
										</div>	
										<input type="hidden" name='product' value='{{product.id}}'>
							{% if product.categories[0].slug == 'grids' %}
										<div class="size">
											<p>Color *</p>
											<div class="select-option">
												<select name="color">
												 <option value="">- Please select -</option>
													{% for color in product.colors %}
														<option value="{{color.id}}">{{color.color}}</option>
													{% endfor %}
                                      
                                   				 </select>
											</div>
										</div>
										{% endif %}
							{% if not product.homeitem %}
							<div class="size">
								<p>Size *</p>
								<div class="select-option">
									{% set productSizes = DisplaySingleProduct.productSizes %}
									
									<select id="sizeselect2" name="size">
										<option value="">- Please select -</option>

										{% for size,price in productSizes %}
											{# <option data-request="onSizeSelect" data-request-data="sizeprice:{{size.price}}" data-price="{{size.price}}" value="{{size.size.slug}}">{{ size.size.size }}</option> #}

											<option data-request="onSizeSelect" data-request-data="sizeprice:{{price}}" data-price="{{price}}" value="{{size}}">{{size}}</option>
                                       		
									   {% endfor %}
                                       
                                    </select>
									
								</div>
							</div>

							<div class="size">

								
								<p>Frame *</p>
								<div>
									{% for frame in frames %}
										<img src="{{frame.frame_image.path}}" alt="{{frame.frame}}" width="90">
									{% endfor %}
								</div>
								<div class="select-option">
									<select name="frame">
										<option value="Featured Pots">- Please select -</option>
										{% for frame in frames %}
                                       <option value="{{frame.id}}">{{frame.frame}}</option>
									   {% endfor %}
                                    </select>
								</div>
							</div>
							{% endif %}
							
								<div class="numbers-row">
									<input type="number" name="quantity" id="french-hens" value="1">
								</div>
							{% if not product.out_of_stock %}
								{# {% if user %} #}
									<button type="submit" class="addtocart2">Add to cart</button>
								{# {% else %}
									<a href="#" data-toggle="modal" class="addtocart2" data-target="#logRegModal">+ Add to cart</a>
								{% endif %} #}
							{% endif %}
							</form>
							{% if user %}
												{% component 'Newfav' print_id = product.id %}
											{% endif %}
							{# <a href="#" class="hart"><i class="fa fa-heart-o" aria-hidden="true"></i></a> #}
							{# <a href="#" class="hart"><i class="fa fa-sliders" aria-hidden="true"></i></a> #}
							<div class="tag">
								
								<p>Categories: <span>{% for category in product.categories %} {{category.category_name}}  {% endfor %}</span></p>
								{# <p>Tag: <span>outerwear.</span></p> #}
							</div>
							<div class="share">
								<ul>
									<li>Share:</li>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									{# <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li> #}
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
									{# <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li> #}
								</ul>
							</div>

						</div>
						<!-- /.pro-text -->
					</div>
				</div>
			</div>

		</div>
		<!-- / product-bg -->

		<!-- .grid-shop -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-sm-3 col-md-3">
							<div class="tab-bg2" id="reviews">
								<ul>
									<li class="active"><a data-toggle="tab" href="#home">Description</a></li>
									{% if product.homeitem %}<li><a data-toggle="tab" href="#menu1">ADDITIONAL INFORMATION</a></li>{% endif %}
									<li><a data-toggle="tab" href="#menu2">Reviews ({{ratings|length}})</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-9">
							<div class="tab-content tab-content2">
								<div id="home" class="tab-pane fade in active">
									{% if product.out_of_stock %}
										<span style="font-size:12px; text-decoration:none">
											This product is currently out of stock. Check back later or <strong><a href="/customized">contact us</a> </strong>
										</span> 
                                    {% endif %}
									{{product.product_description|raw}}

								</div>
								{% if product.homeitem %}<div id="menu1" class="tab-pane fade">
									{{product.product_excerpt|raw}}
								</div> {% endif %}
								<div name="menu2" id="menu2" class="tab-pane fade">
																

								
									
									{# <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when anunknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages..</p> #}
									{% if ratings|length > 0 %}
									<ul>
										{% for rating in ratings %}
											<li><strong style="font-size:11px">{{user.display_name}}&nbsp</strong> - {{rating.comment}} <span>
                            <ul class="list-styles raitings-stars p-left10 inl-flex" style="">
                                {{'<li><i class="fa fa-star"></i></li>' | str_repeat((rating.rating)|round(1,'floor')) }}
                                {{'<li><i class="fa fa-star-o"></i></li>' | str_repeat(7 - (rating.rating)|round(1,'floor')) }}
                            </ul>
                        </span></li>
										{% endfor %}
										{# <li>Qui sequitur mutationem consuetudium lectorum. </li>
										<li>Claritas est etiam processus dynamicus.</li>
										<li>Qui sequitur mutationem consuetudium lectorum. </li>
										<li>Claritas est etiam processus dynamicus.</li>
										<li>Qui sequitur mutationem consuetudium lectorum. </li> #}
									</ul>
									{% else %}
									<p>There are no reviews for this product at the moment. Be the first to review</p>
									{% endif %}
									{# <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release.</p> #}
								
								<hr>
								{% if user %}
								<form class="el-form-1 raiting-post f-left" style="width:100%" id="el-form-1" method="post" value="onRate" data-request="onRate" >
									<div class="write-comment-raiting font13 semibold color777 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s"> 
									<input type="hidden" name="product_id" value="{{product.id}}">
									<label for="rate">Rate</label>
									<div style="float:left; display:block !important"> 
									<ul class="list-styles raitings-stars rating inl-flex">
			{% for rating in ratingValues %}
				 <label>
    				<input type="radio" onclick="rate({{rating}})" name="rating" value="{{rating}}" title="{{rating}} stars"> 5
  				</label>
			{% endfor %}
		</ul>	
		</div>
<br> <br>
									<label for="comment">Review</label>
									<textarea class="form-control" rows="5" placeholder="Write a Review" id="comment" name="comments"></textarea>
									<br>
									<input name="submit" id="submit" class="btn btn-secondary" value="Review Product" type="submit">
								    </div>
								</form>
								{% else %}
								<p>Please <a href="/login">login</a> or <a href="/register">register</a> to leave a review </p>
								{% endif %}
								</div>
							</div>
						</div>
						<!-- / right side -->
					</div>
				</div>
			</div>
		</div>
		<!-- /.grid-shop -->
	</section>
	<section>
		<!-- .Related Products -->
		<div class="container">
			<div class="tittle text-center">
				<h2>People also bought</h2>
			</div>
			<div class="row">
				<div class="row wow zoomIn  animated" data-wow-duration=".5s" data-wow-delay=".2s">
					{% for relatedProduct in peopleAlsoBought %}
                    <div class="col-md-3">
						<!-- .pro-text -->
						<div class="pro-text">
							<!-- .pro-img -->
							<div class="pro-img relatedProduct"> <img class="" src="{{relatedProduct.product.product_image.path}}">
								<!-- .hover-img -->
								<div class="hover-img">
									<ul>
										<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
										{# <li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li> #}
										{# <li><a href="#" data-toggle="modal" data-request="onView" data-request-data="slug: '{{relatedProduct.product.slug}}'" data-target="#quickModal" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li> #}
									</ul>
								</div>
								<!-- /.hover-img -->
							</div>
							<!-- /.pro-img -->
							
							
							<a href="{{'product-details'|page({'slug':relatedProduct.product.slug})}}">{{relatedProduct.product.product_name}}</a> 
							
							
							<form id="myCart_form" data-request="onAddToDBCart" data-request-flash class="cart" method="post" enctype='multipart/form-data' style="display: inline-block">
										 <input type="hidden" name="quantity" value="1" />
									 <input type="hidden" name="product" value="{{relatedProduct.product.id}}" />
							 {# {% if relatedProduct.product.homeitem %}
										<a href="/home-items/home-item/{{relatedProduct.product.slug}}" class="addtocart">+ View</a>
									 {% else %}
									 	<a href="#" class="addtocart" data-toggle="modal" data-target="#quickModal" data-request="onView" data-request-data="slug: '{{relatedProduct.product.slug}}'" data-whatever="@mdo">+ Add to cart</a>
									 {% endif %} #}
							{# <button class="addtocart2" style="background-color:#000; color:#fff">+ Add to cart</button> #}
							</form>
							{% if relatedProduct.product.homeitem %}
								<div class="price">{{relatedProduct.product.price}}</div>
								
							{% else %}
								<div class="price">{{relatedProduct.product.base_price.base_price}}</div>
							{% endif %}
						</div>
						<!-- /.pro-text -->
					</div>
                    {% endfor %}
				</div>
			</div>
		</div>
		<!-- /.Related Products -->
	</section>

	<script>
		$('.submit').click(function(e) {
    e.preventDefault();
    $(this).closest('form').submit();
}); 
	</script>
	<script type="text/javascript">
			var product = {{product|json_encode()|raw}};
			//var urlBase = "themes/jambolo/";
			var assetsBaseDir = "{{ asset('themes/materialist/assets/') }}";
		</script>
	<script type="text/javascript">
			var dataRequestParams = {};
			dataRequestParams.product_id = artisan.id;
			dataRequestParams.user_id = {{user.id|json_encode|raw}};
			var rateValue;
			function rate(rating){
				rateValue = rating;
				console.log(rating);
				dataRequestParams.rate = rateValue;
				console.log(dataRequestParams);
			}

			function changeDataRequestAttributes(){
					dataRequestParams.comments = $('#comment').val();
         			$('#el-form-1').attr('data-request-data', JSON.stringify(dataRequestParams));
         			$('#el-form-1').removeData('request-data');			
				//$('#el-form-1').attr('data-request-data', 'service:'+service+',quality:'+quality+',pricing:'+pricing+',artisan_id:'+artisan.id);
			}



		</script>