title = "Job"
url = "/jobs/job/:slug"
layout = "default"
[CallForTenders]
[Cart]
==

<main class="btx-content btx-content--with-header" id="main">

<article id="post-221" class="btx-content-wrapper post-221 page type-page status-publish hentry">

                <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme" style="height:60vh;" data-role="header" data-scheme="dark">
                    <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-wrapper">
                            <div class="btx-background-inner" style="background-image:url({{'assets/images/jobs.jpeg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                        </div>
                        
                        <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#333; opacity:0.4;"></div>
                    </div>
                    <div class="btx-page-hero-inner btx-container">
                        <div class="btx-page-hero-wrapper btx-center-align">
                            <div class="btx-page-hero-content btx-middle-vertical">
                                <div class="btx-page-hero-content-wrapper btx-center-align" style="max-width:550px;">

                                    <div class="btx-page-hero-body">

                                        <div class="btx-page-hero-body-title">
                                            <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.02em; font-weight: 300">Jobs Board</h1>
                                        </div>

                                    <div class="btx-page-hero-subtitle btx-page-hero-subtitle--bottom btx-primary-font"><span style="color: rgb(255, 255, 255);">{{CallForTenders.job.title}}</span></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
</article>
<div class="btx-main btx-main--single">
                    <div class="btx-main-wrapper">
    <div class="container-fluid">
    <div class="row">
    
        <div class="btx-col-12">
        
            <div class="header">
            
                <p class="category"></p>
            </div>
            <div class="content">
                {% partial 'tenders/job' %}
           </div>
        </div>
    
    </div>
</div>
</div>
</div>

</main>

