title = "Manufacturers and Suppliers"
url = "/manufacturers-and-suppliers"
layout = "default"
is_hidden = 0

[Cart]

[account]
paramCode = "code"
forceSecure = 0
==
<main class="btx-content btx-content--with-header" id="main">
            <article id="post-241" class="btx-content-wrapper post-241 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-print">

                <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme" style="height:60vh;"
            data-role="header" data-scheme="dark">
            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                <div class="btx-background-wrapper">
                    <div class="btx-background-inner" style="background-image:url({{'assets/images/manufacturers.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                </div>

                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#333; opacity:0.4;"></div>
            </div>
            <div class="btx-page-hero-inner btx-container">
                <div class="btx-page-hero-wrapper btx-center-align">
                    <div class="btx-page-hero-content btx-middle-vertical">
                        <div class="btx-page-hero-content-wrapper btx-center-align" style="max-width:550px;">

                            <div class="btx-page-hero-body">

                                <div class="btx-page-hero-body-title">
                                    <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.02em; font-weight: 300">Manufacturers & Suppliers</h1>
                                </div>

                                <!--  <div class="btx-page-hero-subtitle btx-page-hero-subtitle--bottom btx-primary-font"><span style="color: rgb(255, 255, 255);">Basic, yet versatile layout for any purpose. Use the aspect ratio option to help creating grid easily and beautifully.</span></div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

                <div class="btx-main2 btx-main--single">
                    <div class="btx-main-wrapper">
                       
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="1">
                            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#ffffff; opacity:1;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:120px; padding-bottom:120px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-8">

                                            <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                                <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                                    <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                                </div>
                                                <div class="btx-box-inner" data-height="">
                                                    <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                        <div class="btx-box-body" style="padding-right:5%;">

                                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                                <h3 class="btx-heading-text btx-custom_b-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;"><span style="font-weight: bold;">FOR MANUFACTURERS</span></h3>
                                                            </div>

                                                            <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align" style="margin-top:30px; margin-bottom:30px;">
                                                                <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;">
                                                                </div>
                                                            </div>

                                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                                <div class="btx-row" style="margin:0 -30px;">

                                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                        <div class="btx-text-content-inner">
                                                                            <span class="font-style" style="font-size: 14px;">The FFE.ng platform provides manufacturers of Architecture, Engineering and Construction related products and solutions with a direct and targeted access to Nigeria's nationwide project pipeline.

As the procurement platform for Nigeria's Built Environment, the platform provides clients and end users with a simple and transparent source for product research, specification and procurement for their projects.

<br></span> </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                                <div class="btx-row" style="margin:0 -30px;">

                                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                        <div class="btx-text-content-inner">
                                                                            Sign up here to register: <a href="{{'supplier-registration'|page}}">www.ffe.ng/supplier-registration</a> </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-col-4">

                                            <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-box--pinned" data-pinned="#project-brief">
                                                <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                                    <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                                </div>
                                                <div class="btx-box-inner" data-height="">
                                                    <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                        <div class="btx-box-body">

                                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                                <h3 class="btx-heading-text btx-custom_b-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;"><span style="font-weight: bold;">KEY BENEFITS</span><br></h3>
                                                            </div>

                                                            <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align" style="margin-top:30px; margin-bottom:30px;">
                                                                <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;">
                                                                </div>
                                                            </div>

                                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align" style="margin-bottom:5px;">
                                                                <h6 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:1px;"><span style="font-weight: bold;">DECISION MAKERS</span></h6>
                                                            </div>

                                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                                <div class="btx-row" style="margin:0 -30px;">

                                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                        <div class="btx-text-content-inner">
                                                                            Direct reach to key decision makers. </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align" style="margin-bottom:5px;">
                                                                <h6 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:1px;"><span style="font-weight: bold;">PROJECT PIPELINE</span><br></h6>
                                                            </div>

                                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                                <div class="btx-row" style="margin:0 -30px;">

                                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                        <div class="btx-text-content-inner">
                                                                            Access to the countrywide project pipeline. </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align" style="margin-bottom:5px;">
                                                                <h6 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:1px;"><span style="font-weight: bold;">LOGISTICS SUPPORT</span></h6>
                                                            </div>

                                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                                <div class="btx-row" style="margin:0 -30px;">

                                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                        <div class="btx-text-content-inner">
                                                                            All logistics related to getting products to the end-user are handled by FF&E.ng </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            {# <div class="btx-item js-item-share btx-share btx-share--minimal btx-center-align" style="margin-top:0px;">
                                                                <ul class="btx-social-share btx-social-share--minimal" style="font-size:14px;">
                                                                    <li class="btx-p-border-border btx-share-item">
                                                                        <a href="#" class="js-share btx-social-facebook" style="color:#898989;">Facebook</a>
                                                                    </li>
                                                                    <li class="btx-p-border-border btx-share-item">
                                                                        <a href="#" class="js-share btx-social-twitter" style="color:#898989;">Twitter</a>
                                                                    </li>
                                                                    <li class="btx-p-border-border btx-share-item">
                                                                        <a href="#" class="js-share btx-social-pinterest" style="color:#898989;">Pinterest</a>
                                                                    </li>
                                                                    <li class="btx-p-border-border btx-share-item">
                                                                        <a href="#" class="js-share btx-social-google-plus" style="color:#898989;">Google +</a>
                                                                    </li>
                                                                    <li class="btx-p-border-border btx-share-item">
                                                                        <a href="#" class="js-share btx-social-email" style="color:#898989;">Email</a>
                                                                    </li>
                                                                </ul>
                                                            </div> #}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        {# <section class="btx-section js-dynamic-navbar btx-p-border-border btx-dark-scheme" data-index="2" data-scheme="dark">
                            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-overlay btx-p-bg-bg" style="opacity:1;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:0px; padding-bottom:0px;">
                                <div class="btx-container--fullwidth">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">

                                            <div class="btx-item js-item-gallery btx-gallery btx-gallery--grid" data-popup="true">

                                                <div class="btx-gallery-content" style="margin:0 0px;">
                                                    <div class="btx-gallery-item  btx-col-3" style="padding:0 0px; margin-bottom:0px;">
                                                        <div class="btx-gallery-body anmt-item anmt-zoomout  stagger">
                                                            <a href="upload/gallery-woman-11.jpg" class="btx-gallery-media " title="">
                                                                <img src="upload/gallery-woman-11-683x512.jpg" alt="" width="683" height="512"  /> </a>

                                                        </div>
                                                    </div>
                                                    <div class="btx-gallery-item  btx-col-3" style="padding:0 0px; margin-bottom:0px;">
                                                        <div class="btx-gallery-body anmt-item anmt-zoomout  stagger">
                                                            <a href="upload/gallery-woman-10.jpg" class="btx-gallery-media " title="">
                                                                <img src="upload/gallery-woman-10-683x512.jpg" alt="" width="683" height="512"  /> </a>

                                                        </div>
                                                    </div>
                                                    <div class="btx-gallery-item  btx-col-3" style="padding:0 0px; margin-bottom:0px;">
                                                        <div class="btx-gallery-body anmt-item anmt-zoomout  stagger">
                                                            <a href="upload/gallery-woman-08.jpg" class="btx-gallery-media " title="">
                                                                <img src="upload/gallery-woman-08-911x683.jpg" alt="" width="911" height="683"  /> </a>

                                                        </div>
                                                    </div>
                                                    <div class="btx-gallery-item  btx-col-3" style="padding:0 0px; margin-bottom:0px;">
                                                        <div class="btx-gallery-body anmt-item anmt-zoomout  stagger">
                                                            <a href="upload/gallery-woman-04.jpg" class="btx-gallery-media " title="">
                                                                <img src="upload/gallery-woman-04-911x683.jpg" alt="" width="911" height="683"  /> </a>

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section> #}
                        <section class="btx-section js-dynamic-navbar btx-p-border-border btx-dark-scheme" data-index="3" data-scheme="dark">
                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-wrapper">
                                    <div class="btx-background-inner" style="background-image:url({{'assets/images/mands.jpeg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                                </div>
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#1d1d1d; opacity:0.85;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:100px; padding-bottom:100px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">

                                            <div class="btx-item js-item-quote btx-quote btx-quote--standard btx-center-align btx-with-background">
                                                <div class="btx-quote-text btx-s-text-color btx-custom_b-font"><span class="font-style" style="font-size: 28px;">“  ... have gone through the platform and would like to commend you for the great job you are doing ”</span></div>

                                                <div class="btx-quote-author btx-s-text-color"><span class="font-style" style="font-size: 16px;">— &nbsp; Global Market Leading Construction Chemicals Manufacturer</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="4">
                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:120px; padding-bottom:120px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-8">

                                            <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border" id="project-info">
                                                <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                                    <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                                </div>
                                                <div class="btx-box-inner" data-height="">
                                                    <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                        <div class="btx-box-body" style="padding-right:5%;">

                                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                                <h3 class="btx-heading-text btx-custom_b-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;"><span style="font-weight: bold;">FOR DISTRIBUTORS</span></h3>
                                                            </div>

                                                            <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align" style="margin-top:30px; margin-bottom:30px;">
                                                                <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;">
                                                                </div>
                                                            </div>

                                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                                <div class="btx-row" style="margin:0 -30px;">

                                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                        <div class="btx-text-content-inner">
                                                                            As an online platform for construction procurement, the FFE.ng platform provides distributors with an additional sales outlet to market and sell their construction related products.

Providing nationwide coverage, logistics support and significantly increased visibility, FFE.ng helps distibutors grow their businesses profitably.
                                                                            <br> </div>
                                                                    </div>
                                                                    

                                                                </div>
                                                                


                                                            </div>
                                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                                <div class="btx-row" style="margin:0 -30px;">

                                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                        <div class="btx-text-content-inner">
                                                                            Register now at: <a href="{{'supplier-registration'|page}}">www.ffe.ng/supplier-registration</a> </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="btx-item js-item-space btx-space" style="height:10px;"></div>

                                                            {# <div class="btx-item js-item-milestone btx-milestone btx-milestone--stacked btx-center-align" data-counter-animation="true">
                                                                <div class="btx-row">

                                                                    <div class="btx-milestone-item btx-p-border-border btx-col-3">
                                                                        <div class="btx-milestone-wrapper btx-p-border-border" style="border-radius:4%;">
                                                                            <div class="btx-milestone-body">
                                                                                <div class="btx-milestone-body-inner">

                                                                                    <div class="btx-milestone-content">
                                                                                        <div class="btx-milestone-number btx-p-brand-color btx-secondary-font">11</div>
                                                                                        <div class="btx-milestone-text">
                                                                                            <div class="btx-milestone-title btx-primary-font btx-s-text-color"><span class="font-style" style="font-size: 12px;">KEY BENEFITS</span></div>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-milestone-item btx-p-border-border btx-col-3">
                                                                        <div class="btx-milestone-wrapper btx-p-border-border" style="border-radius:4%;">
                                                                            <div class="btx-milestone-body">
                                                                                <div class="btx-milestone-body-inner">

                                                                                    <div class="btx-milestone-content">
                                                                                        <div class="btx-milestone-number btx-p-brand-color btx-secondary-font">24</div>
                                                                                        <div class="btx-milestone-text">
                                                                                            <div class="btx-milestone-title btx-primary-font btx-s-text-color"><span class="font-style" style="font-size: 12px;">MODELS</span></div>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-milestone-item btx-p-border-border btx-col-3">
                                                                        <div class="btx-milestone-wrapper btx-p-border-border" style="border-radius:4%;">
                                                                            <div class="btx-milestone-body">
                                                                                <div class="btx-milestone-body-inner">

                                                                                    <div class="btx-milestone-content">
                                                                                        <div class="btx-milestone-number btx-p-brand-color btx-secondary-font">16</div>
                                                                                        <div class="btx-milestone-text">
                                                                                            <div class="btx-milestone-title btx-primary-font btx-s-text-color"><span class="font-style" style="font-size: 12px;">LOCATIONS</span></div>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-milestone-item btx-p-border-border btx-col-3">
                                                                        <div class="btx-milestone-wrapper btx-p-border-border" style="border-radius:4%;">
                                                                            <div class="btx-milestone-body">
                                                                                <div class="btx-milestone-body-inner">

                                                                                    <div class="btx-milestone-content">
                                                                                        <div class="btx-milestone-number btx-p-brand-color btx-secondary-font">88</div>
                                                                                        <div class="btx-milestone-text">
                                                                                            <div class="btx-milestone-title btx-primary-font btx-s-text-color"><span class="font-style" style="font-size: 12px;">PHOTOGRAPHS</span></div>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div> #}

                                                            {# <div class="btx-item js-item-space btx-space" style="height:60px;"></div>

                                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                                <h3 class="btx-heading-text btx-custom_b-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;"><span style="font-weight: bold;">Mood &amp; Tone</span></h3>
                                                            </div>

                                                            <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align" style="margin-top:30px; margin-bottom:30px;">
                                                                <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;">
                                                                </div>
                                                            </div>

                                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                                <div class="btx-row" style="margin:0 -30px;">

                                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                        <div class="btx-text-content-inner">
                                                                            Fusce maximus metus et libero pharetra vulputate. In elementum ligula nec neque interdum fringilla. Duis ut risus lectus. Aliquam erat volutpat. Vestibulum sed mi tempus, luctus felis a, ullamcorper sem. Aliquam vel ligula at libero mollis sodales eget et risus. Vivamus cursus ligula egestas odio fermentum elementum. In nulla turpis, vehicula vitae rhoncus et, scelerisque dapibus diam. Etiam blandit sodales sapien id ultricies. Nulla cursus odio ut purus ultricies posuere. Cras metus augue, hendrerit nec elementum at, pretium a sem. Mauris viverra nunc a tellus hendrerit porta.&nbsp; </div>
                                                                    </div>

                                                                </div>
                                                            </div> #}

                                                            {# <div class="btx-item js-item-space btx-space" style="height:10px;"></div>

                                                            <div class="btx-item js-item-skill btx-skill btx-skill--bar btx-skill--horizontal">
                                                                <div class="btx-row">
                                                                    <div class="btx-skill-item btx-col-12" data-percent="88" data-axis="horizontal">
                                                                        <div class="btx-skill-heading">

                                                                            <span class="btx-skill-title btx-s-text-color">Twilight Zone</span>

                                                                            <div class="btx-skill-percentage btx-s-text-color">88%</div>

                                                                        </div>
                                                                        <div class="btx-skill-bar btx-s-bg-bg" style="background-color:#f5f5f5; height:8px;">
                                                                            <div class="btx-skill-progress btx-p-brand-bg" style="background-color:#aae1f6;"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-skill-item btx-col-12" data-percent="95" data-axis="horizontal">
                                                                        <div class="btx-skill-heading">

                                                                            <span class="btx-skill-title btx-s-text-color">Natural Light</span>

                                                                            <div class="btx-skill-percentage btx-s-text-color">95%</div>

                                                                        </div>
                                                                        <div class="btx-skill-bar btx-s-bg-bg" style="background-color:#f5f5f5; height:8px;">
                                                                            <div class="btx-skill-progress btx-p-brand-bg" style="background-color:#65c7ea;"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-skill-item btx-col-12" data-percent="76" data-axis="horizontal">
                                                                        <div class="btx-skill-heading">

                                                                            <span class="btx-skill-title btx-s-text-color">Soft Shadow</span>

                                                                            <div class="btx-skill-percentage btx-s-text-color">76%</div>

                                                                        </div>
                                                                        <div class="btx-skill-bar btx-s-bg-bg" style="background-color:#f5f5f5; height:8px;">
                                                                            <div class="btx-skill-progress btx-p-brand-bg" style="background-color:#32a1c9;"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-skill-item btx-col-12" data-percent="84" data-axis="horizontal">
                                                                        <div class="btx-skill-heading">

                                                                            <span class="btx-skill-title btx-s-text-color">Low Contrast</span>

                                                                            <div class="btx-skill-percentage btx-s-text-color">84%</div>

                                                                        </div>
                                                                        <div class="btx-skill-bar btx-s-bg-bg" style="background-color:#f5f5f5; height:8px;">
                                                                            <div class="btx-skill-progress btx-p-brand-bg" style="background-color:#107296;"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> #}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-col-4">

                                            <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-box--pinned" data-pinned="#project-brief">
                                                <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                                    <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                                </div>
                                                <div class="btx-box-inner" data-height="">
                                                    <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                        <div class="btx-box-body">

                                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                                <h3 class="btx-heading-text btx-custom_b-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;"><span style="font-weight: bold;">KEY BENEFITS</span><br></h3>
                                                            </div>

                                                            <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align" style="margin-top:30px; margin-bottom:30px;">
                                                                <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;">
                                                                </div>
                                                            </div>

                                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align" style="margin-bottom:5px;">
                                                                <h6 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:1px;"><span style="font-weight: bold;">NATIONWIDE COVERAGE</span></h6>
                                                            </div>

                                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                                <div class="btx-row" style="margin:0 -30px;">

                                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                        <div class="btx-text-content-inner">
                                                                            Nationwide market coverage </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align" style="margin-bottom:5px;">
                                                                <h6 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:1px;"><span style="font-weight: bold;">SALES CHANNEL</span><br></h6>
                                                            </div>

                                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                                <div class="btx-row" style="margin:0 -30px;">

                                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                        <div class="btx-text-content-inner">
                                                                            Additional sales outlet and channel at No Cost. </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align" style="margin-bottom:5px;">
                                                                <h6 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:1px;"><span style="font-weight: bold;">ADDED REVENUES</span></h6>
                                                            </div>

                                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                                <div class="btx-row" style="margin:0 -30px;">

                                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                        <div class="btx-text-content-inner">
                                                                            Increased revenues and profits. </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            {# <div class="btx-item js-item-share btx-share btx-share--minimal btx-center-align" style="margin-top:0px;">
                                                                <ul class="btx-social-share btx-social-share--minimal" style="font-size:14px;">
                                                                    <li class="btx-p-border-border btx-share-item">
                                                                        <a href="#" class="js-share btx-social-facebook" style="color:#898989;">Facebook</a>
                                                                    </li>
                                                                    <li class="btx-p-border-border btx-share-item">
                                                                        <a href="#" class="js-share btx-social-twitter" style="color:#898989;">Twitter</a>
                                                                    </li>
                                                                    <li class="btx-p-border-border btx-share-item">
                                                                        <a href="#" class="js-share btx-social-pinterest" style="color:#898989;">Pinterest</a>
                                                                    </li>
                                                                    <li class="btx-p-border-border btx-share-item">
                                                                        <a href="#" class="js-share btx-social-google-plus" style="color:#898989;">Google +</a>
                                                                    </li>
                                                                    <li class="btx-p-border-border btx-share-item">
                                                                        <a href="#" class="js-share btx-social-email" style="color:#898989;">Email</a>
                                                                    </li>
                                                                </ul>
                                                            </div> #}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        {# <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="5">
                            <div class="btx-section-wrapper" style="padding-top:0px; padding-bottom:0px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">

                                            <div class="btx-item js-item-gallery btx-gallery btx-gallery--carousel">

                                                <div class="btx-gallery-content" style="margin:0 -0.5px;" data-display="1" data-scroll="1" data-duration="3000" data-fade="true" data-loop="true">
                                                    <div class="btx-gallery-item  btx-col-12" style="padding:0 0.5px;">
                                                        <div class="btx-gallery-body ">
                                                            <div class="btx-gallery-media ">
                                                                <img src="upload/gallery-woman-05-1920x1080.jpg" alt="" width="1920" height="1080"  /> </div>

                                                        </div>
                                                    </div>
                                                    <div class="btx-gallery-item  btx-col-12" style="padding:0 0.5px;">
                                                        <div class="btx-gallery-body ">
                                                            <div class="btx-gallery-media ">
                                                                <img src="upload/gallery-woman-07-1920x1080.jpg" alt="" width="1920" height="1080"  /> </div>

                                                        </div>
                                                    </div>
                                                    <div class="btx-gallery-item  btx-col-12" style="padding:0 0.5px;">
                                                        <div class="btx-gallery-body ">
                                                            <div class="btx-gallery-media ">
                                                                <img src="upload/gallery-woman-11-1280x720.jpg" alt="" width="1280" height="720" /> </div>

                                                        </div>
                                                    </div>
                                                    <div class="btx-gallery-item  btx-col-12" style="padding:0 0.5px;">
                                                        <div class="btx-gallery-body ">
                                                            <div class="btx-gallery-media ">
                                                                <img src="upload/gallery-woman-08-1920x1080.jpg" alt="" width="1920" height="1080"  /> </div>

                                                        </div>
                                                    </div>
                                                    <div class="btx-gallery-item  btx-col-12" style="padding:0 0.5px;">
                                                        <div class="btx-gallery-body ">
                                                            <div class="btx-gallery-media ">
                                                                <img src="upload/gallery-woman-06-1920x1080.jpg" alt="" width="1920" height="1080"  /> </div>

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section> #}
                        {# <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="6">
                            <div class="btx-section-wrapper" style="padding-top:0px; padding-bottom:0px;">
                                <div class="btx-container--fullwidth">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">

                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align" style="margin-top:60px; margin-bottom:60px;">
                                                <h3 class="btx-heading-text btx-custom_b-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;"><span style="font-weight: bold;">More Projects</span></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">

                                            <div class="btx-item js-item-portfolio btx-portfolio btx-portfolio--carousel btx-center-align btx-portfolio--hover-content">

                                                <div class="btx-portfolio-content" style="margin:0 0px;" data-display="5" data-scroll="1" data-loop="true">

                                                    <article class="btx-entry btx-entry-dark-scheme btx-col-1-5 post-305 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-branding btx_portfolio_category-web-design" style="padding:0 0px;" data-filter="Branding, Web Design">
                                                        <a href="#" class="btx-entry-inner anmt-content-slideup" style="background-color:transparent;">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-yacht-cover-768x768.jpg" alt="" width="768" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(1,162,221,1);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Yacht Design                                                            </h4>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-dark-scheme btx-col-1-5 post-303 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-product-design" style="padding:0 0px;" data-filter="Product Design">
                                                        <a href="#" class="btx-entry-inner anmt-content-slideup" style="background-color:transparent;">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-radio-cover-768x768.jpg" alt="" width="768" height="768"  /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(1,162,221,1);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            The New Wave                                                            </h4>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-dark-scheme btx-col-1-5 post-301 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-branding" style="padding:0 0px;" data-filter="Branding">
                                                        <a href="#" class="btx-entry-inner anmt-content-slideup" style="background-color:transparent;">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-corporate-cover-768x768.jpg" alt="" width="768" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(1,162,221,1);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Bateaux Venture                                                         </h4>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-dark-scheme btx-col-1-5 post-298 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-branding" style="padding:0 0px;" data-filter="Branding">
                                                        <a href="#" class="btx-entry-inner anmt-content-slideup" style="background-color:transparent;">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-card-cover-768x768.jpg" alt="" width="768" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(1,162,221,1);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Bateaux Brand                                                           </h4>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-dark-scheme btx-col-1-5 post-295 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-branding btx_portfolio_category-packaging" style="padding:0 0px;" data-filter="Branding, Packaging">
                                                        <a href="#" class="btx-entry-inner anmt-content-slideup" style="background-color:transparent;">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-coffee-cover-768x768.jpg" alt="" width="768" height="768"  /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(1,162,221,1);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            The Roastery                                                            </h4>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-dark-scheme btx-col-1-5 post-287 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-branding" style="padding:0 0px;" data-filter="Branding">
                                                        <a href="#" class="btx-entry-inner anmt-content-slideup" style="background-color:transparent;">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-paper-cover-768x768.jpg" alt="" width="768" height="768"  /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(1,162,221,1);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Paper Dreams                                                            </h4>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-dark-scheme btx-col-1-5 post-283 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-branding" style="padding:0 0px;" data-filter="Branding">
                                                        <a href="#" class="btx-entry-inner anmt-content-slideup" style="background-color:transparent;">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-poster-cover-768x768.jpg" alt="" width="768" height="768"  /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(1,162,221,1);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            City Poster                                                         </h4>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-dark-scheme btx-col-1-5 post-279 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-branding" style="padding:0 0px;" data-filter="Branding">
                                                        <a href="#" class="btx-entry-inner anmt-content-slideup" style="background-color:transparent;">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-business-cover-768x768.jpg" alt="" width="768" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(1,162,221,1);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Company B.                                                          </h4>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-dark-scheme btx-col-1-5 post-306 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-packaging" style="padding:0 0px;" data-filter="Packaging">
                                                        <a href="#" class="btx-entry-inner anmt-content-slideup" style="background-color:transparent;">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-cd-cover-768x768.jpg" alt="" width="768" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(1,162,221,1);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Blue Cover                                                          </h4>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-dark-scheme btx-col-1-5 post-262 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-web-design" style="padding:0 0px;" data-filter="Web Design">
                                                        <a href="#" class="btx-entry-inner anmt-content-slideup" style="background-color:transparent;">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-ipad-cover-768x768.jpg" alt="" width="768" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(1,162,221,1);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            The Everest                                                         </h4>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-dark-scheme btx-col-1-5 post-259 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-product-design" style="padding:0 0px;" data-filter="Product Design">
                                                        <a href="#" class="btx-entry-inner anmt-content-slideup" style="background-color:transparent;">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-interior-cover-768x768.jpg" alt="" width="768" height="768"  /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(1,162,221,1);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Scandinavian Interior                                                           </h4>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-dark-scheme btx-col-1-5 post-250 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-product-design" style="padding:0 0px;" data-filter="Product Design">
                                                        <a href="#" class="btx-entry-inner anmt-content-slideup" style="background-color:transparent;">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-chair-cover-768x768.jpg" alt="" width="768" height="768"  /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(1,162,221,1);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Nord Collection                                                         </h4>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-light-scheme btx-col-1-5 post-247 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-print" style="padding:0 0px;" data-filter="Print">
                                                        <a href="#" class="btx-entry-inner anmt-content-reveal" style="background-color:transparent;">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-vinyl-cover-768x768.jpg" alt="" width="768" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.9);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Solo Discography                                                            </h4>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-dark-scheme btx-col-1-5 post-244 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-branding btx_portfolio_category-print" style="padding:0 0px;" data-filter="Branding, Print">
                                                        <a href="#" class="btx-entry-inner anmt-content-slideup" style="background-color:transparent;">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-styleguide-cover-768x768.jpg" alt="" width="768" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(1,162,221,1);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Backspace Studio                                                            </h4>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-dark-scheme btx-col-1-5 post-225 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-web-design" style="padding:0 0px;" data-filter="Web Design">
                                                        <a href="#" class="btx-entry-inner anmt-content-slideup" style="background-color:transparent;">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-iphone-cover-768x768.jpg" alt="" width="768" height="768"  /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(1,162,221,1);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Bloc App                                                            </h4>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="btx-section js-dynamic-navbar btx-p-border-border btx-dark-scheme" data-index="7" data-scheme="dark">
                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#1d1d1d; opacity:1;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:30px; padding-right:40px; padding-left:40px; padding-bottom:30px;">
                                <div class="btx-container--fullwidth">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-6">

                                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font btx-center-align-responsive">
                                                <div class="btx-row" style="margin:0 -30px;">

                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <span style="color: rgb(255, 255, 255);">© 2016 Bateaux Template. All rights reserved.</span> </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-col-6">

                                                                                        
                                            <div class="btx-item js-item-social btx-social btx-social--plain btx-right-align btx-center-align-responsive">
                                                <div class="btx-social-inner">
                                                    <a href="http://facebook.com/" class="btx-social-item btx-social-facebook" target="_blank">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#ffffff;">
                                                                <i class="fa fa-facebook"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-facebook"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                    <a href="http://twitter.com/" class="btx-social-item btx-social-twitter" target="_blank">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#ffffff;">
                                                                <i class="fa fa-twitter"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-twitter"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                    <a href="http://instagram.com/" class="btx-social-item btx-social-instagram" target="_blank">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#ffffff;">
                                                                <i class="fa fa-instagram"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-instagram"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                    <a href="http://youtube.com/" class="btx-social-item btx-social-youtube" target="_blank">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#ffffff;">
                                                                <i class="fa fa-youtube"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-youtube"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div> #}
                </div>

            </article>
        </main>