title = "Manufacturers and Suppliers"
url = "/manufacturers-and-suppliers-old"
layout = "default"
is_hidden = 0

[Cart]

[account]
paramCode = "code"
forceSecure = 0
==
<main class="btx-content btx-content--with-header" id="main">
    <article id="post-5054" class="btx-content-wrapper post-5054 page type-page status-publish hentry">
        <header class="btx-content-header btx-page-title btx-page-title--top btx-center-align js-dynamic-navbar btx-dark-scheme"
            data-role="header" data-scheme="dark">
            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                <div class="btx-background-overlay btx-s-bg-bg" style="opacity:0.9;"></div>
            </div>
            <div class="btx-container">
                <div class="btx-page-title-wrapper">
                    <div class="btx-page-title-content btx-s-text-color">
                        <h1>Manufacturers and Suppliers</h1>
                    </div>
                </div>
            </div>
        </header>
        <div class="btx-main btx-main--single">
            <div class="btx-main-wrapper">
                <div class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
                    </div>
                    <div class="btx-section-wrapper">
                        <div class="btx-container">
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body">
                                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 16px;">FF&amp;E.ng provides Manufacturers and Distributors of
                                                                        construction related products and solutions with
                                                                        direct and targeted access to Nigeria’s nationwide
                                                                        construction project pipeline.
                                                                        <br>
                                                                        <br>As the procurement platform for Nigeria’s Built Environment,
                                                                        we provide stakeholders in the construction industry
                                                                        with an online platform for product research, specification
                                                                        and procurement on their construction related projects.
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-space btx-space" style="height:30px;"></div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-1-5">
                                    <div class="btx-item js-item-image btx-image btx-center-align anmt-item anmt-fadeinl stagger animated btx-opacity1">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner">
                                                    <img src="https://ffe.ng/wp-content/uploads/2016/10/logo-akatherm-281x211.jpg"
                                                        alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-1-5">
                                    <div class="btx-item js-item-image btx-image btx-center-align anmt-item anmt-fadeinl stagger animated btx-opacity1">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner">
                                                    <img src="https://ffe.ng/wp-content/uploads/2016/10/dorn_bracht_105137-300x225.jpg"
                                                        alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-1-5">
                                    <div class="btx-item js-item-image btx-image btx-center-align anmt-item anmt-fadeinl stagger animated btx-opacity1">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner">
                                                    <img src="https://ffe.ng/wp-content/uploads/2016/10/sanit-logo-281x211.jpg"
                                                        alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-1-5">
                                    <div class="btx-item js-item-image btx-image btx-center-align anmt-item anmt-fadeinl stagger animated btx-opacity1">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner">
                                                    <img src="https://ffe.ng/wp-content/uploads/2016/11/nicoll-logo-281x211.png"
                                                        alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-1-5">
                                    <div class="btx-item js-item-image btx-image btx-center-align anmt-item anmt-fadeinl stagger animated btx-opacity1">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner">
                                                    <img src="https://ffe.ng/wp-content/uploads/2016/10/Vitra-logo3-603x360-383x287.jpg"
                                                        alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btx-section js-dynamic-navbar btx-p-border-border btx-dark-scheme btx-section--fit-height" data-index="1"
                    data-scheme="dark" data-screen_percent="40" style="height: auto; line-height: inherit;">
                    <div class="btx-background btx-background--fixed" data-type="image" data-parallaxspeed="0" data-contentfade=""
                        data-mobileparallax="">
                        <div class="btx-background-wrapper">
                            <div class="btx-background-inner" style="background-image:url(https://ffe.ng/wp-content/uploads/2016/10/Manufacturers.jpg); background-size:cover; background-position:left top; background-repeat:repeat;"></div>
                        </div>
                        <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.2;"></div>
                    </div>
                    <div class="btx-section-wrapper">
                        <div class="btx-container"></div>
                    </div>
                </div>
                <div class="btx-section js-dynamic-navbar btx-p-border-border" data-index="2">
                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
                    </div>
                    <div class="btx-section-wrapper">
                        <div class="btx-container">
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body">
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--breakline btx-left-align">
                                                        <h2 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">Benefits to Manufacturers listing on the platform include:</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-feature btx-feature btx-feature--left btx-left-align" style="padding-top:5%;">
                                        <div class="btx-feature-content">
                                            <div class="btx-row" style="margin:0 -15px;">
                                                <div class="btx-feature-item btx-p-border-border btx-col-3 anmt-item anmt-fadein stagger animated btx-opacity1"
                                                    style="padding:0 15px;">
                                                    <div class="btx-feature-media">
                                                        <div class="btx-media-wrapper">
                                                            <div class="btx-media-wrapper-inner">
                                                                <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--medium">
                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                    </span>
                                                                    <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-feature-body">
                                                        <div class="btx-feature-description">Access to the countrywide project pipeline.</div>
                                                    </div>
                                                </div>
                                                <div class="btx-feature-item btx-p-border-border btx-col-3 anmt-item anmt-fadein stagger animated btx-opacity1"
                                                    style="padding:0 15px;">
                                                    <div class="btx-feature-media">
                                                        <div class="btx-media-wrapper">
                                                            <div class="btx-media-wrapper-inner">
                                                                <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--medium">
                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                    </span>
                                                                    <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-feature-body">
                                                        <div class="btx-feature-description">Direct reach to key decision makers.</div>
                                                    </div>
                                                </div>
                                                <div class="btx-feature-item btx-p-border-border btx-col-3 anmt-item anmt-fadein stagger animated btx-opacity1"
                                                    style="padding:0 15px;">
                                                    <div class="btx-feature-media">
                                                        <div class="btx-media-wrapper">
                                                            <div class="btx-media-wrapper-inner">
                                                                <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--medium">
                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                    </span>
                                                                    <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-feature-body">
                                                        <div class="btx-feature-description">Logistics Support: All logistics related to getting products to the
                                                            end-user are handled by FF&amp;E.ng.</div>
                                                    </div>
                                                </div>
                                                <div class="btx-feature-item btx-p-border-border btx-col-3 anmt-item anmt-fadein stagger animated btx-opacity1"
                                                    style="padding:0 15px;">
                                                    <div class="btx-feature-media">
                                                        <div class="btx-media-wrapper">
                                                            <div class="btx-media-wrapper-inner">
                                                                <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--medium">
                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                    </span>
                                                                    <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-feature-body">
                                                        <div class="btx-feature-description">Ability to manage sales remotely (Locally or Internationally) and
                                                            limit operational risk.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-feature btx-feature btx-feature--left btx-left-align">
                                        <div class="btx-feature-content">
                                            <div class="btx-row" style="margin:0 -15px;">
                                                <div class="btx-feature-item btx-p-border-border btx-col-3 anmt-item anmt-fadein stagger animated btx-opacity1"
                                                    style="padding:0 15px;">
                                                    <div class="btx-feature-media">
                                                        <div class="btx-media-wrapper">
                                                            <div class="btx-media-wrapper-inner">
                                                                <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--medium">
                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                    </span>
                                                                    <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-feature-body">
                                                        <div class="btx-feature-description">Access to Key Market Insights via in-depth platform Data Analytics.</div>
                                                    </div>
                                                </div>
                                                <div class="btx-feature-item btx-p-border-border btx-col-3 anmt-item anmt-fadein stagger animated btx-opacity1"
                                                    style="padding:0 15px;">
                                                    <div class="btx-feature-media">
                                                        <div class="btx-media-wrapper">
                                                            <div class="btx-media-wrapper-inner">
                                                                <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--medium">
                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                    </span>
                                                                    <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-feature-body">
                                                        <div class="btx-feature-description">Greater brand control via FF&amp;E.ng Account Management Tools.</div>
                                                    </div>
                                                </div>
                                                <div class="btx-feature-item btx-p-border-border btx-col-3 anmt-item anmt-fadein stagger animated btx-opacity1"
                                                    style="padding:0 15px;">
                                                    <div class="btx-feature-media">
                                                        <div class="btx-media-wrapper">
                                                            <div class="btx-media-wrapper-inner">
                                                                <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--medium">
                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                    </span>
                                                                    <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-feature-body">
                                                        <div class="btx-feature-description">Cost effective penetration of Africa’s largest market.</div>
                                                    </div>
                                                </div>
                                                <div class="btx-feature-item btx-p-border-border btx-col-3 anmt-item anmt-fadein stagger animated btx-opacity1"
                                                    style="padding:0 15px;">
                                                    <div class="btx-feature-media">
                                                        <div class="btx-media-wrapper">
                                                            <div class="btx-media-wrapper-inner">
                                                                <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--medium">
                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                    </span>
                                                                    <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-feature-body">
                                                        <div class="btx-feature-description">Profitable Growth.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btx-section js-dynamic-navbar btx-p-border-border btx-dark-scheme btx-section--fit-height" data-index="3"
                    data-scheme="dark" data-screen_percent="40" style="height: auto; line-height: inherit;">
                    <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-wrapper" style="height: 236.6px; transform: translateY(38.0813px);">
                            <div class="btx-background-inner" style="background-image:url(https://ffe.ng/wp-content/uploads/2016/10/Manufacturers.jpg); background-size:cover; background-position:right bottom; background-repeat:repeat;"></div>
                        </div>
                        <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.2;"></div>
                    </div>
                    <div class="btx-section-wrapper">
                        <div class="btx-container"></div>
                    </div>
                </div>
                <div class="btx-section js-dynamic-navbar btx-p-border-border" data-index="4">
                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
                    </div>
                    <div class="btx-section-wrapper">
                        <div class="btx-container">
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-heading btx-heading btx-heading--breakline btx-left-align">
                                        <h2 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">Benefits to Distributors include:</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:5%;">
                                                    <div class="btx-item js-item-feature btx-feature btx-feature--left btx-left-align">
                                                        <div class="btx-feature-content">
                                                            <div class="btx-row" style="margin:0 -15px;">
                                                                <div class="btx-feature-item btx-p-border-border btx-col-3 anmt-item anmt-fadein stagger animated btx-opacity1"
                                                                    style="padding:0 15px;">
                                                                    <div class="btx-feature-media">
                                                                        <div class="btx-media-wrapper">
                                                                            <div class="btx-media-wrapper-inner">
                                                                                <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--medium">
                                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                                    </span>
                                                                                    <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-feature-body">
                                                                        <div class="btx-feature-description">Additional sales outlet and channel at No Cost.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="btx-feature-item btx-p-border-border btx-col-3 anmt-item anmt-fadein stagger animated btx-opacity1"
                                                                    style="padding:0 15px;">
                                                                    <div class="btx-feature-media">
                                                                        <div class="btx-media-wrapper">
                                                                            <div class="btx-media-wrapper-inner">
                                                                                <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--medium">
                                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                                    </span>
                                                                                    <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-feature-body">
                                                                        <div class="btx-feature-description">Nationwide market coverage.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="btx-feature-item btx-p-border-border btx-col-3 anmt-item anmt-fadein stagger animated btx-opacity1"
                                                                    style="padding:0 15px;">
                                                                    <div class="btx-feature-media">
                                                                        <div class="btx-media-wrapper">
                                                                            <div class="btx-media-wrapper-inner">
                                                                                <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--medium">
                                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                                    </span>
                                                                                    <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-feature-body">
                                                                        <div class="btx-feature-description">Direct contact with key decision makers.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="btx-feature-item btx-p-border-border btx-col-3 anmt-item anmt-fadein stagger animated btx-opacity1"
                                                                    style="padding:0 15px;">
                                                                    <div class="btx-feature-media">
                                                                        <div class="btx-media-wrapper">
                                                                            <div class="btx-media-wrapper-inner">
                                                                                <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--medium">
                                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                                    </span>
                                                                                    <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-feature-body">
                                                                        <div class="btx-feature-description">Access to the countrywide project pipeline.</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-feature btx-feature btx-feature--left btx-left-align">
                                                        <div class="btx-feature-content">
                                                            <div class="btx-row" style="margin:0 -15px;">
                                                                <div class="btx-feature-item btx-p-border-border btx-col-3 anmt-item anmt-fadein stagger animated btx-opacity1"
                                                                    style="padding:0 15px;">
                                                                    <div class="btx-feature-media">
                                                                        <div class="btx-media-wrapper">
                                                                            <div class="btx-media-wrapper-inner">
                                                                                <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--medium">
                                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                                    </span>
                                                                                    <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-feature-body">
                                                                        <div class="btx-feature-description">&nbsp;Increased participation in Project Tenders.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="btx-feature-item btx-p-border-border btx-col-3 anmt-item anmt-fadein stagger animated btx-opacity1"
                                                                    style="padding:0 15px;">
                                                                    <div class="btx-feature-media">
                                                                        <div class="btx-media-wrapper">
                                                                            <div class="btx-media-wrapper-inner">
                                                                                <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--medium">
                                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                                    </span>
                                                                                    <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-feature-body">
                                                                        <div class="btx-feature-description">Increased customer acquisition.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="btx-feature-item btx-p-border-border btx-col-3 anmt-item anmt-fadein stagger animated btx-opacity1"
                                                                    style="padding:0 15px;">
                                                                    <div class="btx-feature-media">
                                                                        <div class="btx-media-wrapper">
                                                                            <div class="btx-media-wrapper-inner">
                                                                                <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--medium">
                                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                                    </span>
                                                                                    <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-feature-body">
                                                                        <div class="btx-feature-description">Last mile logistics support.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="btx-feature-item btx-p-border-border btx-col-3 anmt-item anmt-fadein stagger animated btx-opacity1"
                                                                    style="padding:0 15px;">
                                                                    <div class="btx-feature-media">
                                                                        <div class="btx-media-wrapper">
                                                                            <div class="btx-media-wrapper-inner">
                                                                                <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--medium">
                                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                                    </span>
                                                                                    <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                                        <i class="twf twf-ln-paperclip"></i>
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btx-feature-body">
                                                                        <div class="btx-feature-description">Increased revenues and profits.</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-text btx-text btx-center-align btx-primary-font" style="padding-top:5%;">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner">
                                                    <span class="font-style" style="font-size: 16px;">Get in touch with us now and Grow Your Business Profitably!</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-button btx-button btx-button--border btx-center-align btx-button-size--medium btx-button-hover--inverse btx-button-color--brand">
                                        <a href="https://ffe.ng/contact-us/" target="_self" class="btnx" style="border-radius:4px; border-width:1px;">
                                        Contact us </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>