title = "Manufacturers"
url = "/manufacturers/:slug?"
layout = "default"
description = "Manufacturers Page"
meta_title = "FF&E Manufacturers"
is_hidden = 0
[Cart]
[DisplayManufacturers]
==
{# <main class="btx-content btx-content--with-header" id="main">
            <article id="post-221" class="btx-content-wrapper post-221 page type-page status-publish hentry">

                <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme" style="height:60vh;" data-role="header" data-scheme="dark">
                    <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-wrapper">
                            <div class="btx-background-inner" style="background-image:url({{'assets/images/manufacturers.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                        </div>
                        
                        <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#333; opacity:0.4;"></div>
                    </div>
                    <div class="btx-page-hero-inner btx-container">
                        <div class="btx-page-hero-wrapper btx-center-align">
                            <div class="btx-page-hero-content btx-middle-vertical">
                                <div class="btx-page-hero-content-wrapper btx-center-align" style="max-width:550px;">

                                    <div class="btx-page-hero-body">

                                        <div class="btx-page-hero-body-title">
                                            <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.02em; font-weight: 300">Manufacturers</h1>
                                        </div>

                                       <!--  <div class="btx-page-hero-subtitle btx-page-hero-subtitle--bottom btx-primary-font"><span style="color: rgb(255, 255, 255);">Basic, yet versatile layout for any purpose. Use the aspect ratio option to help creating grid easily and beautifully.</span></div> -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="btx-main btx-main--single">
                    <div class="btx-main-wrapper">
                        <section class="btx-section js-dynamic-navbar btx-p-border-border btx-dark-scheme" data-index="0" data-scheme="dark">
                            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                                <!-- <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#232323; opacity:1;"></div> -->
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#fff; opacity:1;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:0px;">
                                <div class="btx-container">
                                	<div class="btx-row">
                                		<div class="btx-col-12">
                                			<div class="btx-item js-item-divider btx-divider btx-divider--gradient btx-center-align" style="margin-top:60px; margin-bottom:60px;">
                                                <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px; background:#cccccc; background:-webkit-linear-gradient(left, transparent, #cccccc, transparent);background:linear-gradient(to right, transparent, #cccccc, transparent); ">
                                                </div>
                                            </div>


											 <div class="btx-page-hero-subtitle btx-page-hero-subtitle--bottom btx-primary-font btx-center-align"><span style="color: rgb(0, 0, 0); font-weight: 200">Browse Manufacturer profiles,<br/>View product selections and<br/>Order from product catalogues:</span></div>


											<div class="btx-item js-item-divider btx-divider btx-divider--gradient btx-center-align" style="margin-top:60px; margin-bottom:60px;">
                                                <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px; background:#cccccc; background:-webkit-linear-gradient(left, transparent, #cccccc, transparent);background:linear-gradient(to right, transparent, #cccccc, transparent); ">
                                                </div>
                                            </div>


                                		</div>
                                	</div>
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">

                                            <div class="btx-item js-item-portfolio btx-portfolio btx-portfolio--grid btx-center-align btx-portfolio--hover-content">

                                                <div class="btx-portfolio-content" style="margin:0 -5px;"> #}

                                                    {% component 'DisplayManufacturers' %}

                                                    {# <article class="btx-entry btx-entry-light-scheme btx-col-3 post-698 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-product-design" style="padding:0 5px; margin-bottom:10px;" data-filter="Product Design">
                                                        <a href="#" class="btx-entry-inner anmt-item anmt-fadeinu stagger anmt-content-reveal anmt-image-blur">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-arch-cover-1024x768.jpg" alt="" width="1024" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.8);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle" style="padding:50px;">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Maison Moderne                                                          </h4>

                                                                        <div class="btx-entry-category btx-s-text-color btx-primary-font">Product Design</div>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-light-scheme btx-col-3 post-225 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-web-design" style="padding:0 5px; margin-bottom:10px;" data-filter="Web Design">
                                                        <a href="#" class="btx-entry-inner anmt-item anmt-fadeinu stagger anmt-content-frame anmt-image-blur">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-iphone-cover-1024x768.jpg" alt="" width="1024" height="768"  /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.8);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle" style="padding:50px;">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Bloc App                                                            </h4>

                                                                        <div class="btx-entry-category btx-s-text-color btx-primary-font">Web Design</div>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-light-scheme btx-col-3 post-241 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-print" style="padding:0 5px; margin-bottom:10px;" data-filter="Print">
                                                        <a href="#" class="btx-entry-inner anmt-item anmt-fadeinu stagger anmt-content-frame anmt-image-blur">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-leaflet-cover-1024x768.jpg" alt="" width="1024" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.8);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle" style="padding:50px;">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Madeleine                                                           </h4>

                                                                        <div class="btx-entry-category btx-s-text-color btx-primary-font">Print</div>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-light-scheme btx-col-3 post-244 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-branding btx_portfolio_category-print" style="padding:0 5px; margin-bottom:10px;" data-filter="Branding, Print">
                                                        <a href="#" class="btx-entry-inner anmt-item anmt-fadeinu stagger anmt-content-frame anmt-image-blur">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-styleguide-cover-1024x768.jpg" alt="" width="1024" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.8);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle" style="padding:50px;">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Backspace Studio                                                            </h4>

                                                                        <div class="btx-entry-category btx-s-text-color btx-primary-font">Branding, Print</div>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-light-scheme btx-col-3 post-247 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-print" style="padding:0 5px; margin-bottom:10px;" data-filter="Print">
                                                        <a href="#" class="btx-entry-inner anmt-item anmt-fadeinu stagger anmt-content-reveal anmt-image-blur">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-vinyl-cover-1024x768.jpg" alt="" width="1024" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.9);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle" style="padding:50px;">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Solo Discography                                                            </h4>

                                                                        <div class="btx-entry-category btx-s-text-color btx-primary-font">Print</div>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-light-scheme btx-col-3 post-250 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-product-design" style="padding:0 5px; margin-bottom:10px;" data-filter="Product Design">
                                                        <a href="#" class="btx-entry-inner anmt-item anmt-fadeinu stagger anmt-content-frame anmt-image-blur">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-chair-cover-1024x768.jpg" alt="" width="1024" height="768"  /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.8);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle" style="padding:50px;">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Nord Collection                                                         </h4>

                                                                        <div class="btx-entry-category btx-s-text-color btx-primary-font">Product Design</div>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-light-scheme btx-col-3 post-259 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-product-design" style="padding:0 5px; margin-bottom:10px;" data-filter="Product Design">
                                                        <a href="#" class="btx-entry-inner anmt-item anmt-fadeinu stagger anmt-content-frame anmt-image-blur">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-interior-cover-1024x768.jpg" alt="" width="1024" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.8);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle" style="padding:50px;">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Scandinavian Interior                                                           </h4>

                                                                        <div class="btx-entry-category btx-s-text-color btx-primary-font">Product Design</div>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-light-scheme btx-col-3 post-262 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-web-design" style="padding:0 5px; margin-bottom:10px;" data-filter="Web Design">
                                                        <a href="#" class="btx-entry-inner anmt-item anmt-fadeinu stagger anmt-content-frame anmt-image-blur">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-ipad-cover-1024x768.jpg" alt="" width="1024" height="768"  /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.8);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle" style="padding:50px;">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            The Everest                                                         </h4>

                                                                        <div class="btx-entry-category btx-s-text-color btx-primary-font">Web Design</div>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-light-scheme btx-col-3 post-306 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-packaging" style="padding:0 5px; margin-bottom:10px;" data-filter="Packaging">
                                                        <a href="#" class="btx-entry-inner anmt-item anmt-fadeinu stagger anmt-content-frame anmt-image-blur">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-cd-cover-1024x768.jpg" alt="" width="1024" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.8);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle" style="padding:50px;">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Blue Cover                                                          </h4>

                                                                        <div class="btx-entry-category btx-s-text-color btx-primary-font">Packaging</div>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-light-scheme btx-col-3 post-279 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-branding" style="padding:0 5px; margin-bottom:10px;" data-filter="Branding">
                                                        <a href="#" class="btx-entry-inner anmt-item anmt-fadeinu stagger anmt-content-frame anmt-image-blur">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-business-cover-1024x768.jpg" alt="" width="1024" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.8);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle" style="padding:50px;">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Company B.                                                          </h4>

                                                                        <div class="btx-entry-category btx-s-text-color btx-primary-font">Branding</div>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-light-scheme btx-col-3 post-283 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-branding" style="padding:0 5px; margin-bottom:10px;" data-filter="Branding">
                                                        <a href="#" class="btx-entry-inner anmt-item anmt-fadeinu stagger anmt-content-frame anmt-image-blur">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-poster-cover-1024x768.jpg" alt="" width="1024" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.8);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle" style="padding:50px;">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            City Poster                                                         </h4>

                                                                        <div class="btx-entry-category btx-s-text-color btx-primary-font">Branding</div>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-light-scheme btx-col-3 post-287 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-branding" style="padding:0 5px; margin-bottom:10px;" data-filter="Branding">
                                                        <a href="#" class="btx-entry-inner anmt-item anmt-fadeinu stagger anmt-content-frame anmt-image-blur">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-paper-cover-768x576.jpg" alt="" width="768" height="576"  /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.8);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle" style="padding:50px;">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Paper Dreams                                                            </h4>

                                                                        <div class="btx-entry-category btx-s-text-color btx-primary-font">Branding</div>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-light-scheme btx-col-3 post-295 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-branding btx_portfolio_category-packaging" style="padding:0 5px; margin-bottom:10px;" data-filter="Branding, Packaging">
                                                        <a href="#" class="btx-entry-inner anmt-item anmt-fadeinu stagger anmt-content-frame anmt-image-blur">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-coffee-cover-768x576.jpg" alt="" width="768" height="576" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.8);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle" style="padding:50px;">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            The Roastery                                                            </h4>

                                                                        <div class="btx-entry-category btx-s-text-color btx-primary-font">Branding, Packaging</div>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-light-scheme btx-col-3 post-298 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-branding" style="padding:0 5px; margin-bottom:10px;" data-filter="Branding">
                                                        <a href="#" class="btx-entry-inner anmt-item anmt-fadeinu stagger anmt-content-frame anmt-image-blur">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-card-cover-768x576.jpg" alt="" width="768" height="576" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.8);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle" style="padding:50px;">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Bateaux Brand                                                           </h4>

                                                                        <div class="btx-entry-category btx-s-text-color btx-primary-font">Branding</div>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article>

                                                    <article class="btx-entry btx-entry-light-scheme btx-col-3 post-301 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-branding" style="padding:0 5px; margin-bottom:10px;" data-filter="Branding">
                                                        <a href="#" class="btx-entry-inner anmt-item anmt-fadeinu stagger anmt-content-frame anmt-image-blur">

                                                            <div class="btx-entry-header ">

                                                                <div class="btx-entry-media">
                                                                    <img src="upload/portfolio-corporate-cover-1024x768.jpg" alt="" width="1024" height="768" /> </div>

                                                                <div class="btx-overlay" style="background-color:rgba(255,255,255,0.8);"></div>

                                                            </div>

                                                            <div class="btx-entry-body title-middle" style="padding:50px;">
                                                                <div class="btx-entry-body-inner">

                                                                    <div class="btx-entry-body-content">

                                                                        <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                            Bateaux Venture                                                         </h4>

                                                                        <div class="btx-entry-category btx-s-text-color btx-primary-font">Branding</div>

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </a>

                                                    </article> #}

                                                {# </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </article>
</main> #}