title = "My account"
url = "/my-account"
layout = "dashboardLayout2"
is_hidden = 0

[Cart]

[session]
security = "user"
redirect = "register"

[account]
paramCode = "code"
forceSecure = 0

[Shop]

[Getcustomerinfo]
==
{% set userPrints = user.prints %} {#
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Profile Information -
                        <span style="font-size:12px;">
                            <a href="{{'profile'|page({'username':user.id})}}">Visit Profile</a>
                        </span>
                    </h4>
                    Welcome to your Dashboard. From here you can edit your profile, showcase your projects, make
                    connections, and much more.
                </div>
                <div class="content">
                    <div>
                        {% partial 'dashboard/user-update' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> #} {#
<div class="admin-stats">
    <div class="row">
        <div class="col-xs-12 col-lg-6 col-xl-3">
            <div class="admin-stat lime">
                <div class="admin-stat-icon">
                    <i class="md-icon">people</i>
                </div>
                <!-- /.admin-stat-icon -->

                <div class="admin-stat-content">
                    <h2>Unique Visits</h2>
                    <h3>12,291</h3>
                </div>
                <!-- /.admin-stat-content -->
            </div>
            <!-- /.admin-stat -->
        </div>
        <!-- /.col-* -->

        <div class="col-xs-12 col-lg-6 col-xl-3">
            <div class="admin-stat blue">
                <div class="admin-stat-icon">
                    <i class="md-icon">search</i>
                </div>
                <!-- /.admin-stat-icon -->

                <div class="admin-stat-content">
                    <h2>Total Searches</h2>
                    <h3>1,203</h3>
                </div>
                <!-- /.admin-stat-content -->
            </div>
            <!-- /.admin-stat -->
        </div>
        <!-- /.col-* -->

        <div class="col-xs-12 col-lg-6 col-xl-3">
            <div class="admin-stat purple">
                <div class="admin-stat-icon">
                    <i class="md-icon">storage</i>
                </div>
                <!-- /.admin-stat-icon -->

                <div class="admin-stat-content">
                    <h2>Of Listings</h2>
                    <h3>84,524</h3>
                </div>
                <!-- /.admin-stat-content -->
            </div>
            <!-- /.admin-stat -->
        </div>
        <!-- /.col-* -->

        <div class="col-xs-12 col-lg-6 col-xl-3">
            <div class="admin-stat brown">
                <div class="admin-stat-icon">
                    <i class="md-icon">message</i>
                </div>
                <!-- /.admin-stat-icon -->

                <div class="admin-stat-content">
                    <h2>Unread Messages</h2>
                    <h3>453</h3>
                </div>
                <!-- /.admin-stat-content -->
            </div>
            <!-- /.admin-stat -->
        </div>
        <!-- /.col-* -->
    </div>
    <!-- /.row -->
</div> #}
<!-- /.admin-stats -->
<div class="admin-stats">
    <div class="row">

        {# <div class="col-xs-12 col-lg-6 col-xl-3">
            <img src="{{user.avater.path}}" alt="">
            {{user.name}} {{user.surname}}
            <div class="admin-stat brown">
                <div class="admin-stat-icon">
                    <i class="md-icon">message</i>
                </div><!-- /.admin-stat-icon -->

                <div class="admin-stat-content">
                    <h2>Unread Messages</h2>
                    <h3>453</h3>
                </div><!-- /.admin-stat-content -->
            </div><!-- /.admin-stat -->
        </div> #}

        <div class="col-xs-12 col-lg-6 col-xl-3">
            <div class="admin-stat lime">
                <div class="admin-stat-icon">
                    <i class="md-icon">shopping_cart</i>
                </div><!-- /.admin-stat-icon -->

                <div class="admin-stat-content">
                    <h2>All Orders</h2>
                    <h3>{{user.orders|length}}</h3>
                </div><!-- /.admin-stat-content -->
            </div><!-- /.admin-stat -->
        </div><!-- /.col-* -->

        <div class="col-xs-12 col-lg-6 col-xl-3">
            <div class="admin-stat blue">
                <div class="admin-stat-icon">
                    <i class="md-icon">departure_board</i>
                </div><!-- /.admin-stat-icon -->
                {% if user.type_id == 2 %}
                <div class="admin-stat-content">
                    <h2>Prints Awaiting Approval</h2>
                    <h3>{{user.notApprovedCount}}</h3>
                </div><!-- /.admin-stat-content -->
                {% else %}
                <div class="admin-stat-content">
                    <h2>Awaiting Delivery</h2>
                    <h3>{{user.awaitingDelivery}}</h3>
                </div><!-- /.admin-stat-content -->
                {% endif %}
            </div><!-- /.admin-stat -->
        </div><!-- /.col-* -->

        <div class="col-xs-12 col-lg-6 col-xl-3">
            <div class="admin-stat purple">
                <div class="admin-stat-icon">
                    <i class="md-icon">favorite</i>
                </div><!-- /.admin-stat-icon -->
                {% if user.type_id == 2 %}
                <div class="admin-stat-content">
                    <h2>Artist Liked</h2>
                    <h3>{{user.liked}} times</h3>
                </div><!-- /.admin-stat-content -->
                {% else %}
                <div class="admin-stat-content">
                    <h2>Liked Prints</h2>
                    <h3>{{user.likes|length}}</h3>
                </div><!-- /.admin-stat-content -->
                {% endif %}
            </div><!-- /.admin-stat -->
        </div><!-- /.col-* -->

        {% if user.type_id == 2 %}
        <div class="col-xs-12 col-lg-6 col-xl-3">
            <div class="admin-stat brown">
                <div class="admin-stat-icon">
                    <i class="md-icon">message</i>
                </div><!-- /.admin-stat-icon -->

                <div class="admin-stat-content">
                    <h2>My Prints</h2>
                    <h3>{{user.prints|length}}</h3>
                </div><!-- /.admin-stat-content -->
            </div><!-- /.admin-stat -->
        </div><!-- /.col-* -->
        {% endif %}
    </div><!-- /.row -->
</div><!-- /.admin-stats -->


<div class="row">
    <div class="col-lg-12 col-xl-6 greypanel">

        <div class="admin-box personalinfo-box">
            <img class="img img-responsive dashboardavatar" src="{{user.avatar.path}}" alt="">

            <div class="personalinfo">
                   <h2> {{user.name}} {{user.surname}} {% if not user.type_id == 1 %}| <strong>{{user.display_name}}</strong>{% endif %}</h2>
                    <p>{{user.email}}</p> <p>{{user.phone_number}}</p>
                    {% if not user.type_id == 1 %}
                    <p>
                        {{user.bio}}
                    </p>
                    {% endif %}
            </div>
            {# <a href="#" class="btn btn-transparent">Read More</a> #}
        </div>
        <!-- /.admin-box -->
    </div>

    <div class="col-lg-12 col-xl-6">

       <div class="admin-box no-padding">
            {% set notApproved = user.notApproved %}
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3"><span class="underline">Billing Information & Address</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-transform:capitalize">{{user.address1}} <br />{{user.address2}} <br />{{user.state}}
                            State<br />{{user.city}}, {{user.country}} </td>

                    </tr>
                </tbody>

                {# <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">
                            <a href="#">Show Full List
                                <i class="md-icon">keyboard_arrow_right</i>
                            </a>
                        </td>
                    </tr>
                </tfoot> #}
            </table>
        </div>
        <!-- /.admin-box -->
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xl-6">
        <div class="admin-box no-padding">
            {% set notApproved = user.notApproved %}
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3"><span class="underline">Orders Waiting To Be Processed</span></th>
                    </tr>
                </thead>

                <tbody>
                    {% set toBeProcessed = user.toBeProcessed %}
                    {% for order in toBeProcessed|slice(0,3) %}
                    {# {% for print in notApproved %} #}

                    <tr>
                        <td>
                            <a href="#"><strong>KKR-{{order.created_at|date('m/d/y')}}{{order.id}}</strong> | NGN {% if
                                order.discounted_total %} {{order.discounted_total|number_format(2, '.', ',')}} {% else
                                %} {{order.total|number_format(2, '.', ',')}} {% endif %}</a>
                        </td>
                    </tr>
                    {# {% endfor %} #}
                    {% endfor %}
                </tbody>

                {# <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">
                            <a href="#">Show Full List
                                <i class="md-icon">keyboard_arrow_right</i>
                            </a>
                        </td>
                    </tr>
                </tfoot> #}
            </table>
        </div>



    </div>
    <!-- /.col-* -->

    <div class="col-lg-12 col-xl-6">

        {% if user.type_id == 2 %}
        <div class="admin-box no-padding">
            {% set notApproved = user.notApproved %}
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3"><span class="underline">Prints Waiting For Approval</span></th>
                    </tr>
                </thead>

                <tbody>
                    {% for print in notApproved %}
                    <tr>
                        <td>
                            <a href="#">
                                <img src="{{print.product_image.path}}" alt=""> {{print.product_name}}
                                {{print.created_at}}
                            </a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

                {# <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">
                            <a href="#">Show Full List
                                <i class="md-icon">keyboard_arrow_right</i>
                            </a>
                        </td>
                    </tr>
                </tfoot> #}
            </table>
        </div>
</div>
        {% endif %}
        <!-- /.admin-box -->
        <div class="admin-box no-padding">
            <table class="table">

                <thead>
                    <tr>
                        <th colspan="3"><span class="underline">Recently Processed Orders</span></th>

                    </tr>

                </thead>
                {% set processed = user.processedOrders %}

                <tbody>
                    {% for order in processed %}
                    <tr>
                        <td>
                            <a href="#">Order Number: Nº KKR-{{order.created_at|date('m/d/y')}}{{order.id}} | NGN {% if
                                order.discounted_total %} {{order.discounted_total|number_format(2, '.', ',')}} {% else
                                %} {{order.total|number_format(2, '.', ',')}} {% endif %}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

                {# <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">
                            <a href="#">Show Full List
                                <i class="md-icon">keyboard_arrow_right</i>
                            </a>
                        </td>
                    </tr>
                </tfoot> #}
            </table>
        </div>

        <!-- /.admin-box -->
    </div>
    <!-- /.col-* -->
</div>


<!-- /.row -->

{# <div class="admin-box no-padding">
    <div class="row">
        <div class="col-lg-12 col-xl-4">
            <table class="table small-header">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Country</th>
                        <th>Value</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <img src="assets/img/flags/czech-republic.png" alt=""> Czech Republic</td>
                        <td>100%</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>
                            <img src="assets/img/flags/france.png" alt=""> France</td>
                        <td>97%</td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>
                            <img src="assets/img/flags/spain.png" alt=""> Spain</td>
                        <td>86%</td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>
                            <img src="assets/img/flags/poland.png" alt=""> Poland</td>
                        <td>76%</td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>
                            <img src="assets/img/flags/hungary.png" alt=""> Hungary</td>
                        <td>70%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col-* -->

        <div class="col-lg-12 col-xl-4">
            <table class="table small-header">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Country</th>
                        <th>Value</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <img src="assets/img/flags/czech-republic.png" alt=""> Czech Republic</td>
                        <td>100%</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>
                            <img src="assets/img/flags/france.png" alt=""> France</td>
                        <td>97%</td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>
                            <img src="assets/img/flags/spain.png" alt=""> Spain</td>
                        <td>86%</td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>
                            <img src="assets/img/flags/poland.png" alt=""> Poland</td>
                        <td>76%</td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>
                            <img src="assets/img/flags/hungary.png" alt=""> Hungary</td>
                        <td>70%</td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>
                            <img src="assets/img/flags/austria.png" alt=""> Austria</td>
                        <td>64%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col-* -->

        <div class="col-lg-12 col-xl-4">
            <table class="table small-header">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Country</th>
                        <th>Value</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <img src="assets/img/flags/czech-republic.png" alt=""> Czech Republic</td>
                        <td>100%</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>
                            <img src="assets/img/flags/france.png" alt=""> France</td>
                        <td>97%</td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>
                            <img src="assets/img/flags/spain.png" alt=""> Spain</td>
                        <td>86%</td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>
                            <img src="assets/img/flags/poland.png" alt=""> Poland</td>
                        <td>76%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col-* -->
    </div>
    <!-- /.row -->
</div> #}
<!-- /.admin-box -->