title = "Orders"
url = "/my-account/orders"
layout = "dashboardLayout2"
is_hidden = 0

[session]
security = "users"
[Cart]
[Projects]
[Orders]
==

<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
                
                {% component 'Orders' %}

    </div>
    </div>
</div>

