title = "Order Details"
url = "/my-account/orders/:slug"
layout = "dashboardLayout2"
is_hidden = 0

[session]
security = "users"
[Cart]
[Projects]
[Orders]
[DisplayOrderDetails]
==
{% set order = DisplayOrderDetails.order %}

<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
                <p>Total: <b>NGN {{order.total|number_format(2, '.', ',')}}</b></p>
                {% component 'DisplayOrderDetails' total=order.total order=order %}
          
    </div>
    </div>
</div>

