title="Payment Callback"
url="/confirm-pay/callback"
layout="default"
[Cart]
[Shop]
[PaystackPayment]
[Checkout]
==
{% set order = PaystackPayment.order %}
{% set orderDetails = PaystackPayment.orderDetails %}
{% set transRef = PaystackPayment.transRef %}
{% set secretKey = PaystackPayment.secretKey %}
<section class="grid-shop blog">
    <div class="container">
        <div class="row">
                <div class="col-md-12">
                    <div style="width:100%; height:100px; background:url({{'assets/images/teaserImage1.jpg'|theme}}) no-repeat center; background-size:cover">
                    </div>
                    <div class="teasertext">
                        <h3>Thank you for your order</h3>
                        <div>
                            The world revolves around you and not around boring standardized furniture.
                            Make the furniture yours. Make the furniture fit your world! Have a small home? Choose intelligent design that makes the most of it. Or a big, triangular house? No problem, personalize the furniture to make it fit perfectly. At BoConcept, you choose your design, size, shape, color and material. 
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                {{ order }}

                    <p>
                        {{orderDetails}}
                    </p>

            </div>
            <div class="row">
                <h4>Order Summary</h4>
                <div class="col-md-4">
                    <div>
                        <p><b>First Name: </b>{{order.user.name}}</p>
                        <p><b>Last Name: </b>{{order.user.surname}}</p>
                        <p><b>Phone Number: </b>{{order.phone_number}}</p>
                        <p><b>Address: </b>{{order.address}}</p>
                        <p><b>E-mail Address: </b>{{order.user.email}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p><b>First Name: </b>{{order.user.name}}</p>
                        <p><b>Last Name: </b>{{order.user.surname}}</p>
                        <p><b>Phone Number: </b>{{order.phone_number}}</p>
                        <p><b>Address: </b>{{order.address}}</p>
                        <p><b>E-mail Address: </b>{{order.user.email}}</p>
                    </div>
                    {# <h3>Total: NGN {{order.total}}</h3> #}
                </div>
                <h3>Total: NGN {{order.total}}</h3>
            </div>
    </div>
</section>

{% if order.payment_method == 1 %}
<a href="/prints">Continue Shopping</a>
{% else %}
<form data-request="onRedirectToGateway">
    <input type="hidden" name="email" value="{{order.user.email}}"> 
    <input type="hidden" name="orderID" value="{{order.id}}">
    <input type="hidden" name="amount" value="{{order.total * 100}}"> 
    {# <input type="hidden" name="quantity" value="3"> #}
    {# <input type="hidden" name="metadata" value="{{ json_encode($array = ['key_name' => 'value',]) }}" >  #}
    <input type="hidden" name="reference" value="{{ transRef }}"> 
    <input type="hidden" name="key" value="{{ secretKey }}"> 
    {{ form_token() }}
    <button class="btn btn-success btn-lg btn-block" type="submit" value="Pay Now!">
        <i class="fa fa-plus-circle fa-lg"></i> Pay Now!
    </button>
</form>
{% endif %}



