title = "Payment Options"
url = "/payment-options"
layout = "default"
is_hidden = 0
[Cart]
[account]
==
<main class="btx-content btx-content--with-header" id="main">
    <article id="post-1251" class="btx-content-wrapper post-1251 page type-page status-publish hentry">
        <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme" data-role="header"
            data-scheme="dark">
            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                <div class="btx-background-wrapper" style="height: 266.4px; transform: translateY(-17.8px);">
                    <div class="btx-background-inner" style="background-image:url(https://ffe.ng/wp-content/uploads/2016/06/pexels-photo-1.jpg); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                </div>
                <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.5;"></div>
            </div>
            <div class="btx-page-hero-inner btx-container">
                <div class="btx-page-hero-wrapper btx-center-align">
                    <div class="btx-page-hero-content btx-middle-vertical">
                        <div class="btx-page-hero-content-wrapper btx-center-align">
                            <div class="btx-page-hero-body">
                                <div class="btx-page-hero-body-title">
                                    <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font">Payment Options</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="btx-main btx-main--single">
            <div class="btx-main-wrapper">
                <div class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
                    </div>
                    <div class="btx-section-wrapper" style="padding-top:0px; padding-bottom:0px;">
                        <div class="btx-container">
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-space btx-space" style="height:100px;"></div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-text btx-text btx-center-align btx-primary-font">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner"> For an order to be processed one of the following payments options must be
                                                    provided with all of the details as defined below</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main btx-row--no-spacing">
                                <div class="btx-col-5">
                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner">
                                                    <img src="https://ffe.ng/wp-content/uploads/2016/06/moneygraphics-02.png"
                                                        alt="" width="199" height="267" srcset="https://ffe.ng/wp-content/uploads/2016/06/moneygraphics-02.png 199w"
                                                        sizes="(max-width:199px) 100vw, 199px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-7">
                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">Purchase Order</h3>
                                    </div>
                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner">
                                                    <ul class="btx-text-bullet" style="list-style:circle; list-style-position:inside;">
                                                        <li>This option is only available to Pre – Approved customers.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main btx-row--no-spacing">
                                <div class="btx-col-7">
                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">Cheques</h3>
                                    </div>
                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner"> A valid cheque from a Nigerian bank. Cheques will be required to clear before
                                                    deliveries can be processed.
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-5">
                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner">
                                                    <img src="https://ffe.ng/wp-content/uploads/2016/06/moneygraphics-04.png"
                                                        alt="" width="238" height="156" srcset="https://ffe.ng/wp-content/uploads/2016/06/moneygraphics-04.png 238w"
                                                        sizes="(max-width:238px) 100vw, 238px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main btx-row--no-spacing">
                                <div class="btx-col-5">
                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner">
                                                    <img src="https://ffe.ng/wp-content/uploads/2016/06/banks2-300x300.jpg" alt=""
                                                        width="300" height="300" srcset="https://ffe.ng/wp-content/uploads/2016/06/banks2-300x300.jpg 300w"
                                                        sizes="(max-width:300px) 100vw, 300px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-7">
                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">Bank Transfer</h3>
                                    </div>
                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner"> We accept bank transfers from all local and international banks, including
                                                    but not limited to:
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main btx-row--no-spacing">
                                <div class="btx-col-5">
                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner">
                                                    <img src="https://ffe.ng/wp-content/uploads/2016/06/moneygraphics-05.png"
                                                        alt="" width="269" height="141" srcset="https://ffe.ng/wp-content/uploads/2016/06/moneygraphics-05.png 269w"
                                                        sizes="(max-width:269px) 100vw, 269px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-7">
                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">Debit &amp; Credit Cards</h3>
                                    </div>
                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner"> Debit / Credit Card: Card payments from all major operators are accepted
                                                    including (but not limited to) Mastercard, Visa and Verve. The following
                                                    information is required in order to successfully run a card:
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner">
                                                    <ul class="btx-text-bullet" style="list-style:circle; list-style-position:inside;">
                                                        <li>Name of Credit Card Holder (as it appears on the face of the card)</li>
                                                        <li>Billing Address (Street, City, State, Country, Postal Code)</li>
                                                        <li>CVV2 Code (3 digit number on back of Visa, MC)</li>
                                                        <li>Expiration Date</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main btx-row--no-spacing">
                                <div class="btx-col-7">
                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">Cash</h3>
                                    </div>
                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner"> Certain items may be ordered and payed for in cash upon delivery.
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-5">
                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner">
                                                    <img src="https://ffe.ng/wp-content/uploads/2016/06/moneygraphics-03-300x145.png"
                                                        alt="" width="300" height="145" srcset="https://ffe.ng/wp-content/uploads/2016/06/moneygraphics-03-300x145.png 300w"
                                                        sizes="(max-width:300px) 100vw, 300px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                </div>
                            </div>
                            
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
