title = "Perfect Pair"
url = "/perfect-pair-confirm/:slug?"
layout = "default"
hidden = 0

[Shop]
==

{% set perfectPair = Shop.prints %}

<section class="grid-shop blog">
    <div class="container-fluid">  
        <div class="row">
            <div class="col-sm-12 col-md-12" style="padding:20px; padding-top:100px">
					<div style="margin: 0 auto; width:70%; text-align:center">
						<h4 class="intro-title">Inspiration / Perfect Pair</h4>
						<p class="intro-size">Here we show you nice combos of posters in pair, perfect together. Buy the posters in the pictures simply by clicking on them. Happy shopping!</p>
					</div>
					
					{# <div class="grid-spr">
						<div class="col-sm-5 col-md-5"> <span>Showing {{products|length}} products</span> </div>
						<div class="col-sm-12 col-md-12 text-right">
							<div class="select-option">
								<select>
									<option value="Shop Favorites">Shop Favorites</option>
									<option value="Lowest Price">Lowest Price</option>
									<option value="Highest Price">Highest Price</option>
								</select>
							</div> <a href="#" class="grid-view-icon"><i class="fa fa-th-large" aria-hidden="true"></i></a> <a href="#" class="list-view-icon"><i class="fa fa-list" aria-hidden="true"></i></a> </div>
					</div> #}
					<div class="row wow zoomIn animated" data-wow-duration=".5s" data-wow-delay=".2s">
						
						<div class="col-md-6">
							<img src="{{perfectPair.product_image.path}}" alt="">
						</div>

						<div class="col-md-6">
							<div class="perfectpairimages">
								<img src="{{perfectPair.perfect_pair_1_image.path}}" alt="">
							<img src="{{perfectPair.perfect_pair_2_image.path}}" alt="">
							</div>
							
						</div>
				</div>
        </div>
    </div>
</section>