layout = "default"
hidden = 0

[Shop]
==

{% set products = Shop.perfectPair %}

<section class="grid-shop blog">
    <div class="container-fluid">  
        <div class="row">
            <div class="col-sm-12 col-md-12" style="padding:20px; padding-top:100px">
					<div style="margin: 0 auto; width:70%; text-align:center">
						<h4 class="intro-title">Inspiration / Perfect Pair</h4>
						<p class="intro-size">Here we show you nice combos of posters in pair, perfect together. Buy the posters in the pictures simply by clicking on them. Happy shopping!</p>
					</div>
					
					{# <div class="grid-spr">
						<div class="col-sm-5 col-md-5"> <span>Showing {{products|length}} products</span> </div>
						<div class="col-sm-12 col-md-12 text-right">
							<div class="select-option">
								<select>
									<option value="Shop Favorites">Shop Favorites</option>
									<option value="Lowest Price">Lowest Price</option>
									<option value="Highest Price">Highest Price</option>
								</select>
							</div> <a href="#" class="grid-view-icon"><i class="fa fa-th-large" aria-hidden="true"></i></a> <a href="#" class="list-view-icon"><i class="fa fa-list" aria-hidden="true"></i></a> </div>
					</div> #}
					<div class="row wow zoomIn animated" data-wow-duration=".5s" data-wow-delay=".2s">
						{% for product in products %}
                        
                        <div class="col-md-4" style="padding:18px 30px;">
							<!-- .pro-text -->
							<div class="pro-text">
								<!-- .pro-img -->
								<div class="pro-img"> <img class="frames" src="{{product.product_image.path}}" alt="2">
									<!-- .hover-img -->
									<div class="hover-img">
										<ul>
											<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
											<li><a href="#" data-toggle="modal" data-target="#quickModal" data-request="onView" data-request-data="slug: '{{product.slug}}'" data-whatever="@mdo"><i class="fa fa-search" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<!-- /.hover-img -->
								</div>
								<!-- /.pro-img --><a href="{{'perfect-pair-confirm'|page({'slug':product.slug})}}">{{product.product_name}}</a> <a href="#" class="addtocart">+ Add to cart</a>
								<div class="price">NGN {{ product.price }}</div>
							</div>
							<!-- /.pro-text -->
						</div>
                        {% endfor %}
					</div>
					{{product.render|raw}}
				</div>
        </div>
    </div>
</section>