title = "Perfect Pair"
url = "/perfect-pair"
layout = "coming-soon-layout"
hidden = 0

==

<!-- screen loader start -->
        <div class="screen-loader"></div><!-- screen loader end -->
        <!-- preload start -->
        <div id="preload">
            <!-- preload status start -->
            <div id="preload-status"></div><!-- preload status end -->
        </div><!-- preload end -->
        <!-- kenburnsy bg start -->
        <div id="kenburnsy-bg">
            <img alt="Background 1" src="{{'assets/coming-soon/images/slideimages/1.jpg'|theme}}">
            <img alt="Background 2" src="{{'assets/coming-soon/images/slideimages/2.jpeg'|theme}}">
            <img alt="Background 3" src="{{'assets/coming-soon/images/slideimages/3.jpg'|theme}}">
            
        </div><!-- kenburnsy bg end -->
        <!-- curtains start -->
        <div id="curtains"></div><!-- curtains end -->
        <!-- preload content start -->
        <div class="preload-content"></div><!-- preload content end -->
        <!-- header start -->
        <header>
            <!-- borders start -->
            <div id="borders"></div><!-- borders end -->
            <!-- particles start -->
            <div id="particles-holder">
                <canvas id="the-sea-canvas"></canvas>
            </div><!-- particles end -->
            <!-- center container start -->
            <div class="center-container-home">
                <!-- center block start -->
                <div class="center-block">
                    <!-- intro start -->
                    <div class="intro-wrapper">
                        <div class="intro">
                            <div class="introduction">
                                <h3 class="cycle-it">
                                    <a class="cycle-text" href="#">Under Construction</a>
                                </h3>
                                <h2 style="font-size:72px">
                                    PERFECT PAIR
                                </h2>
                                <h6 style="padding: 0px 0 30px 0">
                                IS COMING SOON
                                </h6>
                                <div>
                                    <span class="intro-line"></span>
                                    <span><a href="/">Back to Kokore</a></span>
                                    <span class="intro-line"></span>
                                </div>
                            </div>
                        </div>
                    </div><!-- intro end -->
                    <!-- newsletter form start -->
                     
                </div><!-- center block end -->
            </div><!-- center container end -->
            <!-- navigation start -->
            {# <div class="menu btn-nav">
                <a href="#"><span></span></a>
            </div>
            <nav role="navigation">
                <ul class="main-nav brackets">
                    <li class="move">
                        <a class="menu-state" href="#section-left">About</a>
                    </li>
                    <li class="move">
                        <a class="menu-state" href="#section-right">Services</a>
                    </li>
                   
                    <!-- <li class="move">
                        <a class="menu-state" href="#contact">Contact</a>
                    </li> -->
                </ul>
            </nav><!-- navigation end --> #}
        </header><!-- header end -->
        <!-- section about start -->
        <section data-direction="from-left" id="section-left">
            <!-- article start -->
            <article class="containerOT">
                <!-- center container start -->
                <div class="center-container">
                    <!-- closer start -->
                    <a class="close" href="#"></a><!-- closer end -->
                     <!-- center block start -->
                    <div class="center-block">
                        <!-- container start -->
                        <div class="container">
                            <h3>
                                About
                            </h3>
                            <!-- teaser 2 start -->
                            <div id="teaser-2">
                                <div id="teaser-text-2">
                                    <!-- teaser line 1 start -->
                                    <div class="teaser-text-animation-2 active first">
                                        <h2>
                                            <span class="teaser-normal-2">Buy</span> <span class="teaser-highlight-2">Art</span>
                                        </h2>
                                    </div><!-- teaser line 1 end -->
                                    <!-- teaser line 2 start -->
                                    <div class="teaser-text-animation-2">
                                        <h2>
                                            <span class="teaser-normal-2">Sell</span> <span class="teaser-highlight-2">Art</span>
                                        </h2>
                                    </div><!-- teaser line 2 end -->
                                    <!-- teaser line 3 start -->
                                    <div class="teaser-text-animation-2">
                                        <h2>
                                            <span class="teaser-normal-2">Hire a </span> <span class="teaser-highlight-2">Designer</span>
                                        </h2>
                                    </div><!-- teaser line 3 end -->
                                    <!-- teaser line 4 start -->
                                    <div class="teaser-text-animation-2">
                                        <h2>
                                            <span class="teaser-normal-2">Decorate Your</span> <span class="teaser-highlight-2">Home</span>
                                        </h2>
                                    </div><!-- teaser line 4 end -->
                                </div>
                            </div><!-- teaser 2 end -->
                            <!-- lineOT start -->
                            <div class="lineOT-about"></div><!-- lineOT end -->
                            <!-- row start -->
                            <div class="row">
                                <!-- decoration about start -->
                                <div class="decoration">
                                    <div class="decoration-about-left-1"></div>
                                    <div class="decoration-about-middle-1"></div>
                                    <div class="decoration-about-right-1"></div>
                                </div><!-- decoration about end -->
                                <div class="col-md-3"></div>
                                <div class="col-md-6 col-sm-12">
                                    <p class="">
                                    At Kokore we are passionate about design. We exist so you can have the space you love. This means giving you access to incredible art images, home items and top-notch craftmanship. Because when you find the art you love, you'll love your space more... and that's what it's all about
                                </p>
                                </div>
                                <div class="col-md-3"></div>
                                
                                <!-- decoration about start -->
                               
                            </div><!-- row end -->
                            <!-- team information start -->
                            
                            <!-- lineOT start -->
                            <div class="lineOT-about-2"></div><!-- lineOT end -->
                        </div><!-- container end -->
                    </div><!-- center block end -->
                </div><!-- center container end -->
            </article><!-- article end -->
        </section><!-- section about end -->
        <!-- section services start -->
        <section data-direction="from-right" id="section-right">
            <!-- article start -->
            <article class="containerOT">
                <!-- center container start -->
                <div class="center-container">
                    <!-- closer start -->
                    <a class="close" href="#"></a><!-- closer end -->
                     <!-- center block start -->
                    <div class="center-block">
                        <!-- container start -->
                        <div class="container">
                            <h3>
                                Services
                            </h3>
                            <!-- teaser 3 start -->
                            <div id="teaser-3">
                                <div id="teaser-text-3">
                                    <!-- teaser line 1 start -->
                                    <div class="teaser-text-animation-3 active first">
                                        <h2>
                                            <span class="teaser-normal-3">Buy</span> <span class="teaser-highlight-3">Art</span>
                                        </h2>
                                    </div><!-- teaser line 1 end -->
                                    <!-- teaser line 2 start -->
                                    <div class="teaser-text-animation-3">
                                        <h2>
                                            <span class="teaser-normal-3">Sell</span> <span class="teaser-highlight-3">Art</span>
                                        </h2>
                                    </div><!-- teaser line 2 end -->
                                    <!-- teaser line 3 start -->
                                    <div class="teaser-text-animation-3">
                                        <h2>
                                            <span class="teaser-normal-3">Hire a </span> <span class="teaser-highlight-3">Designer</span>
                                        </h2>
                                    </div><!-- teaser line 3 end -->
                                    <!-- teaser line 4 start -->
                                    <div class="teaser-text-animation-3">
                                        <h2>
                                            <span class="teaser-normal-3">Decorate Your</span> <span class="teaser-highlight-3">Home</span>
                                        </h2>
                                    </div><!-- teaser line 4 end -->
                                </div>
                            </div><!-- teaser 3 end -->
                            <!-- lineOT start -->
                            <div class="lineOT-services"></div><!-- lineOT end -->
                            <!-- row start -->
                            <div class="row">
                                <!-- decoration services start -->
                                <div class="decoration">
                                    <div class="decoration-services-left-1"></div>
                                    <div class="decoration-services-middle-1"></div>
                                    <div class="decoration-services-right-1"></div>
                                </div><!-- decoration services end -->
                                <div class="col-md-3"></div>
                                <div class="col-md-6 col-sm-12">
                                    <p class="">
                                    Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. Curabitur bibendum ut purus non ultricies. Sed vel felis laoreet, blandit metus non,
                                    gravida sem. In pharetra ultrices nisl, at posuere erat malesuada in.
                                    </p>
                                </div>
                                <div class="col-md-3"></div>
                                
                                <!-- decoration services start -->
                                <!-- owlCarousel services start -->
                                
                                
                                <!-- decoration services start -->
                                
                            </div><!-- row end -->
                            <!-- lineOT start -->
                            <div class="lineOT-services-2"></div><!-- lineOT end -->
                        </div><!-- container end -->
                    </div><!-- center block end -->
                </div><!-- center container end -->
            </article><!-- article end -->
        </section><!-- section services end -->
        <!-- section countdown start -->
        <section data-direction="from-top" id="section-top">
            <!-- article start -->
            <article class="containerOT">
                <!-- center container start -->
                <div class="center-container">
                    <!-- closer start -->
                    <a class="close" href="#"></a><!-- closer end -->
                     <!-- center block start -->
                    <div class="center-block">
                        <!-- container start -->
                        <div class="container">
                            <h3>
                                Going live in
                            </h3>
                            <!-- teaser 5 start -->
                            <div id="teaser-5">
                                <div id="teaser-text-5">
                                    <!-- teaser line 1 start -->
                                    <div class="teaser-text-animation-5 active first">
                                        <h2>
                                            <span class="teaser-normal-5">Full Screen</span> <span class="teaser-highlight-5">Background</span>
                                        </h2>
                                    </div><!-- teaser line 1 end -->
                                    <!-- teaser line 2 start -->
                                    <div class="teaser-text-animation-5">
                                        <h2>
                                            <span class="teaser-normal-5">Responsive</span> <span class="teaser-highlight-5">Layout</span>
                                        </h2>
                                    </div><!-- teaser line 2 end -->
                                    <!-- teaser line 3 start -->
                                    <div class="teaser-text-animation-5">
                                        <h2>
                                            <span class="teaser-normal-5">Styled</span> <span class="teaser-highlight-5">Typography</span>
                                        </h2>
                                    </div><!-- teaser line 3 end -->
                                    <!-- teaser line 4 start -->
                                    <div class="teaser-text-animation-5">
                                        <h2>
                                            <span class="teaser-normal-5">Multi-Browser</span> <span class="teaser-highlight-5">Support</span>
                                        </h2>
                                    </div><!-- teaser line 4 end -->
                                </div>
                            </div><!-- teaser 5 end -->
                            <!-- lineOT start -->
                            <div class="lineOT-countdown"></div><!-- lineOT end -->
                            <!-- row start -->
                            <div class="row">
                                <!-- decoration countdown start -->
                                <div class="decoration">
                                    <div class="decoration-countdown-left-1"></div>
                                    <div class="decoration-countdown-middle-1"></div>
                                    <div class="decoration-countdown-right-1"></div>
                                </div><!-- decoration countdown end -->
                                <!-- countdown start -->
                                <div id="countdown-wrapper">
                                    <ul id="countdown">
                                        <!-- days start -->
                                        <li>
                                            <span class="days">00</span>
                                            <p class="timeRefDays">
                                                days
                                            </p>
                                        </li><!-- days end -->
                                        <!-- hours start -->
                                        <li>
                                            <span class="hours">00</span>
                                            <p class="timeRefHours">
                                                hours
                                            </p>
                                        </li><!-- hours end -->
                                        <!-- minutes start -->
                                        <li>
                                            <span class="minutes">00</span>
                                            <p class="timeRefMinutes">
                                                minutes
                                            </p>
                                        </li><!-- minutes end -->
                                        <!-- seconds start -->
                                        <li>
                                            <span class="seconds">00</span>
                                            <p class="timeRefSeconds">
                                                seconds
                                            </p>
                                        </li><!-- seconds end -->
                                    </ul>
                                </div><!-- countdown end -->
                                <!-- decoration countdown start -->
                                <div class="decoration">
                                    <div class="decoration-countdown-left-2"></div>
                                    <div class="decoration-countdown-middle-2"></div>
                                    <div class="decoration-countdown-right-2"></div>
                                </div><!-- decoration countdown end --> 
                            </div><!-- row end -->
                            <!-- lineOT start -->
                            <div class="lineOT-countdown-2"></div><!-- lineOT end -->
                        </div><!-- container end -->
                    </div><!-- center block end -->
                </div><!-- center container end -->
            </article><!-- article end -->
        </section><!-- section countdown end -->
        <!-- section contact start -->
        <section data-direction="from-bottom" id="contact">
            <!-- article start -->
            <article class="containerOT">
                <!-- center container start -->
                <div class="center-container">
                    <!-- closer start -->
                    <a class="close" href="#"></a><!-- closer end -->
                     <!-- center block start -->
                    <div class="center-block">
                        <!-- container start -->
                        <div class="container">
                            <h3>
                                Contact
                            </h3>
                            <!-- teaser 4 start -->
                            <div id="teaser-4">
                                <div id="teaser-text-4">
                                    <!-- teaser line 1 start -->
                                    <div class="teaser-text-animation-4 active first">
                                        <h2>
                                            <span class="teaser-normal-4">Fullscreen</span> <span class="teaser-highlight-4">Background</span>
                                        </h2>
                                    </div><!-- teaser line 1 end -->
                                    <!-- teaser line 2 start -->
                                    <div class="teaser-text-animation-4">
                                        <h2>
                                            <span class="teaser-normal-4">Responsive</span> <span class="teaser-highlight-4">Layout</span>
                                        </h2>
                                    </div><!-- teaser line 2 end -->
                                    <!-- teaser line 3 start -->
                                    <div class="teaser-text-animation-4">
                                        <h2>
                                            <span class="teaser-normal-4">Styled</span> <span class="teaser-highlight-4">Typography</span>
                                        </h2>
                                    </div><!-- teaser line 3 end -->
                                    <!-- teaser line 4 start -->
                                    <div class="teaser-text-animation-4">
                                        <h2>
                                            <span class="teaser-normal-4">Multi-Browser</span> <span class="teaser-highlight-4">Support</span>
                                        </h2>
                                    </div><!-- teaser line 4 end -->
                                </div>
                            </div><!-- teaser 4 end -->
                            <!-- lineOT start -->
                            <div class="lineOT-contact"></div><!-- lineOT end -->
                            <!-- row start -->
                            <div class="row">
                                <!-- decoration contact start -->
                                <div class="decoration">
                                    <div class="decoration-contact-left-1"></div>
                                    <div class="decoration-contact-middle-1"></div>
                                    <div class="decoration-contact-right-1"></div>
                                </div><!-- decoration contact end -->
                                <div class="col-md-4">
                                    <span class="awesome"><span class="fa fa-map-marker"></span></span>
                                    <p class="info">
                                        Address
                                    </p>
                                    <p>
                                        ex nihilo, Inc.<br>
                                        Touchdown Dr<br>
                                        1176
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <span class="awesome"><span class="fa fa-mobile"></span></span>
                                    <p class="info">
                                        Telephone
                                    </p>
                                    <p>
                                        [00] 11 - 76<br>
                                        [01] 11 - 76
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <span class="awesome"><span class="fa fa-envelope-o"></span></span>
                                    <p class="info">
                                        E-mail
                                    </p>
                                    <p>
                                        <a href="mailto:you@yoursite.com">you@yoursite.com</a>
                                    </p>
                                </div>
                            </div><!-- row end -->
                            <!-- divider start -->
                            <div class="divider"></div><!-- divider end -->
                            <!-- row start -->
                            <div class="row">
                                <!-- decoration contact start -->
                                <div class="decoration">
                                    <div class="decoration-contact-left-2"></div>
                                    <div class="decoration-contact-middle-2"></div>
                                    <div class="decoration-contact-right-2"></div>
                                </div><!-- decoration contact end -->
                                <!-- twitter ticker start -->
                                <div id="twitter-wrap">
                                    <!-- twitter logo start -->
                                    <div id="twitter-logo">
                                        <a class="twitter-logo" href="https://twitter.com/enihilo" target="_blank"><span class="fa fa-twitter"></span></a>
                                    </div><!-- twitter logo end -->
                                    <!-- tweets start -->
                                    <div id="tweets">
                                        <div class="query" id="ticker"></div>
                                    </div><!-- tweets end -->
                                </div><!-- twitter ticker end -->
                                <!-- decoration contact start -->
                                <div class="decoration">
                                    <div class="decoration-contact-left-3"></div>
                                    <div class="decoration-contact-middle-3"></div>
                                    <div class="decoration-contact-right-3"></div>
                                </div><!-- decoration contact end -->
                            </div><!-- row end -->
                            <!-- divider start -->
                            <div class="divider-2"></div><!-- divider end -->
                            <!-- row start -->
                            <div class="row">
                                <h5>
                                    Get in touch
                                </h5>
                                <!-- contact form start -->
                                <div id="contact-form">
                                    <form action="contact.php" id="form" method="post" name="send">
                                        <div class="holder">
                                            <div>
                                                <input class="requiredField name" id="name" name="name" placeholder="Name" type="text">
                                            </div>
                                            <div>
                                                <input class="requiredField email" id="email" name="email" placeholder="Email" type="text">
                                            </div>
                                            <div>
                                                <input class="requiredField subject" id="subject" name="subject" placeholder="Subject" type="text">
                                            </div>
                                        </div>
                                        <div class="holder">
                                            <div>
                                                <textarea class="requiredField message" id="message" name="message" placeholder="Message">
</textarea>
                                            </div>
                                            <div>
                                                <button class="submit" data-hover="Submit" type="submit" value="Submit">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div><!-- contact form end -->
                            </div><!-- row end -->
                            <!-- divider start -->
                            <div class="divider"></div><!-- divider end -->
                            <!-- row start -->
                            <div class="row">
                                <!-- decoration contact start -->
                                <div class="decoration">
                                    <div class="decoration-contact-left-4"></div>
                                    <div class="decoration-contact-middle-4"></div>
                                    <div class="decoration-contact-right-4"></div>
                                </div><!-- decoration contact end -->
                                <!-- social icons start -->
                                <div class="social-icons-wrapper">
                                    <ul class="social-icons">
                                        <li>
                                            <a class="fa fa-twitter-square fa-2x" href="#"></a>
                                        </li>
                                        <li>
                                            <a class="fa fa-facebook-square fa-2x" href="#"></a>
                                        </li>
                                        <li>
                                            <a class="fa fa-google-plus-square fa-2x" href="#"></a>
                                        </li>
                                        <li>
                                            <a class="fa fa-youtube-square fa-2x" href="#"></a>
                                        </li>
                                        <li>
                                            <a class="fa fa-linkedin-square fa-2x" href="#"></a>
                                        </li>
                                        <li>
                                            <a class="fa fa-instagram fa-2x" href="#"></a>
                                        </li>
                                    </ul>
                                </div><!-- social icons end -->
                            </div><!-- row end -->
                            <!-- lineOT start -->
                            <div class="lineOT-contact-2"></div><!-- lineOT end -->
                        </div><!-- container end -->
                    </div><!-- center block end -->
                </div><!-- center container end -->
            </article><!-- article end -->
        </section><!-- section contact end -->
        <!-- scripts start -->