title = "Prints"
url = "/prints"
layout = "default"
is_hidden = 0

[Cart]
[Shop]
paramCode = "code"
forceSecure = 0
[session]
[Newfav]
[Offers]
[myFavoritePosts]
[DisplaySingleProduct]
==
<?
use Ffande\Procurement\Models\Product;
use Ffande\Procurement\Models\Category;
use Ffande\Procurement\Models\Frame;
use Ffande\Procurement\Models\Format;
use Ffande\Procurement\Models\Color;
use Ffande\Procurement\Models\Size;

function onStart() {
    $this->prepareVars();
    $this->addCss('assets/css/affix-top.css');
}

function prepareVars(){
	
    $options = post('Filter', []);
    //$this['prints'] = Product::where('homeitem',0)->where('published',1)->orderByRaw('RAND()')->listFrontEnd($options);
	//$this['prints'] = Product::where('homeitem',0)->where('published',1)->orderByRaw('order_number', 'asc')->listFrontEnd($options);
	if(post('keyword')){
		$searchKeyword = post('keyword');
		$this['prints'] = Product::where('product_name', 'LIKE', '%'.$searchKeyword.'%')->where('published',1)->listFrontEnd($options);
	} elseif(post('Filter[sort][]')) {
		$this['prints'] = Product::where('homeitem',0)->where('published',1)->listFrontEnd($options);
	} else {
		//$this['prints'] = Product::where('homeitem',0)->where('published',1)->orderBy('product_name', 'asc')->listFrontEnd($options);
        $this['prints'] = Product::where('homeitem',0)->where('published',1)->orderBy('order_number', 'asc')->listFrontEnd($options);
	}
	

    $this['formats'] = Format::all();
    $this['colors'] = Color::all();
    $this['sizes'] = Size::all();
    $this['productCategories'] = Category::where('home_item_category',0)->get();
	$this['sortOptions'] = Product::$allowedSortingOptions;
	$this['pages'] = $this['prints']->lastPage();
	
	if (isset($_COOKIE['pagination_posjs'])) {
		$this['page'] = $_COOKIE['pagination_posjs'];
	} else {
		$this['page'] = $this['prints']->currentPage();
	}
}

function onFilterPrints(){
    $this->prepareVars();
}



?>

==
{% put styles %}
<link href="/themes/kokore/assets/css/affix-top.css" rel="stylesheet" />
{% endput %}
<section class="grid-shop blog" styles="padding:0px !important">
    <div>{% flash success %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>
        {% endflash %}</div>
    <!-- .grid-shop -->
    <div class="container-fluid">
        {{ form_ajax('onFilterPrints', {update: {'prints/prints': '#printsPartial', 'prints/paginate':'#partialPaginate' } }) }}
        <div class="row" style="padding-left:30px;">
            <div class="col-sm-2 col-md-2 sidebar-shop left-sidebar">
                <div class="weight">
                    <div class="title categoryTitles">
                        <h4><a href="/prints/new">New in</a></h4>
                        <h4><a href="/prints/bestsellers">Bestsellers</a></h4>
                        <h4><a href="#">Custom Collections</a></h4>
                        {% component 'Offers' %}
                    </div>
                </div>
                <div id="printsFilter">
                    <div class="weight categoryfilter">
                        <div class="title"></div>
                        <div class="categories" style="margin-top: -25px;">
                            <ul>
							{% for category in productCategories %}
								{% if not category.parent_category_id %}
									<li><a href="#" class="parentCategory activeCategory" data-request="onPrints">{{category.category_name}}</a></li>
									<ul>
										{% for subCategory in category.categories %}
											{# <li><a href="{{ 'prints' | page({'slug' : subCategory.slug}) }}" class="childCategory" data-request="onCategoryPrints" data-request-data="slug:'{{subCategory.slug}}'">{{subCategory.category_name}}</a></li> #}
											<input type="checkbox" name="Filter[productCategories][]" value="{{subCategory.slug}}" data-value="{{subCategory.slug}}" id="{{subCategory.slug}}">
                            				<label for="{{subCategory.slug}}" class="categoryFilter" value="{{subCategory.slug}}">{{subCategory.category_name}}</label>
										{% endfor %}
									</ul>
								{% endif %}
							{% endfor %}
						</ul>
                        </div>
                    </div>

                    <div id="Filter">
                        <div class="weight categoryfilter">
                            <div class="title categoryTitles" style="margin-top: -25px;">
                                <h4><a href="/home-items" >Home Items</a></h4>
                                <h4><a href="/decor-services">Decor Services</a></h4>
                                <h4><a href="/blog">Blog</a></h4>    
                            </div>
                        </div>
                    </div>
                    
                    <div class"Filter">
                    <div class="weight categoryfilter">
                        <div class="title"></div>
                        <div class="categories" style="">
                            <a href="" class="resetfilters" style="color:#f9f9f9; font-size:12px; opacity:1">[ CLEAR FILTER ]</a>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function(){
                        $('.resetfilters').click(function(){
                            location.reload(true);
                        })
                    })
                </script>

                    {% spaceless %}
                    <div class="weight colorfilter">
                        <div class="title">
                            <h2>Color</h2>
                        </div>
                        {% for color in colors %}

                        <input type="checkbox" class="whitespace2" name="Filter[colors][]" value="{{color.slug}}"
                            data-value="{{color.slug}}" id="{{color.slug}}">
                        <label for="{{color.slug}}" class="whitespace2" value="{{color.slug}}"
                            style="background-image: url({{color.color_image.path}})"></label>
                        {% endfor %}
                    </div>
                    {% endspaceless %}
                    <div class="weight">
                        <div class="title">
                            <h2>Format</h2>
                        </div>
                        <div class="formatContainer formatfilter">
                            {% for format in formats %}
                            <input type="checkbox" name="Filter[formats][]" value="{{format.slug}}"
                                id="{{format.slug}}">
                            <label class="filterFormat {{format.slug}}" for="{{format.slug}}"
                                value="{{format.slug}}">{{format.slug}}</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="weight">
                        <div class="title">
                            <h2>Size</h2>
                        </div>
                        {% for size in sizes %}
                        <label>{{size.size}}
                            <input type="checkbox" name="Filter[sizes][]" value="{{size.slug}}"
                                data-value="{{size.slug}}" data-id="{{size.id}}">
                        </label>
                        {% endfor %}
                    </div>
                </div>

            </div>


            <div class="col-sm-10 col-md-10" style="padding:20px;">
                <div class="introtext-wrapper">
                    <h4 class="intro-title">Prints</h4>
                    <p class="intro-size">Define your space with a curated collection of modern art prints. Created by
                        some of our favourite established and emerging artists, styles range from ab-
                        stract, impressionist, typographical, as well as photography. Kokore offers a wide assortment of
                        distinct frames in a number of sizes and finishes to protect

                        your prints. Whether you’re gathering art piece by piece or looking to assemble a full gallery
                        wall all at once, start curating your own collection of modern art

                        prints with Kokore and, because our designs are regularly updated, you’re guaranteed to find
                        something that’s just right for you!</p>
                </div>
				<div class="quickview">
				
				</div>
                <div class="grid-spr">
                    {# <div class="col-sm-5 col-md-5"> <span>Showing {{prints|length}} prints</span> </div> #}
                    <div class="col-sm-12 col-md-12 text-right">
                        <div class="select-option" id="sorts">
                            <select name="Filter[sort][]">
                                <option value="">Sort Prints</option>
                                {# <option value="Shop Favorites">Shop Favorites</option> #}
                                {% for code, option in sortOptions %}
                                <option value="{{code}}">{{option}}</option>
                                {# <option value="lowest">Lowest Price</option>
									<option value="highest">Highest Price</option>
									<option value="popular">Most Popular</option> #}
                                {% endfor %}
                            </select>
                        </div>
                        {# <a href="#" class="grid-view-icon"><i class="fa fa-th-large" aria-hidden="true"></i></a> 
							<a href="#" class="list-view-icon"><i class="fa fa-list" aria-hidden="true"></i></a>  #}
                    </div>
                </div>




                <div id="printsPartial" class="" data-wow-duration=".5s" data-wow-delay=".2s">
                    {% if prints is not empty %}
                    {% partial 'prints/prints' %}
                    <div id="partialPaginate">
                        {% partial 'prints/paginate' %}
                    </div>
                    {% else %}
                    <p>There are no products matching your search criteria to display</p>
                    {% endif %}



                </div>


                {# <div id="partialPaginate">
						{% partial 'prints/paginate' %}
					</div> #}
                {# {{prints.render|raw}} #}
            </div>
            {{ form_close() }}
        </div>
    </div>
    <!-- /.grid-shop -->
</section>



	