title = "Profile"
url = "/profiles/profile/:display_name?"
layout = "default"
is_hidden = 0

[Community]
[account]
[Projects]
[Cart]
[Bookdecor]
==
<?php 

use Rainlab\User\Model\User;

public function onLoadMore(){
	$userID = post('userid');
	$this['userPrints'] = User::where('id', $userID)->first();
}

?>
==
{# {% set myProjects = Projects.projectsProfile %} #}
{% set packages = Bookdecor.packages %}
{% set urlUser = Community.urlUser %}
{% set canEdit = Community.canEdit %}
{% set prints = Community.prints %}
{% set works = Community.works %}
{% put styles %}
	{# <link rel="stylesheet" href="{{'assets/profile/css/fontawesome-all.min.css' | theme}}" type="text/css" media="all"> #}
	<link rel="stylesheet" href="{{'assets/profile/css/simple-line-icons.css' | theme}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{'assets/profile/css/slick.css' | theme}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{'assets/profile/css/magnific-popup.css' | theme}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{'assets/profile/css/animate.css' | theme}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{'assets/profile/css/style.css' | theme}}" type="text/css" media="all">
    <link rel="stylesheet" href="{{'assets/profile/css/myprofilestyles.css' | theme}}" type="text/css" media="all">
{% endput %}
{# <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="1">
    <div class="btx-section-wrapper" style="padding-top:100px; padding-bottom:100px;">
        <div class="btx-container">
            <div class="btx-row btx-row--main">
                <div class="btx-col-12">

                    <div class="btx-item js-item-heading btx-heading btx-heading--leadline btx-left-align btx-uppercase">
                        <h4 class="btx-heading-text btx-custom_a-font btx-s-text-color btx-p-border-border" style="border-color:#e5e5e5; padding-top:10px; letter-spacing:1px;">Profile {% if canEdit %}| <a href="{{'my-account'|page}}">Edit</a>{% endif %}</h4>
                    </div>

                    <div class="btx-item js-item-space btx-space" style="height:50px;"></div>
                </div>
            </div>
            <div class="btx-row btx-row--main">
                <div class="btx-col-2">
                </div>
                <div class="btx-col-2">
                    {% if urlUser.company == 1 or urlUser.supplier == 1 %}
                        <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                            <h4 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">Company</h4>
                        </div>
                    {% else %}
                        <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                            <h4 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">Name</h4>
                        </div>
                    {% endif %}
                    {% if urlUser.professional %}
                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                        <h4 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">Profession</h4>
                    </div>
                    {% elseif urlUser.company or urlUser.supplier %}
                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                        <h4 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">Category</h4>
                    </div>
                    {% endif %}
                    {% if urlUser.professional %}
                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                        <h4 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">Company</h4>
                    </div>
                    {% endif %}
                    


                    <div class="btx-item js-item-space btx-space btx-mobile-hidden" style="height:20px;"></div>
                </div>
                <div class="btx-col-6">
                    {% if urlUser.company == 1 or urlUser.supplier == 1 %}
                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align anmt-item anmt-fadein animated btx-opacity1">
                        <h4 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">{{urlUser.company_name}}</h4>
                    </div>
                    {% else %}
                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align anmt-item anmt-fadein animated btx-opacity1">
                        <h4 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">{{urlUser.name}} {{urlUser.surname}}</h4>
                    </div>
                    {% endif %}
                    {% if urlUser.professional or urlUser.company or urlUser.supplier %}
                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align anmt-item anmt-fadein animated btx-opacity1">
                        <h4 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">{{urlUser.profession.profession_name}}</h4>
                    </div>
                    {% endif %}
                    {% if urlUser.professional %}
                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align anmt-item anmt-fadein animated btx-opacity1">
                        <h4 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">{{urlUser.company_name}}</h4>
                    </div>
                    {% endif %}

                </div>
                <div class="btx-col-2">
                </div>
            </div>
            
            <div class="btx-row btx-row--main">
                <div class="btx-col-12">

                    <div class="btx-item js-item-heading btx-heading btx-heading--leadline btx-left-align btx-uppercase">
                        <h4 class="btx-heading-text btx-custom_a-font btx-s-text-color btx-p-border-border" style="border-color:#e5e5e5; padding-top:10px; letter-spacing:1px;">Projects {% if canEdit %}| <a href="{{'dashboard-projects'|page}}">Edit</a>{% endif %}</h4>
                    </div>

                    <div class="btx-item js-item-space btx-space" style="height:50px;"></div>
                </div>
            </div>
           
            <div class="btx-row btx-row--main">
                <div class="btx-item js-item-portfolio btx-portfolio btx-portfolio--grid btx-center-align">
                                <div class="btx-portfolio-content" style="margin: 0px -7.5px; position: relative; height: 564.968px;">
                                    {% for project in urlUser.projects %}
                                        <article class="btx-entry btx-col-3 post-5273 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-residential"
                                            style="padding: 0px 7.5px; margin-bottom: 15px; position: absolute; left: 0px; top: 0px;"
                                            data-filter="residential">
                                            <div class="btx-entry-inner anmt-item anmt-fadein stagger btx-with-shadow animated btx-opacity1">
                                                <a href="{{'single-project'|page({'slug':project.slug})}}" class="btx-entry-header anmt-content-fadein anmt-image-zoom">
                                                    <div class="btx-entry-media">
                                                        <div class="btx-media-wrapper">
                                                            <div class="btx-media-wrapper-inner">
                                                                <img src="{{project.project_image.path}}"
                                                                    alt="" width="510" height="340">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-overlay"></div>
                                                    <div class="btx-entry-preview btx-s-text-color">
                                                        <i data-mfp-src="{{project.project_image.path}}" class="twf twf-2x twf-minimal-plus"
                                                            title="Residential"></i>
                                                    </div>
                                                </a>
                                                <div class="btx-entry-body" style="padding:30px;">
                                                    <div class="btx-entry-body-inner">
                                                        <div class="btx-entry-body-wrapper">
                                                            <div class="btx-entry-body-content">
                                                                <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:16px;">
                                                                    <a href="{{'single-project'|page({'slug':project.slug})}}">{{project.project_name}}</a>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    {% endfor %}
                                </div>
                            </div>
            
            </div>
        </div>
    </div>
</section> #}

<section id="hero" class="hero {% if not user.backImage %} shader {% endif %}" data-stellar-background-ratio="0.5" style="margin-top:130px; {% if user.backImage %} background-image:url('https://kokore.local/storage/app/uploads/public/5f1/15c/963/5f115c963f3b4810415901.jpg'); background-size: cover; {% endif %}">
		
	<div class="intro">

		<div class="container">
			
			<!-- parallax layers -->
			<div class="parallax" data-relative-input="true">
				
				<!-- name -->
				<h1 class="name layer" data-depth="0.5">{{urlUser.name}} {{urlUser.surname}}</h1>
				
				<!-- job -->
				{# <span class="job layer" data-depth="0.6">Photographer</span> #}
				
				<!-- social profiles -->
				<ul class="social-profiles layer" data-depth="0.4">
					{# <li><a href="#"><i class="fab fa-facebook-f"></i></a></li> #}
					{# <li><a href="#"><i class="fab fa-twitter"></i></a></li> #}
					<li><a target="_blank" href="https://instagram.com/{{urlUser.instagram}}"><i style="color:white" class="fa fa-instagram"></i></a></li>
				</ul>
				
				<!-- picture -->
				<div class="image">
					<div class="layer" data-depth="0.7">
						<img src="{{urlUser.avatar.path}}" alt="{{urlUser.name}}_{{urlUser.surname}}" width="312" height="312" />
					</div>
				</div>

			</div>

		</div>

	</div>
	
	<!-- scroll down icon -->
	<a href="#about" class="scroll-down-icon">
		<i style="color:white" class="fa fa-chevron-down scroll-down"></i>
	</a>

</section>

<!-- section about -->
<section id="about" class="about with-line">

	<div class="container">
		
		<!-- section header -->
		<div class="section-header">
			<span class="back-text">About Me</span>
			<h2>Who am I?</h2>
			
		</div>

		<div class="row">
			
			<!-- picture -->
			<div class="col-sm-4">
				<img src="{{urlUser.avatar.path}}" alt="{{urlUser.name}}_{{urlUser.surname}}"  width="250" height="250" />
			</div>
			
			<!-- about text -->
			<div class="col-sm-4">
				<h4 class="title mb-4">I’m {{urlUser.name}} {{urlUser.surname}}</h4>
				<p class="mb-4">{{urlUser.bio}}</p>
				{# <img src="images/signature.png" alt="signature" /> #}
			</div>
			
			<!-- skill progress bars -->
			{% if urlUser.type_id == 3 %}
			<div class="col-sm-4">
			

				<h4 class="title">My Skill</h4>

				<div class="skill-item">
					<div class="skill-info clearfix">
						<span class="title float-left">Modern</span>
						<span class="percent float-right">{{urlUser.skills[0].modern}}%</span>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="{{urlUser.skills[0].modern}}" aria-valuemin="0" aria-valuemax="100">
						</div>
					</div>
				</div>

				<div class="skill-item">
					<div class="skill-info clearfix">
						<span class="title float-left">Contemporary</span>
						<span class="percent float-right">{{urlUser.skills[0].contemporary}}%</span>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="{{urlUser.skills[0].contemporary}}" aria-valuemin="0" aria-valuemax="100">
						</div>
					</div>
				</div>

				<div class="skill-item">
					<div class="skill-info clearfix">
						<span class="title float-left">Minimalistic</span>
						<span class="percent float-right">{{urlUser.skills[0].minimalistic}}%</span>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="{{urlUser.skills[0].minimalistic}}" aria-valuemin="0" aria-valuemax="100">
						</div>
					</div>
				</div>

				<div class="skill-item">
					<div class="skill-info clearfix">
						<span class="title float-left">Mid-century Modern</span>
						<span class="percent float-right">{{urlUser.skills[0].mid_century_modern}}%</span>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="{{urlUser.skills[0].mid_century_modern}}" aria-valuemin="0" aria-valuemax="100">
						</div>
					</div>
				</div>

			</div>
			{% endif %}

		</div>

	</div>
	
</section>

<!-- section services -->
{# <section id="services" class="services with-line">

	<div class="container">
		
		<!-- section header -->
		<div class="section-header">
			<span class="back-text">Services</span>
			<h2>What Can I Do</h2>
			
		</div>
		
		<!-- carousel wrapper -->
		<div class="row services-wrapper">
			
			<div class="col-sm-4">
				
				<div class="service-box box-shadow">
					<i class="icon-camera"></i>
					<h4 class="title">Photography</h4>
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
				</div>

			</div>

			<div class="col-sm-4">
				
				<div class="service-box box-shadow">
					<i class="icon-puzzle"></i>
					<h4 class="title">Illustration</h4>
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
				</div>

			</div>

			<div class="col-sm-4">
				
				<div class="service-box box-shadow">
					<i class="icon-frame"></i>
					<h4 class="title">Product Design</h4>
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
				</div>

			</div>

			<div class="col-sm-4">
				
				<div class="service-box box-shadow">
					<i class="icon-screen-smartphone"></i>
					<h4 class="title">Mobile Development</h4>
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
				</div>

			</div>

			<div class="col-sm-4">
				
				<div class="service-box box-shadow">
					<i class="icon-globe-alt"></i>
					<h4 class="title">Web Development</h4>
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
				</div>

			</div>

		</div>

	</div>
	
</section> #}

<!-- section facts with counter -->
{# <section class="dark facts" data-stellar-background-ratio="0.5">
	
	<div class="container">

		<div class="row">
			
			<div class="col-md-3 col-sm-6">
				<div class="fact-item">
					<h2>+<em class="count">253</em></h2>
					<p>Projects Completed</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="fact-item">
					<h2>+<em class="count">140</em></h2>
					<p>Satisfied Customers</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="fact-item">
					<h2>+<em class="count">18</em>k</h2>
					<p>Cup of Coffee</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="fact-item">
					<h2>+<em class="count">20</em>k</h2>
					<p>Hours Worked</p>
				</div>
			</div>

		</div>

	</div>

	<div class="mask"></div>

</section> #}

<!-- section timeline -->
{% if urlUser.type_id == 3 %}
<section id="resume" class="resume with-line">

	<div class="container">
		
		<!-- section header -->
		<div class="section-header">
			<span class="back-text">Resume</span>
			<h2>Experience</h2>
			
		</div>
		
		<!-- timeline wrapper -->
		<div class="timeline">
		{# {% for experience in user.experiences %} #}

			<!-- timeline left -->
			{% if urlUser.experiences[0] %}
			<div class="timeline-container left wow fadeIn">
				<div class="content box-shadow">
					<span class="time">{{urlUser.experiences[0].year}}</span>
					<h4 class="title">{{urlUser.experiences[0].degree_type}}</h4>
					<p>{{urlUser.experiences[0].description}}</p>
				</div>
			</div>
			{% endif %}

			<!-- timeline right -->
			{% if urlUser.experiences[1] %}
			<div class="timeline-container right wow fadeIn">
				<div class="content box-shadow">
					<span class="time">{{urlUser.experiences[1].year}}</span>
					<h4 class="title">{{urlUser.experiences[1].degree_type}}</h4>
					<p>{{urlUser.experiences[1].description}}</p>
				</div>
			</div>
			{% endif %}

			<!-- timeline left -->
			{% if urlUser.experiences[2] %}
			<div class="timeline-container left wow fadeIn">
				<div class="content box-shadow">
					<span class="time">{{urlUser.experiences[2].year}}</span>
					<h4 class="title">{{urlUser.experiences[2].degree_type}}</h4>
					<p>{{urlUser.experiences[2].description}}</p>
				</div>
			</div>
			{% endif %}

			<!-- timeline right -->
			{% if urlUser.experiences[3] %}
			<div class="timeline-container right wow fadeIn">
				<div class="content box-shadow">
					<span class="time">{{urlUser.experiences[3].year}}</span>
					<h4 class="title">{{urlUser.experiences[3].degree_type}}</h4>
					<p>{{urlUser.experiences[3].description}}</p>
				</div>
			</div>
			{% endif %}
		{# {% endfor %} #}
			<!-- main line -->
			

		</div>

		{# <div class="more-button text-center">
			<a href="#" class="btn btn-outline">Download CV</a>
		</div> #}

	</div>
	
</section>
{% endif %}

<!-- section portfolio -->
<section id="works" class="portfolio with-line">

	<div class="container">
		{# {{urlUser}} #}
		<!-- section header -->
		{% if urlUser.type_id == 3 %}
		<div class="section-header">
			<span class="back-text">Works</span>
			<h2>My Works</h2>
			
		</div>
		{% else %}
		<div class="section-header">
			<span class="back-text">Prints</span>
			<h2>Prints</h2>
			
		</div>
		{% endif %}
		
		<!-- portfolio filter (desktop) -->
		{# <ul class="portfolio-filter">
			<li class="current" data-filter="*">All</li>
			<li data-filter=".photography">Photography</li>
			<li data-filter=".branding">Branding</li>
			<li data-filter=".video">Video</li>
			<li data-filter=".audio">Audio</li>
		</ul> #}
		
		<!-- portfolio filter (mobile) -->
		{# <select class="portfolio-filter-mobile">
			<option value="*">All</option>
			<option value=".photography">Photography</option>
			<option value=".branding">Branding</option>
			<option value=".video">Video</option>
			<option value=".audio">Audio</option>
		</select> #}
		
		<!-- portolio wrapper -->
		<div class="row portfolio-wrapper wow slideInUp">
			{% if urlUser.type_id == 3 %}
				{% for work in works %}
					<div class="col-sm-3 video">
						<div class="portfolio-item text-center">
							<div class="thumb">
								<div class="icons">
									<a href="{{work.portfolio_featured_image.path}}" class="portfolio-image" data-effect="mfp-move-horizontal">
										<i class="icon-size-fullscreen fullscreen"></i>
									</a>
									{# <a href="/products/product/{{work.slug}}"> #}
										<i class="icon-link link"></i>
									</a>
								</div>
								<img src="{{work.portfolio_featured_image.path}}" alt="Portfolio-title" />
								{# <div class="mask"></div> #}
							</div>
							<h4 class="title">{{work.name}}</h4>
							{# {% for category in print.categories %}
								<span class="term">{{category.category_name}}</span>
							{% endfor %} #}
						</div>
					</div>
				{% endfor %}
			<!-- portfolio item -->
			

			{% else %}
				{% for print in prints %}
			<div class="col-sm-3 video">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="{{print.product_image.path}}" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="/prints/print/{{print.slug}}">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="{{print.product_image.path}}" alt="Portfolio-title" />
						{# <div class="mask"></div> #}
					</div>
					<h4 class="title"><a href="/prints/print/{{print.slug}}">{{print.product_name}}</a></h4>
					{# {% for category in print.categories %}
						<span class="term">{{category.category_name}}</span>
					{% endfor %} #}
				</div>
			</div>
			{% endfor %}
			{% endif %}
			<!-- portfolio item -->
			{# <div class="col-sm-4 photography">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="{{'assets/profile/images/portfolio/portfolio-2-full.jpg' | theme}}" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="single-portfolio.html">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="{{'assets/profile/images/portfolio-2.jpg'|theme}}" alt="Portfolio-title" />
						<div class="mask"></div>
					</div>
					<h4 class="title"><a href="single-portfolio.html">Floor Photo</a></h4>
					<span class="term">Photography</span>
				</div>
			</div> #}
			
			<!-- portfolio item -->
			{# <div class="col-sm-4 branding audio">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="{{'assets/profile/images/portfolio/portfolio-3-full.jpg' | theme}}" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="single-portfolio.html">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="{{'assets/profile/images/portfolio-3.jpg'|theme}}" alt="Portfolio-title" />
						<div class="mask"></div>
					</div>
					<h4 class="title"><a href="single-portfolio.html">Creative Work</a></h4>
					<span class="term">Branding, Audio</span>
				</div>
			</div> #}
			
			<!-- portfolio item -->
			{# <div class="col-sm-4 photography">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="{{'assets/profile/images/portfolio/portfolio-4-full.jpg' | theme}}" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="single-portfolio.html">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="{{'assets/profile/images/portfolio-4.jpg'|theme}}" alt="Portfolio-title" />
						<div class="mask"></div>
					</div>
					<h4 class="title"><a href="single-portfolio.html">Some Creative</a></h4>
					<span class="term">Photography</span>
				</div>
			</div> #}
			
			<!-- portfolio item -->
			{# <div class="col-sm-4 audio">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="{{'assets/profile/images/portfolio/portfolio-5-full.jpg' | theme}}" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="single-portfolio.html">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="{{'assets/profile/images/portfolio-5.jpg'|theme}}" alt="Portfolio-title" />
						<div class="mask"></div>
					</div>
					<h4 class="title"><a href="single-portfolio.html">Mountain Shoot</a></h4>
					<span class="term">Audio</span>
				</div>
			</div> #}
			
			<!-- portfolio item -->
			{# <div class="col-sm-4 branding">
				<div class="portfolio-item text-center">
					<div class="thumb">
						<div class="icons">
							<a href="{{'assets/profile/images/portfolio/portfolio-6-full.jpg' | theme}}" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="single-portfolio.html">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="{{'assets/profile/images/portfolio-6.jpg'|theme}}" alt="Portfolio-title" />
						<div class="mask"></div>
					</div>
					<h4 class="title"><a href="single-portfolio.html">A Woman In Nature</a></h4>
					<span class="term">Branding</span>
				</div>
			</div> #}

		</div>
		{% if urlUser.type_id == 2 %}
		<!-- more button -->
		<div class="more-button text-center">
			<a href="{{'artist-works'|page({'display_name':urlUser.display_name})}}" class="btn btn-outline">More Works</a>
		</div>
		{% endif %}

		
	</div>
	
</section>

<!-- section testimonials carousel -->
{# <section class="dark testimonials" data-stellar-background-ratio="0.5">
	
	<div class="container">
		
		<!-- carousel wrapper -->
		<div class="testimonials-wrapper">
			
			<!-- testimonial item -->
			<div class="testimonial-item">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut condimentum lacus. Nullam est urna, maximus eget maximus eu, sodales et tellus.</p>
				<img src="images/customer-1.jpg" alt="John Doe" />
				<h4 class="title">John Doe</h4>
			</div>
			
			<!-- testimonial item -->
			<div class="testimonial-item">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut condimentum lacus. Nullam est urna, maximus eget maximus eu, sodales et tellus.</p>
				<img src="images/customer-1.jpg" alt="John Doe" />
				<h4 class="title">John Doe</h4>
			</div>
			
			<!-- testimonial item -->
			<div class="testimonial-item">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut condimentum lacus. Nullam est urna, maximus eget maximus eu, sodales et tellus.</p>
				<img src="images/customer-1.jpg" alt="John Doe" />
				<h4 class="title">John Doe</h4>
			</div>

		</div>

	</div>

	<div class="mask"></div>

</section> #}

<!-- section pricing tables -->
{# <section id="price" class="price with-line">

	<div class="container">
		
		<!-- section header -->
		<div class="section-header">
			<span class="back-text">Pricing</span>
			<h2>Pricing Table</h2>
			
		</div>

		<div class="row">
			
			<!-- column -->
			<div class="col-sm-4">
				<!-- price table -->
				<div class="price-table box-shadow wow slideInUp">
					<h4 class="title">Regular</h4>
					<h2 class="price"><em>$</em>14</h2>
					<ul>
						<li>Frontend Builder</li>
						<li>Regular Support</li>
						<li>2 Years of Updates</li>
						<li>White Labeling</li>
					</ul>
					<a href="#" class="btn btn-outline">Continue</a>
				</div>
			</div>
			
			<!-- column -->
			<div class="col-sm-4">
				<!-- price table recommended -->
				<div class="price-table recommended box-shadow wow slideInUp" data-wow-delay=".5s">
					<h4 class="title">Extended</h4>
					<h2 class="price"><em>$</em>34</h2>
					<ul>
						<li>Frontend Builder</li>
						<li>Regular Support</li>
						<li>4 Years of Updates</li>
						<li>White Labeling</li>
					</ul>
					<a href="#" class="btn btn-outline-light">Continue</a>
				</div>
			</div>
			
			<!-- column -->
			<div class="col-sm-4">
				<!-- price table -->
				<div class="price-table box-shadow wow slideInUp" data-wow-delay="1s">
					<h4 class="title">Commercial</h4>
					<h2 class="price"><em>$</em>48</h2>
					<ul>
						<li>Frontend Builder</li>
						<li>Regular Support</li>
						<li>Lifetime of Updates</li>
						<li>White Labeling</li>
					</ul>
					<a href="#" class="btn btn-outline">Continue</a>
				</div>
			</div>

		</div>

	</div>
	
</section> #}

<!-- section blog -->
{# <section id="blog" class="blog with-line">

	<div class="container">
		
		<!-- section header -->
		<div class="section-header">
			<span class="back-text">News</span>
			<h2>From the Blog</h2>
			
		</div>
		
		<!-- blog wrapper -->
		<div class="row blog-wrapper">
			
			<!-- column -->
			<div class="col-sm-6">
				<!-- blog item -->
				<div class="blog-post box-shadow d-flex align-items-center">
					<div class="thumb">
						<a href="#">
							<img src="images/news-thumb-1.jpg" alt="news-title" />
						</a>
					</div>
					<div class="post-detail">
						<h2 class="title"><a href="#">3 Ways To Master Work Without Breaking A Sweat</a></h2>
						<ul class="post-meta">
							<li>By <a href="#">Talib</a></li>
							<li>09 April 2018</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- column -->
			<div class="col-sm-6">
				<!-- blog item -->
				<div class="blog-post box-shadow d-flex align-items-center">
					<div class="thumb">
						<a href="#">
							<img src="images/news-thumb-2.jpg" alt="news-title" />
						</a>
					</div>
					<div class="post-detail">
						<h2 class="title"><a href="#">Things To Do Immediately About Photography</a></h2>
						<ul class="post-meta">
							<li>By <a href="#">Talib</a></li>
							<li>09 April 2018</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- column -->
			<div class="col-sm-6">
				<!-- blog item -->
				<div class="blog-post box-shadow d-flex align-items-center">
					<div class="thumb">
						<a href="#">
							<img src="images/news-thumb-3.jpg" alt="news-title" />
						</a>
					</div>
					<div class="post-detail">
						<h2 class="title"><a href="#">What Can You Do About Branding Right Now</a></h2>
						<ul class="post-meta">
							<li>By <a href="#">Talib</a></li>
							<li>09 April 2018</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- column -->
			<div class="col-sm-6">
				<!-- blog item -->
				<div class="blog-post box-shadow d-flex align-items-center">
					<div class="thumb">
						<a href="#">
							<img src="images/news-thumb-4.jpg" alt="news-title" />
						</a>
					</div>
					<div class="post-detail">
						<h2 class="title"><a href="#">Wondering How To Make Your Branding Rock? Read This!</a></h2>
						<ul class="post-meta">
							<li>By <a href="#">Talib</a></li>
							<li>09 April 2018</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		
		<!-- more button -->
		<div class="more-button text-center">
			<a href="#" class="btn btn-outline">More Posts</a>
		</div>

	</div>
	
</section> #}

<!-- section clients logo carousel -->
{# <section class="dark clients" data-stellar-background-ratio="0.5">

	<!-- fix validator issue -->
	<h2 class="hidden">Clients</h2>
	
	<div class="container">
		
		<!-- carousel wrapper -->
		<div class="clients-wrapper wow slideInRight">
			
			<!-- client item -->
			<div class="client-item">
				<a href="#">
					<img src="images/client-1.png" alt="airbnb" />
				</a>
			</div>
			
			<!-- client item -->
			<div class="client-item">
				<a href="#">
					<img src="images/client-2.png" alt="business-insider" />
				</a>
			</div>
			
			<!-- client item -->
			<div class="client-item">
				<a href="#">
					<img src="images/client-3.png" alt="airbnb" />
				</a>
			</div>
			
			<!-- client item -->
			<div class="client-item">
				<a href="#">
					<img src="images/client-4.png" alt="business-insider" />
				</a>
			</div>

			<!-- client item -->
			<div class="client-item">
				<a href="#">
					<img src="images/client-5.png" alt="airbnb" />
				</a>
			</div>
			
			<!-- client item -->
			<div class="client-item">
				<a href="#">
					<img src="images/client-2.png" alt="business-insider" />
				</a>
			</div>

		</div>

	</div>

	<div class="mask"></div>

</section> #}

<!-- section contact -->
{% if urlUser.type_id == 3 %}
<section id="contact" class="with-line">

	<div class="container">
		
		<!-- section header -->
		<div class="section-header">
			<span class="back-text">Contact</span>
			<h2>Get In Touch</h2>
			
		</div>
			
		<div class="row">
			<div class="col-md-3"></div>

			<!-- column with offset -->
			<div class="col-md-6 col-sm-12">

				<!-- Contact Form -->
				<form data-request="onBookDecor">
					
					<div class="messages"></div>

					<!-- Name input -->
					<div class="col-md-6" style="padding:0px; padding-right:5px">
						<div class="form-group">
							<input type="text" class="form-control" name="f_name" id="InputName" placeholder="First Name" required="required" {% if user %} value="{{user.name}}" {% endif %} data-error="First name is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="col-md-6" style="padding:0px; padding-left:5px">
						<div class="form-group">
							<input type="text" class="form-control" name="l_name" id="InputName" placeholder="Last Name" required="required" {% if user %} value="{{user.surname}}" {% endif %} data-error="Last name is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
					

					<!-- Email input -->
					<div class="col-md-6" style="padding:0px; padding-right:5px">
						<div class="form-group">
							<input type="email" class="form-control" id="InputEmail" name="email" placeholder="Email address" required="required" {% if user %} value="{{user.email}}" {% endif %} data-error="Email is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>
					

					<div class="col-md-6" style="padding:0px; padding-left:5px">
						<div class="form-group">
							<input type="text" class="form-control" name="phone" id="InputName" placeholder="Phone Number" required="required" {% if user %} value="{{user.phone_number}}" {% endif %} data-error="Phone Number is required.">
							<div class="help-block with-errors"></div>
						</div>
					</div>

					{# <!-- Subject input -->
					<div class="form-group">
						<input type="text" class="form-control" id="InputSubject" name="InputSubject" placeholder="Subject" required="required" data-error="Subject is required.">
						<div class="help-block with-errors"></div>
					</div>	 #}

					<!-- Subject input -->
					<div class="form-group">
							<select type="text" class="form-control" id="package" name="package" style="height:50px;" required="required">
								<option value="">Choose a package</option>
                                {% for dbpackage in packages %}
                                    <option value="{{dbpackage.package_name}}" {% if package == dbpackage.package_name|lower %} selected {% endif %}>{{dbpackage.package_name}} Design</option>
                                {% endfor %}
								{# <option value="mini" {% if package == 'mini' %} selected {% endif %}>Mini Design</option>
								<option value="full" {% if package == 'full' %} selected {% endif %}>Full Design</option>
								<option value="free" {% if package == 'free' %} selected {% endif %}>Start Chatting</option> #}
							</select>
					</div>	

					<input type="hidden" value="{{urlUser.id}}" name="decorator">			

                    {# <div class="form-group">
							<select type="text" class="form-control" id="designer" name="designer" style="height:50px;" required="required">
								<option value="">Choose a Decorator</option>
                                {% for decorator in decorators if decorator.available %}
                                    <option value="{{decorator.id}}">{{decorator.display_name}}</option>
                                {% endfor %}
							</select>
					</div>	 #}

					<!-- Message textarea -->
					<div class="form-group">
						<textarea name="message" id="InputMessage" class="form-control" rows="7" placeholder="Message" required="required" data-error="Message is required."></textarea>
						<div class="help-block with-errors"></div>
					</div>

					<button type="submit" name="submit" value="Book" class="btn btn-default btn-full">Book & Pay</button><!-- Send Button -->

				</form>
				<!-- Contact Form end -->

			</div>
			<!-- end column -->
			<div class="col-md-3"></div>

		</div>

	</div>
	
</section>
{% endif %}

<!-- section contact info with icon -->
{# <section class="dark contact-info">
	
	<!-- fix validator issue -->
	<h2 class="hidden">Contact Info</h2>
	
	<div class="container">
		
		<div class="row">
			
			<!-- column -->
			<div class="col-md-4 col-sm-12">
				<!-- address box -->
				<div class="address-box d-flex align-items-center">
					<div class="icon">
						<i class="icon-location-pin"></i>
					</div>
					<p>1355 Market Street, Suite 900 San Francisco, CA 94103</p>
				</div>
			</div>
			
			<!-- column -->
			<div class="col-md-4 col-sm-12">
				<!-- address box -->
				<div class="address-box d-flex align-items-center">
					<div class="icon">
						<i class="icon-phone"></i>
					</div>
					<p>+(123) 456-7890 <br /> +(123) 908-7890</p>
				</div>
			</div>
			
			<!-- column -->
			<div class="col-md-4 col-sm-12">
				<!-- address box -->
				<div class="address-box d-flex align-items-center">
					<div class="icon">
						<i class="icon-envelope"></i>
					</div>
					<p>hello@pxltheme.co <br /> talib@hotmail.com</p>
				</div>
			</div>

		</div>

	</div>

</section> #}


{% put scripts %}

<script src="{{'assets/profile/js/jquery.easing.min.js'| theme}}"></script>
   
<script src="{{'assets/profile/js/popper.min.js'| theme}}"></script>
<!-- Bootstrap -->
{# <script src="{{'assets/profile/js/bootstrap.min.js'| theme}}"></script> #}
<!-- jPreloader -->
<script src="{{'assets/profile/js/jpreloader.min.js'| theme}}"></script>
<!-- Waypoints JS -->
<script src="{{'assets/profile/js/jquery.waypoints.min.js'| theme}}"></script>
<!-- Counterup JS -->
<script src="{{'assets/profile/js/jquery.counterup.min.js'| theme}}"></script>
<!-- Stellar (parallax) -->
<script src="{{'assets/profile/js/jquery.stellar.js'| theme}}"></script>
<!-- Magnific Popup -->
<script src="{{'assets/profile/js/jquery.magnific-popup.min.js'| theme}}"></script>
<!-- Isotope (filtered portfolio) -->
<script src="{{'assets/profile/js/isotope.pkgd.min.js'| theme}}"></script>
<!-- Wow JS -->
<script src="{{'assets/profile/js/wow.min.js'| theme}}"></script>
<!-- Flat Surface Shader JS -->
<script src="{{'assets/profile/js/fss.min.js'| theme}}"></script>
<!-- Particles JS -->
<script src="{{'assets/profile/js/particles.min.js'| theme}}"></script>
<script src="{{'assets/profile/js/particles-config.js'| theme}}"></script>
<!-- Parallax JS -->
<script src="{{'assets/profile/js/parallax.min.js'| theme}}"></script>
<!-- Slick carousel -->
<script src="{{'assets/profile/js/slick.min.js'| theme}}"></script>
<!-- Bootstrap Validator -->
<script src="{{'assets/profile/js/validator.js'| theme}}"></script>
<!-- Contact form -->
{# <script src="{{'assets/profile/js/contact.js'| theme}}"></script> #}
<!-- Talib Template JS -->
<script src="{{'assets/profile/js/custom.js'| theme}}"></script>
{% endput %}