title = "Professional Services"
url = "/professional-services"
layout = "default"
is_hidden = 0
[Cart]
[account]
==
<main class="btx-content btx-content--with-header" id="main">
    <article id="post-12261" class="btx-content-wrapper post-12261 page type-page status-publish hentry">
        <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme btx-fade-content faded"
            data-role="header" data-scheme="dark">
            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="1" data-mobileparallax="">
                <div class="btx-background-wrapper" style="height: 331px; transform: translateY(28px);">
                    <div class="btx-background-inner" style="background-image:url({{'assets/images/services.jpeg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                </div>
                <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
            </div>
            <div class="btx-page-hero-inner btx-container">
                <div class="btx-page-hero-wrapper btx-center-align">
                    <div class="btx-page-hero-content btx-middle-vertical">
                        <div class="btx-page-hero-content-wrapper btx-center-align">
                            <div class="btx-page-hero-body">
                                <div class="btx-page-hero-body-title">
                                    <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font">Professional Services</h1>
                                </div>
                                <div class="btx-page-hero-divider">
                                    <div class="btx-page-hero-divider-inner btx-s-text-bg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="btx-main2 btx-main--single">
            <div class="btx-main-wrapper">
                <div class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#ffffff; opacity:0.9;"></div>
                    </div>
                    <div class="btx-section-wrapper">
                        <div class="btx-container">
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-light-scheme">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#ffffff; opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:30px; padding-right:12%; padding-left:12%; padding-bottom:80px;">
                                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner"> In partnership with select Manufacturers, Suppliers and Professional service providers on the FFE.ng platform, the FF&E Professional services provides supply, installation and application services of mechanical, electrical, plumbing and construction chemical solutions relating to the indoor and outdoor environment.<br/><br/>These services include:</div>
                                                            </div>
                                                        </div>

                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner"> 1. Bathroom & Piping:<br/>
- Sanitary ware and fittings <br/>
- Piping and plumbing fixtures <br/><br/>

2. Electrical & Lighting:<br/>
- Electrical installations<br/>
- Indoor and Outdoor lighting systems<br/><br/>

3. Construction Chemicals:<br/>
- Waterproofing solutions<br/>
- Concrete protection and repair systems<br/><br/>

4. HVAC<br/>
- Airconditioning<br/>
- Ventilation<br/><br/>

5. Insulation & Drywall<br/>
- Ceilings and Drywalls<br/>
- Thermal and Acoustic insulation systems<br/><br/>

6. Miscellaneous<br/>
- Fire Safety<br/>
- Entry and Accessibility solutions.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">To find out about our Reference Projects, kindly see our ‘Case Studies’ for more information. <br/><br/>

For information about our product and service warranties, please click ‘Here’. <br/><br/>

If you would like to enquire about FF&E Professional Services for your project, please click ‘Here’.<br/><br/>

If you are a Professional, Contractor, Manufacturer or Supplier and are interested in joining the FF&E Professional Services network, please click Here.
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {# <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <ul class="btx-text-bullet" style="list-style:circle; list-style-position:inside;">
                                                                        <li>Lagos, Abuja &amp; PH: Orders are delivered to your
                                                                            Project Site.</li>
                                                                        <li>Other parts of Nigeria: Orders are delivered to designated
                                                                            Centres in each State for pick up.</li>
                                                                        <li>Please See: “Terms and Conditions” for further information.</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> #}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>

