title = "Project Solution"
url = "/project-solutions/:category/:slug"
layout = "default"
is_hidden = 0

[Cart]

[account]
paramCode = "code"
forceSecure = 0

[session]
security = "all"

[DisplayProjectSolutions]
[Annotation]

[ssbuttonsssb]
facebook = 1
twitter = 1
google+ = 0
tumblr = 0
pinterest = 1
pocket = 0
reddit = 0
linkedin = 1
wordpress = 0
pinboard = 0
email = 1
order_facebook = 1
order_twitter = 2
order_google+ = 3
order_tumblr = 4
order_pinterest = 5
order_pocket = 6
order_reddit = 7
order_linkedin = 8
order_wordpress = 9
order_pinboard = 10
order_email = 11
theme = "flat_web_icon_set_black"
==
{% set projectSolution = DisplayProjectSolutions.projectSolution %}
{% set backendUser = DisplayProjectSolutions.backendUser %}
{% set projectSolutionsCategory = DisplayProjectSolutions.projectSolutionsCategory %}
{% set relatedPSs = DisplayProjectSolutions.relatedPSs %}
<input id="backenduser" type="hidden" data-is-backenduser={{ backendUser ? 'true' : 'false' }} />
 <main class="btx-content btx-content--with-header" id="main">
            <article id="post-67" class="btx-content-wrapper post-67 post type-post status-publish format-standard has-post-thumbnail hentry category-photography category-travel tag-mountain tag-trip" style="padding-top:0px !important">
                <div class="btx-post btx-post--standard btx-post--no-sidebar btx-post-format--standard btx-post-featured--fullwidth">

                    <!--Fullwidth size featured media-->
                    <div class="btx-post-media btx-post-media--standard btx-s-text-contrast-color js-dynamic-navbar" data-scheme="dark">

                        <!--Fullwidth Standard Post Format-->
                        {# <div class="btx-background" data-type="image" data-parallaxspeed="5" data-contentfade="1" data-mobileparallax="">
                            <div class="btx-background-wrapper">
                                <div class="btx-background-inner" style="background-image:url({{projectSolution.solutions_image.path}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                            </div>
                            <div class="btx-background-overlay "></div>
                        </div> #}
                        <div class="btx-post-headline">
                            <div class="btx-container">
                                <div class="btx-post-headline-inner">
                                    <div class="btx-post-headline-content" style="color:black !important; margin-top:-150px">
                                        <div class="btx-post-meta"><span class="btx-post-category btx-post-category--plain"><a class="btx-p-text-color" href="#" title="{{projectSolution.category.category}}">{{projectSolution.category.category}}</a><span class="btx-post-date">{{projectSolution.created_at}}</span></div>
                                        <h1 class="btx-post-title" style="font-weight:100">{{projectSolution.title}}</h1>
                                        {# <div class="btx-post-author btx-s-text-color">By&nbsp;<a href="#">Paul Nolan</a></div> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="btx-container js-dynamic-navbar">

                        <div class="btx-main btx-main--single project-solution-single" style="margin-top:0px">
                            <div class="btx-main-wrapper">

                                <!--Begin Main Post Part-->
                                
                                    <!--Content Part-->
                                    
                                    {# <div class="row">
                                        <div class="col-md-8"><img src="{{projectSolution.solutions_image.path}}" alt="{{projectSolution.title}}"></div>
                                        <div class="col-md-4">{{projectSolution.description|raw}} </div>
                                    </div> #}
                                    {% if projectSolution.solutions %}
                                        {% for solution in projectSolution.solutions %}
                                            <div class="row" style="padding-bottom:30px !important; padding-top:30px !important; border-bottom:solid 1px #9c9c9c !important">
                                                    <div class="col-md-8"><img class="annotatable" src="{{solution.solution_image.path}}" alt="{{solution.title}}"></div>
                                                    <div class="col-md-4">{{solution.description|raw}} </div>
                                                <hr/> <br><br>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                           
                                    

                                    <!--Tag-->
                                    {# <div class="btx-post-tag btx-post-tag--icon btx-p-text-color">
                                        <i class="fa fa-tags"></i><a href="#" rel="tag">mountain</a>,&nbsp;<a href="#" rel="tag">trip</a>
                                    </div> #}

                                        

                                                                            
                                        <!--Social Share-->
                                        <div class="btx-post-share btx-s-text-color btx-share btx-share--icon btx-center-align">
                                            {% component 'ssbuttonsssb' %}
                                            {# <ul class="btx-social-share btx-social-share--icon" style="font-size:15px;">
                                                <li class="btx-p-border-border btx-share-item">
                                                    <a href="#" class="js-share btx-social-facebook">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#303030;">
                                                                <i class="fa fa-facebook"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-facebook"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="btx-p-border-border btx-share-item">
                                                    <a href="#" class="js-share btx-social-twitter">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#303030;">
                                                                <i class="fa fa-twitter"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-twitter"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="btx-p-border-border btx-share-item">
                                                    <a href="#" class="js-share btx-social-pinterest">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#303030;">
                                                                <i class="fa fa-pinterest"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-pinterest"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="btx-p-border-border btx-share-item">
                                                    <a href="#" class="js-share btx-social-google-plus">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#303030;">
                                                                <i class="fa fa-google-plus"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-google-plus"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="btx-p-border-border btx-share-item">
                                                    <a href="#" class="js-share btx-social-tumblr">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#303030;">
                                                                <i class="fa fa-tumblr"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-tumblr"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul> #}
                                        </div>
                               

                                <!--Post Navigation-->

                                {# <div class="btx-item js-item-navigation btx-navigation btx-navigation--bar btx-p-border-border with-top-border with-bottom-border">

                                    <div class="btx-navigation-previous">
                                        <a href="#" rel="prev"><img width="60" height="60" src="upload/blog-fashion-150x150.jpg" class="attachment-60x60 size-60x60 wp-post-image" alt="blog-fashion" />
                                            <div class="btx-navigation-content">
                                                <span class="btx-navigation-label">Previous</span>
                                                <span class="btx-navigation-title btx-s-text-color">New trend in this Summer</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="btx-navigation-next">
                                        <a href="#" rel="next">
                                            <div class="btx-navigation-content">
                                                <span class="btx-navigation-label">Next</span>
                                                <span class="btx-navigation-title btx-s-text-color">Walking on the new yacht</span>
                                            </div><img width="60" height="60" src="upload/blog-yacht-150x150.jpg" class="attachment-60x60 size-60x60 wp-post-image" alt="blog-yacht"  /></a>
                                    </div>

                                </div> #}

                            
                            </div>
                        </div>

                    </div>

                    <div class="related products btx-product btx-product--standard btx-product-layout--grid">
                        <div class="btx-heading btx-heading--default btx-heading--underline btx-p-border-border btx-s-text-border">
                            <h3 class="btx-heading-text  btx-s-text-color">Related Project Solutions</h3>
                        </div>
                        <div class="btx-product-content btx-left-align" data-display="4" data-indicator="false">
                            {% for relatedPS in relatedPSs %}
                                <article class="btx-entry btx-col-3 btx-entry-light-scheme post-984 product type-product status-publish has-post-thumbnail product_cat-neckwear product_tag-formalwear product_tag-tie  instock shipping-taxable purchasable product-type-simple">
                                    <div class="btx-entry-inner btx-product-entry-content ">
                                        <div class="btx-product-entry-media">

                                            <a class="btx-product-entry-image" href="{{'project-solution'|page({'slug':relatedPS.slug})}}">
                                                {% set firstS = relatedPS.solutions|first %}
                                                <img width="624" height="800" src="{{firstS.solution_image.path}}" class="attachment-shop_catalog size-shop_catalog wp-post-image" />
                                                <div class="btx-product-hover-image btx-p-bg-bg">
                                                    <img src="{{firstS.solution_image.path}}" alt="" width="731" height="1024" /> </div>
                                            </a>

                                        </div>

                                        <div class="btx-product-entry-info">
                                            <div class="btx-product-entry-info-wrapper">
                                                <div class="btx-product-entry-info-inner">

                                                    <h4 class="btx-product-entry-title btx-secondary-font">
                                                        <a class="btx-s-text-color" href="{{'project-solution'|page({'slug':relatedPS.slug})}}">{{relatedPS.title | raw}}</a>
                                                    </h4>

                                                    <div class="btx-product-entry-meta">

                                                        {# <span class="price">
                                                            <span class="woocommerce-Price-amount amount">
                                                                <span class="woocommerce-Price-currencySymbol"></span>{{relatedPS.price}}</span>
                                                        </span> #}

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}

                            

                        </div>
                    </div>
                </div>
            </article>
        </main>