title = "Project Solutions"
url = "/project-solutions"
layout = "default"
is_hidden = 0
[Cart]
[account]
[DisplayProjectSolutions]
==
{% set projectSolutionCategories = DisplayProjectSolutions.projectSolutionCategories %}
<main class="btx-content btx-content--no-header" id="main">
    <article id="post-1175" class="btx-content-wrapper post-1175 page type-page status-publish hentry">
        <div class="btx-main2 btx-main--single">
            <div class="btx-main-wrapper">
                <div class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
                    </div>
                    <div class="btx-section-wrapper">
                        <div class="btx-container">
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body">
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-uppercase btx-p-border-border">
                                                        <h1 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">project solutions</h1>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-text btx-text combine btx-left-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 17px;">Get inspired with design ideas and practical, knowledge-based
                                                                        solutions</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-bannertext btx-bannertext btx-bannertext--type tech btx-left-align"
                                                        data-loop="1" data-cursor="|" data-duration="3000" data-words="Residential Projects., Industrial Projects., Hospitality Projects., Healthcare Projects., Agriculture Projects., Retail Projects., Commercial Projects., Infrastructure Projects.">
                                                        <span class="btx-bannertext-static btx-s-text-color">
                                                            <span class="font-style" style="font-size: 17px;">for your</span>
                                                        </span>
                                                        <span class="btx-bannertext-dynamic btx-p-brand-color btx-primary-font"
                                                            style="font-size:22px;">
                                                            <span class="btx-bannertext-dynamic-inner"> Retail Projects.</span>
                                                            <span class="typed-cursor">|</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-space btx-space" style="height:50px;"></div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main btx-row--no-spacing">
                                <div class="btx-col-6">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border js-box-fitted"
                                        data-group="box-1">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-wrapper">
                                                <div class="btx-background-inner" style="background-image:url({{'assets/images/projectsolutions/res.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                                            </div>
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="" style="height: 468px; line-height: 468px;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body">
                                                    <div class="btx-item js-item-space btx-space" style="height:300px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-6">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border js-box-fitted"
                                        data-group="box-1">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#f6f6f6; opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="" style="height: 468px; line-height: 468px;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:20%; padding-right:20%; padding-left:20%; padding-bottom:20%;">
                                                    <div class="btx-item js-item-image btx-image btx-left-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'project-solutions-category'|page({'slug':projectSolutionCategories.Residential.slug})}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--x-large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-ln-home"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                            <i class="fa fa-ln-home"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border"
                                                            style="letter-spacing:0.05em;">
                                                            <a href="{{'project-solutions-category'|page({'slug':projectSolutionCategories.Residential.slug})}}">{{projectSolutionCategories.Residential.category}}</a>
                                                        </h3>
                                                    </div>
                                                    <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align">
                                                        <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;"></div>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner"> {{projectSolutionCategories.Residential.description}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main btx-row--no-spacing">
                                <div class="btx-col-6">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border js-box-fitted"
                                        data-group="box-1">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#f6f6f6; opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="" style="height: 468px; line-height: 468px;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:20%; padding-right:20%; padding-left:20%; padding-bottom:20%;">
                                                    <div class="btx-item js-item-image btx-image btx-left-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'project-solutions-category'|page({'slug':projectSolutionCategories.Healthcare.slug})}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--x-large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-ln-heart-pulse"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                            <i class="fa fa-ln-heart-pulse"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border"
                                                            style="letter-spacing:0.05em;">
                                                            <a href="{{'project-solutions-category'|page({'slug':projectSolutionCategories.Healthcare.slug})}}">{{projectSolutionCategories.Healthcare.category}}</a>
                                                        </h3>
                                                    </div>
                                                    <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align">
                                                        <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;"></div>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner"> {{projectSolutionCategories.Healthcare.description}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-6">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border js-box-fitted"
                                        data-group="box-1">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-wrapper">
                                                <div class="btx-background-inner" style="background-image:url({{'assets/images/projectsolutions/healthcare.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                                            </div>
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="" style="height: 468px; line-height: 468px;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body">
                                                    <div class="btx-item js-item-space btx-space" style="height:300px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main btx-row--no-spacing">
                                <div class="btx-col-6">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border js-box-fitted"
                                        data-group="box-1">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-wrapper">
                                                <div class="btx-background-inner" style="background-image:url({{'assets/images/projectsolutions/agriculture.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                                            </div>
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="" style="height: 468px; line-height: 468px;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body">
                                                    <div class="btx-item js-item-space btx-space" style="height:300px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-6">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border js-box-fitted"
                                        data-group="box-1">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#f6f6f6; opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="" style="height: 468px; line-height: 468px;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:20%; padding-right:20%; padding-left:20%; padding-bottom:20%;">
                                                    <div class="btx-item js-item-image btx-image btx-left-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'project-solutions-category'|page({'slug':projectSolutionCategories.Agriculture.slug})}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--x-large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-ln-leaf"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border"
                                                            style="letter-spacing:0.05em;">
                                                            <a href="{{'project-solutions-category'|page({'slug':projectSolutionCategories.Agriculture.slug})}}">{{projectSolutionCategories.Agriculture.category}}</a>
                                                        </h3>
                                                    </div>
                                                    <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align">
                                                        <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;"></div>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner"> {{projectSolutionCategories.Agriculture.description}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main btx-row--no-spacing">
                                <div class="btx-col-6">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border js-box-fitted"
                                        data-group="box-1">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#f6f6f6; opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="" style="height: 468px; line-height: 468px;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:20%; padding-right:20%; padding-left:20%; padding-bottom:20%;">
                                                    <div class="btx-item js-item-image btx-image btx-left-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'project-solutions-category'|page({'slug':projectSolutionCategories.Retail.slug})}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--x-large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-shirtsinbulk"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border"
                                                            style="letter-spacing:0.05em;">
                                                            <a href="{{'project-solutions-category'|page({'slug':projectSolutionCategories.Retail.slug})}}">{{projectSolutionCategories.Retail.category}}</a>
                                                            
                                                        </h3>
                                                    </div>
                                                    <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align">
                                                        <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;"></div>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner"> {{projectSolutionCategories.Retail.description}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-6">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border js-box-fitted"
                                        data-group="box-1">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-wrapper">
                                                <div class="btx-background-inner" style="background-image:url({{'assets/images/projectsolutions/retail.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                                            </div>
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="" style="height: 468px; line-height: 468px;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body">
                                                    <div class="btx-item js-item-space btx-space" style="height:300px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main btx-row--no-spacing">
                                <div class="btx-col-6">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border js-box-fitted"
                                        data-group="box-1">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-wrapper">
                                                <div class="btx-background-inner" style="background-image:url({{'assets/images/projectsolutions/hospitality.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                                            </div>
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="" style="height: 468px; line-height: 468px;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body">
                                                    <div class="btx-item js-item-space btx-space" style="height:300px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-6">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border js-box-fitted"
                                        data-group="box-1">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#f6f6f6; opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="" style="height: 468px; line-height: 468px;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:20%; padding-right:20%; padding-left:20%; padding-bottom:20%;">
                                                    <div class="btx-item js-item-image btx-image btx-left-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'project-solutions-category'|page({'slug':projectSolutionCategories.Hospitality.slug})}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--x-large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-ln-apartment"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                            <i class="fa fa-ln-apartment"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border"
                                                            style="letter-spacing:0.05em;">
                                                            <a href="{{'project-solutions-category'|page({'slug':projectSolutionCategories.Hospitality.slug})}}">{{projectSolutionCategories.Hospitality.category}}</a>
                                                        </h3>
                                                    </div>
                                                    <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align">
                                                        <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;"></div>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner"> {{projectSolutionCategories.Hospitality.description}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main btx-row--no-spacing">
                                <div class="btx-col-6">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border js-box-fitted"
                                        data-group="box-1">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#f6f6f6; opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="" style="height: 444px; line-height: 444px;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:20%; padding-right:20%; padding-left:20%; padding-bottom:20%;">
                                                    <div class="btx-item js-item-image btx-image btx-left-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'project-solutions-category'|page({'slug':projectSolutionCategories.Commercial.slug})}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--x-large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-et-layers"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                            <i class="fa fa-et-layers"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border"
                                                            style="letter-spacing:0.05em;">
                                                            <a href="{{'project-solutions-category'|page({'slug':projectSolutionCategories.Commercial.slug})}}">{{projectSolutionCategories.Commercial.category}}</a>
                                                        </h3>
                                                    </div>
                                                    <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align">
                                                        <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;"></div>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">{{projectSolutionCategories.Commercial.description}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-6">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border js-box-fitted"
                                        data-group="box-1">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-wrapper">
                                                <div class="btx-background-inner" style="background-image:url({{'assets/images/Homepageimages/p12.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                                            </div>
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="" style="height: 444px; line-height: 444px;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body">
                                                    <div class="btx-item js-item-space btx-space" style="height:300px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main btx-row--no-spacing">
                                <div class="btx-col-6">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border js-box-fitted"
                                        data-group="box-1">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-wrapper">
                                                <div class="btx-background-inner" style="background-image:url({{'assets/images/projectsolutions/industrial.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                                            </div>
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="" style="height: 468px; line-height: 468px;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body">
                                                    <div class="btx-item js-item-space btx-space" style="height:300px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-6">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border js-box-fitted"
                                        data-group="box-1">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#f6f6f6; opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="" style="height: 468px; line-height: 468px;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:20%; padding-right:20%; padding-left:20%; padding-bottom:20%;">
                                                    <div class="btx-item js-item-image btx-image btx-left-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'project-solutions-category'|page({'slug':'industrial'})}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--x-large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-ln-drop"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                            <i class="fa fa-ln-drop"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border"
                                                            style="letter-spacing:0.05em;">
                                                            <a href="{{'project-solutions-category'|page({'slug':'industrial'})}}">{{projectSolutionCategories.Industrial.category}}</a>
                                                        </h3>
                                                    </div>
                                                    <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align">
                                                        <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;"></div>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">{{projectSolutionCategories.Industrial.description}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main btx-row--no-spacing">
                                <div class="btx-col-6">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border js-box-fitted"
                                        data-group="box-1">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="background-color:#f6f6f6; opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="" style="height: 468px; line-height: 468px;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:20%; padding-right:20%; padding-left:20%; padding-bottom:20%;">
                                                    <div class="btx-item js-item-image btx-image btx-left-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <a class="btx-media-wrapper-inner" href="{{'project-solutions-category'|page({'slug':'infrastructure'})}}"
                                                                    target="_self">
                                                                    <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--x-large">
                                                                        <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                            <i class="fa fa-ln-layers"></i>
                                                                        </span>
                                                                        <span class="btx-icon-hover btx-icon-plain btx-s-brand-color">
                                                                            <i class="fa fa-ln-layers"></i>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border"
                                                            style="letter-spacing:0.05em;">
                                                            <a href="{{'project-solutions-category'|page({'slug':'infrastructure'})}}">{{projectSolutionCategories.Infrastructure.category}}</a>
                                                        </h3>
                                                    </div>
                                                    <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align">
                                                        <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px;"></div>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">{{projectSolutionCategories.Infrastructure.description}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-6">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border js-box-fitted"
                                        data-group="box-1">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-wrapper">
                                                <div class="btx-background-inner" style="background-image:url({{'assets/images/projectsolutions/infrastructure.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                                            </div>
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="" style="height: 468px; line-height: 468px;">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body">
                                                    <div class="btx-item js-item-space btx-space" style="height:300px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>


