title = "Projects"
url = "/profiles/projects/:username?"
layout = "communitylayout"
is_hidden = 0
[Community]
[account]
[Projects]
[Cart]
==
{% set urlUser = Community.urlUser %}
{% set canEdit = Community.canEdit %}
{# {% set myProjects = Projects.projects %} #}
<div class="btx-main2 btx-main--single">
    <div class="btx-main-wrapper">
        <section class="btx-section js-dynamic-navbar btx-p-border-border" style="border-bottom-width:1px; border-bottom-style:solid;"
            data-index="0">
            <div class="btx-section-wrapper" style="padding-bottom:50px;">
                <div class="btx-container">
                    <div class="btx-row btx-row--main">
                        <div class="btx-col-12">
                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align" style="margin-bottom:15px;">
                                <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">My projects {% if canEdit %}| <a href="{{'dashboard-projects'|page}}">Edit</a>{% endif %}</h3>
                            </div>
                            <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font" style="margin-bottom:0px;">
                                <div class="btx-row" style="margin:0 -30px;">
                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                        {# <div class="btx-text-content-inner">Portfolio may be filtered to display by category. </div> #}
                                    </div>
                                </div>
                            </div>
                            <div class="btx-item js-item-space btx-space" style="height:80px;"></div>
                        </div>
                    </div>
                    <div class="btx-row btx-row--main">
                        {% for project in urlUser.projects %}
                            <div class="btx-col-6">
                                <div class="btx-item js-item-portfolio btx-portfolio btx-portfolio--list btx-left-align btx-list--medium">
                                    <div class="btx-portfolio-content" style="position: relative; height: 691.875px;">
                                        <article class="btx-entry btx-entry-light-scheme post-303 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-product-design"
                                            style="margin-bottom: 30px; position: absolute; left: 0px; top: 0px;" data-filter="Product Design">
                                            <div class="btx-entry-inner ">                                    
                                                <a href="{{'single-project'|page({'slug':project.slug})}}" class="btx-entry-header ">
                                                    <div class="btx-entry-media">
                                                        <img src="{{project.project_image.path}}" alt="" width="768" height="576">
                                                    </div>
                                                </a>
                                                <div class="btx-entry-body ">
                                                    <div class="btx-entry-body-inner">
                                                        <div class="btx-entry-body-content">
                                                            <h4 class="btx-entry-title btx-s-text-color btx-secondary-font" style="font-size:22px; letter-spacing:-0.01em;">
                                                                <a href="{{'single-project'|page({'slug':project.slug})}}">{{project.project_name}}</a>&nbsp;<span style="font-size:12px; color:#01a2dd">{% if canEdit %}<a href="{{'edit-project'|page({'slug':project.slug})}}">Edit</a>{% endif %}</span>
                                                            </h4>
                                                            {# <div class="btx-entry-category btx-s-text-color btx-primary-font">Product Design</div> #}
                                                            <div class="btx-entry-excerpt btx-p-text-color">{{project.project_description}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

   