title = "Register"
url = "/register"
layout = "default-no-nav"
is_hidden = 0

[session]
security = "all"

[Cart]
[Shop]
[account]
redirect = "profile"
paramCode = "code"
forceSecure = 0
==
{% set prints = Shop.prints %}
<section>

    <div class="logregbg">
        {#<div class="row">
            <div id="stage">
                {% for print in prints %}
                   <a href=""> <img src="{{print.product_image.path}}" width="360" height="270"></a>
                {% endfor %}
            </div>
            <div class="pull-right">
                <p>Artwork</p> 
                By
                <p>Artist</p>
            </div>
        </div> #}
    </div>
<div class="container logregcontainer">
    {% if not user %}
    <div class="row">
        <div class="col-md-6" style="display:contents">
            <div class="topandbotpad" style="margin: 0 auto; width:100%">
                {# <h3>Signup as a Regular user </h3> or #} {# <p>or <a href="{{'professional-account'|page}}">Register as Professional </a>user</p> #}
                <div style="text-align:center; margin: 0 auto; margin-top:10px !important;">
                    <h4 style="padding-bottom:15px;">Would you like to?</h4>
                    <a id="regular-toggl" class="btnxreg">
                        <div id="regular-btn" class="btx-item js-item-button btx-button btx-button--border btx-center-align regnav regnavactive"
                            style="padding-top:0px; padding-right:0px; padding-left:0px; padding-bottom:0px; display:inline">
                            Buy Art
                        </div>
                    </a>
                    <a id="professional-toggl" class="btnxreg">
                        <div id="professional-btn" class="btx-item js-item-button btx-button btx-button--border btx-center-align regnav"
                            style="padding-top:0px; padding-right:0px; padding-left:0px; padding-bottom:0px; display:inline">
                            Sell Art
                        </div>
                    </a>
                </div>
                
                {# {% partial __SELF__ ~ '::register' %} #}
                <div id="regular">
                    {% partial 'site/user-regular-register2' %}
                </div>
                <div id="professional" class="hidden">
                    {% partial 'site/artist-register2' %}
                </div>
                
            </div>
            
        </div>
        {#
        <div class="col-md-4 topandbotpad">
            <h3>Sign in</h3>
            {% partial __SELF__ ~ '::signin' %} {% partial 'site/user-login' %}
        </div> #}
    </div>
    
    {% else %} 
    {% partial __SELF__ ~ '::activation_check' %} 
        {# {% partial __SELF__ ~ '::update' %} #} {# {% page 'dashboard/dashboard' %} #} 
    {% partial __SELF__ ~ '::deactivate_link' %} {% endif %}
</div>
</section>
<!-- Registration form toggle -->
<script>
    $(document).ready(function () {
        $('#regular-toggl').click(function () {
            $('#regular').toggleClass('hidden');
            $('#professional').toggleClass('hidden');
            $('#company').toggleClass('hidden');
        });
        $('#professional-toggl').click(function () {
            $('#professional').toggleClass('hidden');
            $('#regular').toggleClass('hidden');
            $('#company').toggleClass('hidden');
        });
        $('#company-toggl').click(function () {
            $('#company').toggleClass('hidden');
            $('#professional').toggleClass('hidden');
            $('#regular').toggleClass('hidden');
        });
    });
</script>

