title = "Request for quotes"
url = "/dashboard/requestforquotes"
layout = "dashboardLayout"
is_hidden = 0

[session]
security = "users"
[Cart]
[RequestForQuotes]
==

<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Request for quotes</h4>
                <p class="category"></p>
            </div>
            <div class="content">
                {% component 'RequestForQuotes' %}
            </div>
        </div>
    </div>
    </div>
</div>

