title = "Returns and Refunds"
url = "/returns-refunds"
layout = "default"
is_hidden = 0

[Cart]
[account]
[session]
==
<section>
    <!-- .contact form -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul style="margin-top:150px" class="faqMenu">
                    <li>
                        <a href="/customer-service" {% if this.page.id == 'customer-service'%} class="csactive" {% endif %}>Customer Service</a>
                    </li>
                    <li>
                        <a href="/shipping-policy" {% if this.page.id == 'shipping-policy'%} class="csactive" {% endif %}>Shipping Policy</a>
                    </li>
                    <li>
                        <a href="/returns-refunds" {% if this.page.id == 'returns-refunds'%} class="csactive" {% endif %}>Returns & Refunds </a>
                    </li>
                    <li>
                        <a href="/terms-conditions" {% if this.page.id == 'terms-conditions'%} class="csactive" {% endif %}>Terms & Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <div class="contact-form">
                    <div class="contact-title">
                        <h2>
                            FAQs
                        </h2>
                    </div>
                </div>
                <div class="tabContent" id="tabContent1">

                    <div id="shippinginfo" class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">How can I track my parcel?</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>You will receive an email with a tracking link as soon as your order leaves our warehouse.
                                    Make sure to also check your junk mail folder, since emails can sometimes end up there.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Can I cancel my purchase?</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>If you want to cancel a purchase before your order has left our warehouse, please call us immediately
                                on +234 809 066 2007. Unfortunately, we cannot guarantee that we will be able to sort this
                                out before your order is shipped, since our warehouse is very efficient at picking and packing.
                                If you placed your order on a weekend or after business hours you can send us an email.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">How do I make a return?</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>If you want to cancel a purchase before your order has left our warehouse, please call us immediately
                                on +234 809 066 2007. Unfortunately, we cannot guarantee that we will be able to sort this
                                out before your order is shipped, since our warehouse is very efficient at picking and packing.
                                If you placed your order on a weekend or after business hours you can send us an email.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">I have not received an order confirmation</a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>If you placed an order with us but did not receive an order confirmation, it may be because an
                                incorrect email address was provided. Contact us at info@thisiskokore.com to check whether
                                we have an order registered for you, and to correct your email address so that you can receive
                                your order confirmation. It may also be because the order has not gone through. Kindly contact
                                us before placing a new order to avoid duplicate orders.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Can I order posters with my own dimensions or designs?</a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Posters are only available in the dimensions shown on the website. Unfortunately, we do not print
                                customers’ own designs.</p>
                        </div>
                    </div>
                </div>




            </div>



            <div class="col-md-6">
                <div class="contact-form">
                    <div class="contact-title">
                        <h2>
                            Contact Info
                        </h2>
                    </div>
                </div>
                <div class="col-md-12 contact-info">
                    <ul>
                        {#
                        <li>
                            <div class="img-icon">
                                <img src="assets/images/contact-icon1.jpg" alt="phone-icon">
                            </div>
                            <strong>Our Address</strong>
                            <br/> 1234 Heaven Stress, Beverly Hill.
                        </li> #}
                        <li>
                            <div class="img-icon">
                                <img src="{{'assets/images/contact-icon2.jpg'|theme}}" alt="phone-icon">
                            </div>
                            <strong>Phone</strong>
                            <br/> Office: +234 809 066 2007
                        </li>
                        <li>
                            <div class="img-icon">
                                <img src="{{'assets/images/contact-icon3.jpg'|theme}}" alt="phone-icon">
                            </div>
                            <strong>email Address </strong>
                            <br/> Email: info@thisiskokore.com
                        </li>
                    </ul>
                    <p>You are always welcome to contact us! We are passionate about our customer service and will do everything
                        we can to help you.</p>
                    <p>
                        Our customer service is open:
                        <br>
                        <strong>Weekdays:</strong> 09:00-18:00
                        <br>
                        <strong>Closed for lunch:</strong> 11.00-12.00
                        <br>
                        <strong>Weekends:</strong> 12:00 - 15:00
                        <br>
                        <strong>Holidays:</strong> Closed
                        <br>
                    </p>
                    <div class="f-sicon2">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <div class="contact-title">
                        <h2>
                            Contact Form
                        </h2>
                    </div>
                    <form action="#" method="post" id="commentform" class="comment-form">
                        <div class="col-md-6">
                            <p>Name
                                <span>*</span>
                            </p>
                            <p class="comment-form-author">
                                <input id="author" name="author" value="" size="30" type="text">
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>Email
                                <span>*</span>
                            </p>
                            <p class="comment-form-email">
                                <input id="email" name="email" value="" size="30" type="text">
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>Phone number
                                <span>*</span>
                            </p>
                            <p class="comment-form-email">
                                <input id="email" name="email" value="" size="30" type="text">
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p>Comments
                                <span>*</span>
                            </p>
                            <p class="comment-form-comment">
                                <textarea id="comment" name="comment" cols="45" rows="6" placeholder="Comment" aria-required="true"></textarea>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p class="form-submit">
                                <input name="submit" id="submit" class="btn btn-secondary" style="background-color:#000" value="send message" type="submit"> </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.contact form  -->
</section>
