title = "Professional Services"
url = "/professional-services"
layout = "default"
description = "Professional Services"
meta_title = "Professional Services"
is_hidden = 0

[Shop]
[Cart]
==
<main class="btx-content btx-content--with-header" id="main">
            <article id="post-1337" class="btx-content-wrapper post-1337 page type-page status-publish hentry">
                <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme" data-role="header"
                    data-scheme="dark">
                    <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-wrapper">
                            <div class="btx-background-inner" style="background-image:url(upload/home-app-02.jpg); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                        </div>
                        <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#1d1d1d; opacity:0.8;"></div>
                    </div>
                    <div class="btx-page-hero-inner btx-container">
                        <div class="btx-page-hero-wrapper btx-center-align">
                            <div class="btx-page-hero-content btx-middle-vertical" style="padding-top:120px; padding-bottom:120px;">
                                <div class="btx-page-hero-content-wrapper btx-center-align" style="max-width:760px;">
                                    <div class="btx-page-hero-body">
                                        <div class="btx-page-hero-subtitle btx-page-hero-subtitle--top btx-secondary-font">Our Service</div>
                                        <div class="btx-page-hero-body-title">
                                            <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.02em;">
                                                <span class="font-style" style="font-size: 25px;">
                                                    <span style="font-weight: 200; line-height: 35px">In partnership with select Manufacturers, Suppliers and Professional service providers on the FFE.ng platform, the FF&E Professional services provides supply, installation and application services of mechanical, electrical, plumbing and construction chemical solutions relating to the indoor and outdoor environment.</span>
                                                    <br>
                                                </span>
                                            </h1>
                                        </div>
                                        <div class="btx-page-hero-divider">
                                            <div class="btx-page-hero-divider-inner btx-s-text-bg" style="max-width:100px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="btx-main btx-main--single">
                    <div class="btx-main-wrapper">
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                            <div class="btx-section-wrapper" style="padding-top:80px; padding-bottom:120px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">

                                            <div style="padding-bottom:80px" class="btx-center-align">
                                                <h2>Our Services Include</h2>
                                            </div>
                                        
                                            <div class="btx-item js-item-feature btx-feature btx-feature--top btx-center-align" style="margin-top:30px; margin-bottom:30px;">
                                                     
                                                <div class="btx-feature-content">
                                                    
                                                    <div class="btx-row" style="margin:0 -35px 70px;">
                                                   
                                                        <div class="btx-feature-item btx-p-border-border btx-col-4 anmt-item anmt-fadeinu" style="padding:0 35px;">

                                                        
                                                            <div class="btx-feature-media ">
                                                                <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--x-large">
                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#01a2dd;">
                                                                        <i class="fa fa-shower"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                            <div class="btx-feature-body">
                                                                <div class="btx-feature-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.01em;">Bathroom & Piping</div>
                                                                <div class="btx-feature-description">- Sanitary ware and fittings <br>
- Piping and plumbing fixtures</div>
                                                            </div>
                                                        </div>
                                                        <div class="btx-feature-item btx-p-border-border btx-col-4 anmt-item anmt-fadeinu" style="padding:0 35px;">
                                                            <div class="btx-feature-media ">
                                                                <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--x-large">
                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#01a2dd;">
                                                                        <i class="fa fa-lightbulb-o"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                            <div class="btx-feature-body">
                                                                <div class="btx-feature-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.01em;">Electrical & Lighting</div>
                                                                <div class="btx-feature-description">- Electrical installations<br>
- Indoor and Outdoor lighting systems</div>
                                                            </div>
                                                        </div>
                                                        <div class="btx-feature-item btx-p-border-border btx-col-4 anmt-item anmt-fadeinu" style="padding:0 35px;">
                                                            <div class="btx-feature-media ">
                                                                <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--x-large">
                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#01a2dd;">
                                                                        <i class="fa fa-flask" aria-hidden="true"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                            <div class="btx-feature-body">
                                                                <div class="btx-feature-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.01em;">Construction Chemicals</div>
                                                                <div class="btx-feature-description">- Waterproofing solutions <br>
- Concrete protection and repair systems</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-row" style="margin:0 -35px;">
                                                        <div class="btx-feature-item btx-p-border-border btx-col-4 anmt-item anmt-fadeinu" style="padding:0 35px;">
                                                            <div class="btx-feature-media ">
                                                                <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--x-large">
                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                        <i class="fa fa-snowflake-o"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                            <div class="btx-feature-body">
                                                                <div class="btx-feature-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.01em;">HVAC</div>
                                                                <div class="btx-feature-description">- Airconditioning & <br>
- Ventilation</div>
                                                            </div>
                                                        </div>
                                                        <div class="btx-feature-item btx-p-border-border btx-col-4 anmt-item anmt-fadeinu" style="padding:0 35px;">
                                                            <div class="btx-feature-media ">
                                                                <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--x-large">
                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                        <i class="fa fa-th"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                            <div class="btx-feature-body">
                                                                <div class="btx-feature-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.01em;">Insulation & Drywall</div>
                                                                <div class="btx-feature-description">- Ceilings and Drywalls <br>
- Thermal and Acoustic insulation systems</div>
                                                            </div>
                                                        </div>
                                                        <div class="btx-feature-item btx-p-border-border btx-col-4 anmt-item anmt-fadeinu" style="padding:0 35px;">
                                                            <div class="btx-feature-media ">
                                                                <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--x-large">
                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                                        <i class="fa fa-cogs"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                            <div class="btx-feature-body">
                                                                <div class="btx-feature-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.01em;">Miscellaneous</div>
                                                                <div class="btx-feature-description">- Fire Safety <br>
- Entry and Accessibility solutions.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="1">
                            <div class="btx-section-wrapper" style="padding-top:0px; padding-bottom:0px;">
                                <div class="btx-container--fullwidth">
                                    <div class="btx-row btx-row--main btx-row--no-spacing">
                                        <div class="btx-col-6">
                                            <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                                <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                                    <div class="btx-background-wrapper">
                                                        <div class="btx-background-inner" style="background-image:url({{'assets/upload/studio-bg-01.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                                                    </div>
                                                    <div class="btx-background-overlay " style="opacity:0.5;"></div>
                                                </div>
                                                <div class="btx-box-inner" data-height="">
                                                    <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                        <div class="btx-box-body">
                                                            <div class="btx-item js-item-space btx-space" style="height:500px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btx-col-6">
                                            <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                                <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                                    <div class="btx-background-wrapper">
                                                        <div class="btx-background-inner" style="background-image:url({{'assets/upload/bg-office.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                                                    </div>
                                                    <div class="btx-background-overlay " style="opacity:0.5;"></div>
                                                </div>
                                                <div class="btx-box-inner" data-height="">
                                                    <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                        <div class="btx-box-body">
                                                            <div class="btx-item js-item-space btx-space" style="height:500px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        {# <section class="btx-section js-dynamic-navbar btx-p-border-border" style="border-bottom-width:1px; border-bottom-style:solid;"
                            data-index="2">
                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#f5f5f5; opacity:1;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:120px; padding-bottom:120px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-2"></div>
                                        <div class="btx-col-8">
                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                <h4 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                    <span class="font-style" style="font-size: 19px;">
                                                        <span style="color: rgb(187, 187, 187);">Our Value</span>
                                                        <br>
                                                    </span>
                                                </h4>
                                            </div>
                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                <h2 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:-0.02em;">
                                                    <span class="font-style" style="font-size: 42px;">
                                                        <b>What make us so special</b>
                                                    </span>
                                                </h2>
                                            </div>
                                            <div class="btx-item js-item-text btx-text btx-center-align btx-primary-font">
                                                <div class="btx-row" style="margin:0 -30px;">
                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                        <div class="btx-text-content-inner">
                                                            <span class="font-style" style="font-size: 15px;">Nulla non sem ex. Nulla mattis metus quis aliquet lacinia. Curabitur
                                                                scelerisque sapien eget mi fringilla sagittis. Donec iaculis
                                                                risus nec ultrices mattis. Phasellus hendrerit finibus sapien,
                                                                eget maximus erat. Duis massa elit, cursus eget odio at,
                                                                rhoncus rutrum arcu.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align">
                                                <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100px; height:1px; background-color:#01a2dd;"></div>
                                            </div>
                                        </div>
                                        <div class="btx-col-2"></div>
                                    </div>
                                </div>
                            </div>
                        </section> #}
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="3">
                            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:100px; padding-bottom:100px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">
                                            <div class="btx-item js-item-box btx-box btx-center-align anmt-item anmt-fadeinu btx-p-border-border">
                                                <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                                    <div class="btx-background-overlay " style="opacity:0.5;"></div>
                                                </div>
                                                <div class="btx-box-inner" data-height="">
                                                    <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                        <div class="btx-box-body" style="padding-right:10px; padding-left:10px;">
                                                            <div class="btx-item js-item-skill btx-skill btx-skill--circle">
                                                                <div class="btx-row">
                                                                    <div class="btx-skill-item btx-col-12" data-percent="85" data-size="120" data-color="#01a2dd" data-thickness="2" data-base="#f5f5f5">
                                                                        <div class="btx-feature-media ">
                                                                <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--x-large">
                                                                    <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#01a2dd;">
                                                                        <i class="fa fa-wrench"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="btx-item js-item-space btx-space" style="height:10px;"></div>
                                                            <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align btx-uppercase">
                                                                <h4 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:1px;">Other Services</h4>
                                                            </div>
                                                            <div class="btx-item js-item-text btx-text btx-center-align btx-primary-font">
                                                                <div class="btx-row" style="margin:0 -30px;">
                                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                        <div class="btx-text-content-inner">
                                                                            To find out about our Reference Projects, kindly see our ‘Case Studies’ for more information </div>
                                                                    </div>
                                                                </div>
                                                                <div class="btx-row" style="margin:0 -30px;">
                                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                        <div class="btx-text-content-inner">
                                                                            For information about our product and service warranties, please click ‘Here’. </div>
                                                                    </div>
                                                                </div>
                                                                <div class="btx-row" style="margin:0 -30px;">
                                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                        <div class="btx-text-content-inner">
                                                                            If you would like to enquire about FF&E Professional Services for your project, please click ‘Here’. </div>
                                                                    </div>
                                                                </div>
                                                                <div class="btx-row" style="margin:0 -30px;">
                                                                    <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                        <div class="btx-text-content-inner">
                                                                            If you are a Professional, Contractor, Manufacturer or Supplier and are interested in joining the FF&E Professional Services network, please click Here. </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </article>
        </main>