title = "Single Project"
url = "/profiles/projects/single-project/:slug/:username?"
layout = "communitylayout"
is_hidden = 0
[Community]
[account]
[Projects]
[Cart]
==
{% set project = Projects.project %}

 <main class="btx-content btx-content--with-header">
            <article id="post-67" class="btx-content-wrapper post-67 post type-post status-publish format-standard has-post-thumbnail hentry category-photography category-travel tag-mountain tag-trip" style="padding-top:0px !important">
                <div class="btx-post btx-post--standard btx-post--no-sidebar btx-post-format--standard btx-post-featured--fullwidth">

                    <!--Fullwidth size featured media-->
                    <div class="btx-post-media btx-post-media--standard btx-s-text-contrast-color js-dynamic-navbar" data-scheme="dark">

                        <!--Fullwidth Standard Post Format-->
                        {# <div class="btx-background" data-type="image" data-parallaxspeed="5" data-contentfade="1" data-mobileparallax="">
                            <div class="btx-background-wrapper">
                                <div class="btx-background-inner" style="background-image:url({{projectSolution.solutions_image.path}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                            </div>
                            <div class="btx-background-overlay "></div>
                        </div> #}
                        <div class="btx-post-headline">
                            <div class="btx-container">
                                <div class="btx-post-headline-inner">
                                    <div class="btx-post-headline-content" style="color:black !important; margin-top:-350px">
                                        <div class="btx-post-meta"><span class="btx-post-category btx-post-category--plain">{{project.created_at}}</span></div>
                                        <h1 class="btx-post-title" style="font-weight:100">{{project.project_name}}</h1>
                                        {# <div class="btx-post-author btx-s-text-color">By&nbsp;<a href="#">Paul Nolan</a></div> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="btx-container js-dynamic-navbar">

                        <div class="btx-main btx-main--single project-solution-single" style="margin-top:-150px">
                            <div class="btx-main-wrapper">

                                <!--Begin Main Post Part-->
                                
                                    <!--Content Part-->
                                    
                                     <div class="row">
                                        <div class="col-md-8"><img src="{{project.project_image.path}}" alt="{{project.project_name}}"></div>
                                        <div class="col-md-4">
                                            <h1>{{project.project_name}}</h1>
                                            <p>{{project.project_description|raw}}</p>
                                        </div>
                                    </div> 
                                    {% if project.projectItem|length > 0 %}

                                        <h2>Project Items</h2>
                                        {% for projectItem in project.projectItem %}
                                            <div class="row" style="padding-bottom:30px !important; padding-top:30px !important; border-bottom:solid 1px #9c9c9c !important">
                                                    <div class="col-md-8"><img src="{{projectItem.project_item_image.path}}" alt="{{projectItem.title}}"></div>
                                                    <div class="col-md-4">
                                                        <h3>{{projectItem.title|raw}}</h3>
                                                        <p>{{projectItem.description|raw}}</p>
                                                    </div>
                                                <hr/> <br><br>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                           
                                    

                                    <!--Tag-->
                                    {# <div class="btx-post-tag btx-post-tag--icon btx-p-text-color">
                                        <i class="fa fa-tags"></i><a href="#" rel="tag">mountain</a>,&nbsp;<a href="#" rel="tag">trip</a>
                                    </div> #}

                                                                            
                                        <!--Social Share-->
                                        {# <div class="btx-post-share btx-s-text-color btx-share btx-share--icon btx-center-align">
                                            <ul class="btx-social-share btx-social-share--icon" style="font-size:15px;">
                                                <li class="btx-p-border-border btx-share-item">
                                                    <a href="#" class="js-share btx-social-facebook">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#303030;">
                                                                <i class="fa fa-facebook"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-facebook"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="btx-p-border-border btx-share-item">
                                                    <a href="#" class="js-share btx-social-twitter">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#303030;">
                                                                <i class="fa fa-twitter"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-twitter"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="btx-p-border-border btx-share-item">
                                                    <a href="#" class="js-share btx-social-pinterest">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#303030;">
                                                                <i class="fa fa-pinterest"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-pinterest"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="btx-p-border-border btx-share-item">
                                                    <a href="#" class="js-share btx-social-google-plus">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#303030;">
                                                                <i class="fa fa-google-plus"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-google-plus"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="btx-p-border-border btx-share-item">
                                                    <a href="#" class="js-share btx-social-tumblr">
                                                        <span class="btx-icon btx-icon--with-hover btx-icon--plain btx-icon--hover-plain btx-icon--small">
                                                            <span class="btx-icon-normal btx-icon-plain btx-p-brand-color" style="color:#303030;">
                                                                <i class="fa fa-tumblr"></i>
                                                            </span>
                                                            <span class="btx-icon-hover btx-icon-plain btx-s-brand-color" style="color:#01a2dd;">
                                                                <i class="fa fa-tumblr"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div> #}
                               

                                <!--Post Navigation-->

                                {# <div class="btx-item js-item-navigation btx-navigation btx-navigation--bar btx-p-border-border with-top-border with-bottom-border">

                                    <div class="btx-navigation-previous">
                                        <a href="#" rel="prev"><img width="60" height="60" src="upload/blog-fashion-150x150.jpg" class="attachment-60x60 size-60x60 wp-post-image" alt="blog-fashion" />
                                            <div class="btx-navigation-content">
                                                <span class="btx-navigation-label">Previous</span>
                                                <span class="btx-navigation-title btx-s-text-color">New trend in this Summer</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="btx-navigation-next">
                                        <a href="#" rel="next">
                                            <div class="btx-navigation-content">
                                                <span class="btx-navigation-label">Next</span>
                                                <span class="btx-navigation-title btx-s-text-color">Walking on the new yacht</span>
                                            </div><img width="60" height="60" src="upload/blog-yacht-150x150.jpg" class="attachment-60x60 size-60x60 wp-post-image" alt="blog-yacht"  /></a>
                                    </div>

                                </div> #}

                            
                            </div>
                        </div>

                    </div>
                </div>
            </article>
        </main>