title = "Source Products"
url = "/source-products"
layout = "default"
is_hidden = 0
[session]
security = "all"
[Cart]
[Checkout]
==
<main class="btx-content btx-content--no-header" id="main">
    <article id="post-221" class="btx-content-wrapper post-221 page type-page status-publish hentry">
        
        <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme" style="height:60vh;" data-role="header" data-scheme="dark">
                    <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-wrapper">
                            <div class="btx-background-inner" style="background-image:url({{'assets/images/sourceproducts/industrial_f.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                        </div>
                        
                        <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#333; opacity:0.4;"></div>
                    </div>
                    <div class="btx-page-hero-inner btx-container">
                        <div class="btx-page-hero-wrapper btx-center-align">
                            <div class="btx-page-hero-content btx-middle-vertical">
                                <div class="btx-page-hero-content-wrapper btx-center-align" style="max-width:550px;">

                                    <div class="btx-page-hero-body">

                                        <div class="btx-page-hero-body-title">
                                            <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.02em; font-weight: 300">Source Products</h1>
                                        </div>
                                        <div class="btx-page-hero-buttons" style="display: inline">
                                    <div class="btx-button btx-button--border btx-button-hover--inverse btx-button-size--medium btx-button-color--basic">
                                        <a class="btnx" href="#modal-demo-sourceproducts" target="_blank" style="border-radius:4px; border-width:1px;">
                                            <i class="fa btx-icon--before fa-play"></i>about Sourcing Products</a>
                                    </div>
                                </div> 

                                       <!--  <div class="btx-page-hero-subtitle btx-page-hero-subtitle--bottom btx-primary-font"><span style="color: rgb(255, 255, 255);">Basic, yet versatile layout for any purpose. Use the aspect ratio option to help creating grid easily and beautifully.</span></div> -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
        
       
        
        <div class="btx-main2 btx-main--single">
            <div class="btx-main-wrapper">
                <div class="btx-section js-dynamic-navbar btx-p-border-border" id="discover" data-index="0">
                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
                    </div>
                    <div class="btx-section-wrapper" style="padding-top:0px; padding-right:40px; padding-left:40px; padding-bottom:10px;">
                        <div class="btx-container--fullwidth">
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-space btx-space" style="height:100px;"></div>
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="max-width:733px; overflow-y:hidden;">
                                                <div class="btx-box-body">
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align btx-uppercase">
                                                        <h2 class="btx-heading-text btx-custom_a-font btx-s-text-color btx-s-text-border"
                                                            style="letter-spacing:0.1em;">Source Products</h2>
                                                    </div>
                                                    <div class="btx-item js-item-divider btx-divider btx-divider--single btx-center-align"
                                                        style="margin-top:20px; margin-bottom:30px;">
                                                        <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100px; height:2px;"></div>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-center-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 20px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 17px;">The most comprehensive range of construction products
                                                                        and solutions.</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-space btx-space" style="height:50px;"></div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-3 smallerpadding">
                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner"><a href="{{'shop'|page({'slug':'bathroom'})}}"> <img src="{{'assets/images/Homepageimages/p4.jpg'|theme}}" alt=""
                                                        width="1366" height="768"
                                                        sizes="(max-width:1366px) 100vw, 1366px"></a>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-text btx-text blue-on-hover btx-center-align btx-primary-font">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner">
                                                    <a href="{{'shop'|page({'slug':'bathroom'})}}">Bathroom</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-3 smallerpadding">
                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner"><a href="{{'shop'|page({'slug':'piping'})}}"><img src="{{'assets/images/sourceproducts/piping.jpg'|theme}}" alt=""
                                                        width="1500" height="1000"
                                                        sizes="(max-width:1500px) 100vw, 1500px"></a>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-text btx-text blue-on-hover btx-center-align btx-primary-font">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner">
                                                    <a href="{{'shop'|page({'slug':'piping'})}}">Piping</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-3 smallerpadding">
                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner"><a href="{{'shop'|page({'slug':'electrical-installations'})}}"><img src="{{'assets/images/Homepageimages/p6.jpg'|theme}}" alt=""
                                                        width="1000" height="665"
                                                        sizes="(max-width:1000px) 100vw, 1000px">
                                                </a>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-text btx-text blue-on-hover btx-center-align btx-primary-font">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner">
                                                    <a href="{{'shop'|page({'slug':'electrical-installations'})}}">Electrical Installations</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-3 smallerpadding">
                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner"><a href="{{'shop'|page({'slug':'lighting'})}}"><img src="{{'assets/images/sourceproducts/lighting.jpg'|theme}}" alt=""
                                                        width="1366" height="768"
                                                        sizes="(max-width:1366px) 100vw, 1366px"></a>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-text btx-text blue-on-hover btx-center-align btx-primary-font">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner">
                                                    <a href="{{'shop'|page({'slug':'lighting'})}}">Lighting</a>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-3 smallerpadding">
                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner"><a href="{{'shop'|page({'slug':'construction-chemicals'})}}"><img src="{{'assets/images/Homepageimages/p7.jpg'|theme}}"
                                                        alt="" width="1300" height="871" sizes="(max-width:1300px) 100vw, 1300px"></a>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-text btx-text blue-on-hover btx-center-align btx-primary-font">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner">
                                                    <a href="{{'shop'|page({'slug':'construction-chemicals'})}}">Construction Chemicals</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-3 smallerpadding">
                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner"><a href="{{'shop'|page({'slug':'insulation-and-drywall'})}}"><img src="{{'assets/images/sourceproducts/drywall.jpg'|theme}}"
                                                        alt="" width="1366" height="768"
                                                        sizes="(max-width:1366px) 100vw, 1366px"></a>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-text btx-text blue-on-hover btx-center-align btx-primary-font">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner">
                                                    <a href="{{'shop'|page({'slug':'insulation-and-drywall'})}}">Insulation and Drywall Solutions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-3 smallerpadding">
                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner"><a href="{{'shop'|page({'slug':'hvac'})}}"><img src="{{'assets/images/sourceproducts/hvac.jpg'|theme}}" alt="" width="1500"
                                                        height="1004"
                                                        sizes="(max-width:1500px) 100vw, 1500px"></a>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-text btx-text blue-on-hover btx-center-align btx-primary-font">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner">
                                                    <a href="{{'shop'|page({'slug':'hvac'})}}">HVAC</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-3 smallerpadding">
                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                        <div class="btx-image-container">
                                            <div class="btx-media-wrapper">
                                                <div class="btx-media-wrapper-inner"><a href="{{'shop'|page({'slug':'miscellaneous'})}}"><img src="{{'assets/images/sourceproducts/misc.jpg'|theme}}" alt="" width="1000"
                                                        height="664"
                                                        sizes="(max-width:1000px) 100vw, 1000px"></a>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btx-item js-item-text btx-text blue-on-hover btx-center-align btx-primary-font">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner">
                                                    <a href="{{'shop'|page({'slug':'miscellaneous'})}}">Miscellaneous</a>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>

<div class="btx-item js-item-modal btx-modal btx-light-scheme mfp-hide" id="modal-demo-sourceproducts" style="max-width:733px; overflow-y:auto;"
    data-animation="3d-unfold">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/Db6mdhEb_sE" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>
