title = "Supplier-registration"
url = "/supplier-registration"
layout = "default"
[session]
security = "all"

[Cart]

[account]
redirect = "profile"
paramCode = "code"
forceSecure = 0
==
<main class="btx-content btx-content--with-header" id="main">
<article id="post-221" class="btx-content-wrapper post-221 page type-page status-publish hentry">

                <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme" style="height:60vh;" data-role="header" data-scheme="dark">
                    <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-wrapper">
                            <div class="btx-background-inner" style="background-image:url({{'assets/images/Homepageimages/p3.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                        </div>
                        
                        <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#333; opacity:0.4;"></div>
                    </div>
                    <div class="btx-page-hero-inner btx-container">
                        <div class="btx-page-hero-wrapper btx-center-align">
                            <div class="btx-page-hero-content btx-middle-vertical">
                                <div class="btx-page-hero-content-wrapper btx-center-align" style="max-width:550px;">

                                    <div class="btx-page-hero-body">

                                        <div class="btx-page-hero-body-title">
                                            <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.02em; font-weight: 300">Supplier Registration</h1>
                                        </div>

                                       <!--  <div class="btx-page-hero-subtitle btx-page-hero-subtitle--bottom btx-primary-font"><span style="color: rgb(255, 255, 255);">Basic, yet versatile layout for any purpose. Use the aspect ratio option to help creating grid easily and beautifully.</span></div> -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
</article>
<div class="container">
{% if not user %}

<article>
    <div class="row">

        

        <div class="col-md-8 topandbotpad">
         
            

            {# <h3>Signup as a Regular user </h3> or #}
            {# <p>or <a href="{{'professional-account'|page}}">Register as Professional </a>user</p> #}


            <br/><br/>
            {# {% partial __SELF__ ~ '::register' %} #}
            
            
                {% partial 'site/supplier-register' %}
            
            
        </div>

        <div class="col-md-4 topandbotpad">
            <br><br>
            <h3>Sign in</h3>
            
            {# {% partial __SELF__ ~ '::signin' %} #}
            {% partial 'site/user-login' %}
        </div>

    </div>


{% else %}

    {% partial __SELF__ ~ '::activation_check' %}
    
    {# {% partial __SELF__ ~ '::update' %} #}
    {# {% page 'dashboard/dashboard' %} #}

    {% partial __SELF__ ~ '::deactivate_link' %}

{% endif %}

</article>
</div>

<!-- Registration form toggle -->

    <script>
        $( document ).ready( function() {
            $('#regular-toggl').click( function(){
                $('#regular').toggleClass('hidden');
                $('#professional').toggleClass('hidden');
                $('#company').toggleClass('hidden');
            });

            $('#professional-toggl').click( function(){
                $('#professional').toggleClass('hidden');
                $('#regular').toggleClass('hidden');
                $('#company').toggleClass('hidden');
            });

            $('#company-toggl').click( function(){
                $('#company').toggleClass('hidden');
                $('#professional').toggleClass('hidden');
                $('#regular').toggleClass('hidden');
            });
        });
    </script>
</main>