title = "Terms and Conditions"
url = "/terms-and-conditions"
layout = "default"
is_hidden = 0
[Cart]
[account]
==
<main class="btx-content btx-content--with-header" id="main">
    <article id="post-1223" class="btx-content-wrapper post-1223 page type-page status-publish hentry">
        <header class="btx-content-header btx-page-title btx-page-title--top btx-center-align js-dynamic-navbar btx-dark-scheme"
            data-role="header" data-scheme="dark">
            <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                <div class="btx-background-overlay btx-s-bg-bg" style="opacity:0.9;"></div>
            </div>
            <div class="btx-container">
                <div class="btx-page-title-wrapper">
                    <div class="btx-page-title-content btx-s-text-color">
                        <h1>Terms and Conditions</h1>
                    </div>
                </div>
            </div>
        </header>
        <div class="btx-main btx-main--single">
            <div class="btx-main-wrapper">
                <div class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
                    </div>
                    <div class="btx-section-wrapper">
                        <div class="btx-container">
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                            data-mobileparallax="">
                                            <div class="btx-background-overlay " style="opacity:0.9;"></div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body">
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                            <span style="font-weight: bold;">TERMS AND CONDITIONS OF USE</span>
                                                        </h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">This Terms and Conditions of Use describes the terms
                                                                        applicable to the use of this website, mobile versions
                                                                        of the websites and digital applications to which
                                                                        this Terms of Use is linked, is owned and operated
                                                                        by FF&amp;E DIGITAL ENTERPRISES LIMITED, a company
                                                                        duly registered and incorporated in Nigeria with
                                                                        its registered office at No. 1 Towry Close, Victoria
                                                                        Island, Lagos, Nigeria.
                                                                        <br>
                                                                        <br>THESE TERMS OF USE ("AGREEMENT") SETS FORTH THE LEGALLY
                                                                        BINDING TERMS FOR YOUR USE OF THE SITE. BY ACCESSING
                                                                        OR USING THE SITES, YOU ACCEPT THIS AGREEMENT (ON
                                                                        BEHALF OF YOURSELF OR THE ENTITY THAT YOU REPRESENT)
                                                                        AND YOU AGREE THAT YOU HAVE THE RIGHT, CAPACITY AND
                                                                        AUTHORITY TO ENTER INTO THIS AGREEMENT (ON BEHALF
                                                                        OF YOURSELF OR THE ENTITY THAT YOU REPRESENT). IF
                                                                        YOU DO NOT AGREE WITH ALL THE TERMS AND CONDITIONS
                                                                        OF THIS AGREEMENT, DO NOT ACCESS AND/OR USE THE SITES.
                                                                        <br>
                                                                        <br>IF YOU USE THIS SITE WHETHER AS A SUBSCRIBER, A VISITOR
                                                                        OR OTHERWISE OR IF YOU REGISTER WITH OUR WEBSITE,
                                                                        SUBMIT ANY MATERIAL TO OUR WEBSITE OR USE ANY OF
                                                                        OUR WEBSITE SERVICES CONTAINED WITHIN THE SITE INCLUDING
                                                                        BUT NOT LIMITED TO LOGGING IN, ACCESSING A WEBPAGE
                                                                        OR PERFORMING A SEARCH, WE WILL ASK YOU TO EXPRESSLY
                                                                        AGREE TO THESE TERMS AND CONDITIONS OF THE AGREEMENT.
                                                                        <br>
                                                                        <br>THE WEBSITE USES COOKIES; BY USING THE WEBSITE OR
                                                                        AGREEING TO THESE TERMS AND CONDITIONS, YOU CONSENT
                                                                        TO THE USE OF COOKIES IN ACCORDANCE WITH THE TERMS
                                                                        OF OUR PRIVACY AND COOKIES POLICY.
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                            <span style="font-weight: bold;">DEFINITIONS</span>
                                                        </h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">'CONTENT' means all text, pictures, sound, graphics,
                                                                        video and other data supplied by FF&amp;E DIGITAL
                                                                        ENTERPRISES LIMITED, subscribers, visitors or otherwise
                                                                        and information which form part of or are included
                                                                        in the Products, including without limitation, Content
                                                                        provided by Data Providers.
                                                                        <br>
                                                                        <br>'CUSTOMER' means a visitor, the registered users
                                                                        or a party to which the goods are to be supplied
                                                                        or service rendered by the supplier.
                                                                        <br>
                                                                        <br>'PURCHASER' means the contracting party or parties
                                                                        whose details appear on the Order Form.
                                                                        <br>
                                                                        <br>'DATA PROVIDER' means any third party supplier providing
                                                                        maps, data or information directly or indirectly
                                                                        to the Supplier.
                                                                        <br>
                                                                        <br>'INTELLECTUAL PROPERTY' means any patent, copyright,
                                                                        registered design rights, service marks, moral rights,
                                                                        data protection rights, know-how, trade mark or other
                                                                        intellectual property rights held by the Supplier
                                                                        or any Data Providers and contained in the Products.
                                                                        <br>
                                                                        <br>'ORDER FORM' means any standard order form(s), in
                                                                        printed or electronic form, produced by or on behalf
                                                                        of the Supplier.
                                                                        <br>
                                                                        <br>'PRODUCT' means any product, goods or service provided
                                                                        to the Purchaser/Customer by FF&amp;E DIGITAL ENTERPRISES.
                                                                        <br>
                                                                        <br>'WEBSITE' means the user interface, functionality
                                                                        and Content made available on pages under the Domain
                                                                        Name at the internet addresses
                                                                        <a href="https://ffe.ng">www.ffande.ng</a> and
                                                                        <a href="https://ffe.ng">www.ffe.ng</a>.
                                                                        <br>
                                                                        <br>'SUPPLIER' for the purposes of these conditions means
                                                                        FF&amp;E DIGITAL ENTERPRISES, the distributors and
                                                                        manufacturers of the goods and services.
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:40px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">1. USERNAME, PASSWORD AND SECURITY</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">When you register to use this website and other services,
                                                                        you represent and warrant that: (a) all required
                                                                        user information you submit is truthful and accurate;
                                                                        and that (b) will ensure that this information is
                                                                        kept accurate and up to date at all times. You will
                                                                        be responsible for maintaining the confidentiality
                                                                        of your user Information, and we will not be responsible
                                                                        for the misuse of your information by any third party,
                                                                        whether authorized by you or not. You are responsible
                                                                        for all activities that occur under the accounts
                                                                        generated with your User Information. You agree to
                                                                        immediately notify FF&amp;E DIGITAL ENTERPRISES of
                                                                        any unauthorized use, or suspected unauthorized use
                                                                        of your User Information or any other breach of security.
                                                                        FF&amp;E DIGITAL ENTERPRISES cannot and will not
                                                                        be liable for any loss or damage arising from your
                                                                        failure to comply with the above requirements.
                                                                        <br>
                                                                        <br>You will be asked to create a password. It is your
                                                                        responsibility to choose a secure password. You must
                                                                        keep this password confidential and must not disclose
                                                                        it to, or share it with anyone. YOU WILL BE RESPONSIBLE
                                                                        for all activities that occur under your password.
                                                                        If you know or suspect that someone else knows your
                                                                        password you must notify FF&amp;E DIGITAL ENTERPRISES
                                                                        immediately. The supplier will not be responsible
                                                                        for any abuse of passwords.
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">2. COPYRIGHT</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">All copyright, database rights and other intellectual
                                                                        property rights in all the material which comprise
                                                                        the Service including but not limited to design,
                                                                        structure, layouts, graphical images and underlying
                                                                        software code (collectively the "Content") belongs
                                                                        to FF&amp;E DIGITAL ENTERPRISES. All rights are reserved,
                                                                        except for the limited licensed rights expressly
                                                                        granted below.
                                                                        <br>
                                                                        <br>The Customer acknowledges that, except as otherwise
                                                                        agreed between the parties in writing, copyright
                                                                        and all other intellectual property rights in the
                                                                        Service shall remain with FF&amp;E DIGITAL ENTERPRISES
                                                                        or third party owners of such rights. The Customer
                                                                        shall have and shall gain no rights of ownership
                                                                        therein.
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">3. LICENSE TO USE WEBSITE</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">Subject to the terms and conditions of this Agreement,
                                                                        FF&amp;E DIGITAL ENTERPRISES grants the Customer
                                                                        a non-transferable, non-exclusive, license to use
                                                                        the Sites for personal and business use. Subject
                                                                        to the terms of this Agreement, FF&amp;E DIGITAL
                                                                        ENTERPRISES grants the Customer a non-transferable,
                                                                        non-exclusive, license to install and use the software
                                                                        FF&amp;E DIGITAL ENTERPRISES makes available for
                                                                        mobile devices, solely on mobile devices and for
                                                                        personal and business use. The Apps are deemed part
                                                                        of the Site and all terms and conditions shall apply.</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">4. INTELLECTUAL PROPERTY</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">The contents and all Rights therein are owned by FF&amp;E
                                                                        DIGITAL ENTERPRISES (and/or its licensors or suppliers).
                                                                        "Rights" means copyright, database rights, trade
                                                                        marks, design rights and other intellectual and proprietary
                                                                        rights of whatever nature, anywhere in the world.
                                                                        You acknowledge that; (i) FF&amp;E DIGITAL ENTERPRISES
                                                                        is protected by Rights; (ii) these Rights are valid
                                                                        and protected in all media and technologies existing
                                                                        now or later developed; and (iii) except as explicitly
                                                                        provided otherwise, these Terms of Service and applicable
                                                                        copyright, trademark and other laws govern your use
                                                                        of such Rights.
                                                                        <br>
                                                                        <br>You may view, print, download or temporarily store
                                                                        extracts from FF&amp;E DIGITAL ENTERPRISES for your
                                                                        personal, non-commercial reference without alteration,
                                                                        addition or deletion. You may not otherwise copy,
                                                                        reproduce, retransmit, distribute, publish, commercially
                                                                        exploit or otherwise transfer any FF&amp;E DIGITAL
                                                                        ENTERPRISES material or content. You acknowledge
                                                                        that you will not acquire any Rights by downloading
                                                                        or otherwise using any FF&amp;E DIGITAL ENTERPRISES
                                                                        content or materials.
                                                                        <br>
                                                                        <br>By submitting content, which shall include your subscriber
                                                                        name, to any "public area" of FF&amp;E DIGITAL ENTERPRISES,
                                                                        including message boards, forums, and contests, you
                                                                        grant FF&amp;E DIGITAL ENTERPRISES a royalty-free,
                                                                        perpetual, irrevocable, non-exclusive right and license
                                                                        to use, reproduce, modify, adapt, publish, translate,
                                                                        create derivative works from, distribute, communicate
                                                                        to the public, perform and display the content (in
                                                                        whole or in part) worldwide and/or to incorporate
                                                                        it in other works in any form, media, or technology
                                                                        now known or later developed, for the full term of
                                                                        any Rights that may exist in such content. You also
                                                                        permit any subscriber to view, access, display, reproduce
                                                                        and store such content for personal use.
                                                                        <br>
                                                                        <br>By submitting content, you also warrant that you
                                                                        are entitled and have all necessary rights to grant
                                                                        the licenses stated above. Subject to the foregoing,
                                                                        the owner of such content placed on FF&amp;E DIGITAL
                                                                        ENTERPRISES retains any and all Rights that may exist
                                                                        in such content.&nbsp;
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">5. DATA PROTECTION, USE AND COOKIES</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">FF&amp;E DIGITAL ENTERPRISES may place information concerning
                                                                        the Customer on a computerized directory for internal
                                                                        use only. The supplier will never disclose a Customers
                                                                        details to any third party unless required to by
                                                                        law or unless specifically instructed to the contrary
                                                                        by the Customer.
                                                                        <br>
                                                                        <br>In creating interfaces onto the World Wide Web, FF&amp;E
                                                                        DIGITAL ENTERPRISES may gain certain access to the
                                                                        Customers data/information. It is the responsibility
                                                                        of the Customer to define the degree of access to
                                                                        be enacted and denies all liability both legally
                                                                        and for consequential damages and all forms of economic
                                                                        loss should commercial loss or damage occur as a
                                                                        result of the access to the Customer's data/information.
                                                                        <br>
                                                                        <br>We confirm that your Personal Information is used
                                                                        for the following purposes:
                                                                        <br>1. To Process your Orders;
                                                                        <br>2. For statistical purposes to improve this Website
                                                                        and its services to You;
                                                                        <br>3. To administer this Website;
                                                                        <br>
                                                                        <br>When You register on this Website You are given the
                                                                        option to receive news and updates from Us by email
                                                                        and post which We feel may be of interest to You.
                                                                        <br>
                                                                        <br>Your Personal Information may be disclosed to other
                                                                        businesses within the group of which we are a part
                                                                        and to reputable third parties engaged by FF&amp;E
                                                                        DIGITAL ENTERPRISES to perform a variety of functions
                                                                        such as processing your Orders, assisting with promotions
                                                                        or providing technical services for our Websites.
                                                                        We require all such third parties to treat your Personal
                                                                        Information as fully confidential and to fully comply
                                                                        with all applicable Data Protection and consumer
                                                                        legislation.
                                                                        <br>
                                                                        <br>You should be aware that if FF&amp;E DIGITAL ENTERPRISES
                                                                        is requested by the police or any other regulatory
                                                                        or government authority investigating suspected illegal
                                                                        activities to provide your Personal Information and/or
                                                                        User Information we are entitled to do so.
                                                                        <br>
                                                                        <br>Cookies are small pieces of information that are
                                                                        stored by your browser on your computer’s hard drive.
                                                                        Our cookies do not contain any personally identifying
                                                                        information, but they do enable us to provide features
                                                                        such as personalization and to store items in your
                                                                        Shopping Basket between visits. Most Web browsers
                                                                        automatically accept cookies, but you can change
                                                                        your browser to prevent that. Even without a cookie,
                                                                        you can still use most of the features on this Website,
                                                                        including placing Products in your shopping Basket
                                                                        and purchasing them even at a later date.&nbsp;
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">6. THIRD PARTY WEB SITES, GOODS AND SERVICES</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">FF&amp;E DIGITAL ENTERPRISES may offer links to third
                                                                        party web sites that are not operated by/or affiliated
                                                                        with FF&amp;E DIGITAL ENTERPRISES. We make no representations
                                                                        as to the quality, suitability, functionality or
                                                                        legality of any websites to which we may provide
                                                                        links or any goods or services available from such
                                                                        sites, and no such representations should be inferred
                                                                        or construed whether from such provision or otherwise.
                                                                        If you visit any of the linked sites You should review
                                                                        its privacy and other policies. We are not responsible
                                                                        for the policies and practices of other companies.
                                                                        <br>
                                                                        <br>All matters concerning any goods and services that
                                                                        you purchase from a third party site, including,
                                                                        without limitation all contract terms are solely
                                                                        between you and the owner of that site and FF&amp;E
                                                                        DIGITAL ENTERPRISES will not be liable for any costs
                                                                        or damages to you or any third party arising directly
                                                                        or indirectly out of any third party website. You
                                                                        hereby waive any claim you might have against FF&amp;E
                                                                        DIGITAL ENTERPRISES with respect to any such sites.
                                                                        <br>
                                                                        <br>Subject to the terms of our Privacy Policy, FF&amp;E
                                                                        DIGITAL ENTERPRISES may, from time to time, send
                                                                        e-mail messages to you containing advertisements
                                                                        or promotions including links to third parties. FF&amp;E
                                                                        DIGITAL ENTERPRISES makes no representation or warranty
                                                                        with respect to the quality, suitability, or functionality
                                                                        of any goods or services which may be obtained from
                                                                        third parties as a consequence of these e-mails,
                                                                        and you agree that FF&amp;E DIGITAL ENTERPRISES shall
                                                                        have no liability with respect thereto.&nbsp;
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">7. DESCRIPTION AND AVAILABILITY</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">FF&amp;E DIGITAL ENTERPRISES takes all reasonable measures
                                                                        to ensure that details, measurements and descriptions
                                                                        of Products given on this Website are as accurate
                                                                        and complete as possible but there may be variations
                                                                        between these and the Products themselves. All Products
                                                                        are subject to availability.</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">8. PRICE</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">All Prices appearing on this Website are indicative.
                                                                        Thus all prices advertised are subject to such changes
                                                                        where applicable at the current rates.
                                                                        <br>
                                                                        <br>Whilst FF&amp;E DIGITAL ENTERPRISES ensures that
                                                                        all details, descriptions and prices which appear
                                                                        on this Website are accurate, prices may change or
                                                                        errors may occur. If we discover an error or a variation
                                                                        in the price of any goods which you have ordered
                                                                        we will inform you of this as soon as possible and
                                                                        give you the option of reconfirming your order at
                                                                        the correct or updated price or cancelling it. If
                                                                        we are unable to contact you we will treat the order
                                                                        as cancelled. If FF&amp;E DIGITAL ENTERPRISES cancels
                                                                        and you have already paid for the goods, you will
                                                                        receive a full refund.
                                                                        <br>
                                                                        <br>Due to circumstances beyond our control prices on
                                                                        this Website are indicative and may have to be altered,
                                                                        including any variations in the tax rates. If this
                                                                        occurs after placing an order but before payment
                                                                        is made you will be notified and requested to reconfirm
                                                                        your Order at the updated price.
                                                                        <br>
                                                                        <br>By notifying You, We shall be entitled to cancel
                                                                        any Contract in whole or in part to the extent that
                                                                        it is for the purchase of a Product the price of
                                                                        which was stated differently on the Website.
                                                                        <br>
                                                                        <br>The cost of your Order will be the price of the Products
                                                                        ordered plus the appropriate delivery charges which
                                                                        will be clearly reflected on the invoice.&nbsp;
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">9. ORDERING</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">By placing an order you are offering to purchase a product
                                                                        subject to the following terms and conditions. All
                                                                        orders are subject to availability and confirmation
                                                                        of the order price.
                                                                        <br>
                                                                        <br>When you place an order, you will receive an acknowledgement
                                                                        e-mail confirming receipt of your order. This email
                                                                        will only be an acknowledgement and will not constitute
                                                                        acceptance of your order. A contract between you
                                                                        and FF&amp;E DIGITAL ENTERPRISES for the purchase
                                                                        of the goods will not be formed until your payment
                                                                        has been confirmed by us.
                                                                        <br>
                                                                        <br>The Purchaser will place an order for the Products
                                                                        by providing the information required on the Order
                                                                        Form or other information requested by us.
                                                                        <br>
                                                                        <br>The Purchaser will provide sufficient information
                                                                        to clearly identify the location required for the
                                                                        purpose of delivery of the product bought.
                                                                        <br>
                                                                        <br>If the address information supplied by the Purchaser
                                                                        does not indicate an actual property in Nigeria on
                                                                        FF&amp;E DIGITAL ENTERPRISES records then FF&amp;E
                                                                        DIGITAL ENTERPRISES may offer the Purchaser an opportunity
                                                                        to substitute a different location. Subject to the
                                                                        above, the Purchaser is unable to cancel the order
                                                                        once payment has been confirmed by FF&amp;E DIGITAL
                                                                        ENTERPRISES in accordance with the Purchaser's order.
                                                                        <br>
                                                                        <br>The Service may contain typographical errors or other
                                                                        errors or inaccuracies and may not be complete or
                                                                        current. We therefore reserve the right to correct
                                                                        any errors, inaccuracies or omissions and to change
                                                                        or update information at any time without prior notice.
                                                                        We reserve the right to refuse to fill any orders
                                                                        that you may place based on information on the Service
                                                                        that may contain errors or inaccuracies, including,
                                                                        without limitation, errors, inaccuracies or out-of-date
                                                                        information regarding pricing, shipping, delivery,
                                                                        payment terms, or return policies.
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">10. BREACH OF TERMS</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">FF&amp;E DIGITAL ENTERPRISES shall, with or without notice
                                                                        be entitled to restrict, suspend or deny you access
                                                                        to FF&amp;E DIGITAL ENTERPRISES or take such other
                                                                        action as FF&amp;E DIGITAL ENTERPRISES deems appropriate
                                                                        if FF&amp;E DIGITAL ENTERPRISES determines that you
                                                                        are in breach or serious breach of any of the Terms
                                                                        of agreement or if FF&amp;E DIGITAL ENTERPRISES considers
                                                                        that your use of the website is inappropriate or
                                                                        otherwise unacceptable.
                                                                        <br>
                                                                        <br>The restriction, suspension or termination of our
                                                                        service pursuant to this section will be without
                                                                        prejudice to any rights which FF&amp;E DIGITAL ENTERPRISES
                                                                        may have against you in respect of your breach of
                                                                        these Terms of Service.
                                                                        <br>
                                                                        <br>FF&amp;E DIGITAL ENTERPRISES shall be entitled to
                                                                        disclose your user identity and details if required
                                                                        or requested by the Courts or other law enforcement
                                                                        authorities and/or agencies or in such other circumstances
                                                                        as FF&amp;E DIGITAL ENTERPRISES in its sole discretion
                                                                        considers reasonably necessary or appropriate.&nbsp;
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">11. EVENTS OUTSIDE OUR CONTROL (FORCE MAJEURE)</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">FF&amp;E DIGITAL ENTERPRISES will not be liable or responsible
                                                                        for any failure to perform, or delay in performance
                                                                        of, any of our obligations under this Agreement that
                                                                        is caused by events outside our reasonable control
                                                                        including Acts of God, malicious acts of damage,
                                                                        Government authority.
                                                                        <br>
                                                                        <br>A Force Majeure Event includes any act, event, non-happening,
                                                                        omission or accident beyond our reasonable control
                                                                        and includes, in particular (without limitation)
                                                                        the following:-
                                                                        <br>
                                                                        <br>a) Industrial action such as strikes.
                                                                        <br>b) Civil commotion, riot, invasion, terrorist attack
                                                                        or threat of terrorist attack, war (whether declared
                                                                        or not) or threat or preparation for war.
                                                                        <br>c) Fire, explosion, storm, flood, earthquake, subsidence,
                                                                        epidemic or other natural disasters.
                                                                        <br>d) Impossibility of the use of shipping, motor transport,
                                                                        railways, aircraft, or other means of public or private
                                                                        transport.
                                                                        <br>e) Impossibility of the use of public or private
                                                                        telecommunications networks.
                                                                        <br>f) The acts, decrees, legislation, regulations or
                                                                        restrictions of any government.
                                                                        <br>
                                                                        <br>Our performance under this Agreement is deemed to
                                                                        be suspended for the period that the Force Majeure
                                                                        Event continues, and we may extend the time for performance
                                                                        during that period. We will use our reasonable endeavors
                                                                        to bring the Force Majeure Event to a close or to
                                                                        find a solution by which our obligations under the
                                                                        Agreement may be performed despite the Force Majeure
                                                                        Event.&nbsp;
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">12. DISCLAIMERS OF WARRANTIES AND LIMITATION OF LIABILITY</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner"> FF&amp;E DIGITAL ENTERPRISES expressly disclaims all warranties
                                                                    or representations of any kind, express or implied, to
                                                                    the fullest extent permitted by law. The material displayed
                                                                    on this Website is provided without any guarantees, conditions
                                                                    or warranties as to its accuracy. Unless expressly stated
                                                                    to the contrary to the fullest extent permitted by law
                                                                    FF&amp;E DIGITAL ENTERPRISES and its suppliers, content
                                                                    providers and advertisers hereby expressly exclude all
                                                                    conditions, warranties and other terms which might otherwise
                                                                    be implied by statute, common law or the law of equity
                                                                    and shall not be liable for any damages whatsoever, including
                                                                    but without limitation to any direct, indirect, special,
                                                                    consequential, punitive or incidental damages, or damages
                                                                    for loss of use, profits, data or other intangibles,
                                                                    damage to goodwill or reputation, or the cost of procurement
                                                                    of substitute goods and services, arising out of or related
                                                                    to the use, inability to use, performance or failures
                                                                    of this Website or the Linked Sites and any materials
                                                                    posted thereon, irrespective of whether such damages
                                                                    were foreseeable or arise in contract, tort, equity,
                                                                    restitution, by statute, at common law or otherwise.
                                                                    <br>
                                                                    <br>Except where expressly stated to the contrary all persons
                                                                    (including their names and images), third party trademarks
                                                                    and images of third party products, services and/or locations
                                                                    featured on this Website are in no way associated, linked
                                                                    or affiliated with FF&amp;E DIGITAL ENTERPRISES and you
                                                                    should not rely on the existence of such a connection
                                                                    or affiliation. Any trademarks/names featured on this
                                                                    Website are owned by the respective trademark owners.
                                                                    Where a trademark or brand name is referred to it is
                                                                    used solely to describe or identify the products and
                                                                    services and is in no way an assertion that such products
                                                                    or services are endorsed by or connected to FF&amp;E
                                                                    DIGITAL ENTERPRISES.
                                                                    <br>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">13. INDEMNITY</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">You agree to indemnify and hold FF&amp;E DIGITAL ENTERPRISES,
                                                                        its directors, officers, employees and affiliates
                                                                        harmless from any claim or demand, including reasonable
                                                                        legal fees, made by any third party due to or arising
                                                                        out of your use of this website, the violation of
                                                                        these Terms of Service by you, or the infringement
                                                                        by you, or any other person, of your account, or
                                                                        of any intellectual property or other right of any
                                                                        other person or entity. </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">14. ALTERATION</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">FF&amp;E DIGITAL ENTERPRISES has the right and absolute
                                                                        discretion to remove or vary the services and/or
                                                                        any page of this Website at any time without notice
                                                                        to amend.</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">15. ENFORCEABILITY</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">Should any part of the terms under this agreement be
                                                                        held to be void, invalid, unenforceable or illegal
                                                                        by a Court, the enforceability and validity of the
                                                                        other provisions shall not be affected thereby, all
                                                                        other clauses remaining in full force and effect.
                                                                        So far as possible where any clause or part of a
                                                                        clause can be severed to render the remaining part
                                                                        valid, the clause shall be interpreted accordingly.
                                                                        Alternatively, you agree that the clause shall be
                                                                        rectified and interpreted in such a way that closely
                                                                        resembles the original meaning of the clause as is
                                                                        permitted by law.</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">16. WAIVER</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">Any failure or delay by us to enforce strict performance
                                                                        by your breach of any of the terms and conditions
                                                                        of use of this website or to exercise any right under
                                                                        the Terms will not be construed as a waiver to any
                                                                        extent of our rights. We will still be entitled to
                                                                        use our rights and remedies in any other situation
                                                                        where you breach these conditions.</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">17. APPLICABLE LAW</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">These terms and conditions under this Agreement shall
                                                                        be interpreted and construed with the laws of the
                                                                        Federal Republic of Nigeria which shall from time
                                                                        to time be in force. Any dispute or difference of
                                                                        any kind arising between the Parties in connection
                                                                        with or arising out of this Agreement shall be referred
                                                                        to arbitration as hereinafter provided.
                                                                        <br>
                                                                        <br>Prior to reference to arbitration, the Parties shall
                                                                        promptly and in good faith negotiate with a view
                                                                        to arrive at a settlement. Where settlement is not
                                                                        achieved by negotiation within 45 days from the date
                                                                        in which the dispute or difference was referred to
                                                                        arbitration, then either Party may by written notice
                                                                        require that the matter be referred to arbitration.
                                                                        <br>
                                                                        <br>The arbitration shall be governed by the provisions
                                                                        of the Arbitration and Conciliation Act, Laws of
                                                                        the Federation of Nigeria 2004 and shall be conducted
                                                                        by a sole arbitrator selected by the mutual agreement
                                                                        of the Parties. Where the Parties fail to reach an
                                                                        agreement on the appointment of an arbitrator, the
                                                                        arbitrator will be appointed by a Judge of the Lagos
                                                                        State High Court.
                                                                        <br>The arbitration proceedings shall be conducted in
                                                                        Lagos State (Nigeria), unless the Parties agree otherwise.
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:20px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">18. THE ENTIRE AGREEMENT</h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">These Terms and conditions of use and the Privacy Policy
                                                                        constitute the entire agreement between all parties
                                                                        and supersede any and all preceding and contemporaneous
                                                                        agreements between you and FF&amp;E DIGITAL ENTERPRISES
                                                                        as to your use of this website. Any waiver of any
                                                                        provision of the Terms of Service will be effective
                                                                        only if in writing and signed by a Director of FF&amp;E
                                                                        DIGITAL ENTERPRISES.</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btx-item js-item-space btx-space" style="height:40px;"></div>
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                            <span style="font-weight: bold;">DELIVERY</span>
                                                        </h3>
                                                    </div>
                                                    <div class="btx-item js-item-text btx-text btx-justify-align btx-primary-font">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style" style="font-size: 15px;">We will confirm the expected delivery date during the
                                                                        Order Confirmation Stage, before payment is made.
                                                                        Any guarantees or representations made as to delivery
                                                                        times are subject to change which may result from
                                                                        postal, shipping, freight delays or force majeure
                                                                        for which we will not be responsible.
                                                                        <br>
                                                                        <br>All delivery times and prices are subject to the
                                                                        availability, quantity and location of the products
                                                                        ordered.
                                                                        <br>
                                                                        <br>Please note that deliveries of goods may be phased.
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
