title = "Terms and Condiitons"
url = "/terms-conditions"
layout = "default"
is_hidden = 0

[Cart]
[account]
[session]
==
<section>
    <!-- .contact form -->
    <div class="container">
        <div class="row" style="padding-bottom:100px">
            <div class="col-md-3">
                <ul style="margin-top:150px" class="faqMenu">
                    <li>
                        <a href="/customer-service" {% if this.page.id == 'customer-service'%} class="csactive" {% endif %}>Customer Service</a>
                    </li>
                    <li>
                        <a href="/privacy-policy" {% if this.page.id == 'privacy-policy'%} class="csactive" {% endif %}>Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/returns-refunds" {% if this.page.id == 'returns-refunds'%} class="csactive" {% endif %}>Returns & Refunds </a>
                    </li>
                    <li>
                        <a href="/terms-conditions" {% if this.page.id == 'terms-conditions'%} class="csactive" {% endif %}>Terms & Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <div class="contact-form">
                </div>
                {% partial 'site/terms-conditions' %}




            </div>
           


            
        </div>
    </div>
    <!-- /.contact form  -->
</section>
