title = "Thank you Decor"
url = "/thank-you-decor"
layout = "default"
description = "A thank you page for orders"
is_hidden = 0
[Checkout]
[Cart]
[account]
[session]
[Bookdecor]
==
{% set order = __SELF__.newOrder %}
<section class="grid-shop blog">
    <div class="container">
        <div class="row">
                <div class="col-md-12" style="height:50px">
                
                    
                </div>
                
         </div>
    </div>
</section>
<section class="grid-shop blog">
    <div class="container">
        <div class="row">
                <div class="col-md-6">
                    <div class="teasertext">
                        <h3 style="line-height:40px">Your order was placed</h3>
                        <div>
                            Thank you for your order! <br/>Your order number is <strong>KKR{{order.id}}</strong>.
                            The designer you requested will contact you with the details provided. In the mean time you can <a href="/prints" style="color:black !important"><strong>Go Prints Shopping</strong></a> or Return to the <a href="/" style="color:black !important"><strong>Homepage</strong></a>. 
                        </div>
                    </div>
                </div>
                <div class="col-md-6">  
                    <img class="img img-responsive" src="{{'assets/images/thankyou.jpg'|theme}}" alt="">
                </div> 
         </div>
    </div>
</section>
<section class="grid-shop blog">
    <div class="container">
        <div class="row">
                <div class="col-md-12" style="height:50px">
                
                    
                </div>
                
         </div>
    </div>
</section>