title = "User Profile"
url = "/my-account/userprofile"
layout = "dashboardLayout"
is_hidden = 0
[Cart]
[account]
[session]
security = "user"
redirect = "register"
==
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Profile Information</h4>
                    Welcome to your Dashboard. From here you can edit your profile, showcase your projects, make connections, and much more.
                </div>
                <div class="content">
                    <div>
                        {% partial 'site/user-update' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


