{% set products = __SELF__.products %}
 <a href="{{'create-print'|page}}" class="btn btn-primary">Add Print</a>
<div class="card">
            {# <div class="header">
                <h2 class="title">Prints</h2>
                <p class="category"></p>
            </div> #}
            <div class="content">
                {# <h3 style="text-align:center; line-height:40px">Add Print</h3> #}
                {# <ul>
                    <li>Click on "Create a project": Fill and submit project creation form</li>
                    <li>Click on "Create a project item": Fill and submit project item creation form. make sure you select the appropriate existing project for each item </li>
                    
                </ul> #}
                <div class="content table-responsive table-full-width">
   
    <table class="table table-striped">
        <thead>
            <th>id</th>
            <th>Print sku</th>
            <th>Print Name</th>
            <th>Print image</th>
            <th>Nª Likes</th>
            <th>Nª Orders</th>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="{{'edit-product'|page({'slug':product.slug})}}">{{product.id}}</a></td>
                    <td><a href="{{'edit-product'|page({'slug':product.slug})}}">{{product.product_name}}</a></td>  
                    <td><a href="{{'edit-product'|page({'slug':product.slug})}}">{{product.product_name}}</a></td>  
                    <td><img src="{{product.product_image.path}}" alt="" width="50"></td>  
                    <td><img src="{{product.hover_image.path}}" alt="" width="50"></td>
                    <td><a>{{product.favorites_count}} </a></td>  
                    <td><a> {{product.orderCount|length}}</a></td>  
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
            </div>
        </div>
