subject = "Someone just ordered one of your prints"
==


<table cellpadding="0" cellspacing="0" border="0" width="88%" style="width: 88% !important; min-width: 88%; max-width: 88%;">
                     <tr>
                        <td align="left" valign="top">
                           <div style="height: 37px; line-height: 37px; font-size: 35px;">&nbsp;</div>
                           <font face="'Source Sans Pro', sans-serif" color="#000000" style="font-size: 20px; line-height: 28px;">
                              <span style="font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px;">Hey {{firstname}} 

{{lastname}}  ,</span>
                           </font>
                           <div style="height: 22px; line-height: 22px; font-size: 20px;">&nbsp;</div>
                           <font face="'Source Sans Pro', sans-serif" color="#000000" style="font-size: 20px; line-height: 28px;">
                              <span style="font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #000000; font-size: 20px; line-height: 28px;">Your order, order number: <a href="#" target="_blank" style="font-family: 'Source Sans Pro', Arial, Tahoma, Geneva, sans-serif; color: #24d3d6; font-size: 20px; line-height: 28px; text-decoration: none;">KKR | Nº{{order_id}}</a> with a total of <b>NGN{{total}}</b> has successfully been placed. You will find all the details about your order below by visiting your <a href="https://kokore.tk/my-account/orders/{{order_id}}">account</a>. Click here to visit your <a href="https://kokore.tk/my-account/orders/{{order_id}}">account</a></span>
                           </font>
                           
                           <div style="height: 50px; line-height: 50px; font-size: 48px;">&nbsp;</div>
                        </td>
                     </tr>
                  </table>