Hello {{name}}, <br />
{{firstname}} {{lastname}} would like to invite you to Join FF&amp;E Professional Community <br />
Please click on the link below to join: <br/>
<a href="https://beta.ffe.ng/community"> Join The Community </a> or copy this link to your browser <a href="https://beta.ffe.ng/community">https://beta.ffe.ng/community</a>

