{% set requestForQuotes = __SELF__.requestForQuotes %}
<div class="content table-responsive table-full-width">
    <table class="table table-striped">
        <thead>
            <th>First name</th>
            <th>Last name</th>
            <th>Project name</th>
            <th>Project location</th>
        </thead>
        <tbody>
            {% for rfq in requestForQuotes %}
                <tr>
                    <td>{{rfq.f_name}}</td>
                    <td>{{rfq.l_name}}</td>
                    <td>{{rfq.project_name}}</td>
                    <td>{{rfq.project_location}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>