@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

  .checkoutinfo {
    display: none;
  }

  @media screen and (max-width: 480px) {
    .secondaryNav {
      display: block;
      height: 20px;
      
    }

    .col-5 {
      display: flex;
    }

    .pro-text {
      width: 80%;
      margin: 0 auto;
    }

    .secondarySlider {
      height: auto !important;
    }

    .login-bar {
      display: none;
    }
    .topbar{
      display: none;
    }

    .checkoutinfo {
      display: block;
      font-size: 10px;
    }

    .secondaryNav ul.topbar li {
      font-size: 10px;
      margin: 0 auto;
      text-align: center;
    }

    .container>.navbar-header {
      margin-right: -15px;
      margin-left: -15px;
      padding-top: 20px;
  }
  .navbar-toggle2 {
    display: block;
}

@media screen and (max-width: 1546px) {
  .pro-img {
    height: 360px;
  }
}

.banner-img2>img {
  height: 180px !important;
}

.pro-img  {
  height: auto !important;
}

#slider-wrap {
  width:100%;
}

div#instafeed img {
  width: 200px;
}

.homeblogitems {
  padding-left: 0px;
  padding-right: 0px;
}

.sidebar-shop {
  display: none;
}

.quickview {
  display: block;
  width: 100%;
  background: red;
  height: 10px;
}

.introtext-wrapper {
  width:100%;
  text-align: center;
}
.introtext-wrapper h4 {
  text-align: center;

}

.pro-img.trending {
  height: auto !important;
}

.banner-text {
  top: 60% !important;
}

    .copayright {
      text-align: center;
    }

    .f-sicon2 {
      text-align: center;
      margin: 0 auto;
    }

    .banner-img {
      position: static;
      margin-bottom: 10px;
    }

    .banner-bg {
      padding: 15px 15px 0;
    }

    .banner-bg > .col-xs-4 {
      padding-right: 3px;
      padding-left: 3px;
    }

    .affix-top {
     top: 50px ;
    }

    
  }


  .navbar-toggle2 {
    float: right;
    margin-top: 8px;
    margin-right: 15px;
  }