body,
html,
span,
a,
li {
    color: #000 !important;
}

.frames {
    border: #000 5px solid !important;
}

.f-sicon2 li a {
    color: rgb(255, 255, 255) !important;
}

.active>div>img {
    width: 100% !important;
    height: auto !important;
}

.intro-title {
    font-size: 23px;
    font-stretch: condensed;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px !important;
    letter-spacing: 1px;
    color: #363636;
}

.intro-size {
    font-size: 11px;
    line-height: 1.4;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    letter-spacing: -0.15px !important;
    font-weight: 200;
}

.categoryTitles h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px !important;
}

.categoryTitles a {
    color: #333;
}

.parentCategory {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    color: #363636;
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
}

.categories ul {
    list-style: none;
    margin-block-start: 0em;
    padding-inline-start: 0px;
}

.childCategory {
    color: #363636;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 10px;
    letter-spacing: 1px;
}

.childCategory:hover {
    color: #000;
}

.activeCategory {
    /* text-decoration: #000 underline; */
}

.parentCategory:hover {
    color: #000;
}

.whitespace {
    font-size: 0px;
    margin: 0px;
    padding: 2px;
}

.whitespace2 {
    margin: -9px 4px 4px 0px;
}

.filterFormat {
    text-align: center;
    top: 0;
    right: 0;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    color: #000;
    font-size: 10px;
    font-weight: 300;
}

.filterFormat:hover {
    background: #000;
    color: #fff;
}

.portrait {
    padding: 41px 0 !important;
    max-width: 84px;
    border: #000 solid 1px;
}

.landscape {
    padding: 30px 0 !important;
    max-width: 105px;
    border: #000 solid 1px;
}

.square {
    padding: 34px 0 !important;
    max-width: 81px;
    border: #000 solid 1px;
}

label {
    display: block;
    font-weight: 300 !important;
    font-size: 12px;
    letter-spacing: 1px;
}

label>input {
    float: left;
    margin-right: 10px !important;
}

.regnav {
    padding: 10px 80px !important;
    font-size: 15px;
    color: #000;
    border: 2px solid #000;
    cursor: pointer;
}

.regnav a {
    color: #000;
}

.regnav:hover {
    background-color: #000;
    color: #fff;
}

a.regnav:hover {
    color: #fff;
}

.regnavactive {
    background-color: #000;
    color: #fff;
}

.regnavactive a {
    color: #fff;
}

.inner-blog-header-register {
    padding-bottom: 50px !important;
}

.topandbotpad {
    padding: 15px 0px;
    background: #fff !important;
    position: relative;
    opacity: 0.9;
    width: 50% !important;
}

.comment-form-author {
    padding: 10px;
}

.comment-form-email {
    padding: 10px;
}

.register {
    background-color: #323232 !important;
    padding: 8px;
    color: #fff !important;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
    font-size: 15px !important;
}

#professional-toggl {
    width: max-content;
}

#regular-toggl {
    width: max-content;
}

.scrolling-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0px;
}

.scrolling-wrapper>.card {
    display: inline-block !important;
    vertical-align: middle;
}

.banner-text {
    width: 60%;
    text-align: center;
    background: #000;
    color: #fff;
    padding: 5px 0px;
    margin: 0 auto;
    display: block;
    top: 80% !important;
    left: 20% !important;
}

.banner-text>h3 {
    color: #fff !important;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 10px;
}

.banner-text>h3>a {
    color: #fff;
    text-decoration: none;
}

.banner-img2>img {
    height: 380px !important;
    overflow: hidden !important;
    opacity: 1;
}

.banner-img:hover{
    opacity: 1 !important;
}

.banner-img2>img:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)) !important;
    background: transparent;
    opacity: 1;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000 !important;
    font-size: 12px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mega-menu li {
    margin-bottom: 1px;
}

.mega-menu li a {
    color: #000;
    font-size: 12px;
}

.mega-menu {
    width: 1250px !important;
    left: -200px !important;
}

.mega-menu ul {
    width: 22%;
}

.f-weghit {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    line-height: 20px;
}

.f-weghit2 {
    text-align: left;
    margin-bottom: 20px;
    line-height: 20px;
}

.f-weghit p {
    color: #fff;
    font-size: 11px;
    padding: 0 15px;
}

.f-weghit li {
    color: #fff !important;
    margin-bottom: 2px;
}

.f-weghit2 li {
    color: #fff !important;
    margin-bottom: 1px;
}

.f-weghit2 li a,
.f-weghit2 p {
    color: #fff !important;
    font-size: 10px;
    line-height: 9px;
}

.f-weghit2 p {
    margin-top: 10px;
    line-height: 20px !important;
}

.f-weghit ul {
    margin-bottom: 0px !important;
}

.f-weghit2 ul {
    margin-bottom: 0px !important;
}

.f-weghit2 img {
    width: 60% !important;
}

.copayright.cwhite {
    color: #fff;
}

.navbar.navbar-inverse.navbar-default {
    padding-top: 5px !important;
}

.pro-info {
    margin-top: 40px !important;
}

.perfectpairimages {
    display: inline;
}

.perfectpairimages img {
    width: 250px;
    display: inline-block;
}

.colorfilter>input[type=checkbox] {
    display: none;
}

.colorfilter>input[type=checkbox]+label {
    height: 23px;
    width: 23px;
    display: inline-block;
    padding-right: 3px;
}

.colorfilter>input[type=checkbox]:checked+label {
    background: #0080FF !important;
    height: 23px;
    width: 23px;
    display: inline-block;
    padding-right: 3px;
    /* padding: 0 0 0 0px; */
}

.formatfilter>input[type=checkbox] {
    display: none;
}

.formatfilter>input[type=checkbox]+label {
    /* display: inline-block; */
}

.formatfilter>input[type=checkbox]:checked+label {
    background: #0080FF !important;
}

.categoryfilter>.categories input[type=checkbox] {
    display: none;
}

.categoryfilter>.categories input[type=checkbox]+label {
    /* display: inline-block; */
}

.categoryfilter>.categories input[type=checkbox]:checked+label {
    background: rgb(235, 235, 235) !important;
    /* font-weight: bolder; */
}

.altimage {
    display: none;
}

.homeitemaltimage {
    display: none;
}

.pro-img {
    height: 400px !important;
    overflow: hidden !important;
}

.pro-img a:hover>.mainimage {
    display: none;
}

.pro-img a:hover>.altimage {
    display: block;
    opacity: 1;
}

.pro-img:hover>.homeitemimages {
    display: none;
}

.pro-img:hover>.homeitemaltimage {
    display: block;
    opacity: 1;
}

.pro-img.trending {
    height:400px !important;
}

.pro-img.sale {
    height:300px !important;
}

.copayright {
    padding: 5px 0 5px;
}

.subscribeform {
    background-color: #000 !important;
    border-radius: 0px;
    height: 35px;
    padding: 5px;
    width: 70%;
    display: inline !important;
}

.subscribebutton {
    border-radius: 0px;
    margin-top: -2px;
    margin-left: -10px;
    padding: 0px 6px;
}

.push {
    padding: 25px 0 0 0 !important;
    height: 100px;
}

.newsletter {
    margin-top: 15px !important;
    top: 15px !important;
}

.newsletter button input[type="submit"] {
    margin-left: -50px;
    height: 25px;
    width: 50px;
    background: blue;
    color: white;
    border: 0;
}

.cart-content {
    padding: 0px;
}

.dropdown-content {
    max-height: 400px;
    overflow-y: scroll;
}

.categoryFilter {
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 500 !important;
    color: #000;
    /* padding-top: 5px !important;
    padding-bottom: 5px !important; */
}

.hide {
    display: none;
}

.faqMenu {
    list-style: none;
}

.faqMenu li {
    font-size: 15px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 1px;
}

.about-us {
    font-size: 12px;
}

.teasertext {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 10px;
}

.teasertext h4 {
    line-height: 36px;
}

.featuredText {
    padding-top: 60px;
}

.featuredText h4 {
    padding-bottom: 10px;
}

.modalImage {
    width: 280px !important;
}

.active>div>img {
    display: block;
    margin: 0 auto;
    width: 280px !important;
}

.tage {
    color: #fff !important;
    /* padding-top:15px !important; */
}

.pres-text {
    color: #fff !important;
    margin-top: 25px !important;
}

.new-text {
    color: #fff !important;
}

.newPagetions>li>span>input[type=radio] {
    display: none;
}

.newPagetions>li>span>input[type=radio]+label {
    display: inline;
    /* position: absolute; */
}


/* .newPagetions>li>span>input[type=radio]:checked+label {
    
    width: 100%;
} */

.odd h3 {
    margin-bottom: 10px;
}

.product-info-checkout {
    display: inline-block;
    margin-left: 30px;
}

.product-info-checkout>h3 {
    display: inline;
}

.product-image-checkout {
    margin-top: 0px !important;
}

.mozissue {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
}

.price {
    font-size: 16px !important;
}

.total {
    font-weight: 700 !important;
}

.blackhover:hover {
    background-color: black !important;
    color: white !important;
}

.panel-title {
    font-size: 20px;
    text-decoration: underline;
}

.csactive {
    font-weight: bold;
}

.hero {
    height: 50vh !important;
}

.price-table ul.item-options li {
    line-height: 9px;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 700;
}

.price-table ul.extras li {
    line-height: 9px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 700;
}

.price-table>.title {
    text-transform: capitalize;
}

.price-table>.price {
    font-size: 22px !important;
    text-transform: capitalize;
}

.price-table>.subtext {
    color: peru;
    font-weight: 100;
    font-size: 11px;
    line-height: 15px;
}

.italic {
    font-style: italic;
}

.hide {
    display: none;
}

.panel-title {
    font-size: 16px;
    font-weight: 200;
}

.panel-body {
    padding: 5px 15px;
}

.panel {
    margin-bottom: 10px !important;
}

.faqMenu ul li {
    list-style: none;
}

.teasertext h5 {
    color: #999999;
    letter-spacing: 1;
    font-size: 13px;
    margin-top: 100px;
}

.teasertext div {
    font-size: 14px;
    line-height: 30px;
    max-width: 400px;
}

.teasertext img {
    margin-top: 150px;
    width: 300px !important;
}

.hp__how-it-works {
    padding: 60px 0 0px !important;
}

section#howitworks {
    padding: 60px 0px 0px 0px !important;
}

section.grid-shop.decor {
    padding: 0px 0px 20px 0px !important;
}

.services {
    padding: 10px 0 50px !important;
}

.section-header h2 {
    font-family: "Poppins", serif !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
}

.service-box h4 {
    text-transform: capitalize;
}

.service-box {
    border: none;
    padding: 20px 20px;
}

section.grid-shop.customized {
    padding-top: 120px !important;
}

.contact-form {
    padding-top: 10px;
}

.logreg {
    margin: 0 auto;
    width: 80%;
}

.contact-form h3 {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 8px;
}

.contact-form .sub {
    text-align: center;
    font-size: 12px;
}

.logregcontainer {
    margin-top: 80px;
    /* margin-bottom: 100px; */
}

.logregbg {
    background-image: url('../images/backgroundnew.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    opacity: 1;
    top: -50%;
    left: -50%;
    width: 150%;
    height: 150%;
    /* margin: 0 auto; */
    transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.contact-form p input[type="password"] {
    border: 1px solid #ddd;
    border-radius: 0;
    font-size: 13px;
    padding: 4px;
    width: 100%;
}

.contact-form p input[type="text"],
.contact-form p textarea {
    padding: 4px;
}

.contact-form input {
    background-color: rgba(0, 0, 0, 0.1);
}

.contact-form .form-submit input {
    margin-top: 2px;
    margin-bottom: 2px;
}

.comment-form-email {
    padding: 2px;
}

#commentform {
    margin-top: 0px;
}

.cwhite2 ul li {
    list-style: none;
    display: inline;
    padding: 0px 5px;
    font-size: 10px;
    /* color: #fff; */
}

.hero {
    
}

.copayright2 {
    color: #000 !important;
    padding: 0px 0 15px;
}

.cwhite2 {
    columns: !important;
    font-size: 10px;
}

.banner-img {
    position: relative;
  }
  
.banner-img::before {
    content: " ";
    z-index: 0;
    display: inline-block;
    position: absolute;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.1);
    background-size: 100% 100%;
  }

  .banner-img:hover:before {
    content: " ";
    z-index: 0;
    display: inline-block;
    position: absolute;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0);
    background-size: 100% 100%;
  }


  .btn-outline:hover {
    color: #fff !important;
  }

  .blog-img2 {
    display: block;
    margin: 0 auto;

}

.banner-text3 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) !important;
    background: transparent;
    width: 120%;
    padding: 5px 35px;
    color: #fff !important;
}

.banner-text3 h4{
    color: #fff !important;
}

.banner-text3 h3{
    color: #fff !important;
}


/* Style for Slides */


/* Style for Slides */


/* Style for Slides */


/* Style for Slides */

/* ratings and reviews */

/* comment and rating */ 

.comment-raiting div,
.write-comment-raiting div {
    float: left;
    margin-left: 25px;
    line-height: 1.5em;
    margin-top: 20px;
    margin-bottom: 25px;
}

.write-comment-raiting div {
    line-height: 1em !important;
}

.comment-raiting div:first-child,
.write-comment-raiting div:first-child {
    margin-left: 0;
}

.comment-raiting .rait-numb {
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
}

.comment-raiting ul {
    padding: 0;
}

.write-comment-raiting ul {
    margin-left: 0;
    margin-bottom: 0;
}

.write-comment-raiting div .fa {
    font-size: 18px;
    padding-right: 20px;
}

.write-comment-raiting li i,
.write-comment-raiting i {
    position: relative;
    height: 11px;
}

.write-comment-raiting li i:before,
.write-comment-raiting i:before {
    position: absolute;
}

.write-comment-raiting div,
.write-comment-raiting div:first-child {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 0;
}

.write-comment-raiting div .fa {
    color: #d8d8d8;
}

.raiting-review-sort .el-form-1 .form-1-style2 {
    background: #fff;
    border-color: #dddddd;
    color: #777777;
}

.listing-details-header .p-relative,
.raiting-review-sort .el-form-1 .col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}

.el-form-1,
.el-form-2,
.el-form-3,
.el-form-4 {
    margin-left: -15px;
    float: left;
}

.raiting-post {
    margin-left: 0 !important;
}

.f-left {
    float: left;
}

.list-det-left .raitings-stars {
    padding-left: 0 !important;
}

ul.raitings-stars {
    list-style-type: none;
    display: inline;
    float: right;
}

ul.raitings-stars li {
    float: left;
}

.list-det-title .raitings-stars li,
.list-det-address i {
    width: 30px;
}

.list-det-title .raitings-stars .fa {
    font-size: 23px;
}

.list-det-title .raitings-stars li i,
.list-det-address i {
    position: relative;
    height: 23px;
}

.list-det-title .raitings-stars li i:before,
.list-det-address i:before {
    position: absolute;
}

.list-det-title ul.raitings-stars {
    margin: 0;
}

.row-explore-nerby .memb-photo-links .raitings-stars i.fa.fa-star {
    color: #eba100;
}

label > input[type="radio"].radio-style1+span {
    display: none !important;
}

label > input[type=radio] {
    display: none !important;
}

/* rating related code */

/* ===================== */

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    padding-left: 5px;
    /*width: 8em;*/
}

.rating input {
    /*position: absolute;*/
    /*left: -999999px;*/
}

.rating > label {
    display: inline-block;
    font-size: 0px !important;
}

.rating > label::before {
    position: relative;
    font: 15px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label::before,
.rating > label.selected::before,
.rating > label.selected ~ label::before {
    color: #f0ad4e !important;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

/* ===================== */

.rating2 {
    unicode-bidi: bidi-override;
    direction: rtl;
    padding-left: 5px;
    /*width: 8em;*/
}

.rating2 input {
    /*position: absolute;*/
    /*left: -999999px;*/
}

.rating2 label {
    display: inline-block;
    font-size: 0;
}

.rating2>label:before {
    position: relative;
    font: 15px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating2>label:hover:before,
.rating2>label:hover~label:before,
.rating2>label.selected:before,
.rating2>label.selected~label:before {
    color: #f0ad4e;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ===================== */

.rating3 {
    unicode-bidi: bidi-override;
    direction: rtl;
    padding-left: 5px;
    /*width: 8em;*/
}

.rating3 input {
    /*position: absolute;*/
    /*left: -999999px;*/
}

.rating3 label {
    display: inline-block;
    font-size: 0;
}

.rating3>label:before {
    position: relative;
    font: 15px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating3>label:hover:before,
.rating3>label:hover~label:before,
.rating3>label.selected:before,
.rating3>label.selected~label:before {
    color: #f0ad4e;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.comments {
    margin-top: 400px;
}

.write-comment-raiting{
    margin-bottom: 60px;
}

.comment-body {
    margin: 0px;
    padding-top: 0px;
}

.comment-meta-author{
    margin-bottom: 15px;
}

/* Instagram Feed Styles */
.hideimage{
    position: absolute;
    width:250px;
    height:250px;
}

.cardhover:hover .hideimage{
    opacity: 0.3;
}
.reveallikes {
    width:250px;
    height: 250px;
    position: absolute;
    margin: 0 auto;
    vertical-align:middle;
    line-height:250px;
    color: #000;
    z-index:-10;
}

.extraspace {
    padding-top:65px;
}

.extraspace2 {
    padding-top:30px;
}

.about-banner {
    display: block;
    margin: 0 auto;
    margin-top:150px;
}

.homeitemimages {
    padding: 10px;
}

ul.customized {
    padding-inline-start: 0px;
    font-size:13px;
    text-align: justify;
}

ul.customized li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: justify;
    line-height:30px;
}

.contact-title h3 {
    text-align:left;
    font-size:25px;
    margin-bottom:20px;
}

.about-us {
    text-align: justify;
}

.button.grey {
	background:#aaa none repeat scroll 0 0 !important;
    border: none;
    border-radius: 2px;
	color: #fff !important;
	font-weight: 100;
	margin-left: 0;
}

.button.darkgrey {
	background: #333 none repeat scroll 0 0 !important;
    border: none;
    border-radius: 2px;
	color: #fff !important;
	font-weight: 100;
	margin-left: 0;
}

.cart-side-image {
    float: left;
}

.cart-image-details {
    float: right;
}

.button.red:hover{
    color: #fff !important;
}

.selectdiv {
    position: relative;
  }
  
  /* IE11 hide native button (thanks Matt!) */
  select::-ms-expand {
  display: none;
  }
  
  .selectdiv:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 25px;
    /*Adjust for position however you want*/
    
    top: 35px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */
    
    position: absolute;
    pointer-events: none;
  }

  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
  }

  .shopping-cart .button {
      padding: 6px 12px;
  }

  .cartthumb {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    display: inherit;
  }

  .offerimage {
     width: 100%;
     height:150px;
     overflow: hidden; 
     margin-bottom: 30px;
  }

  ul.customcollections li {
      list-style: none !important;
      margin-left: -30px;
      line-height: 15px !important;
      
  }

  ul.customcollections li a {
    padding-left: 0px !important;
  }

  .secondaryNav ul.topbar li {
    font-size: 10px;
    margin-top: 10px;
  }

  .navbar-toggle2 {
      display: none;
  }

  div#instafeed {
    display: inline-flex;
}

div#instafeed img {
    width: 300px;
}

.quickview{
    display: none;
}

.introtext-wrapper  {
    margin: 0 auto;
    width:60%;
    text-align:center
}



/* .reveallikes {
    display:none;
} */

/* .reveallikes :hover{
    display: block;
} */







/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  /* display: block; */
  width: 100%;
  height: auto;
}

.secondarySlider {
    height: auto !important;
}
/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 0px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}

.relatedProduct {
    height: 410px !important;
}

/* @media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

}

@media screen and (min-width: 992px) {

  .container {
    max-width: 930px;
  }

} */

.pro-text .price span {
    color: rgb(162, 162, 162);
    text-decoration: line-through;
    color: #777 !important;
    font-size: 13px;
    font-weight: 100;
}

.pro-text:hover .realprice {
    margin-left: 10px;
	opacity: 1;
}

.homeprices:hover .price {
    opacity: 1;
}