{% set callForTenders = __SELF__.callForTenders %}
{% set jobs = __SELF__.jobs %}

{% if callForTenders %}

<div class="content table-responsive table-full-width" style="padding-bottom: 100px">
    <table class="table table-striped">
        <thead>
            
            <th>Project title</th>
            <th>Location</th>
            <th>Description</th>
            <th>Organization</th>
            <th>Email</th>
            {# <th>Project Type</th> #}
            <th>Deadline</th>
            <th>Uploaded By</th>
            
        </thead>
        <tbody>
            {% for cft in callForTenders %}
                {% if cft.approved %}
                
                <tr>
                    
                    <td><a href="{{'tender'|page({'slug':cft.slug})}}">{{cft.title}}</a></td>
                    <td>{{cft.project_location}}</td>
                    <td>{{cft.description | slice(0, 100)}}</td>
                    <td>{{cft.company_name}}</td>
                    <td>{{cft.email}}</td>
                    {# <td>{{cft.project_type_id}}</td> #}
                    <td {% if "now"|date('Y-m-d') > cft.deadline|date('Y-m-d') %} style="background: red !important; color:#fff" {% endif %}> {{cft.deadline|date('Y-m-d')}}</td>
                    {% if cft.f_name|length and cft.l_name|length %}
                        <td>{{cft.f_name}} {{cft.l_name}}</td>
                    {% else %}
                        <td>FFE.ng Team</td>
                    {% endif %}
 

                </tr>
                
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% elseif jobs %}

<div class="content table-responsive table-full-width" style="padding-bottom: 100px">
    <table class="table table-striped">
        <thead>
            
            <th>Job title</th>
            <th>Location</th>
            <th>Job Description</th>
            <th>Organization</th>
            <th>Email</th>
            {# <th>Project Type</th> #}
            <th>Application Deadline</th>
            <th>Uploaded By</th>
            
        </thead>
        <tbody>
            {% for job in jobs %}
                {% if job.approved %}
                
                <tr>
                    
                    <td><a href="{{'job'|page({'slug':job.slug})}}">{{job.title}}</a></td>
                    <td>{{job.project_location}}</td>
                    <td>{{job.description | slice(0, 100)}}</td>
                    <td>{{job.company_name}}</td>
                    <td>{{job.email}}</td>
                    {# <td>{{job.project_type_id}}</td> #}
                    <td {% if "now"|date('Y-m-d') > job.deadline|date('Y-m-d') %} style="background: red !important; color:#fff" {% endif %}>{{job.deadline|date('Y-m-d')}}</td>
                    {% if job.f_name|length and job.l_name|length %}
                        <td>{{job.f_name}} {{job.l_name}}</td>
                    {% else %}
                        <td>FFE.ng Team</td>
                    {% endif %}
 

                </tr>
                
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

<script>
    $('tbody>tr').click( function() {
    window.location = $(this).find('a').attr('href');
}).hover( function() {
    $(this).toggleClass('hover');
});
</script>