{% set products = __SELF__.products %}
{% for product in products %}
    <article class="btx-entry first btx-col-3 btx-entry-light-scheme post-10107 product type-product status-publish has-post-thumbnail product_cat-electrical-installations product_cat-transformers-and-rmus product_tag-abb  instock purchasable product-type-simple"
        style="position: absolute; left: 0px; top: 0px;">
        <div class="btx-entry-inner btx-product-entry-content btx-with-spacing">
            <div class="btx-product-entry-media btx-product-entry-media--still"> <a class="btx-product-entry-image" href="https://ffe.ng/shop/electrical-installations/transformers-small-distribution-by-abb/"><img width="350" height="435" src="{{product.product_image.path}}" data-lazy-src="{{product.product_image.path}}" class="attachment-shop_catalog size-shop_catalog wp-post-image     lazyloaded" alt=""><noscript><img width="350" height="435" src="{{product.product_image.path}}" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="" /></noscript> </a></div>
            <div class="btx-product-entry-info">
                <div class="btx-product-entry-info-wrapper">
                    <div class="btx-product-entry-info-inner">
                        <h4 class="btx-product-entry-title btx-secondary-font"> <a class="btx-s-text-color" href="https://ffe.ng/shop/electrical-installations/transformers-small-distribution-by-abb/">{{product.product_name}}</a></h4>
                        <div class="btx-product-entry-meta"></div>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endfor %}
