{% if haspost==1 %}
    <a href="javascript:;"  class="favoritebutton"
        data-request="{{ __SELF__ }}::onFavoritePost"
        data-request-update="'{{ __SELF__ }}::result': '#{{__SELF__.id}}'"
        data-request-data="post_id:'{{ post_id }}'"
        id="{{__SELF__.id}}"
       >
        {% if isfavorited==1 %}
            <i class="fa fa-heart icon-heart"></i>
            {% else %}
            <i class="fa fa-heart-o icon-heart-empty"></i>
        {% endif %}
    </a>
{% endif %}