<!-- Trigger the modal with a button -->


<!-- Modal -->
{# <div id="cftModalLogin" class="modal fade" role="dialog">
    <div class="modal-dialog">

       
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form data-request="onSignin">
                    <div class="form-group">
                        <label for="userSigninLogin">e-mail</label>
                        <input name="login" type="text" class="form-control" id="userSigninLogin" placeholder="Enter your e-mail"
                        />
                    </div>

                    <div class="form-group">
                        <label for="userSigninPassword">Password</label>
                        <input name="password" type="password" class="form-control" id="userSigninPassword" placeholder="Enter your password" />
                    </div>

                    <button type="submit" class="wpcf7-form-control wpcf7-submit">Sign in</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="cftModalRegistration" class="modal fade" role="dialog">
    <div class="modal-dialog">

        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register</h4>
            </div>
            <div class="modal-body">
                <form data-request="onRegister">
                    <div class="form-group">
                        <label for="registerName">Full Name</label>
                        <input name="name" type="text" class="form-control" id="registerName" placeholder="Enter your full name" />
                    </div>

                    <div class="form-group">
                        <label for="registerEmail">Email</label>
                        <input name="email" type="email" class="form-control" id="registerEmail" placeholder="Enter your email" />
                    </div>

                    <div class="form-group">
                        <label for="registerPassword">Password</label>
                        <input name="password" type="password" class="form-control" id="registerPassword" placeholder="Choose a password" />
                    </div>
                    <div class="btx-contactform-submit">
                        <button type="submit" class="wpcf7-form-control wpcf7-submit">Register</button>
                    </div>
                    
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div> #}




<section class="btx-section js-dynamic-navbar btx-p-border-border" style="border-bottom-width:1px; border-bottom-style:solid;"
    data-index="0">
    <div class="btx-section-wrapper">
        <div class="btx-container">
            <div class="btx-row btx-row--main">
                <div class="btx-col-12">

                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align" style="margin-bottom:0px;">
                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">Call For Tenders</h3>
                    </div>

                    <div class="btx-item js-item-space btx-space" style="height:30px;"></div>

                    <div class="btx-item js-item-contactform btx-contactform btx-contactform--standard">
                        {% if not user %} Please
                        <a href="" data-toggle="modal" data-target="#cftModalLogin">login</a>/
                        <a href="" data-toggle="modal" data-target="#cftModalRegistration">Register</a> to fill the form below{% endif %}
                        <div role="form" class="wpcf7" id="wpcf7-f1044-p485-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form data-request="onCFTSubmit" class="wpcf7-form" novalidate="novalidate" data-request-validate data-request-files data-request-flash>
                                {{ form_token() }} {{ form_sessionKey() }}
                                <div class="btx-row">
                                    <div class="btx-col-12">
                                        <h5>Please fill out the form</h5>

                                        <hr>
                                    </div>

                                    <hr />
                                </div>

                                <div class="btx-row">
                                    <div class="btx-col-12">
                                        <div class="btx-form-container">
                                            <label>Project title
                                                <span class="required">*</span>
                                            </label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text" name="title" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                    aria-required="true" aria-invalid="false" {% if not user %} disabled {% endif
                                                    %}/>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-row">
                                    <div class="btx-col-6">
                                        <div class="btx-form-container">
                                            <label>Project Type
                                                <span class="required">*</span>
                                            </label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <select name="project_type_id" cols="40" rows="10" class="wpcf7-form-control wpcf7-select" aria-invalid="false" {% if not
                                                    user %} disabled {% endif %}>
                                                    <option value="">Please select a project type</option>
                                                    <option value="1">Residential</option>
                                                    <option value="2">Commercial</option>
                                                    <option value="3">Hospitality</option>
                                                    <option value="4">Industrial</option>
                                                    <option value="5">Agriculture</option>
                                                    <option value="6">HealthCare</option>
                                                    <option value="7">Retail</option>
                                                    <option value="8">Infrastructure</option>
                                                    <option value="9">Other</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="btx-col-6">
                                        <div class="btx-form-container">
                                            <label>Project location
                                                <span class="required">*</span>
                                            </label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text" name="project_location" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                    aria-required="true" aria-invalid="false" {% if not user %} disabled {% endif
                                                    %}/>
                                            </span>
                                            <label>Preferred manufacturer
                                                <span class="required">*</span>
                                            </label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text" name="preferred_manufacturer" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                    aria-required="true" aria-invalid="false" {% if not user %} disabled {% endif
                                                    %}/>
                                            </span>

                                        </div>
                                    </div>
                                </div>
                                <div class="btx-row">
                                    <div class="btx-col-6">
                                        <div class="btx-form-container">
                                            <label>Tender period / Deadline</label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-message">
                                                <select name="tender_period_deadline" cols="40" rows="10" class="wpcf7-form-control wpcf7-select" aria-invalid="false" {%
                                                    if not user %} disabled {% endif %}>
                                                    <option value="">Select a period</option>
                                                    <option value="7 Days">7 Days</option>
                                                    <option value="14 Days">14 Days</option>
                                                    <option value="30 Days">30 Days</option>
                                                    <option value="90 Days">90 Days</option>
                                                    <option value="> 90 Days">> 90 Days</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="btx-col-6">
                                        <div class="btx-form-container">
                                            <label>Preferred delivery terms</label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-message">
                                                <select name="preferred_delivery_terms" cols="40" rows="10" class="wpcf7-form-control wpcf7-select" aria-invalid="false"
                                                    {% if not user %} disabled {% endif %}>
                                                    <option value="">Select a delivery term</option>
                                                    <option value="7 Days">7 Days</option>
                                                    <option value="3 Weeks">3 Weeks</option>
                                                    <option value="6 Weeks">6 Weeks</option>
                                                    <option value="12 Weeks">12 Weeks</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-row">
                                    <div class="btx-col-12">
                                        <label for="">Upload documents</label>
                                        <input type="file" name="documents[]" {% if not user %} disabled {% endif %} />
                                        <em>Please upload your BOQ and any supporting information. Supported documents are jpg,png,pdf,txt,doc,docx,csv</em>
                                    </div>
                                </div>
                                <div class="btx-row">
                                    <div class="btx-col-12">
                                        <div class="btx-form-container">
                                            <label>Additional Comments</label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-message">
                                                <textarea name="comments_questions" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea"
                                                    aria-invalid="false" {% if not user %} disabled {% endif %}></textarea>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                {#
                                <div class="btx-row">
                                    <div class="btx-col-12">
                                        <p>Please Provide Additional Information</p>
                                        <hr>
                                    </div>
                                </div> #} {#
                                <div class="btx-row">
                                    <div class="btx-col-6">
                                        <div class="btx-form-container">

                                            <label>First name
                                                <span class="required">*</span>
                                            </label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text" name="f_name" value="{{user.name}}" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                    aria-required="true" aria-invalid="false" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="btx-col-6">
                                        <div class="btx-form-container">
                                            <label>Last name
                                                <span class="required">*</span>
                                            </label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text" name="l_name" value="{{user.name}}" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                    aria-required="true" aria-invalid="false" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="btx-col-6">
                                        <div class="btx-form-container">
                                            <label>Email
                                                <span class="required">*</span>
                                            </label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-email">
                                                <input type="text" name="email" value="{{user.email}}" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                    aria-required="true" aria-invalid="false" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="btx-col-6">
                                        <div class="btx-form-container">
                                            <label>Contact number
                                                <span class="required">*</span>
                                            </label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text" name="contact_number" value="{{user.number}}" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                    aria-required="true" aria-invalid="false" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="btx-col-6">
                                        <div class="btx-form-container">
                                            <label>Company name
                                                <span class="required">*</span>
                                            </label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text" name="company_name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                    aria-required="true" aria-invalid="false" />
                                            </span>
                                        </div>
                                    </div>


                                </div> #}

                                <div class="btx-row">
                                    <div class="btx-col-12">
                                        <div class="btx-form-container">

                                            <br />
                                            <span class="wpcf7-form-control-wrap your-message">
                                                <input type="checkbox" name="tandc" {% if not user %} disabled {% endif %}> I have read the terms and conditions</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="btx-contactform-submit">
                                    <input type="submit" value="Submit Call for tender" class="wpcf7-form-control wpcf7-submit" {% if not user %} disabled
                                        {% endif %} />
                                </div>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

