[Getcustomerinfo]
[session]
security = "all"
==
{% set professions = Getcustomerinfo.professions %}
{% component 'session' %}
<div class="container logreg">
    <div class="row">
        <div style="margin: 0 auto;" class="contact-form">
            <h3 style="font-weight:200">Feed. Rest. Design. Repeat.</h3>
            <p class="sub">Start selling your artwork today alongside a network of like-minded creatives.</p>
            <p class="sub"><a href="/login"><strong>Login</strong></a> if you already have an account</p>
            <form name="register-form" data-request="onRegister" enctype="multipart/form-data" id="commentform" class="comment-form">
                <input type="hidden" name="type_id" value="2"/>
                <div class="col-md-12">
                    <p class="comment-form-email">
                        <input id="email" name="email" value="" cols="45" rows="6" type="text" placeholder="Email*">
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="comment-form-email">
                        <input id="email" name="username" value="" cols="45" rows="6" type="text" placeholder="Username*">
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="comment-form-email">
                        <input id="email" name="display_name" value="" cols="45" rows="6" type="text" placeholder="Display Name*">
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="comment-form-email">
                        <input name="password" type="password" cols="45" rows="6" id="registerPassword" placeholder="Password*">
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="form-submit comment-form-email">
                        <input name="submit" id="submit" class="btn btn-secondary register" value="register" type="submit">
                    </p>
                </div>
                <div class="col-md-12">
                    <input type="checkbox" id="terms" name="terms" value="1" required/> <label for="terms" style="display: inline !important; font-size:10px;">* I have 
                    read and I agree with This is Kokore's <a href="/terms-conditions" target="_blank"><strong>Terms and Conditions</strong><a/></label>
                    <br />
                    <input type="checkbox" id="exclusives" name="exclusives" value="1"> <label for="exclusives" style="display: inline !important; font-size:10px;">Sign
                        me up for exclusive discounts on the latest designs + products</label>
                    <br />
                    <input type="checkbox" id="newsletter" name="newsletter" value="1"> <label for="newsletter" style="display: inline !important;font-size:10px;">Sign
                        me up for the Kokore newsletter (artist vids + features, how to’s, etc.)</label>
                </div>
                <div class="col-md-12" style="text-align:center; color:#777; margin-top:2px; ">
                    <p style="font-size:10px; width:80% !important; margin:0 auto" >By submitting this form, you confirm that you are over 18 years of age and accept the <a href="/terms-conditions" style="color: #FFC30B !important"> Terms of Service</a>.</p>
                </div>
                
            </form>
            <p class="sub">Back to the <a href="/"><strong>Homepage</strong></a></p>
            {# onClick="document.forms['register-form'].submit();" #}
        </div>
    </div>
</div>
