
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4">
				<!-- f-weghit -->
				<div class="f-weghit2">
					<img src="{{'assets/images/kokore-04.png'|theme}}" style="width:120px !important; height: auto" alt="logo">

					<ul style="margin-top:20px; padding-bottom:20px">
						<li><a href="/about-us">About us</a></li>
						<li><a href="#">Press</a></li>
					</ul>
					<ul>
						<li><i class="icon-call-in icons"  style="color: #fff !important"></i> <strong  style="color: #fff !important">Phone Number:</strong> +234 809 066 2007</li>
						<li><i class="icon-location-pin icons"  style="color: #fff !important" aria-hidden="true"></i> <strong  style="color: #fff !important">Open - Close:</strong> 09:00 - 19:00</li>
						<li><i class="icon-envelope-letter icons"  style="color: #fff !important"></i> <strong  style="color: #fff !important">Email:</strong> create@thisiskokore.com</li>
						
					</ul>
				</div>
				<!-- /f-weghit -->
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<!-- f-weghit2 -->
				<div class="f-weghit2">
					<h4>Sign up for the Newsletter</h4>
					<p>Subscribe for latest stories and promotions</p>
					<div class="newsletter">
					<form name="main">
						<div class="form-group">
							<input type="text" class="subscribeform" placeholder="Enter your Mail"> 
							{# </div>
						<div class="form-group"> #}
							<button class="btn btn-black subscribebutton" type="submit"><i class="fa fa-envelope"></i></button>
						</div>
					</form>
					<img src="{{'assets/images/footer-pay.png'|theme}}" alt="logo">
					</div>
					{# <img src="{{'assets/images/footer-pay.png'|theme}}" alt="logo"> #}
				</div>
				<!-- /f-weghit2 -->
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<!-- f-weghit2 -->
				<div class="f-weghit2">
					<h4>Customer Service</h4>
					<ul style="margin-bottom:15px">
						<li><a href="/customer-service">Customer Service</a></li>
						<li><a href="#">Shipping Policy</a></li>
						<li><a href="#">Returns & Refunds </a></li>
						<li><a href="#">Terms & Conditions</a></li>
					</ul>
					
				</div>
				
				<!-- /f-weghit2 -->
			</div>

		</div>
	</div>
	<!-- copayright -->
	<div class="copayright cwhite">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					Copyright &copy; <a href="{{'/'}}" style="color: #fff !important">Kokore</a> all rights reserved.
				</div>
				<div class="text-right col-xs-12 col-sm-6 col-md-6">
					<div class="f-sicon2" style="font-size:20px; color:#fff !important">
						<ul style="color: #fff !important">
							<li style="color: #fff !important"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li style="color: #fff !important"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li style="color: #fff !important"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li style="color: #fff !important"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							<li style="color: #fff !important"><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /copayright -->
	