
<!-- copayright -->
<div class="copayright2 cwhite2">
    <div class="container-fluid">
        <div class="row">
            {# <div class="col-xs-12 col-sm-6 col-md-6">
                Copyright &copy; <a href="{{'/'}}" style="color: #fff !important">Kokore</a> all rights reserved.
            </div> #}
            {#
            <div class="text-right col-xs-12 col-sm-6 col-md-6">
                <div class="f-sicon2" style="font-size:20px; color:#fff !important">
                    <ul style="color: #fff !important">
                        <li style="color: #fff !important"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li style="color: #fff !important"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li style="color: #fff !important"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li style="color: #fff !important"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li style="color: #fff !important"><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div> #}
            <div class="text-right col-xs-12 col-sm-6 col-md-6 pull-right">
                &copy; <a href="{{'/'}}">Kokore 2018</a>
                <ul style="list-style:none; display:inline; color: #fff">
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
               {# <div class="f-sicon2" style="font-size:20px; color:#fff !important">
                    <img src="{{'assets/images/footer-pay2.jpg'|theme}}" style="height:35px" alt="">
                </div> #}
            </div>
        </div>
    </div>
</div>
<!-- /copayright -->