[Slider]
==
{% set printsMegaMenu = Navigation.printsMegaMenu %}
{% set printSizes = Navigation.printSizes %}
{% set homeItemsCategories = Navigation.homeItemsCategories %}
{% set dbCart = __SELF__.dbCart %}


<nav id="mainNav"
    class="navbar navbar-inverse navbar-default navbar-fixed-top {% if this.page.title == 'Prints' or this.page.title == 'Profile' %} affix-top2 {% endif %}">
    <div class="container">

        <div class="navbar-header">
            {# <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
			</button> #}
			<a href="#" data-toggle="modal" data-target=".menu-popup" class="navbar-toggle2 collapsed" data-toggle="collapse">
				<img src="{{'assets/images/top-icon2.png'|theme}}" alt="top-icon2">
			</a>
			
            <a class="navbar-brand" href="{{'/'}}"><img src="{{'assets/images/kokore-03.png'|theme}}"
                    style="width:148px !important; height: auto; margin-top:-13px" alt="logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown"
            data-animations="fadeIn fadeInLeft fadeInUp fadeInRight">
            <ul class="nav navbar-nav">
                <li class="dropdown"> <a href="{{'/prints'}}" class="dropdown-toggle" role="button"
                        aria-expanded="false"><span>Prints</span></a>
                    <div class="dropdown-menu dropdownhover-bottom mega-menu row" style="padding-bottom:40px"
                        role="menu">
                        <div class="col-sm-8 col-md-8">
                            <ul>
                                <li><strong>Prints</strong></li>
                                <li><a href="{{'/prints'}}">All Prints</a></li>
                                <li><a href="/prints/nature">Nature</a></li>
                                <li><a href="/prints/bestsellers">Bestsellers</a></li>
                                <li><a href="/prints/new">New Arrivals</a></li>
                            </ul>

                            <ul>
                                <li><strong>Sizes</strong></li>
                                {% for size in printSizes %}
                                <a href="/prints" class="printsize" data-size="{{size.slug}}">{{size.size}}</a>
                                {% endfor %}

                            </ul>
                            <ul>
                                <li><strong>Categories</strong></li>
                                {% for category in printsMegaMenu|slice(0, (printsMegaMenu|length / 2) ) %}
                                <li><a href="/prints" class="printcategory"
                                        data-category="{{category.slug}}">{{category.category_name}}</a></li>
                                {% endfor %}

                            </ul>
                            <ul>
                                <li><a href="">&nbsp;</a></li>
                                {% for category in printsMegaMenu|slice( (printsMegaMenu|length / 2) , printsMegaMenu.length ) %}
                                <li><a href="/prints" class="printcategory"
                                        data-category="{{category.slug}}">{{category.category_name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-4 col-md-4"> <img src="{{'assets/images/menu-nav-banner.jpg'|theme}}"
                                alt="Hover-menu-img" height="380"> </div>
                    </div>
                </li>
                <li class="dropdown"> <a href="{{'/home-items'}}" role="button" aria-expanded="false"><span>Home
                            Items</span></a>
                    {# <ul class="dropdown-menu dropdownhover-bottom" role="menu">
								{% for category in homeItemsCategories %}
									<li><a href="blog-columm3-masonry.html">{{category.category_name}}</a></li>
								{% endfor %}
							</ul> #}
                </li>
                
                {# <li> <a href="#" class="dropdown-toggle"><span>	</span></a> </li> #}
                {# <li> <a href="/perfect-pair"><span>Perfect Pair</span></a> </li> #}
                <li> <a href="/decor-services"><span>Decor Services</span></a> </li>
                <li> <a href="/customized"><span>Customized</span></a> </li>
                {# <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								<span>Elements</span></a>
							<ul class="dropdown-menu dropdownhover-bottom" role="menu">
								<li><a href="list.html">Shop List</a></li>
								<li><a href="grid-3-columns.html">Shop Grid 3 Columns</a></li>
								<li><a href="grid-4-columns.html">Shop Grid 4 Columns</a></li>
								<li><a href="grid-sidebar-left.html">Shop Grid Sidebar Left</a></li>
								<li><a href="products-detail.html">Products Detail</a></li>
								<li><a href="products-detail02.html">Products Detail 02</a></li>
							</ul>
						</li> #}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target=".popup1"><img
                            src="{{'assets/images/top-icon1.png'|theme}}" alt="top-icon1"> <span>Search</span></a>
                </li>


                {# Mini cart Here #}
                <li class="dropdown">

                    {% partial Cart~'::new-DBminicart' cart=cart total=total %}
                </li>


                
            </ul>

            <!-- /.navbar-collapse -->
        </div>
    </div>
</nav>
<!--  /nav  -->
<!-- search-popup -->
<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content search-popup">
            <div class="text-center">
                <a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
            </div>
            <div class="search-outer">
                <div class="col-md-11"><input id="searchinput" type="text" placeholder="Search for products..."
                        name="searchkeyword" /></div>
                <div class="col-md-1 text-right"><a href="#" id="searchsubmit"><i class="fa fa-search"
                            style="color:#333" aria-hidden="true"></i></a></div>
            </div>
        </div>
    </div>
</div>
<!-- /search-popup -->
<!--  .menu  -->
<div class="modal fade bs-example-modal-lg search-bg menu-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content search-popup">
            <nav class="navbar navbar-inverse openmenu">
                <ul class="nav navbar-nav">
                    <li class="dropdown"> <a href="{{'/'}}" class="dropdown-toggle"
                            aria-expanded="false"><span>Home</span></a>

                    </li>
                    <li class="dropdown">
                        <a href="/prints" class="dropdown-toggle" aria-expanded="false"><span> Prints</span></a>

                    </li>
                    <li> <a href="/home-items" class="dropdown-toggle"><span>Home Items</span></a> </li>
                    {# <li> <a href="/perfect-pair"><span>Perfect Pair</span></a> </li> #}
                    <li> <a href="/decor-services"><span>Decor Services</span></a> </li>
                    <li>
                        <a href="/customized" class="dropdown-toggle" aria-expanded="false">
                            <span>Customized</span></a>
                    </li>
                    <li>
                        <a href="/cart" class="dropdown-toggle" aria-expanded="false">
                            <span>Cart {% if cart is not empty %} 
                                         ({{dbCart|length}})
                                    {% endif %}
                            </span></a>
                    </li>
					{% if user %}
        
						<li><a href="/my-account">My Account</a></li>
						<li><a data-request="onLogout" data-request-data="redirect: '/'" style="cursor: pointer">Sign out</a></li>
				
					{% else %}
				
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Register</a></li>
				
					{% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% if this.page.id == 'home' %}
{% component 'Slider' %}
{% elseif this.page.id == 'home-items' %}
<div class="inner-header" style="padding-top:80px; padding-bottom:80px">
    <h2>Home Items</h2>
    <div class="bdr">
        <ul>
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Home Items</span></li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <p class="intro-size">

                        Spruce up your home décor with signature items from Kokore, from wall grids to creative and
                        unique accessories that add personality and style to any room. Choose from a collection of
                        tasteful home décor items, and find home accents you need to put the finishing touches on any
                        home design project.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% elseif this.page.id == 'blog' %}
<img class="inner-header" style="background:none;padding-bottom:0px; padding-top:85px"
    src="{{'assets/images/blogheader.jpg'|theme}}" alt="">
{# <div class="inner-header inner-blog-header">
				<!-- .inner-header -->
				<h2>News & Blog</h2>
				<div class="bdr">
					<ul>
						<li><a href="/">Home</a></li>
						<li>/</li>
						<li>Blog </li>
						<li>/</li>
						<li><span>Blog 03 columns</span></li>
					</ul>
				</div>  #}
<!-- /.inner-header -->
</div>
{% elseif this.page.id == 'register' %}
<!-- <div class="inner-header inner-blog-header inner-blog-header-register">
			
			<h2>Join Kokore</h2>
			<div class="bdr">
				<ul>
					<li>would you like to?</li>
					 <li>/</li>
					<li>Blog </li> 
					 <li>/</li>
					<li><span>Blog 03 columns</span></li> 
				</ul>
			</div>
			
		</div> -->

{% elseif this.page.id == 'login' %}
<div class="inner-header inner-blog-header inner-blog-header-register">
    <!-- .inner-header -->
    <h2>Login</h2>
    {# <div class="bdr">
				<ul>
					<li>would you like to?</li>
					<li>/</li>
					<li>Blog </li>
					<li>/</li>
					<li><span>Blog 03 columns</span></li>
				</ul>
			</div> #}
    <!-- /.inner-header -->
</div>
{% elseif this.page.id == 'cart' %}
<!--  /.menu  -->
<div class="inner-header inner-header2">
    <!-- .inner-header -->
    <h2>Shopping Cart</h2>
    <div class="bdr">
        <ul>
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li>Shop </li>
            <li>/</li>
            <li><span>Shopping Cart</span></li>
        </ul>
    </div>
    <!-- /.inner-header -->
</div>
{% elseif this.page.id == 'perfect-pair' %}
<!--  /.menu  -->
<div class="inner-header inner-header2">
    <!-- .inner-header -->
    <h2>Perfect Pair</h2>
    <h4>Coming Soon</h4>
    <div class="bdr">
        <ul>
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li>Perfect Pair</li>
        </ul>
    </div>
    <!-- /.inner-header -->
</div>
{% elseif this.page.id == 'checkout' %}
<div class="inner-header inner-header2">
    <!-- .inner-header -->
    <h2>Checkout</h2>
    <div class="bdr">
        <ul>
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><a href="/prints">Prints</a></li>
            <li>/</li>
            <li><span>Checkout</span></li>
        </ul>
        <span>All fields marked with (*) are required</span>
        <span class="checkoutinfo">DELIVERY 3 - 7 WORKING DAYS | FREE SHIPPING OVER NGN 35,000 </span>
    </div>
    <!-- /.inner-header -->
</div>
{% elseif this.page.id == 'customer-service' %}
<div class="inner-header">
    <!-- .inner-header -->
    <h2>Customer Service</h2>
    <div class="bdr">
        <ul>
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Customer Service</span></li>
        </ul>
    </div>
    <!-- /.inner-header -->
</div>
{% elseif this.page.id == 'customized' %}
<div class="inner-header">
    <!-- .inner-header -->
    <h2>Customized</h2>
    <div class="bdr">
        <ul>
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Customized</span></li>
        </ul>
    </div>
    <!-- /.inner-header -->
</div>
{% elseif this.page.id == 'about-us' %}
{# <div class="inner-header">
			<!-- .inner-header -->
			<h2>About us</h2>
			<div class="bdr">
				<ul>
					<li><a href="/">Home</a></li>
					<li>/</li>
					<li><span>About us</span></li>
				</ul>
			</div>
			<!-- /.inner-header -->
		</div> #}
{% elseif this.page.id == 'privacy-policy' %}
<div class="inner-header">
    <!-- .inner-header -->
    <h2>Privacy Policy</h2>
    <div class="bdr">
        <ul>
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Privacy Policy</span></li>
        </ul>
    </div>
    <!-- /.inner-header -->
</div>
{% elseif this.page.id == 'terms-conditions' %}
<div class="inner-header">
    <!-- .inner-header -->
    <h2>Terms & Conditions</h2>
    <div class="bdr">
        <ul>
            <li><a href="/">Home</a></li>
            <li>/</li>
            <li><span>Terms & Conditions</span></li>
        </ul>
    </div>
    <!-- /.inner-header -->
</div>
{% elseif this.page.id == 'decor-services' %}
{# <div class="inner-header">
			<h2>Decor Services</h2>
			<div class="bdr">
				<ul>
					<li><a href="/">Home</a></li>
					<li>/</li>
					<li><span>Decor Services</span></li>
				</ul>
			</div>
		</div> #}
{% partial 'Slider::decor-slides' %}
{% elseif this.page.id == 'confirm-pay' %}
<div class="inner-header">
    <h2>Confirm Payment</h2>
    <div class="bdr">
        <ul>
            {# <li><a href="/prints">Prints</a></li> #}
            {# <li>/</li>
					<li><span>Decor Services</span></li> #}
        </ul>
    </div>
</div>
{% elseif this.page.id == 'thank-you' %}
<div class="inner-header">
    <h2>Thank You</h2>
    <div class="bdr">
        <p>Thank you for you patronage</p>
    </div>
</div>

{% endif %}
<script>
    $(function () {
        $(".printsize").on("click", function (e) {
            e.preventDefault(); // cancel the link itself
            console.log(this.getAttribute('data-size'));
            var url = '/prints';
            var form = $('<form action="' + url + '" method="post">' +
                '<input type="text" name="Filter[sizes][]" value="' + this.getAttribute(
                    'data-size') + '"/>' +
                '</form>');
            $('body').append(form);
            form.submit();
        });

        $(".printcategory").on("click", function (e) {
            e.preventDefault(); // cancel the link itself
            console.log(this.getAttribute('data-size'));
            var url = '/prints';
            var form = $('<form action="' + url + '" method="post">' +
                '<input type="text" name="Filter[productCategories][]" value="' + this.getAttribute(
                    'data-category') + '" />' +
                '</form>');
            $('body').append(form);
            form.submit();
        });
    });
</script>

<script>
    $(function () {
        $("#searchsubmit").on("click", function (e) {
            var searchkeyword = $("#searchinput").val();
            var url = '/prints';
            var form = $('<form action="' + url + '" method="post">' +
                '<input type="text" name="keyword" value="' + searchkeyword + '" />' +
                '</form>');
            $('body').append(form);
            console.log(searchkeyword);
            form.submit();
        });
    });
</script>
