<div class="modal fade bwidth" id="logRegModal" tabindex="-1" role="dialog">
       
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
                <span>You must <b>login</b> or <b>register</b> to checkout</span>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<!-- left side -->
								<div class="col-sm-6 col-md-6">
                                    <div style="margin: 0 auto;" class="contact-form">
            <h3 style="font-weight:200">Login</h3>
            <p class="sub">Join us and become a supporter for Design & Creativity in our community waiting to share and
                experience with you</p>
            <form name="register-form" data-request="onSignin" enctype="multipart/form-data" id="commentform" class="comment-form">
                
                
                <div class="col-md-12">
                    <p class="comment-form-email">
                        <input id="author" name="login" value="" cols="45" rows="6" type="text" placeholder="Email">
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="comment-form-email">
                        <input name="password" type="password" cols="45" rows="6" id="registerPassword" placeholder="Password">
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="form-submit comment-form-email">
                        <input name="submit" id="submit" class="btn btn-secondary register" value="login" type="submit">
                    </p>
                </div>
                
            </form>
            {# onClick="document.forms['register-form'].submit();" #}
        </div>
								</div>
								<!-- left side -->
								<!-- right side -->
								<div class="col-sm-6 col-md-6">
									
									<div id="regular">
                                    
                    {% partial 'site/user-regular-register3' %}
                </div>
               
    
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
 </div>

			<script>
		$('.submit').click(function(e) {
    e.preventDefault();
    $(this).closest('form').submit();
}); 
	</script>
