{% framework %}
<div class="modal fade modal-popup" id="modal1" data-open-onload="true" data-open-delay="1500" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="background-image:url('images/modal-background.jpg'); background-size:cover">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                    class="fa fa-times"></i></button>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2 pt-20 text-center">
                        </div>
                        <div class="col-sm-8 pt-20 text-center">
                            <h2 class="heading font34 inverse">
                                Get Our Newsletter</h2>
                            <p class="font22 text-center">Subscribe to the Kokore mailing list to receive updates on new
                                arrivals, special offers and other discount information.</p>
                            <div id="newslettervalidation">
                            </div>
                            <form data-request="onNewsletter" method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="newsletteremail" name="email" placeholder="Enter your Email"> </div>
                                <div class="form-group">
                                    <button class="btn btn-black addnewsletteruser" data-request="onNewsletter" type="button">Subscribe!</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-2 pt-20 text-center">
                        </div>
                        <div class="col-sm-12">
                            <!-- <div class="form-group text-right">
                                <input type="checkbox" name="check" /> Do not show this popup again 
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
