

    {% for post in relatedPosts %}
    <div class="col-sm-6 col-md-6">
            {% if post.featured_images|first %} {% set image = post.featured_images|first %} 
						
                         <div class="blog-img"> <img class="img-responsive" src="{{image.path}}" alt="sample image">
                <div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
            </div>
					{% else %}
                         <div class="blog-img"> <img class="img-responsive" src="{{'assets/images/blog-img01.jpg'|theme}}" alt="sample image">
                <div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
            </div>
					{% endif %}
           
            <p class="hank"><a href="blog-details.html">{{post.title}}</a></p>
            <p class="time"><span class="date">{{ post.published_at|date('F d, Y') }}</span> by <span>{{post.user.full_name}}</span></p>
            
        </div>
    {% endfor %}
						