[blogPosts]
[blogCategories]
pageNumber = "{{ :page }}"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "created_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
{% set lastCategory = post.categories|last %}
{{lastCategory}}
	<section class="blog">
		<!-- .blog -->
		<div class="container">
			<!-- Filter Controls - Simple Mode -->
			<div class="row">
				<!-- A basic setup of simple mode filter controls, all you have to do is use data-filter="all"
                     for an unfiltered gallery and then the values of your categories to filter between them -->
				<div class="col-md-12">
					<ul class="simplefilter">
						<li class="active" data-filter="all">all</li>
						{% for category in categories %}
							<li data-filter="{{category.id}}">{{category.name}}</li>
						{% endfor %}
						{# <li data-filter="1">fashion</li>
						<li data-filter="2">entertaiment</li>
						<li data-filter="3">business</li>
						<li data-filter="4">photography</li>
						<li data-filter="5">other</li> #}
					</ul>
				</div>
			</div>
			<div class="row filtr-container baguetteBoxThree">
				{% for post in posts %}
					<div class="col-sm-6 col-md-6 filtr-item" data-category="{% for category in post.categories %}  {% if category.id == lastCategory.id %} {{category.id}} {% else %} {{category.id}}, {% endif %} {% endfor %}" data-sort="Busy streets">
						<div class="blog-img">
							<img class="img-responsive" src="{{'assets/images/blog-img01.jpg'|theme}}" alt="sample image">
							<div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
						</div>
						<p class="hank"><a href="{{ post.url }}">{{post.title}}</a></p>
						<p class="time">By <span>{{post.user.full_name}}</span> / {{ post.published_at|date('F d, Y') }}</p>
						<p>{{post.summary}}</p>
						<a href="{{ post.url }}" class="readbtn">Read More</a>
					</div>
				{% endfor %}
			</div>
			<div class="pagetions">
				<!-- .pagetions -->
				<div class="col-md-12">
					{% if posts.lastPage > 1 %}
					<ul>
						{% if posts.currentPage > 1 %}
								<li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
							{% endif %}

							{% for page in 1..posts.lastPage %}
								<li class="{{ posts.currentPage == page ? 'active' : null }}">
									<a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
								</li>
							{% endfor %}

							{% if posts.lastPage > posts.currentPage %}
								<li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
							{% endif %}
						{# <li><a href="#">1</a></li>
						<li><a href="#" class="active">2</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li> #}
					</ul>
					{% endif %}
				</div>
				<!-- /.pagetions -->
			</div>
		</div>
		<!-- /.blog -->
	</section>
{#     

    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul> #}



