[blogPosts]
[blogCategories]
pageNumber = "{{ :page }}"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "created_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==



	{# <section class="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="simplefilter">
						<li class="active" data-filter="all">all</li>
						{% for category in categories %}
							<li data-filter="{{category.id}}">{{category.name}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="row filtr-container baguetteBoxThree">
				{% for post in posts %}
					<div class="col-sm-6 col-md-6 filtr-item" data-category="{% for category in post.categories %}  {% if category.id == lastCategory.id %} {{category.id}} {% else %} {{category.id}}, {% endif %} {% endfor %}" data-sort="Busy streets">
						<div class="blog-img">
							<img class="img-responsive" src="{{'assets/images/blog-img01.jpg'|theme}}" alt="sample image">
							<div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
						</div>
						<p class="hank"><a href="{{ post.url }}">{{post.title}}</a></p>
						<p class="time">By <span>{{post.user.full_name}}</span> / {{ post.published_at|date('F d, Y') }}</p>
						<p>{{post.summary}}</p>
						<a href="{{'blog'}}/post/{{ post.url }}" class="readbtn">Read More</a>
					</div>
				{% endfor %}
			</div>
			<div class="pagetions">
				<div class="col-md-12">
					{% if posts.lastPage > 1 %}
						<ul>
							{% if posts.currentPage > 1 %}
								<li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
							{% endif %}
							{% for page in 1..posts.lastPage %}
								<li class="{{ posts.currentPage == page ? 'active' : null }}">
									<a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
								</li>
							{% endfor %}
							{% if posts.lastPage > posts.currentPage %}
								<li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
							{% endif %}
						</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</section> #}


	<section class="blog">
		<!-- .blog -->
		<div class="container">
			<!-- Filter Controls - Simple Mode -->
			<div class="row">
				<div class="row">
				<!-- A basic setup of simple mode filter controls, all you have to do is use data-filter="all"
                     for an unfiltered gallery and then the values of your categories to filter between them -->
				<div class="col-md-12">
					<ul class="simplefilter">
						<li class="active" data-filter="all">all</li>
						{% for category in categories %}
							<li data-filter="{{category.id}}">{{category.name}}</li>
						{% endfor %}
						{# <li data-filter="1">fashion</li>
						<li data-filter="2">entertaiment</li>
						<li data-filter="3">business</li>
						<li data-filter="4">photography</li>
						<li data-filter="5">other</li> #}
					</ul>
				</div>
			</div>
				<!-- A basic setup of simple mode filter controls, all you have to do is use data-filter="all"
                     for an unfiltered gallery and then the values of your categories to filter between them -->
				<div class="col-sm-12 col-md-12">
					<div class="row">
						{% for post in posts %}
						{% set lastCategory = post.categories|last %}
						
						{# {{post}} #}
						<div class="col-sm-12">
							<div class="filtr-item" data-category="{% for category in post.categories %}  {% if category.id == lastCategory.id %} {{category.id}} {% else %} {{category.id}}, {% endif %} {% endfor %}" data-sort="{% for category in post.categories %}  {% if category.id == lastCategory.id %} {{category.name}} {% else %} {{category.name}}, {% endif %} {% endfor %}">
							<div class="blog-img" style="margin:0 auto; width:85%; text-align:center; margin-top:50px;">
								<img class="img-responsive" {% if post.featured_images|first %} {% set image = post.featured_images|first %} src="{{image.path}}" {% else %} src="{{'assets/images/blog-img01.jpg'|theme}}" {% endif %} src="{{'assets/images/blog-img01.jpg'|theme}}" alt="sample image">
								<div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
							</div>
							<div style="margin:0 auto; width:65%; text-align:center; margin-top:5px; margin-bottom:30px;">
								<h5 style="color:#999; font-weight:100; line-spacing:1px;">{% set category = post.categories|first %} {{category.name}}</h5>
								<h2 style="font-size:40px; margin-top:10px; font-family:garamond; text-transform:capitalize"><a href="{{ post.url }}">{{post.title}}</a></h2>
								{# <p class="time">By <span>{{post.user.full_name}}</span> / {{ post.published_at|date('F d, Y') }}</p> #}
								<p class="italic">{{post.summary}}</p>
								<a style="text-align:center; margin:0 auto; display:contents" href="{{ post.url }}" class="readbtn">Read More</a>
							</div>
							</div>
						</div>
						{% endfor %}
						
					</div>
				</div>
				
			</div>

			<div class="pagetions">
				<!-- .pagetions -->
				<div class="cl-md-12">
					{% if posts.lastPage > 1 %}
					<ul>
						{% if posts.currentPage > 1 %}
								<li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
							{% endif %}

							{% for page in 1..posts.lastPage %}
								<li class="{{ posts.currentPage == page ? 'active' : null }}">
									<a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
								</li>
							{% endfor %}

							{% if posts.lastPage > posts.currentPage %}
								<li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
							{% endif %}
						{# <li><a href="#">1</a></li>
						<li><a href="#" class="active">2</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li> #}
					</ul>
					{% endif %}
				</div>
				<!-- /.pagetions -->
			</div>
		</div>
		<!-- /.blog -->
	</section>



