[viewBag]

[account]
paramCode = "code"
forceSecure = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"

[ssbuttonsssb]
facebook = 1
twitter = 1
google+ = 0
tumblr = 0
pinterest = 1
pocket = 0
reddit = 0
linkedin = 1
wordpress = 0
pinboard = 0
email = 1
order_facebook = 1
order_twitter = 2
order_google+ = 3
order_tumblr = 4
order_pinterest = 5
order_pocket = 6
order_reddit = 7
order_linkedin = 8
order_wordpress = 9
order_pinboard = 10
order_email = 11
theme = "flat_web_icon_set_black"
==
<?
use RainLab\Blog\Models\Post;
use RainLab\Blog\Models\Category;

function onStart() {
    $this->prepareVars();
}

function prepareVars() {
	$slug = basename($this->currentPageUrl());
	$currentPost = Post::where('slug', $slug)->first();
	$category = $currentPost->categories->first();
	$this['relatedPosts'] = $category->posts()->where('slug', '!=', $slug)->limit(2)->get();
}
?>	
==
{# <article id="post-139" class="btx-content-wrapper post-139 post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-design tag-life tag-style">
        <div class="btx-post btx-post--columnist btx-post--no-sidebar btx-post-format--standard btx-post-featured--overlap">

            <!--Fullwidth size featured media-->
            <div class="btx-post-media btx-post-media--standard btx-fade-content">


                <div class="btx-background" data-type="image" data-parallaxspeed="5" data-contentfade="1" data-mobileparallax="">
                    <div class="btx-background-wrapper" style="height: 382px; transform: translateY(-45px);">
                        {% for image in post.featured_images|slice(0, 1) %}
                            <div class="btx-background-inner" style="background-image:url({{ image.path }}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                        {% endfor %}
                        
                    </div>
                    <div class="btx-background-overlay "></div>
                </div>
            </div>


            <div class="btx-container js-dynamic-navbar">

                <div class="btx-main btx-main--single">
                    <div class="btx-main-wrapper">
                        <!--Post Title (overlap layout and full layout not standard post format)-->
                        <div class="btx-post-headline">
                            <div class="btx-post-meta">
                                <span class="btx-post-category btx-post-category--plain">
                                    <a class="btx-p-text-color" href="http://www.bateauxtheme.com/category/design/" title="Design">{% if post.categories.count %} in
        {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}</a>
                                </span>
                                <span class="btx-post-date post-date date updated">{{ post.published_at|date('M d, Y') }}</span>
                            </div>
                            <h1 class="btx-post-title post-title entry-title">{{post.title}}</h1>
                        </div>

                        <!--Meta box for Columnist style-->
                        <div class="btx-main-meta">
                            <!-- Profile picture -->
                            <div class="btx-post-avatar btx-image--circle">
                                <img alt="" src="{{post.user.avatar.path}}" class="avatar avatar-70 photo" height="70" width="70">
                            </div>


                            <div class="btx-post-author btx-s-text-color">By
                                <a href="#" rel="author">{{post.user.full_name}}</a>
                                 
                            </div>
                           
                        </div>

                        <!--Begin Main Post Part-->
                        <div class="btx-post-body">
                            <!--Content Part-->
                            <div class="btx-post-content">
                                {{ post.content_html|raw }}
                            </div>

                           
                            <!--Social Share-->
                            <div class="btx-post-share btx-s-text-color btx-share btx-share--icon btx-center-align">
                                {% component 'ssbuttonsssb' %}
                            </div>

                            <div class="btx-post-share btx-s-text-color btx-share btx-share--icon btx-center-align">
                                <h2>Comments</h2>
                                <hr>
                            </div>

                            

                        </div>
                       
    {% partial 'site/topic/default' %}

                    


                    </div>
                </div>

            </div>
            
        </div>

    </article> #}


    <section class="blog blog-deatils">
			<!-- .blog -->
			<div class="container">
				<div class="col-sm-12 col-md-12 blog-deatails">
					<p class="hank text-center" style="text-transform:capitalize"><a href="blog-details.html">{{post.title}}</a></p>
					<p class="time text-center">By <span>{{post.user.full_name}}</span> / {{ post.published_at|date('F d, Y') }}</p>
					{% if post.featured_images|first %} {% set image = post.featured_images|first %} 
						<img class="blog-img2" src="{{image.path}}" alt="gallery1" />
					{% else %}
						<img class="blog-img2" src="{{'assets/images/blog-post-large.jpg'|theme}}" alt="gallery1" />
					{% endif %}
					<div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
								{{post.content_html|raw}}
							{# <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et...</p>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
							<blockquote>
								<p>Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something.</p>
							</blockquote> 
							<img class="blog-img2" src="{{'assets/images/blog-post-02.jpg'|theme}}" alt="gallery1" />
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p> #}
						</div>
						<div class="col-lg-2"></div>
					</div>
					<div class="blog-tags-social row">
						<div class="blog-social col-md-6"> <strong>Share to friends:</strong>
							<ul class="social-list">
								<li class="box"><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li class="box"><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li class="box"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
								<li class="box"><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li class="box"><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
						<div class="blog-tag col-md-6 text-right"> <strong>Categories:</strong> 
							{% for category in post.categories %}
								<a href="#" rel="tag">{{category.name}}</a>
							{% endfor %}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
							<!-- .comment-post-img -->
							<div class="comment-post-img">
								<h2>You Might Also Like</h2>
								<div class="row">
								
								{{category}}
								{% partial 'site/post-posts' %}
								</div>

							</div>
							<!-- .comments-area -->

							{% partial 'site/topic/default' %}
					
					
					
					<!-- .comments form -->
					
					
						</div>
						<div class="col-lg-2"></div>
					</div>
					
				</div>
				<!-- /.blog -->
			</div>
		</section>