[Getcustomerinfo]
[session]
security = "all"
==
{% set professions = Getcustomerinfo.professions %}
{% component 'session' %}
<h3>Supplier Registration Form</h3>
<form name="register-form" data-request="onRegister" enctype="multipart/form-data">
    <div class="form-group">
        <input type="hidden" name="company" value="0">
        <input type="hidden" name="professional" value="0">
        <input type="hidden" name="regular" value="0">
        <input type="hidden" name="supplier" value="1">
        <label for="companyName">Company Name</label>
        <input
            name="company_name"
            type="text"
            class="form-1-style2 border1 borderf7 b-radius3"
            id="registerCompany"
            placeholder="Enter your company name" required/>
    </div>

    <div class="form-group">
        <label for="registerEmail">Email</label> 
        <input
            name="email"
            type="email"
            class="form-1-style2 border1 borderf7 b-radius3"
            id="registerEmail"
            placeholder="Enter your email" required/>
    </div>

    <div class="form-group">
        <label for="registerPhone">Phone number</label> 
        <input
            name="phone_number"
            type="text"
            class="form-1-style2 border1 borderf7 b-radius3"
            id="registerPhone"
            placeholder="2340000000000" />
    </div>

    <div class="form-group">
        <label for="registerProfession">Category</label>
        <select name="profession_id" id="">
            <option value="0">---</option>
            {% for profession in professions %}
                <option value="{{profession.id}}">{{profession.profession_name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="registerPassword">Password</label> 
        <input
            name="password"
            type="password"
            class="form-1-style2 border1 borderf7 b-radius3"
            id="registerPassword"
            placeholder="Choose a password" />
    </div>
    <div class="form-group">
        <label for="registerPassword">Password Confirmation</label> 
        <input
            name="password_confirmation"
            type="password"
            class="form-1-style2 border1 borderf7 b-radius3"
            id="registerPassword"
            placeholder="Please ensure you enter the same password" />
    </div>
    <div class="clearfix"></div>
    <button type="submit" class="bateauxBtn">register</button>
    {# <button type="submit" class="submit-btn button1-1 b-radius3 right30 button-orange top20">Register</button> #}
</form>

{# onClick="document.forms['register-form'].submit();" #}