<div id="secondaryNav" class="navbar navbar-inverse navbar-default navbar-fixed-top secondaryNav">
    <div class="container">
        <ul class="nav navbar-nav topbar">
            <li>Delivery 3 - 7 working days | Free Shipping Over NGN 35,000 | +234 809 066 2007</li>
        </ul>
        <ul class="nav navbar-nav topbar login-bar pull-right">
            {% if user %}
            <li><a href="/my-account">My Account</a></li>
            <li><a data-request="onLogout" data-request-data="redirect: '/'" style="cursor: pointer">Sign out</a></li>
            {% else %}
                 <li> <a href="/login">Login</a> </li>
                <li> <a href="/register">Register</a></li>
            {% endif %}
           
        </ul>
        
    </div>
</div>