

 <form name="register-form" data-request="onSignin" enctype="multipart/form-data" id="commentform" class="comment-form">
    <div class="contact-form">
            <div class="row">
            <div class="col-md-6">
                <p>Username
                    {# <span>*</span> #}
                </p>
                <p class="comment-form-author">
                    <input id="author" name="login" value="" size="30" class="comment-form-author" type="text">
                </p>

                 <p>Password
                    {# <span>*</span> #}
                </p>
                <p class="comment-form-author">
                    <input name="password" type="password" class="comment-form-author" size="30" id="registerPassword" placeholder="" />
                </p>
            </div>
            </div>
            

            <div class="col-md-6">
                <p class="form-submit">
                    <input name="submit" id="submit" class="btn btn-secondary register" value="login" type="submit"> </p>
            </div>
            
        </div>


{# <form
    data-request="onSignin">
    <div class="form-group">
        <label for="userSigninLogin">{{ loginAttributeLabel }}</label> 
        <input
            name="login"
            type="text"
            class="form-1-style2 border1 borderf7 b-radius3"
            id="userSigninLogin"
            placeholder="Enter your {{ loginAttributeLabel|lower }}" />
    </div>

    <div class="form-group">
        <label for="userSigninPassword">Password</label> 
        <input
            name="password"
            type="password"
            class="form-1-style2 border1 borderf7 b-radius3"
            id="userSigninPassword"
            placeholder="Enter your password" />
    </div>
    <button type="submit" class="bateauxBtn">Sign-in</button> #}
</form>