[Getcustomerinfo]
[session]
security = "all"
==
{% set professions = Getcustomerinfo.professions %}
{% component 'session' %}


        <div style="margin: 0 auto;" class="contact-form">
            <h3 style="font-weight:200">Register</h3>
            <p class="sub">Join us and become a supporter for Design & Creativity in our community waiting to share and
                experience with you</p> <p class="sub">or</p>
                <p class="sub">You can register as an artist to <a href="/register"><strong>Sell art</strong></a></p>

            <form name="register-form" data-request="onRegister" enctype="multipart/form-data" id="commentform" class="comment-form">
                <input type="hidden" name="type_id" value="1" />
                <div class="col-md-6">
                    <p class="comment-form-email">
                        <input name="name" value="" cols="45" rows="6" type="text" placeholder="Name*">
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="comment-form-email">
                        <input name="surname" value="" cols="45" rows="6" type="text" placeholder="Last Name*">
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="comment-form-email">
                        <input name="email" value="" cols="45" rows="6" type="text" placeholder="Email*">
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="comment-form-email">
                        <input name="username" value="" cols="45" rows="6" type="text" placeholder="Username*">
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="comment-form-email">
                        <input name="password" type="password" cols="45" rows="6" id="registerPassword" placeholder="Password*">
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="form-submit comment-form-email">
                        <input name="submit" id="submit" class="btn btn-secondary register" value="register" type="submit">
                    </p>
                </div>
                <div class="col-md-12">
                    <input type="checkbox" id="terms" name="terms" value="1" required/> <label for="terms" style="display: inline !important; font-size:8px;">* I have 
                    read and I agree with This is Kokore's <a href="/terms-conditions" target="_blank"><strong>Terms and Conditions</strong><a/></label>
                    <br />
                    <input type="checkbox" id="exclusives" name="exclusives" value="1" /> <label for="exclusives" style="display: inline !important; font-size:8px;">Sign
                        me up for exclusive discounts on the latest designs + products</label>
                    <br />
                    <input type="checkbox" id="newsletter" name="newsletter" value="1" /> <label for="newsletter" style="display: inline !important;font-size:8px;">Sign
                        me up for the Kokore newsletter (artist vids + features, how to’s, etc.)</label>
                </div>
                
            </form>
            {# onClick="document.forms['register-form'].submit();" #}
        </div>

