[Getcustomerinfo]
[session]
security = "all"
==
{% set professions = Getcustomerinfo.professions %}
{% component 'session' %}
<div class="container logreg" >
    <div class="row">
        <div style="margin: 0 auto;" class="contact-form">
            <h3 style="font-weight:200">Login</h3>
            <p class="sub">Join us and become a supporter for Design & Creativity in our community waiting to share and
                experience with you</p>
            <p class="sub"><a href="/register"><strong>Register</strong></a> if you don't have an account with us yet</p>
            <form name="register-form" data-request="onSignin" enctype="multipart/form-data" id="commentform" class="comment-form">
                
                
                <div class="col-md-12">
                    <p class="comment-form-email">
                        <input id="author" name="login" value="" cols="45" rows="6" type="text" placeholder="Email">
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="comment-form-email">
                        <input name="password" type="password" cols="45" rows="6" id="registerPassword" placeholder="Password">
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="form-submit comment-form-email">
                        <input name="submit" id="submit" class="btn btn-secondary register" value="login" type="submit">
                    </p>
                </div>
                
            </form>
            <p class="sub">Back to the <a href="/"><strong>Homepage</strong></a></p>
            {# onClick="document.forms['register-form'].submit();" #}
        </div>
    </div>
</div>
