[Getcustomerinfo]
[session]
security = "all"
==
{% set professions = Getcustomerinfo.professions %}
{% component 'session' %}
<div style="text-align:left; margin: 0 auto; margin-top:40px" class="contact-form">
    {#
    <h3>Regular User Registration Form</h3> #}
    <form name="register-form" data-request="onRegister" enctype="multipart/form-data" id="commentform" class="comment-form">
        <input type="hidden" name="type_id" value="1"/>
        <div class="contact-form">


            <div class="col-md-6">
                <p>First Name
                    <span>*</span>
                </p>
                <p class="comment-form-author">
                    <input id="author" name="name" value="" size="30" type="text">
                </p>
            </div>
            <div class="col-md-6">
                <p>Last Name
                    <span>*</span>
                </p>
                <p class="comment-form-author">
                    <input id="author" name="surname" value="" size="30" type="text">
                </p>
            </div>
            <div class="col-md-6">
                <p>Email
                    <span>*</span>
                </p>
                <p class="comment-form-email">
                    <input id="email" name="email" value="" cols="45" rows="6" type="text">
                </p>
            </div>
            <div class="col-md-6">
                <p>Username
                    <span>*</span>
                </p>
                <p class="comment-form-email">
                    <input id="email" name="username" value="" cols="45" rows="6" type="text">
                </p>
            </div>
            <div class="col-md-6">
                <p>Password
                    <span>*</span>
                </p>
                <p class="comment-form-author">
                    <input name="password" type="password" class="comment-form-author" size="30" id="registerPassword" placeholder="" />
                </p>
            </div>
            <div class="col-md-6">
                <p>Confirm Password
                    <span>*</span>
                </p>
                <p class="comment-form-author">
                    <input name="password_confirmation" type="password" class="comment-form-author" size="30" id="registerPassword" placeholder=""
                    />
                </p>
            </div>

            <div class="col-md-12">
                <p class="form-submit">
                    <input name="submit" id="submit" class="btn btn-secondary register" value="register" type="submit"> </p>
            </div>
        </div>
    </form>

    {# onClick="document.forms['register-form'].submit();" #}
</div>
