
<br /><br /><p class="lead">
    <strong>Hello! Lost your password?</strong> No problem! Enter your email address to verify your account.
</p>

<form
    data-request="{{ __SELF__ }}::onRestorePassword"
    data-request-update="'{{ __SELF__ }}::reset': '#partialUserResetForm'">
    <div class="form-group">
        <label for="userRestoreEmail">Email</label>
        <input name="email" type="email" class="form-1-style2 border1 borderf7 b-radius3" id="userRestoreEmail" placeholder="Enter your email">
    </div>

    <button type="submit" class="submit-btn button1-1 b-radius3 right30 button-orange top20t">Restore password</button>
</form>