{% set product = DashboardPortfolio.product %}
{% set manufacturers = DashboardPortfolio.manufacturers %}
{% set categories = DashboardPortfolio.categories %}
{% set colors = DashboardPortfolio.colors %}

<form data-request="onCreatePortfolio" method="post" data-request-validate data-request-files data-request-flash>
    {{ form_token() }}
    {{ form_sessionKey() }}
    <fieldset>
        <legend>Portfolio Item Details</legend>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                <span style="color:red">{{ errors.first('product_name') }} </span>
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <label for="product_name">Portfolio Item Name</label> 
                    <input type="text" name="product_name" class="form-control">
                    <span data-validate-for="product_name"></span>    
                </div>
            </div>
            {# <div class="col-sm-3">
                <div class="form-group">
                     <span style="color:red">{{ errors.first('product_reference') }}</span>
                    <label for="product_reference">Print Reference</label>
                    <input type="text" name="product_reference" class="form-control">   
                    <span data-validate-for="product_reference"></span>
                </div>
            </div> #}
           
            
        </div>
    </fieldset>
    {# <fieldset>
        <legend>Print Description</legend>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="product_excerpt">Print Excerpt (Short description)</label>
                    <textarea name="product_excerpt" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="product_description">Print Description</label>
                    <textarea name="product_description" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </fieldset> #}
    <fieldset>
        <legend>Portfolio Item Image</legend>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {% if errors.first('product_image') %} <span style="color:red">Please upload an image</span> {% endif %}   
                    <label for="product_image">Image</label>   
                    <span data-validate-for="product_image"></span>           
                    <input class="form-control" name="product_image" id="imageForm" type="file" accept="image/*" data-request="onPortfolioImageUpload" data-request-validate data-request-files data-request-flash/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">       
                    <div id="product_image">Portfolio Image Preview</div>
                </div>
            </div>
        </div>
    </fieldset>
    {# <fieldset>
        <legend>Print Slider Images</legend>
        <div class="row"> 
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="gallery">Print Slider Image 1</label>                
                    <input class="form-control" name="image1" id="imageForm" type="file" accept="image/*" data-request="onImageOne" data-request-validate data-request-files data-request-flash/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="gallery">Print Slider Image 2</label>                
                    <input class="form-control" name="image2" id="imageForm" type="file" accept="image/*" data-request="onImage2" data-request-validate data-request-files data-request-flash/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="gallery">Print Slider Image 3</label>                
                    <input class="form-control" name="image3" id="imageForm" type="file" accept="image/*" data-request="onImage3" data-request-validate data-request-files data-request-flash/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="gallery">Print Slider Image 4</label>                
                    <input class="form-control" name="image4" id="imageForm" type="file" accept="image/*" data-request="onImage4" data-request-validate data-request-files data-request-flash/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div id="product_image1"></div>
            </div>
            <div class="col-sm-3">
                <div id="product_image2"></div>
            </div>
            <div class="col-sm-3">
                <div id="product_image3"></div>
            </div>
            <div class="col-sm-3">
                <div id="product_image4"></div>
            </div>
        </div>
    </fieldset> #}
    <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Create Portfolio Item</button>
    </div>
</form>



