{% set product = DashboardPortfolio.product %}
{% set manufacturers = DashboardPortfolio.manufacturers %}
{% set categories = DashboardPortfolio.categories %}
{% set colors = DashboardPortfolio.colors %}

<form data-request="onEditProduct" method="post" data-request-validate data-request-files data-request-flash>
    {{ form_token() }}
    {{ form_sessionKey() }}
    <fieldset>
        <legend>Portfolio Item Details</legend>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <label for="product_name">Item Name</label>
                    <input type="text" name="product_name" class="form-control" value="{{product.name}}">    
                </div>
            </div>
            {# <div class="col-sm-3">
                <div class="form-group">
                    <label for="product_reference">Portfolio Reference</label>
                    <input type="text" name="product_reference" class="form-control" value="{{product.product_reference}}">   
                </div>
            </div> #}
            
            {# <div class="col-sm-3">
                <div class="form-group">
                    <label for="colors[]">Print Colors</label> <br/>
                    <span style="font-size:10px; line-height:5px">Hold "ctrl" on windows or "cmd" on mac to select multiple colors</span>
                        <select name="colors[]" class="form-control" multiple>
                            {% for color in colors %}
                                <option value="{{color.id}}" {% if product.color_id == color.id %}selected{% endif %}>{{color.color}}</option>
                            {% endfor %}
                        </select>
                </div>
            </div> #}
        </div>
    </fieldset>
    {# <fieldset>
        <legend>Item Description</legend>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="product_excerpt">Portfolio Item Excerpt (Short description)</label>
                    <textarea name="product_excerpt" id="" cols="30" rows="10" class="form-control">{{product.product_excerpt|raw}}</textarea>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="product_description">Portfolio Item Description</label>
                    <textarea name="product_description" id="" cols="30" rows="10" class="form-control">{{product.product_description|raw}}</textarea>
                </div>
            </div>
        </div>
    </fieldset> #}

    <fieldset>
        <legend>Print Images</legend>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="product_image">Print Image</label>                
                    <input class="form-control" name="product_image" id="imageForm" type="file" accept="image/*" data-request="onPrintImageUpload" data-request-validate data-request-files data-request-flash/>
                </div>
            </div>
            {# <div class="col-sm-6">
                <div class="form-group">
                    <label for="product_image">Print Hover Image</label>                
                    <input class="form-control" name="hover_image" id="imageForm" type="file" accept="image/*" data-request="onHoverImageUpload" data-request-validate data-request-files data-request-flash/>
                </div>
            </div> #}
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">       
                    <div id="product_image">{% if product.portfolio_featured_image %} <img width="200" src="{{product.portfolio_featured_image.path}}"/> {% else %} Print Image Preview {% endif %} </div>
                </div>
            </div>
            {# <div class="col-sm-6">
                <div class="form-group">                    
                    <div id="hover_image">{% if product.hover_image %} <img width="200" src="{{product.hover_image.path}}"/> {% else %} Hover Image Preview {% endif %}</div>
                </div>
                </div>
            </div> #}
        </div>
    </fieldset>
    {# <fieldset>
        <legend>Print Slider Images</legend>
        <div class="row"> 
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="gallery">Print Slider Image 1</label>                
                    <input class="form-control" name="image1" id="imageForm" type="file" accept="image/*" data-request="onImage1" data-request-validate data-request-files data-request-flash/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="gallery">Print Slider Image 2</label>                
                    <input class="form-control" name="image2" id="imageForm" type="file" accept="image/*" data-request="onImage2" data-request-validate data-request-files data-request-flash/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="gallery">Print Slider Image 3</label>                
                    <input class="form-control" name="image3" id="imageForm" type="file" accept="image/*" data-request="onImage3" data-request-validate data-request-files data-request-flash/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="gallery">Print Slider Image 4</label>                
                    <input class="form-control" name="image4" id="imageForm" type="file" accept="image/*" data-request="onImage4" data-request-validate data-request-files data-request-flash/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div id="product_image1">
                   
                </div>
            </div>
            <div class="col-sm-3">
                <div id="product_image2"></div>
            </div>
            <div class="col-sm-3">
                <div id="product_image3"></div>
            </div>
            <div class="col-sm-3">
                <div id="product_image4"></div>
            </div>
        </div>
        <div class="row">
            {% for image in product.gallery %}
                <div class="col-sm-3">
                   <img width="200" src="{{product.product_image.path}}"/>
            </div>
            {% endfor %}
        </div>
    </fieldset> #}
    <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Edit Portfolio Item</button>
    </div>
</form>





{# {% set product = DashboardProducts.product %}
{% set manufacturers = DashboardProducts.manufacturers %}
{% set categories = DashboardProducts.categories %}
<h2>Edit product</h2>
<form data-request="onEditProduct" method="post" data-request-validate data-request-files data-request-flash>
    {{ form_token() }}
    {{ form_sessionKey() }}
<input type="hidden" name="user_id" value="{{user.id}}">
<label for="product_name">Product Name</label>
<input type="text" name="product_name" value="{{product.product_name}}">
<label for="product_price">Product Price (N)</label>
<input type="text" name="price" value="{{product.price}}">
<label for="product_reference">Product Reference</label>
<input type="text" name="product_reference" value="{{product.product_reference}}">
<label for="product_excerpt">Product Excerpt (Short description)</label>
<input type="text" name="product_excerpt" value="{{product.product_excerpt}}">
<label for="category_id">Product Category</label>
<select type="text" name="category_id">
        <option value="">Choose a category</option>
    {% for category in categories %}
        <option value="{{category.id}}" {% if product.category_id == category.id %}selected{% endif %}>{{category.category_name}}</option>
    {% endfor %}
</select>
<label for="manufacturer_id">Manufacturer</label>
<select type="text" name="manufacturer_id">
        <option value="">Choose a manufacturer</option>
    {% for manufacturer in manufacturers %}
        <option value="{{manufacturer.id}}" {% if product.manufacturer_id == manufacturer.id %}selected{% endif %}>{{manufacturer.manufacturer_name}}</option>
    {% endfor %}
</select>
<label for="product_description">Product Description</label>
<textarea name="product_description" id="" cols="30" rows="10"></textarea>
<hr>
<label for="product_image">Product Image</label>                
    <input name="product_image" id="imageForm" type="file" accept="image/*" data-request="onImageUpload" data-request-validate data-request-files data-request-flash/>
    <div id="product_image">
        {% if not product.product_image %}
            <img src="{{ 'assets/img/noimg.jpg'|theme }}" alt="Product Images" class="b-radius3 img-responsive">
        {% else %}
                <img src="{{ product.product_image.path }}" alt="Product Image" class="projectimage" />
        {% endif %}
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Edit Product</button>
</form> #}