{% set projectItem = Projects.projectItem %}
<h2>Edit project</h2>
<form data-request="onProjectItemEdit" method="post" data-request-validate data-request-files data-request-flash>
    {{ form_token() }}
    {{ form_sessionKey() }}
<label for="title">Project Name</label>
<input type="text" name="title" value="{{projectItem.title}}">
<label for="description">Project Description</label>
<textarea name="description" id="" cols="30" rows="10">{{projectItem.description}}</textarea>
<hr>
<label for="project_image">Project Item Image</label>                
    <input name="project_item_image" id="imageForm" type="file" accept="image/*" data-request="onItemImageUpload" data-request-validate data-request-files data-request-flash multiple/>
    <div id="project_item_image">
        {% if not projectItem.project_item_image %}
            <img src="{{ 'assets/img/noimg.jpg'|theme }}" alt="Project Item Image" class="b-radius3 img-responsive artisanheaderimage">
          
        {% else %}
                <img src="{{ projectItem.project_item_image.path }}" alt="Project Item Image" width="100" height="100" class="projectimage" />
        {% endif %}
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Edit project</button>
</form>
