{% set project = Projects.project %}
<h2>Edit project</h2>
<form data-request="onProjectEdit" method="post" data-request-validate data-request-files data-request-flash>
    {{ form_token() }}
    {{ form_sessionKey() }}
<label for="project_name">Project Name</label>
<input type="text" name="project_name" value="{{project.project_name}}">
<label for="project_description">Project Description</label>
<textarea name="project_description" id="" cols="30" rows="10">{{project.project_description}}</textarea>
<hr>
<label for="project_images">Project Image</label>                
    <input name="project_image" id="imageForm" type="file" accept="image/*" data-request="onImageUpload" data-request-validate data-request-files data-request-flash multiple/>
    <div id="project_image">
        {% if not project.project_image %}
            <img src="{{ 'assets/img/noimg.jpg'|theme }}" alt="Project Image" class="b-radius3 img-responsive artisanheaderimage">
        {% else %}
           
                <img src="{{ project.project_image.path }}" alt="project Image" width="300" height="300" class="projectimage" />
           
        {% endif %}
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Edit project</button>
    <a href="{{'create-project-items'|page}}" class="btn btn-success">Create Project Items</a>
</form>

<h2>Project Items</h2>
{% if project.projectItem|length > 0 %}
<table class="table table-striped">
        <thead>
            <th>Project Item ID</th>
            <th>Project Item Name</th>
            <th>Project Item Image</th>
        </thead>
        <tbody>
        {% for projectItem in project.projectItem %}
             <tr>
                <td><a href="{{'edit-project-item'|page({'slug':projectItem.slug})}}">{{projectItem.id}}</a></td>
                <td><a href="{{'edit-project-item'|page({'slug':projectItem.slug})}}">{{projectItem.title}}</a></td>  
                <td><img src="{{projectItem.project_item_image.path}}" width="30" height="30" alt=""></td>  
            </tr>
        {% endfor %}
    
        </tbody>
    </table>
{% else %}
<div>
    <p>You currently do not have items for this project. Please click on "Create project item" on the previous page to create one and assign it to this project</p>
</div>
{% endif %}
