
{% for print in user.printsUserLiked %}
{# {{print}} #}
<div class="col-md-3">
							<!-- .pro-text -->
							<div class="pro-text">
							<a href="{{'product-details'| page({'slug':print.favoriteable.slug})}}">
								<!-- .pro-img -->
								{% if print.favoriteable.hover_image %}
								<div class="pro-img"> <img class="mainimage" src="{{print.favoriteable.product_image.path}}" alt="2"><img class="altimage" src="{{print.favoriteable.hover_image.path}}" alt="2">
								{% else %}
									<div class="pro-img"> <img class="" src="{{print.favoriteable.product_image.path}}" alt="2">
								{% endif %}
							
									<!-- .hover-img -->
									
									{% if print.favoriteable.sale_off %}
                            {# <div class="discount tage">
                                <span class="pres-text">-{{print.favoriteable.sale_amount}}%</span>
                                
                            </div> #}
            {% elseif print.favoriteable.new %}
                <div class="new tage">
                                <span class="new-text">NEW</span>
                            </div>
            {% elseif print.favoriteable.sale_off and print.favoriteable.new %}
                            {# <div class="new tage">
							<span class="new-text">NEW</span>
                                <span class="discount-text">-{{print.favoriteable.sale_amount}}%</span>
                            </div> #}
            {% endif %}
									<!-- /.hover-img -->
								</div>

								<!-- /.pro-img -->
								<a style="display:block !important; padding-top:20px" href="{{'product-details'| page({'slug':print.favoriteable.slug})}}">
									{{str_limit(print.favoriteable.product_name,15)}} 
								</a> 
								{# <span style="font-size:10px" class="pull-right"> <i class="fa fa-heart"></i>&nbsp; {{print.favoriteable.favorites_count}} 
									</span> #}
								<div style="height:25px">
								{% if print.favoriteable.user %}
									<a href="{{'profile'|page({'display_name':print.favoriteable.user.display_name})}}" style="position: relative !important; top:-10px;">
										<span style="font-size:10px">by {{print.favoriteable.user.name}} {{print.favoriteable.user.surname}}</span>
									</a>
								{% endif %} 
								</div>
									{# <form id="myCart_form" data-request="onAddToCart" data-request-flash class="cart" method="post" enctype='multipart/form-data' style="display: inline-block">
										<input type="hidden" name="quantity" value="1" />
										<input type="hidden" name="size" value="12cmx18cm-5x7" />
										{% set printPrice = print.favoriteable.prices|first %}
										<input type="hidden" name="size" value="5 x 7" />
										<input type="hidden" name="frame" value="gold" />
										
										<input type="hidden" name="price" value="{{print.favoriteable.base_price.base_price}}" />
										<input type="hidden" name="product" value="{{print.favoriteable.id}}" />
									 	<a href="#" class="addtocart submit">+ Add to cart</a>
								 	</form> #}
								{# <div class="price">NGN {{ print.favoriteable.base_price.base_price }}</div> #}
							</div>
							<!-- /.pro-text -->
							</a>
						</div>
                        
{% endfor %}
