{# <div class="sidebar-wrapper">
    
    <ul class="dashboardnav">
        <li class="{% if this.page.id == 'my-account' %}active{% endif %}">
            <a href="{{'my-account' | page}}">
                <i class="ti-panel"></i>
                
                <p>Profile</p>
                
            </a>
        </li>
       
        {% if user.regular == 1 %}
        
        <li class="{% if this.page.id == 'orders' %}active{% endif %}">
            <a href="{{'orders'|page}}">
                <i class="ti-pencil-alt2"></i>
                <p>Orders</p>
            </a>
        </li>
        

        {% else %}
         <li class="{% if this.page.id == 'products' %}active{% endif %}">
            <a href="{{'dashboard-products' | page}}">
                <i class="ti-pencil-alt2"></i>
                <p>Prints</p>
            </a>
        </li>
        {% endif %}
       
    </ul>
</div> #}
<div class="admin-sidebar">
		<a href="/" class="hidden-md-down">
			<img src="{{'assets/images/sidebar-logo.jpg'|theme}}" alt="" class="admin-sidebar-logo" style="width:100% !important;">
		</a>
		
		<a href="#" class="btn btn-block hidden-md-down" style="text-align:left; text-transform:capitalize; margin-top: -50px"><span style="color:#fff; font-weight:bold">Welcome,</span><br><span style="color:#fff; font-weight:100; font-size:13px">{{user.name}} {{user.surname}}</span></a>
		
		<div class="dashboard-nav-primary collapse navbar-toggleable-md">
			<ul class="nav nav-pills nav-stacked">
				<li class="nav-item">
					<a href="{{'my-account'|page}}" class="nav-link {% if this.page.id == 'my-account' %}active{% endif %}"><i class="md-icon">dashboard</i> My Dashboard</a>
				</li>
				<li class="nav-item">
					<a href="{{'settings'|page}}" class="nav-link {% if this.page.id == 'settings' %}active{% endif %}"><i class="md-icon">settings</i> My Account Settings</a>
				</li>
                {% if user.type_id == 2 %}
				<li class="nav-item">
					<a href="{{'dashboard-prints'|page}}" class="nav-link {% if this.page.id == 'create-print' or this.page.id == 'dashboard-prints' %}active{% endif %}"><i class="md-icon">photo</i> My Gallery</a>
				</li>
                {% elseif user.type_id == 3 %}
                <li class="nav-item">
					<a href="{{'dashboard-portfolio'|page}}" class="nav-link "><i class="md-icon">folder</i> My Portfolio </a>
				</li>
				<li class="nav-item">
					<a href="{{'decor-orders'|page}}" class="nav-link "><i class="md-icon">book</i> Jobs Requested </a>
				</li>
                {% endif %}

                <li class="nav-item">
					<a href="{{'orders'|page}}" class="nav-link {% if this.page.id == 'orders' or this.page.id == 'orderdetails' %}active{% endif %}"><i class="md-icon">shopping_cart</i> My Orders</a>
				</li>

				<li class="nav-item">
					<a href="#" class="nav-link "><i class="md-icon">rate_review</i> My Reviews & Ratings</a>
				</li>

				<li class="nav-item">
					<a href="{{'dashboard-likes'|page}}" class="nav-link {% if this.page.id == 'dashboard-likes' %}active{% endif %}"><i class="md-icon">favorite</i> My Likes / Wishlist</a>
				</li>

				<li class="nav-item">
					<a data-request="onLogout" data-request-data="redirect: '/'" style="cursor: pointer" class="nav-link"><i class="md-icon">power_settings_new</i> Logout</a>
				</li>
			</ul>
		</div>

		<hr class="hidden-md-down">

		{# <div class="hidden-md-down">
			<h2>Recent Activity</h2>

			<ul class="recent">
				<li><img src="{{'assets/dashboard2/assets/img/tmp/profile-1.jpg' | theme}}" alt=""> <a href="#">Adam Smith</a> has added new listing into <a href="#">properties</a> category.</li>
				<li><img src="{{'assets/dashboard2/assets/img/tmp/profile-2.jpg' | theme}}" alt=""> <a href="#">Kim Makin</a> is asking for the agent role with review provilege.</li>
				<li><img src="{{'assets/dashboard2/assets/img/tmp/profile-3.jpg' | theme}}" alt=""> <a href="#">Kilee Baker</a> has created new account</a> category.</li>						
			</ul>
		</div> #}
	</div><!-- /.admin-sidebar -->