<form data-request="onUpdate" method="post" data-request-validate class="form-group" enctype="multipart/form-data" id="userform" data-request-validate data-request-files data-request-flash>
    {{ form_token() }} {{ form_sessionKey() }}
    <div class="admin-box">
        {% if user.type_id == 3 or user.type_id == 2 %}
            <fieldset>
            <legend>Header Image</legend>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Header Image</label>
                        <div id="backImage">
                            {% if user.backImage %}
                                <img width="300" src="{{user.backImage.path}}" alt="">
                            {% endif %}
                        </div>
                        <input type="file" data-request="onBackImageUpload" name="backImage" class="form-control" data-request-validate data-request-files data-request-flash>
                    </div>
                    <!-- /.form-group -->
                </div>
                
                
                <!-- /.col-* -->
            </div>

            <!-- /.row -->
        </fieldset>
        <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
            <div class="clearfix"></div>
            <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Save</button>
        </div>        
        {% endif %}
        <fieldset>
            <legend>Social</legend>

            

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Profile</label>
                        <div id="avatar">
                            {% if user.avatar %}
                                <img width="150" src="{{user.avatar.path}}" alt="">
                            {% endif %}
                        </div>
                        <input type="file" data-request="onAvatarUpload" name="avatar" class="form-control" data-request-validate data-request-files data-request-flash>
                    </div>
                    <!-- /.form-group -->
                </div>
                {% if user.type_id == 3 or user.type_id == 2 %}
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Display Name</label>
                        <input type="text" class="form-control" name="display_name" value="{{user.display_name}}">
                    </div>
                    <!-- /.form-group -->
                </div>
                {% endif %}
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>e-mail</label>
                        <input type="text" class="form-control" name="email" value="{{user.email}}">
                    </div>
                    <!-- /.form-group -->
                </div>
                {% if user.type_id == 3 or user.type_id == 2 %}
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Instagram</label>
                        <span style="font-size:10px">Your instagram handle without the "@"</span>
                        <input type="text" class="form-control" name="instagram" placeholder="ex:kokore" value="{{user.instagram}}">
                    </div>
                    <!-- /.form-group -->
                </div>
                
                <div class="col-sm-4">
                    <label>Bio</label>
                    <textarea name="bio" class="form-control" form="userform">{{user.bio}}</textarea>
                </div>
                {% endif %}
                {% if user.type_id == 3 %}
                    <div class="col-sm-4">
                    <label>Available for jobs this week?</label>
                    <input type="checkbox" name="available" class="form-control" form="userform" value="{{user.available}}" {% if user.available == 1 %} checked {% endif %}/>
                </div>
                {% endif %}
                <!-- /.col-* -->
            </div>

            <!-- /.row -->
        </fieldset>
        <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
            <div class="clearfix"></div>
            <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Save</button>
        </div>
{# </form> #}

{# <form data-request="onUpdate" method="post"  data-request-validate class="form-group" enctype="multipart/form-data"> #}
    {# {{ form_token() }} {{ form_sessionKey() }} #}
    <fieldset>
        <legend>Personal Information</legend>

        <div class="row">

            <div class="col-sm-4">
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" name="name" value="{{user.name}}">
                </div>
                <!-- /.form-group -->
            </div>


            <div class="col-sm-4">
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" name="surname" value="{{user.surname}}">
                </div>
                <!-- /.form-group -->
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label>Phone Number</label>

                    <input type="text" class="form-control" name="phone_number" value="{{user.phone_number}}">
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col-* -->
        </div>
        <!-- /.row -->
    </fieldset>
    <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Save</button>
    </div>

{# </form> #}

{# <form data-request="onUpdate" method="post" data-request-validate class="form-group" enctype="multipart/form-data"> #}
    {# {{ form_token() }} {{ form_sessionKey() }} #}

    <fieldset>
        <legend>Billing Information</legend>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Address 1</label>

                    <input type="text" class="form-control" name="address1" value="{{user.address1
                    }}">
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Address 2</label>

                    <input type="text" class="form-control" name="address2" value="{{user.address2}}">
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" name="city" value="{{user.city}}">
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control" name="state" value="{{user.state}}">
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" name="country" value="{{user.country}}">
                </div>
                <!-- /.form-group -->
            </div>
        </div>
        <!-- /.row -->
    </fieldset>
    <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Save</button>
    </div>
{# </form> #}

{# <form data-request="onUpdate" method="post" data-request-validate class="form-group" enctype="multipart/form-data"> #}
    {# {{ form_token() }} {{ form_sessionKey() }} #}

    <fieldset>
        <legend>Change Password</legend>

        <div class="row">


            <div class="col-sm-4">
                <div class="form-group">
                    <label>New password</label>
                    <input type="text" class="form-control" name="password" type="password" id="accountPassword">
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col-* -->

            <div class="col-sm-4">
                <div class="form-group">
                    <label>Retype Password</label>
                    <input type="text" class="form-control" name="password_confirmation" type="password" id="accountPasswordConfirm">
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col-* -->
        </div>
        <!-- /.row -->
    </fieldset>
    <div class="col-md-12" style="width:100%; margin: 0 auto; bottom:18px !important;">
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary" style="margin:0 auto; text-align:center">Save</button>
    </div>
    </div>
</form>
