{% set manufacturers = __SELF__.manufacturers %} {% set manufacturer = __SELF__.manufacturer %} {% if manufacturers %}
<main class="btx-content btx-content--with-header" id="main">
    <article id="post-221" class="btx-content-wrapper post-221 page type-page status-publish hentry">

        <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme" style="height:60vh;"
            data-role="header" data-scheme="dark">
            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                <div class="btx-background-wrapper">
                    <div class="btx-background-inner" style="background-image:url({{'assets/images/manufacturers.jpg'|theme}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                </div>

                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#333; opacity:0.4;"></div>
            </div>
            <div class="btx-page-hero-inner btx-container">
                <div class="btx-page-hero-wrapper btx-center-align">
                    <div class="btx-page-hero-content btx-middle-vertical">
                        <div class="btx-page-hero-content-wrapper btx-center-align" style="max-width:550px;">

                            <div class="btx-page-hero-body">

                                <div class="btx-page-hero-body-title">
                                    <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.02em; font-weight: 300">Manufacturers</h1>
                                </div>

                                <!--  <div class="btx-page-hero-subtitle btx-page-hero-subtitle--bottom btx-primary-font"><span style="color: rgb(255, 255, 255);">Basic, yet versatile layout for any purpose. Use the aspect ratio option to help creating grid easily and beautifully.</span></div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </article>
    <div class="btx-main btx-main--single">
        <div class="btx-main-wrapper">
            <section class="btx-section js-dynamic-navbar btx-p-border-border btx-dark-scheme" data-index="0" data-scheme="dark">
                <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                    <!-- <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#232323; opacity:1;"></div> -->
                    <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#fff; opacity:1;"></div>
                </div>
                <div class="btx-section-wrapper" style="padding-top:0px;">
                    <div class="btx-container">
                        <div class="btx-row">
                            <div class="btx-col-12">
                                <div class="btx-item js-item-divider btx-divider btx-divider--gradient btx-center-align" style="margin-top:60px; margin-bottom:60px;">
                                    <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px; background:#cccccc; background:-webkit-linear-gradient(left, transparent, #cccccc, transparent);background:linear-gradient(to right, transparent, #cccccc, transparent); ">
                                    </div>
                                </div>


                                <div class="btx-page-hero-subtitle btx-page-hero-subtitle--bottom btx-primary-font btx-center-align">
                                    <span style="color: rgb(0, 0, 0); font-weight: 200">Browse through local and international Brands and Manufacturer profiles,<br/>
View product information and indicative prices &amp;<br/>
Source solutions for your project.</span>
                                </div>


                                <div class="btx-item js-item-divider btx-divider btx-divider--gradient btx-center-align" style="margin-top:60px; margin-bottom:60px;">
                                    <div class="btx-divider-line btx-p-border-bg btx-p-border-border" style="width:100%; height:1px; background:#cccccc; background:-webkit-linear-gradient(left, transparent, #cccccc, transparent);background:linear-gradient(to right, transparent, #cccccc, transparent); ">
                                    </div>
                                </div>


                            </div>
                        </div>
                        
                        <div class="btx-row btx-row--main">
                            <div class="btx-col-12">
                        
                                <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade=""
                                        data-mobileparallax="">
                                        <div class="btx-background-overlay " style="background-color:#ffffff; opacity:0.9;"></div>
                                    </div>
                                    <div class="btx-box-inner" data-height="">
                                        <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                            <div class="btx-box-body" style="padding-top:40px; padding-right:12%; padding-left:12%; padding-bottom:80px;">
                                                <div class="btx-item js-item-portfolio btx-portfolio btx-portfolio--grid btx-center-align">
                                                    <ul class="btx-filter-bar btx-portfolio-filter btx-left-align btx-secondary-font">
                                                        <li class="btx-filter-list btx-filter-list--all">
                                                            <a href="#" class="js-portfolio-filter btx-p-text-color active" data-filter="all">All</a>
                                                        </li>
                                                        {% for letter in 'a'..'z' %}
                                                            <li class="btx-filter-list">
                                                                <a href="#" class="js-portfolio-filter btx-p-text-color" data-filter="{{letter|upper}}">{{ letter }}
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <div class="btx-portfolio-content" style="margin: 0px -15px; position: relative; height: auto;">
                                                        {% for manufacturer in manufacturers %}
                                                        {% if manufacturer.published %}
                                                        <article class="btx-entry btx-col-3 post-7427 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry"
                                                            style="padding: 0px 15px; margin-bottom: 30px; position: absolute; left: 0px; top: 0px;"
                                                            data-filter="{{manufacturer.manufacturer_name|slice(0,1)}}">
                                                            <div class="btx-entry-inner ">
                                                                <a href="{{'manufacturers'| page({'slug':manufacturer.slug})}}" class="btx-entry-header ">
                                                                    <div class="btx-entry-media">
                                                                        <div class="btx-media-wrapper">
                                                                            <div class="btx-media-wrapper-inner">
                                                                                <img src="{{manufacturer.manufacturer_image_url}}"
                                                                                    alt="" width="300" height="225">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <div class="btx-entry-body" style="padding:30px;">
                                                                    <div class="btx-entry-body-inner">
                                                                        <div class="btx-entry-body-wrapper">
                                                                            <div class="btx-entry-body-content">
                                                                                <h4 class="btx-entry-title btx-s-text-color btx-secondary-font"
                                                                                    style="font-size:16px; color: #000 !important">
                                                                                    <a href="{{'manufacturers'| page({'slug':manufacturer.slug})}}">{{manufacturer.manufacturer_name}}</a>
                                                                                </h4>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
            </section>
            </div>
        </div>

        </article>
</main>
{% endif %} {% if manufacturer %} {# Single manufacturer page #}
<main id="main" class="btx-content btx-content--with-header">
    <article id="post-7427" class="btx-content-wrapper post-7427 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-a">
        <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme" data-role="header"
            data-scheme="dark">
            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;">

                </div>
            </div>
            <div class="btx-page-hero-inner btx-container">
                <div class="btx-page-hero-wrapper btx-center-align">
                    <div class="btx-page-hero-content btx-middle-vertical">
                        <div class="btx-page-hero-content-wrapper btx-center-align">
                            <div class="btx-page-hero-body">
                                <div class="btx-page-hero-body-title">
                                    <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font">
                                        <span style="font-weight:300">{{manufacturer.manufacturer_name}}</span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <div class="btx-main btx-main--single">
            <div class="btx-main-wrapper">
                <div class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                    <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-wrapper" style="height: 516.8px; transform: translateY(16.2031px);">
                            <div class="btx-background-inner" style="background-image:url({{'assets/images/dot-pattern.png'|theme}}); background-size:auto; background-position:center center; background-repeat:repeat;">

                            </div>
                        </div>
                    </div>
                    <div class="btx-section-wrapper" style="padding-top:80px; padding-bottom:40px;">
                        <div class="btx-container">
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-3">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                            <div class="btx-background-overlay " style="opacity:0.9;">

                                            </div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:40px; padding-right:5%; padding-left:5%; padding-bottom:30px;">
                                                    <div class="btx-item js-item-image btx-image btx-center-align">
                                                        <div class="btx-image-container">
                                                            <div class="btx-media-wrapper">
                                                                <div class="btx-media-wrapper-inner">
                                                                    <img src="{{manufacturer.manufacturer_image_url}}" alt="" width="300" height="225" srcset="{{manufacturer.manufacturer_image_url}} 300w"
                                                                        sizes="(max-width:300px) 100vw, 300px">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-col-9">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border">
                                        <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                                            <div class="btx-background-overlay " style="opacity:0.9;">

                                            </div>
                                        </div>
                                        <div class="btx-box-inner" data-height="">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-top:40px; padding-right:3%; padding-left:3%; padding-bottom:30px;">
                                                    <div class="btx-item js-item-text btx-text company-profile btx-justify-align btx-primary-font" style="margin-top:6px;">
                                                        <div class="btx-row" style="margin:0 -30px;">
                                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                                <div class="btx-text-content-inner">
                                                                    <span class="font-style">{{manufacturer.manufacturer_description|raw}}
                                                                        <br>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btx-background">
                    <div class="btx-background-overlay"></div>
                </div>
                <div class="btx-section-wrapper">
                    {% partial __SELF__~'::manufacturerproducts' %} {#
                    <div class="btx-container--fullwidth">
                        <div class="btx-row btx-row-main"></div>
                        <div class="btx-row btx-row-main">
                            <div class="btx-col-3">
                                <div data-scrollmagic-pin-spacer class "scrollmagic-pin-spacer" style="top: auto; left: auto; bottom: auto; right: auto; margin: 0px; display: block; position: relative; box-sizing: content-box; min-height: 561px; height: auto; padding-top: 0px; padding-bottom: 1064px;">
                                    <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-light-scheme btx-box--pinned" data-pinned="#box-1"
                                        style="position: relative; margin: auto; top: 0px; left: 0px; bottom: auto; right: auto; box-sizing: border-box; width: 100%;">
                                        <div class="btx-box-inner" style="height:auto;" data-height="auto">
                                            <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                                <div class="btx-box-body" style="padding-right:5%">
                                                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                            <span class="font-style" style="font-size:24px">Product Catalogue</span>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-col-9">
                                <div class="btx-item js-item-box btx-box btx-center-align btx-p-border-border btx-light-scheme" id="box-1">
                                    <div class="btx-box-inner" style="height:auto;" data-height="auto">
                                        <div class="btx-box-content btx-middle-vertical" style="overflow-y:hidden;">
                                            <div class="btx-box-body" style="padding-top:0px; padding-right:0px; padding-left:0px; padding-bottom:0px;">
                                                <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align">
                                                    <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border">
                                                        <span class="font-style" style="font-size: 24px;">Selected Products</span>
                                                    </h3>
                                                </div>
                                                <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                                    <div class="btx-row" style="margin:0 -30px;">
                                                        <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                            <div class="btx-text-content-inner">
                                                                <div class="woocommerce columns-4">
                                                                    <div class="products btx-item js-item-product btx-product btx-product--standard btx-product-layout--grid btx-center-align btx-product-no-rating">
                                                                        <div class="btx-product-content" style="position: relative; height: 1560.62px;">
                                                                            {% partial __SELF__~'::manufacturerproducts' %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> #}

                </div>







            </div>

        </div>



























    </article>
</main>





















{% endif %}

