{% set products = __SELF__.products %}
{# {% for product in products %} #}
    {# <article class="btx-entry first btx-col-3 btx-entry-light-scheme post-10107 product type-product status-publish has-post-thumbnail product_cat-electrical-installations product_cat-transformers-and-rmus product_tag-abb  instock purchasable product-type-simple"
        style="position: absolute; left: 0px; top: 0px;">
        <div class="btx-entry-inner btx-product-entry-content btx-with-spacing">
            <div class="btx-product-entry-media btx-product-entry-media--still"> <a class="btx-product-entry-image" href="{{'product'|page({'slug':product.slug})}}"><img width="350" height="435" src="{{product.product_image_link}}" data-lazy-src="{{product.product_image_link}}" class="attachment-shop_catalog size-shop_catalog wp-post-image     lazyloaded" alt=""><noscript><img width="350" height="435" src="{{product.product_image_link}}" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="" /></noscript> </a></div>
            <div class="btx-product-entry-info">
                <div class="btx-product-entry-info-wrapper">
                    <div class="btx-product-entry-info-inner">
                        <h4 class="btx-product-entry-title btx-secondary-font"> <a class="btx-s-text-color" href="{{'product'|page({'slug':product.slug})}}">{{product.product_name|raw}}</a></h4>
                        <div class="btx-product-entry-meta"></div>
                    </div>
                </div>
            </div>
        </div>
    </article> #}

    <div class="btx-container">
                        <div class="btx-row btx-row--main">
                            <div class="btx-col-12">
                                <div class="btx-item js-item-product btx-product btx-product--onhover btx-left-align btx-product-layout--masonry woocommerce btx-product-no-rating">

                                    <div class="btx-product-content" style="margin:0 -10px;">
                                        {% for product in products %} {% if not product.published %}
                                        <article class="btx-entry btx-col-4 post-3036 product type-product status-publish has-post-thumbnail product_cat-eyewear product_tag-glasses first instock sale shipping-taxable product-type-grouped"
                                            style="padding:0 40px; margin-bottom:15px;" data-filter="{{product.category.slug}}">
                                            <div class="btx-entry-inner btx-product-entry-content btx-with-background">
                                                <div class="btx-product-entry-media btx-product-entry-media--still">
                                                   
                                                    <a class="btx-product-entry-image" href="{{'product'|page({'slug':product.slug})}}">

                                                     
                                                        <img width="624" height="800" src="{{product.product_image_link}}" class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                                            alt="{{product.product_name|raw}}" title="{{product.category.slug}}"
                                                        />
                                                    </a>

                                                </div>

                                                <div class="btx-product-entry-info2">
                                                    <div class="btx-product-entry-info-wrapper">
                                                        <div class="btx-product-entry-info-inner" style="background-color:rgba(255,255,255,1);">
                                                            <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:13px;">
                                                                <a class="btx-s-text-color" href="{{'product'|page({'slug':product.slug})}}">{{product.product_name | raw}}</a>
                                                            </h4>
                                                            <div class="btx-product-entry-meta btx-primary-font">

                                                                <span class="price">
                                                                    <span class="woocommerce-Price-amount amount">
                                                                        <span class="woocommerce-Price-currencySymbol"></span>{{product.price}}</span>
                                                                </span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        {% endif %} {% endfor %}


                                    </div>


                                </div>

                            </div>
                        </div>
                         <div style="width: 30%; margin: 0 auto; text-align: center">
                            <div>
                                {{ products.render|raw }}
                            </div>
                            
                        </div>
                    </div>
                    
{# {% endfor %} #}
