{% set slides = __SELF__.slides %}
{# <div id="slider-wrap">
      	  <ul id="slider">
			{% for slide in slides %}
          	 <li>
                <div >
                    <h3>{{slide.heading}}</h3>
                    <span>{{slide.subheading}}</span>
                    {% if slide.button_link %}
                    <div class="sliderbutton">
                        <a data-scroll class="btn get-start animated fadeInUpBig" href="{{slide.button_link}}"><span>{{slide.button_label}}</span></a>
                    </div>
                    {% endif %}
                </div>                
                <img src="{{slide.image.path}}" alt="">
             </li>
			 {% endfor %}
          </ul>
          <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
          <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
          <div id="counter"></div>
          
          <div id="pagination-wrap">
            <ul>
            </ul>
          </div>
      </div>
#}

<section class="section-white">
  <div class="container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for slide in slides %}
                <li data-target="#carousel-example-generic" data-slide-to="{{loop.index}}" class="{% if loop.index == 1 %} active {% endif %}"></li>
            {% endfor %}
            {# <li data-target="#carousel-example-generic" data-slide-to="1"></li> #}
            {# <li data-target="#carousel-example-generic" data-slide-to="2"></li> #}
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for slide in slides %}
                <div class="item secondarySlider {% if loop.index == 1 %}active{% endif %}">
                    <img src="{{slide.image.path}}" alt="">
                    <div class="carousel-caption">
                        <h2>{{slide.heading}}</h2>
                        <h6>{{slide.subheading}}</h6>
                        {# <button href="{{slide.button_link}}">{{slide.button_label}}</button> #}
                    </div>
                </div>
            {% endfor %}
            {# <div class="item">
            <img src="http://placehold.it/800x400" alt="...">
            <div class="carousel-caption">
                <h2>Heading</h2>
            </div>
            </div> #}
            {# <div class="item">
            <img src="http://placehold.it/800x400" alt="...">
            <div class="carousel-caption">
                <h2>Heading</h2>
            </div>
            </div> #}
        </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>

  </div>
</section>

      

{# <div class="container">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://placehold.it/800x400" alt="...">
          <div class="carousel-caption">
            <h2>Heading</h2>
          </div>
        </div>
        <div class="item">
          <img src="http://placehold.it/800x400" alt="...">
          <div class="carousel-caption">
            <h2>Heading</h2>
          </div>
        </div>
        <div class="item">
          <img src="http://placehold.it/800x400" alt="...">
          <div class="carousel-caption">
            <h2>Heading</h2>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>

  </div> #}




