{% set slides = __SELF__.slides %}

<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
			<!-- .home-slider -->
			<div class="carousel-inner">
				{% for slide in slides %}
				<div class="item {% if slide == slides|first %} active {% endif %}" style="background-image: url({{slide.slide.path}});  background-repeat: no-repeat; background-position: top;">
					<div class="caption">
						<h2 class="animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">{{slide.header|raw}}</h2>
						<p class="animated wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">{{slide.subheader|raw}}</p> 
						<a data-scroll class="btn get-start animated fadeInUpBig" href="{{slide.button_link}}"><span>{{slide.button_label}}</span></a> </div>
				</div>
				{% endfor %}
				{# <div class="item active" style="background-image: url({{'assets/images/header-2.jpg'|theme}});  background-repeat: no-repeat; background-position: top;">
					<div class="caption">
						<h2 class="animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">Handmade<br> Hand Carved Coffee</h2>
						<p class="animated wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">As rich and unique as the coffee beans it is intended for, this little scoop will make your morning ritual a special occasion every day. </p> <a data-scroll class="btn get-start animated fadeInUpBig" href="#"><span>view collection</span></a> </div>
				</div>
				<div class="item" style="background-image: url({{'assets/images/header-3.jpg'|theme}});  background-repeat: no-repeat; background-position: top;">
					<div class="caption">
						<h2 class="animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">Handmade<br> Hand Carved Coffee</h2>
						<p class="animated wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">As rich and unique as the coffee beans it is intended for, this little scoop will make your morning ritual a special occasion every day. </p> <a data-scroll class="btn get-start animated fadeInUpBig" href="#"><span>view collection</span></a> </div>
				</div> #}
				<!-- indicators -->
				<ol class="carousel-indicators">
					{% for slide in slides %}
						<li data-target="#home-slider" data-slide-to="{{slide.id}}" {% if slide == slides|first %} class="active" {% endif %} ></li>
					{% endfor %}
					{# <li data-target="#home-slider" data-slide-to="1" class=""></li>
					<li data-target="#home-slider" data-slide-to="2" class=""></li> #}
				</ol>
				<!-- /indicators -->
			</div>
			<!-- /.home-slider -->
		</div>