[Community]
==
{% set urlUser = Community.urlUser %}
{% set canEdit = Community.canEdit %}
<main class="btx-content btx-content--with-header" id="main"> 
    <article id="post-1065" class="btx-content-wrapper post-1065 page type-page status-publish hentry" style="padding-top:0px !important">

        <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked" style="height:400px;" data-role="header">
            
            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                <div class="btx-background-wrapper" style="height: 370.4px; transform: translateY(-13px);">
                
                    <div class="btx-background-inner" style="background:linear-gradient(rgba(20,20,20, .45),rgba(20,20,20, .45)),url({{urlUser.header_image.path}}); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                </div>
            </div>
            {# <div class="btx-item js-item-image btx-image btx-center-align">
                <div class="btx-image-container">
                    <img src="{{urlUser.avatar.path}}" alt="" style="max-width:100%;" width="320" height="320" class="img-responsive">
                </div>
            </div> #}
            <div class="btx-page-hero-inner btx-container">
                <div class="btx-page-hero-wrapper btx-left-align">
                    <div class="btx-page-hero-content btx-bottom-vertical">
                        <div class="btx-page-hero-content-wrapper btx-left-align" style="max-width:1080px;">
                            <div class="btx-team-media" style="position:absolute; float:left">
                                    <img src="{{urlUser.avatar.path}}" width="300" height="300" alt="">
                                </div>
                            <div class="btx-page-hero-body" style="margin-left: 350px; color: white !important">
                                
                                <div class="btx-page-hero-body-title" >
                                    {% if urlUser.company or urlUser.supplier %}
                                    <h5 class="btx-page-hero-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.01em; color:white !important">{{urlUser.company_name}}</h5>
                                    
                                    {% else %}
                                        <h5 class="btx-page-hero-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.01em; color:white !important">{{urlUser.name}} {{urlUser.surname}}</h5>
                                    {% endif %}

                                    <h5><a href="{{'my-account'|page}}">Manage Account</a></h5>
                                </div>

                                <div class="btx-page-hero-subtitle btx-page-hero-subtitle--bottom btx-primary-font"><b>{{urlUser.profession.profession_name}} {% if urlUser.professional %} | {{urlUser.company_name}}{% endif %}</b></div>
                                <div>
                                {% if canEdit %}
                                    <input type="file" accept="image/*" id="headerimgupload" style="display:none" name="header_image" data-request="onChangeHeaderImage" data-request-validate data-request-files data-request-flash/>   
                                    <input type="file" accept="image/*" id="profileimgupload" style="display:none" name="avatar" data-request="onChangeProfileImage" data-request-validate data-request-files data-request-flash/>        
                                    <button id="uploadHeaderImage">Change Cover photo</button> <button id="uploadProfileImage">Change Profile Picture</button>
                                {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="btx-main2 btx-main--single">
            <div class="btx-main-wrapper">
                <div class="btx-item js-item-share btx-share btx-share--minimal btx-center-align" style="margin-top:20px;">
                    <ul class="btx-social-share btx-social-share--minimal" style="font-size:14px;">
                        <li class="btx-p-border-border btx-share-item">
                            <a href="{{'profile'|page}}" class="" style="color:#898989;">Profile</a>
                        </li>
                        <li class="btx-p-border-border btx-share-item">
                            <a href="{{'projects'|page}}" class="" style="color:#898989;">Projects</a>
                        </li>
                        {# <li class="btx-p-border-border btx-share-item">
                            <a href="{{'projects'|page}}" class="" style="color:#898989;">Connections</a>
                        </li>
                        <li class="btx-p-border-border btx-share-item">
                            <a href="{{'projects'|page}}" class="" style="color:#898989;">Company</a>
                        </li>
                        <li class="btx-p-border-border btx-share-item">
                            <a href="{{'projects'|page}}" class="" style="color:#898989;">Articles</a> #}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        