{% set mini = __SELF__.mini %}
{% set full = __SELF__.full %}
{% set free = __SELF__.free %}
<!-- section pricing tables -->
<section id="price" class="price with-line">

	<div class="container">
		
		<!-- section header -->
		<div class="section-header">
			<span class="back-text">Package</span>
			<h2>Pick your Package</h2>
		</div>

		<div class="row">
			
			<!-- column -->
			<div class="col-sm-4">
				<!-- price table -->
				<div class="price-table box-shadow wow slideInUp">
					<h4 class="title">{{mini.package_name}} design</h4>
					<h2 class="price">~<em>N</em>{{mini.cost|number_format(2, '.', ',')}}</h2>
					<ul class="item-options">
						<li style="font-size:11px">best for</li>
						<li>final touches to a space</li>
						<li>seasonal refresh</li>
						{# <li>White Labeling</li> #}
					</ul>
					<form data-request="onMiniPackage">
						<input type="hidden" value="mini" name="package">
						<a class="btn btn-outline choosepackage" style="color:#000 !important">Select Mini</a>
					</form>
					<h2></h2>
					<h2></h2>
					<ul style="font-size:10px; line-height:10px; text-align:left; padding-bottom:8px;">
						<li><b>3 ideas</b> to capture the vibe and style</li>
						<li><b>1 design concept</b></li>
						<li>Up to <b>2 rounds of design revisions</b></li>
						{# <li>White Labeling</li> #}
					</ul>
				</div><br>
				<div style="margin:0 auto; width: 100%; text-align: center">
				<p><span style="font-size:10px"><strong>1 - 2 weeks</strong> of design time | <strong>1 week</strong> of post-design support</span></p>
				<div style="margin-top:-15px;"> <span style="font-size:10px"><strong>2</strong> Spaces maximum (extra cost for additional spaces)</span></div>
				</div>
			</div>
			
			<!-- column -->
			<div class="col-sm-4">
				<!-- price table recommended -->
				<div class="price-table price-table-black recommended box-shadow wow slideInUp" data-wow-delay=".5s">
					<h4 class="title">{{full.package_name}} design</h4>
					<h2 class="price">~<em>N</em>{{full.cost|number_format(2, '.', ',')}}</h2>
					<h6 class="subtext">*get a <b>N5,000 credit when you spend N30,000</b><br/>on furniture or decor</h6>
					<ul class="item-options" style="color:#fff !important">
						<li style="font-size:11px">best for</li>
						<li>Room makeovers, a</li>
						<li>blank canvas</li>
					</ul>
					<form data-request="onFullPackage">
						<input type="hidden" value="full" name="package">
						<a class="btn btn-outline-light choosepackage" style="color:#fff !important">Select Full</a>
					</form>
					
					<h2></h2>
					{# <h2></h2> #}
					<ul style="font-size:10px; line-height:10px; text-align:left; padding-bottom:8px; color:#fff">
						<li><b>3 ideas</b> to capture the vibe and style</li>
						<li><b>1 design</b> concept</li>
						<li><b>3D room layout</b> visualization</li>
						<li><b>Custom</b> floor plan</li>
						<li>Up to <b>2 rounds of design revisions</b></li>
					</ul>
				</div><br>
				<div style="margin:0 auto; width: 100%; text-align: center">
				<p><span style="font-size:10px"><strong>2 - 3 weeks</strong> of design time | <strong>2 weeks</strong> of post-design support</span></p>
				<div style="margin-top:-15px;"> <span style="font-size:10px;"><strong>4</strong> Spaces maximum (extra cost for additional spaces)</span></div>
				</div>
			</div>

			<div class="col-sm-4">
				<!-- price table -->
				<div class="price-table box-shadow wow slideInUp">
					<h4 class="title">Chat with a designer</h4>
					<h2 class="price" style="font-size:14px">Free</h2>
					<ul class="item-options" style="font-weight:100">
						<li style="font-size:11px">best for</li>
						<li>Try us out! Ask specific</li>
						<li>product/style question</li>
						{# <li>White Labeling</li> #}
					</ul>
					<h6 class="subtext" style="margin-bottom:5px">we're open - <b>Chat now</b></h6>
					<form data-request="onFreePackage">
						<input type="hidden" value="full" name="package">
						<a href="https://wa.me/2348090662007" target="_blank" class="btn btn-outline" style="color:#000 !important">Start</a>
					</form>
					<h2></h2>
					<h2></h2>
					<ul style="font-size:10px; line-height:10px; text-align:left; padding-bottom:8px; font-weight:100">
						<li><b>Sat - Thurs:</b> 9am - 6pm</li>
						<li><b>Fri:</b> 9am - 4pm</li>
					
						{# <li>White Labeling</li> #}
					</ul>
				</div><br>
				<div style="margin:0 auto; width: 100%; text-align: center">
				<p><span style="font-size:10px">Design help within <strong>24 hours</strong></span></p>
				</div>
			</div>
			
			<!-- column -->
			{# <div class="col-sm-4">
				
				<div class="price-table box-shadow wow slideInUp" data-wow-delay="1s">
					<h4 class="title">Chat with a designer</h4>
					
					<ul style="font-weight:100">
						<li>Ask a styling question</li>
						<li>or get help finding that</li>
						<li>perfect product</li>
						
					</ul>
					<a href="#" class="btn btn-outline">Select free</a>
				</div>
			</div> #}

		</div>

	</div>
	
</section>