{% set orderDetails = __SELF__.orderDetails %}

<div class="card">
    <div class="content">
        <div class="content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                    <th>Client Order</th>
                    {# <th>Quantity</th> #}
                    {# <th>Unit Price</th> #}
                    {# <th>Total</th> #}
                </thead>
                <tbody>
                    {# {% for orderDetail in orderDetails %} #}
                        <tr><td><b>Name:</b> {{orderDetails.f_name}} {{orderDetails.l_name}}</td></tr>
                        <tr><td><b>Package Name:</b> {{orderDetails.package.package_name|raw}} Package</td></tr>
                        <tr><td><b>Message:</b> {{orderDetails.message}}</td></tr>
                        <tr><td><b>email:</b> {{orderDetails.email}}</td></tr>
                        <tr><td><b>Phone:</b> {{orderDetails.phone}}</td></tr>

                            {# <td>{{orderDetail.quantity}}</td> #}
                            {# <td>NGN {{orderDetail.price|number_format(2, '.', ',')}}</td> #}
                            {# <td>NGN {{orderDetail.total|number_format(2, '.', ',')}}</td> #}
                        
                    {# {% endfor %} #}
                </tbody>
            </table>
        </div>
    </div>
</div>
