[blogPosts]
[blogCategories]
pageNumber = "{{ :page }}"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "created_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<div class="row filtr-container baguetteBoxThree">
    {% for post in posts %}
    
        <div class="col-sm-4 col-md-4 filtr-item" data-category="1, 5" data-sort="Busy streets">
            <div class="blog-img">
                {% if post.featured_images %} {% set image = post.featured_images|first %} 
                    {# <img class="img-responsive" src="{{image.path}}" alt="sample image"> #}
                    <img class="img-responsive" src="{{image.path}}" alt="sample image">
                {% endif %}
                <div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
            </div>
            <p class="hank"><a href="{{ post.url }}">{{post.title}}</a></p>
            <p class="">By <span style="color:#bd8348 !important">{{post.user.full_name}}</span> / {{ post.published_at|date('F d, Y') }}</p>
            <p>{{post.summary}}</p>
            <a href="{{'blog'}}/post/{{ post.url }}" class="readbtn btn-outline">Read More</a>
        </div>
    {% endfor %}
</div>