{% if not this.page.id == 'product-details' %}
<li>
{% endif %}
    <a href="javascript:;" {% if this.page.id == 'product-details' %}class="favoritebutton hart" {% else %} class="favoritebutton" {% endif %} 
        data-request="{{ __SELF__ }}::onFavoritePost"
        data-request-update="'{{ __SELF__ }}::result': '#{{__SELF__.id}}'"
        data-request-data="print_id:'{{ print_id }}'"
        id="{{__SELF__.id}}">
        {% if isfavorited==1 %}
            {% if this.page.id == 'product-details' %}
                <i class="fa fa-heart" aria-hidden="true"></i>
            {% else %}
                <i class="fa fa-heart icon-heart"></i>
            {% endif %}
        {% else %}
            {% if this.page.id == 'product-details' %}
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            {% else %}
                <i class="fa fa-heart-o icon-heart-empty"></i>
            {% endif %}
        {% endif %}
    </a>
{% if not this.page.id == 'product-details' %}
</li>
{% endif %}

