{% set product = __SELF__.product %}
{% set relatedProducts = __SELF__.relatedProducts %}


<div class="btx-content btx-content--no-header">
    <div class="btx-content-wrapper">
        {#
        <nav class="woocommerce-breadcrumb">
            <div class="btx-container">
                <a href="index.html">Home</a>
                <span class="fa fa-angle-right"></span>
                <a href="#">Shoes</a>
                <span class="fa fa-angle-right"></span>Oxford Shoes</div>
        </nav> #}
        <div>{% flash success %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div>
        <div class="btx-container">
            <main id="main" class="btx-single-product btx-main btx-main--single">
                
                <div itemscope itemtype="http://schema.org/Product" id="product-980" class="post-980 product type-product status-publish has-post-thumbnail product_cat-shoes product_tag-formalwear product_tag-shoes first instock sale shipping-taxable purchasable product-type-simple">
                    <div class="btx-single-product-content thumbnail-bottom">

                        {# <span class="onsale">Sale!</span> #}
                        <div class="images btx-product-gallery btx-product-gallery--bottom btx-gallery--carousel" data-popup="">
                            <div class="btx-gallery-content">
                                <div class="btx-gallery-item">
                                    <div class="btx-gallery-body">
                                        <div class="btx-gallery-media">
                                            <img class="btx-image-normal" src="{{product.product_image_link}}" alt="" />
                                            <img class="btx-image-zoom" src="{{product.product_image_link}}" alt="" />
                                        </div>
                                    </div>
                                </div>

                                {# <div class="btx-gallery-item">
                                    <div class="btx-gallery-body">
                                        <div class="btx-gallery-media">
                                            <img class="btx-image-normal" src="{{product.product_image_link}}" alt="" />
                                            <img class="btx-image-zoom" src="{{product.product_image_link}}" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-gallery-item">
                                    <div class="btx-gallery-body">
                                        <div class="btx-gallery-media">
                                            <img class="btx-image-normal" src="upload/shop-oxford-03.jpg" alt="" />
                                            <img class="btx-image-zoom" src="upload/shop-oxford-03.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-gallery-item">
                                    <div class="btx-gallery-body">
                                        <div class="btx-gallery-media">
                                            <img class="btx-image-normal" src="upload/shop-oxford-04.jpg" alt="" />
                                            <img class="btx-image-zoom" src="upload/shop-oxford-04.jpg" alt="" />
                                        </div>
                                    </div>
                                </div> #}

                            </div>
                            <div class="thumbnails columns-4 btx-gallery-thumbnail btx-gallery-thumbnail--bottom" data-thumbnail="4">
                                <div class="btx-gallery-thumbnail-item btx-col-3">
                                    <img width="180" height="180" src="{{product.product_image_link}}" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                                        alt="{{product.slug}}" srcset="{{product.product_image_link}}"
                                        sizes="(max-width: 180px) 100vw, 180px" /> </div>
                                {# <div class="btx-gallery-thumbnail-item btx-col-3">
                                    <img width="180" height="180" src="upload/shop-oxford-02-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail"
                                        alt="shop-oxford-02" srcset="http://www.bateauxtheme.com/wp-content/uploads/shop-oxford-02-180x180.jpg 180w, http://www.bateauxtheme.com/wp-content/uploads/shop-oxford-02-150x150.jpg 150w"
                                        sizes="(max-width: 180px) 100vw, 180px" /> </div>
                                <div class="btx-gallery-thumbnail-item btx-col-3">
                                    <img width="180" height="180" src="upload/shop-oxford-03-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail"
                                        alt="shop-oxford-03" srcset="http://www.bateauxtheme.com/wp-content/uploads/shop-oxford-03-180x180.jpg 180w, http://www.bateauxtheme.com/wp-content/uploads/shop-oxford-03-150x150.jpg 150w"
                                        sizes="(max-width: 180px) 100vw, 180px" /> </div>
                                <div class="btx-gallery-thumbnail-item btx-col-3">
                                    <img width="180" height="180" src="upload/shop-oxford-04-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail"
                                        alt="shop-oxford-04" srcset="http://www.bateauxtheme.com/wp-content/uploads/shop-oxford-04-180x180.jpg 180w, http://www.bateauxtheme.com/wp-content/uploads/shop-oxford-04-150x150.jpg 150w"
                                        sizes="(max-width: 180px) 100vw, 180px" /> </div> #}
                            </div>
                        </div>

                        <div class="summary entry-summary">

                            <h1 itemprop="name" class="product_title entry-title">{{product.product_name|raw}}</h1>
                            {# <div class="woocommerce-product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                <div class="star-rating" title="Rated 5 out of 5">
                                    <span style="width:100%">
                                        <strong itemprop="ratingValue" class="rating">5</strong> out of
                                        <span itemprop="bestRating">5</span> based on
                                        <span itemprop="ratingCount" class="rating">2</span> customer ratings </span>
                                </div>
                                <a href="#reviews" class="woocommerce-review-link" rel="nofollow">(
                                    <span itemprop="reviewCount" class="count">2</span> reviews)</a>
                            </div> #}

                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                                <p class="price">
                                   
                                        <span class="woocommerce-Price-amount amount">
                                            {# <span class="woocommerce-Price-currencySymbol"></span> #} {{product.price}}</span> {{product.out_of_stock}}
                                            {% if product.out_of_stock %}
                                             <span class="woocommerce-Price-amount amount" style="font-size:10px">
                                            {# <span class="woocommerce-Price-currencySymbol"></span> #} Out of Stock</span> 
                                            {% endif %}
                                    {# <ins>
                                        <span class="woocommerce-Price-amount amount">
                                            <span class="woocommerce-Price-currencySymbol">&#36;</span>199.00</span>
                                    </ins> #}
                                </p>

                                <meta itemprop="price" content="199" />
                                <meta itemprop="priceCurrency" content="N" />
                                <link itemprop="availability" href="http://schema.org/InStock" />

                            </div>
                            <div>
                                <p>{{product.product_excerpt|raw}}</p>
                            </div>

                            <form data-request="onAddToCart" data-request-flash class="cart" method="post" enctype='multipart/form-data' style="display: inline-block">

                                <div class="quantity">
                                    {# <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo $this->getMinimalQty($_product) ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty"/> #}
                                    <input id="itemQuantity" type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric" />
                                </div>

                                <input type="hidden" name="product" value="{{product.id}}" />

                                <button type="submit" class="single_add_to_cart_button button alt">Add to cart</button> or 
                                
                            </form>
                            <a href="{{'submitrequestforquotes'|page}}"> <button class="single_add_to_cart_button button alt">Upload your B.O.Q<sup><span class="btx-tooltip btx-tooltip--left btx-tooltip-small" data-tooltip="Instead of selecting items individually, upload your Bill of Quantities and receive a quote"><i class="fa fa-info"></i></span></sup></button></a> {#//instead of selecting... Upload your Bill of Quantities and receive a quote #}
                            

                            <div class="product_meta">

                                <div class="sku_wrapper">
                                    <div class="btx-product-meta-label">SKU</div>
                                    <span class="sku" itemprop="sku">{{product.id}}</span>
                                </div>

                                <!-- Make Change here -->
                                <div class="posted_in">
                                    <div class="btx-product-meta-label">Category</div>
                                    <a href="#" rel="tag">{{product.category.category_name}}</a>
                                </div>
                                <div class="tagged_as">
                                    <div class="btx-product-meta-label">Tags</div>
                                    {# <a href="#" rel="tag">formalwear</a>
                                    <a href="#" rel="tag">shoes</a> #}
                                </div>
                                <!-- End Change -->

                            </div>


                            <div class="btx-product-share btx-share">
                                {% component 'ssbuttonsssb' %}
                                {# <ul class="btx-social-share btx-social-share--icon">
                                    <li class="btx-p-border-border btx-share-item">
                                        <a href="#" class="js-share btx-social-facebook btx-social-item--color">
                                            <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--small">
                                                <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                    <i class="fa fa-facebook"></i>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="btx-p-border-border btx-share-item">
                                        <a href="#" class="js-share btx-social-twitter btx-social-item--color">
                                            <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--small">
                                                <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                    <i class="fa fa-twitter"></i>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="btx-p-border-border btx-share-item">
                                        <a href="#" class="js-share btx-social-pinterest btx-social-item--color">
                                            <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--small">
                                                <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                    <i class="fa fa-pinterest"></i>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="btx-p-border-border btx-share-item">
                                        <a href="#" class="js-share btx-social-google-plus btx-social-item--color">
                                            <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--small">
                                                <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                    <i class="fa fa-google-plus"></i>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="btx-p-border-border btx-share-item">
                                        <a href="#" class="js-share btx-social-tumblr btx-social-item--color">
                                            <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--small">
                                                <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                    <i class="fa fa-tumblr"></i>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="btx-p-border-border btx-share-item">
                                        <a href="#" class="js-share btx-social-email btx-social-item--color">
                                            <span class="btx-icon btx-icon--without-hover btx-icon--plain btx-icon--small">
                                                <span class="btx-icon-normal btx-icon-plain btx-p-brand-color">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                </ul> #}
                            </div>

                        </div>
                        <!-- .summary -->
                    </div>

                    {# <div class="woocommerce-tabs wc-tabs-wrapper btx-item btx-tab js-item-tab btx-tab--top btx-tab--underline">
                        <ul class="btx-tab-nav">

                            <li class="description_tab active">

                                <a class="btx-tab-nav-title btx-s-text-color" href="#tabdescription">
                                    Description </a>
                            </li>

                            <li class="additional_information_tab">

                                <a class="btx-tab-nav-title btx-s-text-color" href="#tabadditional_information">
                                    Additional Information </a>
                            </li>

                            <li class="reviews_tab">

                                <a class="btx-tab-nav-title btx-s-text-color" href="#tabreviews">
                                    Reviews (2) </a>
                            </li>

                        </ul>
                        <div class="btx-tab-body btx-p-border-border">

                            <div class="btx-tab-content active" data-name="#tabdescription">

                                <div class="btx-tab-pane">

                                    <h2>Product Description</h2>

                                    <p>{{product.product_description|raw}}</p>
                                </div>
                            </div>

                            <div class="btx-tab-content" data-name="#tabadditional_information">

                                <div class="btx-tab-pane">

                                    <h2>Additional Information</h2>

                                    <table class="shop_attributes">

                                        <tr class="">
                                            <th>Color</th>
                                            <td>
                                                <p>Black, Brown</p>
                                            </td>
                                        </tr>
                                        <tr class="alt">
                                            <th>Material</th>
                                            <td>
                                                <p>Upper: Calf Leather Sole: Leather</p>
                                            </td>
                                        </tr>
                                        <tr class="">
                                            <th>Construction</th>
                                            <td>
                                                <p>Goodyear Welted</p>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>

                            <div class="btx-tab-content" data-name="#tabreviews">

                                <div class="btx-tab-pane">
                                    <div id="reviews" class="woocommerce-Reviews">
                                        <div id="comments">
                                            <h2 class="woocommerce-Reviews-title">2 reviews for
                                                <span>Oxford Shoes</span>
                                            </h2>

                                            <ol class="commentlist">
                                                <li class="comment even thread-even depth-1" id="li-comment-103">

                                                    <div id="comment-103" class="comment_container">

                                                        <img alt='' src='upload/avatar2.png' class='avatar avatar-60 photo' height='60' width='60' />
                                                        <div class="comment-text">

                                                            <div class="star-rating" title="Rated 5 out of 5">
                                                                <span style="width:100%">
                                                                    <strong itemprop="ratingValue">5</strong> out of 5</span>
                                                            </div>

                                                            <p class="meta">
                                                                <strong>Paul Nolan</strong> &ndash;
                                                                <time datetime="2016-05-19T17:36:36+00:00">May 19, 2016</time>:
                                                            </p>

                                                            <div class="description">I haven't ordered nice shoes online before and wasn't very confident
                                                                that it would work out with sizing and such, but when I got
                                                                these and tried them on they fit incredibly and they look
                                                                amazing.</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- #comment-## -->
                                                <li class="comment odd alt thread-odd thread-alt depth-1" id="li-comment-109">

                                                    <div id="comment-109" class="comment_container">

                                                        <img alt='' src='upload/avatar2.png' class='avatar avatar-60 photo' height='60' width='60' />
                                                        <div class="comment-text">

                                                            <div class="star-rating" title="Rated 5 out of 5">
                                                                <span style="width:100%">
                                                                    <strong itemprop="ratingValue">5</strong> out of 5</span>
                                                            </div>

                                                            <p class="meta">
                                                                <strong>Stephen Morgan</strong> &ndash;
                                                                <time datetime="2016-06-09T00:25:32+00:00">June 9, 2016</time>:
                                                            </p>

                                                            <div class="description">This is such a great shoes.</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- #comment-## -->
                                            </ol>

                                        </div>

                                        <div id="review_form_wrapper">
                                            <div id="review_form">
                                                <div id="respond" class="comment-respond">
                                                    <h3 id="reply-title" class="comment-reply-title">Add a review
                                                        <small>
                                                            <a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond"
                                                                style="display:none;">Cancel reply</a>
                                                        </small>
                                                    </h3>
                                                    <form action="http://www.bateauxtheme.com/wp/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
                                                        <p class="comment-notes">
                                                            <span id="email-notes">Your email address will not be published.</span> Required fields
                                                            are marked
                                                            <span class="required">*</span>
                                                        </p>
                                                        <p class="comment-form-rating">
                                                            <label for="rating">Your Rating</label>
                                                            <select name="rating" id="rating" aria-required="true" required>
                                                                <option value="">Rate&hellip;</option>
                                                                <option value="5">Perfect</option>
                                                                <option value="4">Good</option>
                                                                <option value="3">Average</option>
                                                                <option value="2">Not that bad</option>
                                                                <option value="1">Very Poor</option>
                                                            </select>
                                                        </p>
                                                        <p class="comment-form-comment">
                                                            <label for="comment">Your Review
                                                                <span class="required">*</span>
                                                            </label>
                                                            <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" required></textarea>
                                                        </p>
                                                        <p class="comment-form-author">
                                                            <label for="author">Name
                                                                <span class="required">*</span>
                                                            </label>
                                                            <input id="author" name="author" type="text" value="" size="30" aria-required="true" required />
                                                        </p>
                                                        <p class="comment-form-email">
                                                            <label for="email">Email
                                                                <span class="required">*</span>
                                                            </label>
                                                            <input id="email" name="email" type="email" value="" size="30" aria-required="true" required />
                                                        </p>
                                                        <p class="form-submit">
                                                            <input name="submit" type="submit" id="submit" class="submit" value="Submit" />
                                                            <input type='hidden' name='comment_post_ID' value='980' id='comment_post_ID' />
                                                            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                                        </p>
                                                    </form>
                                                </div>
                                                <!-- #respond -->
                                            </div>
                                        </div>

                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div> #}

                    <div class="related products btx-product btx-product--standard btx-product-layout--grid">
                        <div class="btx-heading btx-heading--default btx-heading--underline btx-p-border-border btx-s-text-border">
                            <h3 class="btx-heading-text  btx-s-text-color">Related Products</h3>
                        </div>
                        <div class="btx-product-content btx-left-align" data-display="4" data-indicator="false">
                            {% for relatedProduct in relatedProducts %}
                                <article class="btx-entry btx-col-3 btx-entry-light-scheme post-984 product type-product status-publish has-post-thumbnail product_cat-neckwear product_tag-formalwear product_tag-tie  instock shipping-taxable purchasable product-type-simple">
                                    <div class="btx-entry-inner btx-product-entry-content ">
                                        <div class="btx-product-entry-media">

                                            <a class="btx-product-entry-image" href="{{'product'|page({'slug':relatedProduct.slug})}}">

                                                <img width="624" height="800" src="{{relatedProduct.product_image_link}}" class="attachment-shop_catalog size-shop_catalog wp-post-image" />
                                                <div class="btx-product-hover-image btx-p-bg-bg">
                                                    <img src="{{relatedProduct.product_image_link}}" alt="" width="731" height="1024" /> </div>
                                            </a>

                                        </div>

                                        <div class="btx-product-entry-info">
                                            <div class="btx-product-entry-info-wrapper">
                                                <div class="btx-product-entry-info-inner">

                                                    <h4 class="btx-product-entry-title btx-secondary-font">
                                                        <a class="btx-s-text-color" href="{{'product'|page({'slug':relatedProduct.slug})}}">{{relatedProduct.product_name | raw}}</a>
                                                    </h4>

                                                    <div class="btx-product-entry-meta">

                                                        <span class="price">
                                                            <span class="woocommerce-Price-amount amount">
                                                                <span class="woocommerce-Price-currencySymbol"></span>{{relatedProduct.price}}</span>
                                                        </span>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}

                            

                        </div>
                    </div>

                    <meta itemprop="url" content="index.html" />

                </div>
                <!-- #product-980 -->

            </main>

        </div>

    </div>
</div>
