.admin-sidebar {
    background: #000;
}

.btn-primary{
    background: #000;
}

.breadcrumb i {
    color: #000;
}

.form-control:active, .form-control:focus {
    box-shadow: 0 2px 0 0 #000 !important;
}

.admin-sidebar .nav-link span {
    background: #fff;
    color: #000;
}

body{
    background-color: #fff;
}

.admin-stats {
    padding: 18px;
    box-shadow: none;
}

.admin-box {
    box-shadow: none;
}

.fieldset {
    background-color: #fff;
}

.btn .btn-block .hidden-md-down{
    padding: 10px 0;
}

.altimage {
    display: none;
}

.pro-img a:hover>.mainimage {
    display: none;
}

.pro-img img {
    width:80%;
}

.pro-img a:hover>.altimage {
    display: block;
    opacity: 0.7;
}

.pro-text:hover .pro-img .hover-img {
	opacity: 1;
	bottom: 20px;
}

.pro-text a {
	color: #282828;
	display: block;
	font-size: 14px;
}
.pro-text {
	float: left;
	/* overflow: hidden; */
	width: 100%;
	margin-bottom: 30px;
}
.pro-text strong {
	color: rgb(31, 31, 31);
	font-size: 14px;
	font-family: "Rubik", sans-serif;
	font-weight: 500;
	transition: all 0.5s ease 0s;
}
.pro-text .price {
	color: rgb(31, 31, 31);
	float: left;
	font-family: "Rubik", sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 4px 0;
	transition: all 0.5s ease 0s;
}
/* .pro-text:hover .price {
	margin-left: 10px;
	opacity: 0;
} */

.pro-text .price span {
	color: rgb(162, 162, 162);
	text-decoration: line-through;
}
.pro-text .addtocart {
	border-bottom: 1px solid rgb(235, 235, 235);
	float: left;
	font-size: 12px;
	font-weight: 600;
	opacity: 0;
	padding: 4px 0;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: -97px;
	transition: all 0.5s ease 0s;
}
/* .pro-text:hover .addtocart {
	opacity: 1;
	margin-left: 0px;
} */
.pro-text .addtocart2 {
	border: 2px solid #ebebeb;
	font-size: 12px;
	font-weight: 600;
	margin: 11px auto auto;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	width: 30%;
	text-transform: uppercase;
	float: left;
}

/* .pro-img img {
    width: 100%;
} */

.admin-box table tr th {
    border-bottom:1px solid #eceeef;
    width: 10px !important;
}

.table td {
    border-top: none;
}


/* .underline    {
    border-bottom: 1px solid #616161;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    max-width: 120%;
    line-height: 1px;
 } */
 
 .admin-stat-content h3 {
     font-size: 18px;
 }

 .admin-stat-content h2 {
     font-size: 13px;
 }

 .admin-sidebar .btn, .admin-sidebar .pricing-btn {

    margin: 0 0 10px 0;
    padding: 10px 0;

}

.admin-sidebar .nav-link {
    padding: 8px 25px;
}

.personalinfo-box {
	background-color: transparent !important;
	color: #fff !important;
}

.personalinfo-box h2, p {
	/* color: #fff !important; */
}

.dashboardavatar {
	width:150px;
	float: left;
}

.personalinfo {
	position: relative;
	margin-left: 170px;
}
.admin-box {
	padding: 0 30px;
	margin-bottom: 20px;
}

.admin-box p {
	margin-bottom: 10px;
}

.admin-box h2 {
	margin-bottom: 5px;
}

.admin-stat-icon {
    background-color: #2e2e2e !important;
}

.admin-stat-icon::after {
	display: none;
}

.greypanel {
	background-color: #fcfcfc;
	padding: 10px;
}

.admin-sidebar-logo {
	height: auto !important;
}
