
<div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align btx-uppercase">
                                                        <h1 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0.1em;">{{CallForTenders.job.title}}</h1>
                                                        <br>
                                                    </div>

<div class="content table-responsive" style="padding-bottom: 20px">
<div class="content table-responsive table-full-width" style="padding-bottom: 20px">
    <table class="table table-striped">
       
        <tbody>
            
                {% if CallForTenders.job.approved %}
                <tr><td>Job Title</td><td>{{CallForTenders.job.title}}</td></tr>
                <tr><td>Location</td><td>{{CallForTenders.job.project_location}}</td></tr>
                <tr><td>Job Description</td><td>{{CallForTenders.job.description}}</td></tr>
                <tr><td>Organization</td><td>{{CallForTenders.job.company_name}}</td></tr>
                <tr><td>Email</td><td>{{CallForTenders.job.email}}</td></tr>
                <tr><td>Application Deadline</td><td>{{CallForTenders.job.deadline}}</td></tr>
               <tr><td>Uploaded By</td><td>
                    {% if CallforTenders.job.f_name|length and CallforTenders.job.l_name|length %}
                        {{CallForTenders.job.f_name}} {{CallForTenders.job.l_name}}
                    {% else %}
                        FFE.ng Team
                    {% endif %}
                </td></tr>
                
                {% endif %}
            
        </tbody>
    </table>
</div>