<div class="btx-item js-item-heading btx-heading btx-heading--plain btx-center-align btx-uppercase">
                                                        <h1 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0.1em;">{{CallForTenders.tender.title}}</h1>
                                                        <br>
                                                    </div>

<div class="content table-responsive" style="padding-bottom: 20px">
    <table class="table table-striped">
       
        <tbody>
            
                {% if CallForTenders.tender.approved %}
                <tr><td>Project Title</td><td>{{CallForTenders.tender.title}}</td></tr>
                <tr><td>Location</td><td>{{CallForTenders.tender.project_location}}</td></tr>
                <tr><td>Description</td><td>{{CallForTenders.tender.description}}</td></tr>
                <tr><td>Organization</td><td>{{CallForTenders.tender.company_name}}</td></tr>
                <tr><td>Email</td><td>{{CallForTenders.tender.email}}</td></tr>
                <tr><td {% if "now"|date('Y-m-d') > CallForTenders.tender.deadline|date('Y-m-d') %} style="background: red !important; color:#fff" {% endif %}>Deadline</td><td {% if "now"|date('Y-m-d') > CallForTenders.tender.deadline|date('Y-m-d') %} style="background: red !important; color:#fff" {% endif %}>{{CallForTenders.tender.deadline|date('Y-m-d')}}</td></tr>
                <tr><td>Uploaded By</td><td>
                    {% if CallForTenders.tender.f_name|length and CallforTenders.tender.l_name|length %}
                        {{CallForTenders.tender.f_name}} {{CallForTenders.tender.l_name}}
                    {% else %}
                        FFE.ng Team
                    {% endif %}
                </td></tr>
                
                {% endif %}
            
        </tbody>
    </table>
</div>