.hero {
    height: 70vh;
}

.section-header span.back-text {
    color: #F6F6F6 !important;
}

.price-table-black ul li {
    color: #fff !important;
}

.hp__how-it-works {
    margin: 0 auto;
    max-width: 1600px;
    overflow: hidden;
    padding: 90px 0 60px;
}

.hp__how-it-works .hidden-mama-block {
    display: block;
}

.hp__how-it-works p {
    color: #1c2233;
    font-size: 15px;
    margin: 0 auto 65px;
    max-width: 700px;
    text-align: center;
}
.hp__how-it-works h2 {
    font-family: Surveyor SSm A, Surveyor SSm B, sans-serif;
    font-size: 31px;
    font-weight: 100;
    margin-bottom: 40px;
    text-align: center;
    text-transform: none;
}

.caption {
    padding-top: 100px !important;
}

.time {
    color: #fff !important;
}

.timeline span.line {

    position: absolute !important;
    width: 2px;
    background-color: #111 !important;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;

}

.timeline span.line::after {

    content: '';
    position: absolute !important;
    width: 10px;
    height: 10px;
    right: -4px;
    background-color: #111 !important;
    bottom: 0;
    border-radius: 50%;
    z-index: 1;

}

.timeline span.line::before {

    content: '';
    position: absolute !important;
    width: 10px;
    height: 10px;
    right: -4px;
    background-color: #111 !important;
    top: 0;
    border-radius: 50%;
    z-index: 1;
}

.availability {
    font-size: 10px;
    color: #bd8348 !important;
    display: block;
    letter-spacing: 1px;
    margin-top: 10px;
}