{% set homelinks = __SELF__.homelinks %}

<div class="container">
        <!-- .banner-bg -->
        <div class="banner-bg">
            {% for link in homelinks %}
                <div class="col-xs-4 col-md-4">
                    <!-- .banner-img -->
                    <a href="/{{link.link}}">
                    <div class="banner-img banner-img2 animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">
                        <img class="img img-responsive" src="{{link.link_image.path}}" alt="about-img1" />
                        <div class="banner-text">
                            <h3>{{link.label}}</h3>
                            
                        </div>
                    </div>
                    </a>
                    <!-- /.banner-outer -->
                </div>
            {% endfor %}
        </div>
        <!-- /.banner-bg -->
    </div>