description = "Checkout layout"
[session]
security = "all"
==
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
         {% partial 'site/analytics' %}
        <title>FFE.ng - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <link rel="icon" type="image/png" href="{{ 'assets/images/favicon_.png'|theme }}">
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/",
            "svgExt": ".svg",
            "source": {
                "concatemoji": "http:\/\/www.bateauxtheme.com\/wp\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.2"
            }
        };
        ! function (a, b, c) {
            function d(a) {
                var b, c, d, e, f = String.fromCharCode;
                if (!k || !k.fillText) return !1;
                switch (k.clearRect(0, 0, j.width, j.height), k.textBaseline = "top", k.font = "600 32px Arial", a) {
                    case "flag":
                        return k.fillText(f(55356, 56826, 55356, 56819), 0, 0), b = j.toDataURL(), k.clearRect(0, 0, j.width,
                                j.height), k.fillText(f(55356, 56826, 8203, 55356, 56819), 0, 0), c = j.toDataURL(), b !==
                            c && (k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57332, 56128, 56423, 56128,
                                    56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447), 0, 0), b = j.toDataURL(),
                                k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57332, 8203, 56128, 56423,
                                    8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423,
                                    8203, 56128, 56447), 0, 0), c = j.toDataURL(), b !== c);
                    case "emoji4":
                        return k.fillText(f(55358, 56794, 8205, 9794, 65039), 0, 0), d = j.toDataURL(), k.clearRect(0,
                                0, j.width, j.height), k.fillText(f(55358, 56794, 8203, 9794, 65039), 0, 0), e = j.toDataURL(),
                            d !== e
                }
                return !1
            }
            function e(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }
            var f, g, h, i, j = b.createElement("canvas"),
                k = j.getContext && j.getContext("2d");
            for (i = Array("flag", "emoji4"), c.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything &&
                c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag &&
                    c.supports[i[h]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback =
                function () {
                    c.DOMReady = !0
                }, c.supports.everything || (g = function () {
                    c.readyCallback()
                }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load",
                    g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () {
                    "complete" === b.readyState && c.readyCallback()
                })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji),
                    e(f.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <script src="http://www.bateauxtheme.com/wp/wp-includes/js/wp-emoji-release.min.js?ver=4.8.2" type="text/javascript"
        defer=""></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' href="{{'assets/LayerSlider/static/css/layerslider.css'|theme}}" type='text/css' media='all' />
    <link rel="stylesheet" id="ls-google-fonts-css" href="http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&amp;subset=latin%2Clatin-ext"
        type="text/css" media="all">
    <link rel='stylesheet' href="{{'assets/revslider/public/assets/css/settings.css'|theme}}" type='text/css' media='all' />
    <style id="rs-plugin-settings-inline-css" type="text/css">
        #rs-demo-id {}
    </style>
   <link rel='stylesheet' href="{{'assets/css/select2.css'|theme}}" type='text/css' media='all' />
     <link rel='stylesheet' href="{{'assets/css/woocommerce-layout.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/woocommerce-smallscreen.css'|theme}}" type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href="{{'assets/css/woocommerce.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/mediaelement/mediaelementplayer.min.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/mediaelement/wp-mediaelement.min.css'|theme}}" type='text/css' media='all' />
    <link rel="stylesheet" id="bateaux-google-fonts-css" href="//fonts.googleapis.com/css?family=Roboto%3A400%2C400italic%2C700%2C700italic%2C500%2C500italic%2C300%2C300italic%7CPlayfair+Display%3A400%2C400italic%2C700%2C700italic&amp;ver=4.8.2"
        type="text/css" media="all">
    <link rel='stylesheet' href="{{'assets/css/main.min.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/style-customabae.css'|theme}}" type='text/css' media='all' />
    {# <link rel='stylesheet' href="{{'assets/css/configs.css'|theme}}" type='text/css' media='all' /> #}
    <link rel='stylesheet' href="{{'assets/js/wp-google-maps-pro/css/wpgmza_style_pro.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/wp-google-maps-pro/css/data_table_front.css'|theme}}" type='text/css' media='all' />
    <link rel="stylesheet" href="{{'assets/css/mystyles2.css'|theme}}" type='text/css' media='all' />
    <link rel="stylesheet" href="{{'assets/css/customstyles.css'|theme}}" type='text/css' media='all' />
    <link rel="stylesheet" href="{{'assets/css/loader.css'|theme}}" type='text/css' media='all' />
    {% styles %}
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>
    <script type='text/javascript' src="{{'assets/revslider/public/assets/js/jquery.themepunch.tools.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/revslider/public/assets/js/jquery.themepunch.revolution.min.js'|theme}}"></script>
    <script>

{# $(document).ready(function() {
        
        $("#site").fadeIn('slow');
        $("#loader").fadeOut('fast');
    }); #}

    
</script>
    <script type="text/javascript">
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
    {# <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                var i = jQuery(window).width(),
                    t = 9999,
                    r = 0,
                    n = 0,
                    l = 0,
                    f = 0,
                    s = 0,
                    h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) {
                        f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                    }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] ||
                    e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" ==
                    e.sliderLayout) {
                    var u = (e.c.width(), jQuery(window).height());
                    if (void 0 != e.fullScreenOffsetContainer) {
                        var c = e.fullScreenOffsetContainer.split(",");
                        if (c) jQuery.each(c, function (e, i) {
                                u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                            }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset
                            .length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 !=
                            e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                    }
                    f = u
                } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                e.c.closest(".rev_slider_wrapper").css({
                    height: f
                })
            } catch (d) {
                console.log("Failure at Presize of Slider:" + d)
            }
        };
    </script> #}
    <style type="text/css">
        @font-face {
            font-family: flood-std;
            src: url(https://use.typekit.net/af/499d68/000000000000000000012fc3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/499d68/000000000000000000012fc3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/499d68/000000000000000000012fc3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
            font-weight: 400;
            font-style: normal;
        }
    </style>
</head>

    <body class="home page page-id-12 page-parent page-template-default btx-layout btx-layout--wide btx-layout-responsive btx-layout--topnav btx-layout--fixednav" data-scheme="light" data-layout="wide">
    {#  #}
    <div class="btx-wrapper btx-p-bg-bg btx-home hide-border" >
        <!-- Header -->
        <header class="btx-header" data-transparent="" data-height="90">
            {% partial 'site/header' %}
        </header>
        <!-- Content -->
        <main class="btx-content" id="main">
            {% page %}
        </main>
        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>
    </div>
        <!-- Bateaux Scripts -->
    <script type='text/javascript' src="{{'assets/js/jquery/jquery.js'|theme}}"></script>      
    <script type='text/javascript' src="{{'assets/js/jquery/jquery-migrate.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/revslider/public/assets/js/jquery.themepunch.tools.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/revslider/public/assets/js/jquery.themepunch.revolution.min.js'|theme}}"></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var BateauxOptions = {"ajax_url":"js/admin-ajax.html"};
    /* ]]> */
    </script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mejsL10n = {
            "language": "en-US",
            "strings": {
                "Close": "Close",
                "Fullscreen": "Fullscreen",
                "Download File": "Download File",
                "Download Video": "Download Video",
                "Play\/Pause": "Play\/Pause",
                "Mute Toggle": "Mute Toggle",
                "None": "None",
                "Turn off Fullscreen": "Turn off Fullscreen",
                "Go Fullscreen": "Go Fullscreen",
                "Unmute": "Unmute",
                "Mute": "Mute",
                "Captions\/Subtitles": "Captions\/Subtitles"
            }
        };
        var _wpmejsSettings = {
            "pluginPath": "js\/mediaelement\/"
        };
        /* ]]> */
    </script>

   
        {% framework extras %}
        {% scripts %}
    <script type='text/javascript' src="{{'assets/js/mediaelement/mediaelement-and-player.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/mediaelement/wp-mediaelement.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/hoverIntent.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/jquery/ui/widget.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/main-vendors.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/main.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/tether/dist/js/tether.min.js'|theme}}"></script>
    {# <script type='text/javascript' src="{{'assets/bootstrap/js/bootstrap.min.js'|theme}}"></script> #}
       {% put scripts %}
    <script>
            $(document).ready(function () {

        $('#myModal').modal('show');

    });
        </script>     
        {% endput %}       

    </body>
</html>
