description = "Checkout layout"
[session]
security = "all"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
         {% partial 'site/analytics' %}
        <title>FFE.ng - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <link rel="icon" type="image/png" href="{{ 'assets/images/favicon_.png'|theme }}">
        <!-- Bateaux Styles -->
        <link rel='stylesheet' href="{{'assets/LayerSlider/static/css/layerslider.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/revslider/public/assets/css/settings.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/woocommerce-layout.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/woocommerce-smallscreen.css'|theme}}" type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href="{{'assets/css/woocommerce.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/mediaelement/mediaelementplayer.min.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/mediaelement/wp-mediaelement.min.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/main.min.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/style-customabae.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/configs.css'|theme}}" type='text/css' media='all' />

    <link rel='stylesheet' href="{{'assets/js/wp-google-maps-pro/css/wpgmza_style_pro.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/wp-google-maps-pro/css/data_table_front.css'|theme}}" type='text/css' media='all' />

    <link rel="icon" type="image/x-icon" href="{{'assets/images/favicon_.png'|theme}}" />
    <link rel="stylesheet" type="text/css" media='all' href="{{'assets/css/mystyles2.css'|theme}}" />
    <link rel="stylesheet" href="{{'assets/css/customstyles.css'|theme}}" type='text/css' media='all' />
     <link rel="stylesheet" href="{{'assets/css/loader.css'|theme}}" type='text/css' media='all' />
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>
    <link rel="stylesheet" type="text/css" media='all' href="{{'assets/css/mystyles.css'|theme}}" />
 
        {% styles %}
        {% partial 'site/analytics' %}
        <script>

$(document).ready(function() {
        
        $("#site").fadeIn('slow');
        $("#loader").fadeOut('fast');
    });

    
</script>
    </head>
    <body class="home page page-id-12 page-parent page-template-default btx-layout btx-layout--wide btx-layout-responsive btx-layout--topnav btx-layout--fixednav" data-scheme="light" data-layout="wide" >
    <div id="loader">
        <img src="{{'assets/images/FF_E2.png'|theme}}" alt="">
    </div>
    <div class="btx-wrapper btx-p-bg-bg btx-home hide-border" id="site" >
    
        <!-- Header -->
        <header class="btx-header" data-transparent="" data-height="90">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <main class="btx-content" id="main">
            {% page %}
        </main>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>
    </div>
    
        <!-- Scripts -->
       


        <!-- Bateaux Scripts -->
         {# <script type='text/javascript' src="{{'assets/js/jquery/jquery.js'|theme}}"></script> #}
         

    {# <script type='text/javascript' src="{{'assets/js/jquery/jquery-migrate.min.js'|theme}}"></script> #}
    
 
    
   
    
    <script type='text/javascript' src="{{'assets/js/country-select.min.js'|theme}}"></script>
    
    <script type='text/javascript'>
    /* <![CDATA[ */
    var BateauxOptions = {"ajax_url":"js/admin-ajax.html"};
    /* ]]> */
    </script>
    
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mejsL10n = {
            "language": "en-US",
            "strings": {
                "Close": "Close",
                "Fullscreen": "Fullscreen",
                "Download File": "Download File",
                "Download Video": "Download Video",
                "Play\/Pause": "Play\/Pause",
                "Mute Toggle": "Mute Toggle",
                "None": "None",
                "Turn off Fullscreen": "Turn off Fullscreen",
                "Go Fullscreen": "Go Fullscreen",
                "Unmute": "Unmute",
                "Mute": "Mute",
                "Captions\/Subtitles": "Captions\/Subtitles"
            }
        };
        var _wpmejsSettings = {
            "pluginPath": "js\/mediaelement\/"
        };
        /* ]]> */
    </script>
    <script>
    jQuery(function($){
    $("a.showlogin").on("click", function(){
   
         $("form.login, form.woocommerce-form-login").slideToggle();
                });
    });                
    </script> 

   
        {% framework extras %}
        {% scripts %}
    <script type='text/javascript' src="{{'assets/js/checkout.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/mediaelement/mediaelement-and-player.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/mediaelement/wp-mediaelement.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/hoverIntent.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/jquery/ui/widget.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/main-vendors.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/main.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/tether/dist/js/tether.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/bootstrap/js/bootstrap.min.js'|theme}}"></script>
    
    <script>
        $(document).ready(function(){
            $('#addfriend').click(function(){
                $('#shareform').append('<div class="btx-row friendform"><div class="btx-col-4"><div class="btx-form-container"><label>Name<span class="required">*</span></label><br><span class="wpcf7-form-control-wrap your-name"><input type="text" name="name[]" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></div></div><div class="btx-col-6"><div class="btx-form-container"><label>Email<span class="required">*</span></label><br><span class="wpcf7-form-control-wrap your-email"><input type="text" name="email[]" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></div></div></div>');
            });
            $('#removefriend').click(function(){
                $('.friendform').last().remove();
            });
        });
    </script>
       
     

   
         

    </body>
</html>
