description = "Coming Soon layout"
[session]
[Navigation]
security = "all"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Kokore - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <link rel="icon" type="image/png" href="{{ 'assets/images/FF_E3fav-11.png'|theme }}">
        <!-- Bateaux Styles -->
        <link rel="shortcut icon" href="assets/img/ficon.png">
	<!-- Latest Bootstrap min CSS -->
        <link rel="stylesheet" href="{{'assets/css/bootstrap.min.css'|theme}}" type="text/css">
        <!-- Dropdownhover CSS -->
        <link rel="stylesheet" href="{{'assets/css/bootstrap-dropdownhover.min.css'|theme}}" type="text/css">
        <!-- latest fonts awesome -->
        <link rel="stylesheet" href="{{'assets/font/css/font-awesome.min.css'|theme}}" type="text/css">
        <!-- simple line fonts awesome -->
        {% if not this.page.id == 'print-ajax' %}
        <link rel="stylesheet" href="{{'assets/simple-line-icon/css/simple-line-icons.css'|theme}}" type="text/css">
        {% endif %}
        <!-- Animate CSS -->
        <link rel="stylesheet" href="{{'assets/css/animate.min.css'|theme}}" type="text/css">

         {# {% placeholder decorStyles %} #}
         {% styles %}


        <link href="{{'assets/coming-soon/css/bootstrap.min.css'|theme}}" media="all" rel="stylesheet" type="text/css">
        <link href="{{'assets/coming-soon/css/style-light-2.css'|theme}}" media="all" rel="stylesheet" type="text/css">
        <link href="{{'assets/coming-soon/css/font-awesome-4.3.0/css/font-awesome.css'|theme}}" media="all" rel="stylesheet" type="text/css"><!-- style end -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- google fonts start -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Oswald:300,400,700|Dosis:200,300,400,500,600,700,800|Montserrat:400,700"><!-- google fonts end -->
        <!-- alternate style start || to use your preferred color, simply remove all style colors below and leave only your preferred color -->
        <link href="{{'assets/coming-soon/css/colors/black-light.css'|theme}}" media="screen" rel="stylesheet" title="black" type="text/css">
        <link href="{{'assets/coming-soon/css/colors/red-light.css'|theme}}" media="screen" rel="stylesheet" title="red" type="text/css">
        <link href="{{'assets/coming-soon/css/colors/red-2-light.css'|theme}}" media="screen" rel="stylesheet" title="red-2" type="text/css">
        <link href="{{'assets/coming-soon/css/colors/green-light.css'|theme}}" media="screen" rel="stylesheet" title="green" type="text/css">
        <link href="{{'assets/coming-soon/css/colors/green-2-light.css'|theme}}" media="screen" rel="stylesheet" title="green-2" type="text/css">
        <link href="{{'assets/coming-soon/css/colors/blue-light.css'|theme}}" media="screen" rel="stylesheet" title="blue" type="text/css">
        <link href="{{'assets/coming-soon/css/colors/blue-2-light.css'|theme}}" media="screen" rel="stylesheet" title="blue-2" type="text/css">
        <link href="{{'assets/coming-soon/css/colors/yellow-light.css'|theme}}" media="screen" rel="stylesheet" title="yellow" type="text/css">
        <link href="{{'assets/coming-soon/css/colors/yellow-2-light.css'|theme}}" media="screen" rel="stylesheet" title="yellow-2" type="text/css">
        <link href="{{'assets/coming-soon/css/colors/orange-light.css'|theme}}" media="screen" rel="stylesheet" title="orange" type="text/css">
        <link href="{{'assets/coming-soon/css/colors/gold-light.css'|theme}}" media="screen" rel="stylesheet" title="gold" type="text/css">
        <link href="{{'assets/coming-soon/css/colors/pink-light.css'|theme}}" media="screen" rel="stylesheet" title="pink" type="text/css">
        <link href="{{'assets/coming-soon/css/colors/purple-light.css'|theme}}" media="screen" rel="stylesheet" title="purple" type="text/css">
        <link href="{{'assets/coming-soon/css/colors/violet-light.css'|theme}}" media="screen" rel="stylesheet" title="violet" type="text/css">
        <link href="{{'assets/coming-soon/css/colors/turquoise-light.css'|theme}}" media="screen" rel="stylesheet" title="turquoise" type="text/css">
        <link href="{{'assets/coming-soon/css/colors/brick-light.css'|theme}}" media="screen" rel="stylesheet" title="brick" type="text/css"><!-- alternate style end -->





        {% if this.page.id == "home" %}
            {# <link rel="stylesheet" type="text/css" href="{{'assets/slitslider/css/demo.css'|theme}}" />
            <link rel="stylesheet" type="text/css" href="{{'assets/slitslider/css/style.css'|theme}}" />
            <link rel="stylesheet" type="text/css" href="{{'assets/slitslider/css/custom.css'|theme}}" /> #}
            <link rel="stylesheet" type="text/css" href="{{'assets/simpleslider/style.css'|theme}}" />
            <script type="text/javascript" src="{{'assets/slitslider/js/modernizr.custom.79639.js'|theme}}"></script>
            <noscript>
                <link rel="stylesheet" type="text/css" href="{{'assets/slitslider/css/styleNoJS.css'|theme}}" />
            </noscript>
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>   
        {% framework extras %}
    </head>
    <body>
    <div>{% flash success %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div> 
     <div>{% flash error %} <p data-control="flash-message" data-interval="5" class="error">{{message}} </p>{% endflash %}</div> 
        <!--  Preloader  -->

            <!-- Content -->
            {% page %}
        

        
       
        
        <script src="{{'assets/coming-soon/js/plugins2.js'|theme}}" type="text/javascript"></script>
		<script src="{{'assets/coming-soon/js/the-sea.js'|theme}}" type="text/javascript"></script>
		<script src="{{'assets/coming-soon/js/bootstrap.min.js'|theme}}" type="text/javascript"></script>
        <script src="{{'assets/coming-soon/js/particles-dark.js'|theme}}" type="text/javascript"></script>
    </body>
</html>
