description = "Community layout"

[session]
security = "user"
redirect = "regular-account"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
         {% partial 'site/analytics' %}
        <title>FFE.ng - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <link rel="icon" type="image/png" href="{{ 'assets/images/FF_E3fav-11.png'|theme }}">
        <!-- Bateaux Styles -->
        <link rel='stylesheet' href="{{'assets/LayerSlider/static/css/layerslider.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/revslider/public/assets/css/settings.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/woocommerce-layout.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/woocommerce-smallscreen.css'|theme}}" type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href="{{'assets/css/woocommerce.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/mediaelement/mediaelementplayer.min.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/mediaelement/wp-mediaelement.min.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/main.min.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/style-customabae.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/configs.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/wp-google-maps-pro/css/wpgmza_style_pro.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/wp-google-maps-pro/css/data_table_front.css'|theme}}" type='text/css' media='all' />
    <link rel="icon" type="image/x-icon" href="{{'assets/images/favicon_.png'|theme}}" />
    <link rel="stylesheet" type="text/css" media='all' href="{{'assets/css/mystyles.css'|theme}}" />
    <link rel="stylesheet" type='text/css' media='all' href="{{'assets/tether/dist/css/tether.css'|theme}}" />
    <link rel="stylesheet" type='text/css' media='all' href="{{'assets/tether/dist/css/tether-theme-basic.css'|theme}}" />
    <link rel="stylesheet" type="text/css" media='all' href="{{'assets/bootstrap/css/bootstrap.css'|theme}}" />
    <link rel="stylesheet" type="text/css" media='all' href="{{'assets/bootstrap/css/bootstrap-grid.css'|theme}}" />
    <link rel="stylesheet" type="text/css" media='all' href="{{'assets/bootstrap/css/bootstrap-reboot.css'|theme}}" />
    <link rel="stylesheet" href="{{'assets/css/customstyles.css'|theme}}" type='text/css' media='all' />
     <link rel="stylesheet" href="{{'assets/css/loader.css'|theme}}" type='text/css' media='all' />
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>
        {% styles %}
        {% framework extras %}
        <script>

$(document).ready(function() {
        
        $("#site").fadeIn('slow');
        $("#loader").fadeOut('fast');
    });

    
</script>
        {# {% scripts %} #}

    <style>
        .no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url({{'assets/images/ffelogo.png'|theme}}) center no-repeat #fff;
}
    </style>

   
    </head>
    <body class="home page page-id-12 page-parent page-template-default btx-layout btx-layout--wide btx-layout-responsive btx-layout--topnav btx-layout--fixednav" data-scheme="light" data-layout="wide">
    <div id="loader">
        <img src="{{'assets/images/FF_E2.png'|theme}}" alt="">
    </div>
    <div class="btx-wrapper btx-p-bg-bg btx-home hide-border" id="site" >

        <!-- Header -->
        <header class="btx-header" data-transparent="" data-height="90">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
             {% partial 'community/header' %}

            {% page %}

            {% partial 'community/footer' %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>
    </div>

        <!-- Scripts -->
       


        <!-- Bateaux Scripts -->
         
          
   

    <script type='text/javascript' src="{{'assets/revslider/public/assets/js/jquery.themepunch.tools.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/revslider/public/assets/js/jquery.themepunch.revolution.min.js'|theme}}"></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var BateauxOptions = {"ajax_url":"js/admin-ajax.html"};
    /* ]]> */
    </script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mejsL10n = {
            "language": "en-US",
            "strings": {
                "Close": "Close",
                "Fullscreen": "Fullscreen",
                "Download File": "Download File",
                "Download Video": "Download Video",
                "Play\/Pause": "Play\/Pause",
                "Mute Toggle": "Mute Toggle",
                "None": "None",
                "Turn off Fullscreen": "Turn off Fullscreen",
                "Go Fullscreen": "Go Fullscreen",
                "Unmute": "Unmute",
                "Mute": "Mute",
                "Captions\/Subtitles": "Captions\/Subtitles"
            }
        };
        var _wpmejsSettings = {
            "pluginPath": "js\/mediaelement\/"
        };
        
    </script>

   
        
    <script type='text/javascript' src="{{'assets/js/mediaelement/mediaelement-and-player.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/mediaelement/wp-mediaelement.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/hoverIntent.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/jquery/ui/widget.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/main-vendors.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/main.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/tether/dist/js/tether.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/bootstrap/js/bootstrap.min.js'|theme}}"></script>
   
       
    <script>
            

    $(window).on("load", function(){
  $('#uploadHeaderImage').click(function(event) { 
            event.preventDefault();
            //console.log('I am working');
            $('#headerimgupload').trigger('click'); 
        });

        $('#uploadProfileImage').click(function(event) { 
            event.preventDefault();
            //console.log('I am working');
            $('#profileimgupload').trigger('click'); 
        });
});
        </script>     

         <script>
        // Wait for window load
	$(window).on('load', function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
    </script>

   
        

    </body>
</html>