<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="{{'assets/dashboard2/assets/fonts/font-awesome/css/font-awesome.min.css' | theme }}" rel="stylesheet" type="text/css">
    <link href="{{'assets/dashboard2/assets/libraries/owl-carousel/owl.carousel.css' | theme }}" rel="stylesheet" type="text/css">
    <link href="{{'assets/dashboard2/assets/css/leaflet.css'|theme}}" rel="stylesheet" type="text/css">
    <link href="{{'assets/dashboard2/assets/css/leaflet.markercluster.css'|theme}}" rel="stylesheet" type="text/css">
    <link href="{{'assets/dashboard2/assets/css/leaflet.markercluster.default.css'|theme}}" rel="stylesheet" type="text/css">
    <link href="{{'assets/dashboard2/assets/css/materialist.css'|theme}}" rel="stylesheet" type="text/css" id="css-primary">
    <link rel="stylesheet" href="{{'assets/dashboard2/assets/css/mystyles.css'|theme}}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>
    <title>Kokore - Dashboard</title>
    {% framework extras %}
        {% scripts %}
</head>

<body class="">
 <div>{% flash success %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div> 
 <div>{% flash error %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div> 

    <div class="admin-wrapper">
        {% partial 'dashboard2/sidebar' %}

        <div class="admin-main">
            {% partial 'dashboard2/header' %}

                <div class="admin-content">
                    <div class="container-fluid">
                        {# <div class="admin-title">
                        {% if this.page.id == 'my-account' %}
                            <h1>Welcome To Your Kokore Dashboard</h1>
                        {% else %}
                            <h1>{{this.page.title}}</h1>
                        {% endif %}
                            {% if this.page.id == 'my-account' %}
                            <ul class="breadcrumb">
                                <li>
                                    <a href="{{'/'}}">Kokore</a>
                                    <i class="md-icon">keyboard_arrow_right</i>
                                </li>

                                <li class="active">Dashboard</li>
                            </ul>
                            {% else %}
                                <ul class="breadcrumb">
                                <li>
                                    <a href="{{'/'}}">Kokore</a>
                                    <i class="md-icon">keyboard_arrow_right</i>
                                </li>

                                <li>
                                    <a href="{{'my-account'|page}}">Dashboard</a> 
                                    <i class="md-icon">keyboard_arrow_right</i>
                                </li>

                                <li class="active"> {{this.page.title }} </li>

                            </ul>
                            {% endif %}
                        <!-- /.breadcrumb -->
                        </div> #}
            <!-- /.admin-title -->
                   {% page %}
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.admin-content -->
        </div>
        <!-- /.admin-main -->
    </div>
    <!-- /.admin-wrapper -->

    {# <div class="customizer">
        <div class="customizer-content">
            <h2>Color Variant</h2>

            <ul>
                <li>
                    <a href="assets/css/materialist-red.css" class="background-red"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-pink.css" class="background-pink"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-purple.css" class="background-purple"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-deep-purple.css" class="background-deep-purple"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-indigo.css" class="background-indigo"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-blue.css" class="background-blue"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-light-blue.css" class="background-light-blue"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-cyan.css" class="background-cyan"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-teal.css" class="background-teal"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-green.css" class="background-green"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-light-green.css" class="background-light-green"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-lime.css" class="background-lime"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-yellow.css" class="background-yellow"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-amber.css" class="background-amber"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-orange.css" class="background-orange"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-deep-orange.css" class="background-deep-orange"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-brown.css" class="background-brown"></a>
                </li>
                <li>
                    <a href="assets/css/materialist-blue-grey.css" class="background-blue-grey"></a>
                </li>
            </ul>
        </div>
        <!-- /.customizer-content -->

        <div class="customizer-title">
            <span>
                <i class="fa fa-cog"></i> Customizer</span>
        </div>
        <!-- /.customizer-title -->
    </div> #}
    <!-- /.customizer -->

    {# <script type="text/javascript" src="{{'assets/dashboard2/assets/js/jquery.js' | theme}}"></script> #}
    <script type="text/javascript" src="{{'assets/dashboard2/assets/js/tether.min.js' | theme}}"></script>
    <script type="text/javascript" src="{{'assets/dashboard2/assets/js/bootstrap.min.js' | theme}}"></script>
    <script type="text/javascript" src="{{'assets/dashboard2/assets/js/leaflet.js' | theme}}"></script>
    <script type="text/javascript" src="{{'assets/dashboard2/assets/js/leaflet.markercluster.js' | theme}}"></script>
    <script type="text/javascript" src="{{'assets/dashboard2/assets/libraries/owl-carousel/owl.carousel.min.js' | theme}}"></script>
    <script type="text/javascript" src="{{'assets/dashboard2/assets/js/materialist.js'|theme}}"></script>
</body>

</html>
