description = "Dashboard Layout"

[session]
security = "user"
redirect = "regular-account"

[account]
redirect = "regular-account"
paramCode = "code"
forceSecure = 0
==
<!doctype html>
<html lang="en">
<head>
     {% partial 'site/analytics' %}
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

	<title>KOKORE - My account</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{{'assets/dashboard/assets/css/bootstrap.min.css' | theme}}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{{'assets/dashboard/assets/css/animate.min.css' | theme}}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="{{'assets/dashboard/assets/css/paper-dashboard.css' | theme}}" rel="stylesheet"/>
    <link href="{{'assets/dashboard/assets/css/mystyles.css' | theme}}" rel="stylesheet"/>



    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{{'assets/dashboard/assets/css/themify-icons.css' | theme }}" rel="stylesheet">

    {# <!-- Bateaux Styles -->

    <link rel='stylesheet' href="{{'assets/LayerSlider/static/css/layerslider.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/revslider/public/assets/css/settings.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/woocommerce-layout.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/woocommerce-smallscreen.css'|theme}}" type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href="{{'assets/css/woocommerce.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/mediaelement/mediaelementplayer.min.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/mediaelement/wp-mediaelement.min.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/main.min.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/style-customabae.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/configs.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/wp-google-maps-pro/css/wpgmza_style_pro.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/wp-google-maps-pro/css/data_table_front.css'|theme}}" type='text/css' media='all' />
    <link rel="icon" type="image/x-icon" href="{{'assets/images/favicon_.png'|theme}}" />
    <link rel="stylesheet" type="text/css" media='all' href="{{'assets/css/mystyles.css'|theme}}" />
    <link rel="stylesheet" type='text/css' media='all' href="{{'assets/tether/dist/css/tether.css'|theme}}" />
    <link rel="stylesheet" type='text/css' media='all' href="{{'assets/tether/dist/css/tether-theme-basic.css'|theme}}" />
    <link rel="stylesheet" type="text/css" media='all' href="{{'assets/bootstrap/css/bootstrap.css'|theme}}" />
    <link rel="stylesheet" type="text/css" media='all' href="{{'assets/bootstrap/css/bootstrap-grid.css'|theme}}" />
    <link rel="stylesheet" type="text/css" media='all' href="{{'assets/bootstrap/css/bootstrap-reboot.css'|theme}}" />
    <link rel="stylesheet" href="{{'assets/css/customstyles.css'|theme}}" type='text/css' media='all' /> #}

    {# Kokore Styles #}

     
        <!-- Dropdownhover CSS -->
        <link rel="stylesheet" href="{{'assets/css/bootstrap-dropdownhover.min.css'|theme}}" type="text/css">
        <!-- latest fonts awesome -->
        <link rel="stylesheet" href="{{'assets/font/css/font-awesome.min.css'|theme}}" type="text/css">
        <!-- simple line fonts awesome -->
        <link rel="stylesheet" href="{{'assets/simple-line-icon/css/simple-line-icons.css'|theme}}" type="text/css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="{{'assets/css/animate.min.css'|theme}}" type="text/css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{{'assets/css/style.css'|theme}}" type="text/css">
        <!--  baguetteBox -->
        <link rel="stylesheet" href="{{'assets/css/baguetteBox.css'|theme}}">
        <!-- Owl Carousel Assets -->
        <link href="{{'assets/owl-carousel/owl.carousel.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/owl-carousel/owl.theme.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/css/mystyles.css'|theme}}" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>

</head>
<body>
<div class="wrapper">
<div>{% flash success %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div> 
<div>{% flash error %} <p data-control="flash-message" data-interval="5" class="error">{{message}} </p>{% endflash %}</div> 
<header class="btx-header" data-transparent="" data-height="90">

            {% partial 'site/header' %}
        </header>  
    <div class="sidebar" data-background-color="white" data-active-color="danger">
    

        <!-- Sidebar -->
        {% partial 'dashboard/sidebar' %}
    </div>
    
    <div class="main-panel">
        <!-- Header -->
        
            {# {% partial 'dashboard/header' %} #}
      

        <!-- Content -->
        <div class="maincontent">
            {% page %}
        </div>
            
       

        <!-- Footer -->
        
    </div>
    {# <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer> #}
</div>


        <!--   Core JS Files   -->
   
        {% framework extras %}
        {% scripts %}
    <script src="{{'assets/js/bootstrap.min.js'|theme}}"></script>
        <script src="{{'assets/js/bootstrap-dropdownhover.min.js'|theme}}"></script>
        <!-- Plugin JavaScript -->
        <script src="{{'assets/js/jquery.easing.min.js'|theme}}"></script>
        <script src="{{'assets/js/wow.min.js'|theme}}"></script>
        <!--  Custom Theme JavaScript  -->
        <script src="{{'assets/js/custom.js'|theme}}"></script>
        <script src="{{'assets/js/instafeed.min.js'|theme}}"></script>
        <script src="{{'assets/js/custom-insta.js'|theme}}"></script>
        <script src="{{'assets/scrollbox/jquery.scrollbox.js'|theme}}"></script>
        <!-- owl carousel -->
        <script src="{{'assets/owl-carousel/owl.carousel.js'|theme}}"></script>
        <script src="{{'assets/js/filters.js'|theme}}"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="{{'assets/dashboard/assets/js/bootstrap-checkbox-radio.js' | theme}}"></script>

	<!--  Charts Plugin -->
	<script src="{{'assets/dashboard/assets/js/chartist.min.js' | theme}}"></script>

    <!--  Notifications Plugin    -->
    <script src="{{'assets/dashboard/assets/js/bootstrap-notify.js' | theme}}"></script>


    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="{{'assets/dashboard/assets/js/paper-dashboard.js' | theme}}"></script>


    <script type="text/javascript">
         $(window).load(function(){        
   //$('#myModal').modal('show');
    }); 
    </script>
    <!--
	<script type="text/javascript">
    	$(document).ready(function(){

        	demo.initChartist();

        	$.notify({
            	icon: 'ti-gift',
            	message: "Welcome to <b>Paper Dashboard</b> - a beautiful Bootstrap freebie for your next project."

            },{
                type: 'success',
                timer: 4000
            });

    	});
	</script> -->
</body>
</html>