description = "No Nav Default layout"
[session]
[Navigation]
[DisplaySingleProduct]
security = "all"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Kokore - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <link rel="icon" type="image/png" href="{{ 'assets/images/FF_E3fav-11.png'|theme }}">
        <!-- Bateaux Styles -->
        <link rel="shortcut icon" href="assets/img/ficon.png">
	<!-- Latest Bootstrap min CSS -->
        <link rel="stylesheet" href="{{'assets/css/bootstrap.min.css'|theme}}" type="text/css">
        <!-- Dropdownhover CSS -->
        <link rel="stylesheet" href="{{'assets/css/bootstrap-dropdownhover.min.css'|theme}}" type="text/css">
        <!-- latest fonts awesome -->
        <link rel="stylesheet" href="{{'assets/font/css/font-awesome.min.css'|theme}}" type="text/css">
        <!-- simple line fonts awesome -->
        {% if not this.page.id == 'print-ajax' %}
        <link rel="stylesheet" href="{{'assets/simple-line-icon/css/simple-line-icons.css'|theme}}" type="text/css">
        {% endif %}
        <!-- Animate CSS -->
        <link rel="stylesheet" href="{{'assets/css/animate.min.css'|theme}}" type="text/css">

         {# {% placeholder decorStyles %} #}
         {% styles %}
        <!-- Style CSS -->
        <link rel="stylesheet" href="{{'assets/css/style.css'|theme}}" type="text/css">
        <!--  baguetteBox -->
        <link rel="stylesheet" href="{{'assets/css/baguetteBox.css'|theme}}">
        <!-- Owl Carousel Assets -->
        <link href="{{'assets/owl-carousel/owl.carousel.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/owl-carousel/owl.theme.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/css/mystyles.css'|theme}}" rel="stylesheet" type="text/css">


       


        <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>
    
        
        {% framework extras %}
    </head>
    <body>
    <div>{% flash success %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div> 
     <div>{% flash error %} <p data-control="flash-message" data-interval="5" class="error">{{message}} </p>{% endflash %}</div> 
        <!--  Preloader  -->
        <div id="preloader">
            <div id="loading"> </div>
        </div>

        
            <!-- Header -->
            {#<header>
                {% partial 'site/header' %}
            </header> #}
            <!-- Content -->
            {% page %}
        

        <!-- Footer -->
        <footer style="position:relative; background: transparent; padding:0px !important; margin-top:200px;">
            {% partial 'site/footer3' %}
        </footer>
        <div class="modal fade bwidth" id="quickModal" tabindex="-1" role="dialog">
        </div>

       
        
        <!-- Scripts -->
        {# <script src="{{'assets/js/jquery.js'|theme}}"></script> #}
        <!-- Bootstrap Core JavaScript -->
        {# <script src="{{'assets/js/jquery.js'|theme}}"></script> #}

        <script src="{{'assets/js/bootstrap.min.js'|theme}}"></script>
        <script src="{{'assets/js/bootstrap-dropdownhover.min.js'|theme}}"></script>
        <script src="{{'assets/js/incrementing.js'|theme}}"></script>
        <!-- Plugin JavaScript -->
        <script src="{{'assets/js/jquery.easing.min.js'|theme}}"></script>
        <script src="{{'assets/js/wow.min.js'|theme}}"></script>
        <!--  Custom Theme JavaScript  -->
       
        {% if this.page.id == 'home' %}
        <script src="{{'assets/js/instafeed.min.js'|theme}}"></script>
        {% endif %}
        
        <script src="{{'assets/js/baguetteBox.js'|theme}}"></script>
        
        <script src="{{'assets/js/controls.js'|theme}}"></script>
	    <script src="{{'assets/js/jquery.filterizr.js'|theme}}"></script>
        
         <script src="{{'assets/js/custom.js'|theme}}"></script>
        
        <script src="{{'assets/js/custom-insta.js'|theme}}"></script>
        <script src="{{'assets/scrollbox/jquery.scrollbox.js'|theme}}"></script>
       
        <!-- owl carousel -->
        <script src="{{'assets/owl-carousel/owl.carousel.js'|theme}}"></script>
        <script src="{{'assets/js/filters.js'|theme}}"></script>

        <script>
        $('#instafeed').scrollbox();
        $(document).ready(function(){
            $('#professional-toggl').click(function(){
                $('#professional-btn').addClass('regnavactive');
                $('#professional').show();
                $('#regular').hide();
                $('#regular-btn').removeClass('regnavactive');
            });
            $('#regular-toggl').click(function(){
                $('#regular-btn').addClass('regnavactive');
                $('#regular').show();
                $('#professional').hide();
                $('#professional-btn').removeClass('regnavactive');
                
            });
        });

        $(document).ready(function(){
            $('.simplefilter > li').click(function(){
                $('.simplefilter > li').removeClass('active');
                $(this).addClass('active');
            });

            $("input:radio[name='use_for_shipping']").click(function(){
                if($("input:radio[name='use_for_shipping']:checked").val() == 'no') {
                    $('#shippinginfo').removeClass('hide');
                } else {
                    $('#shippinginfo').addClass('hide');
                }
                
            });

             
        });
    </script>


    	<script>

  $('a.submit').click(function(e) {
    e.preventDefault();
    $(this).closest('form').submit();
}); 

$('#myCart_form').keydown(function(e) {
    if (e.keyCode != 13) // Enter or Return keystroke
        return;
    $(this).submit();
});






	
	</script>

    <script>
       // $('#sizeselect').change(function(){
        //    console.log($(this).val());
         //   $(this).attr('data-request-data', 'sizeprice:'+$('option:selected', this).attr('data-price'));
        //})   
    </script>
    <script>
        $(document).on('change','#sizeselect',function(){
            var clickedId = $('option:selected', this).attr('data-price');
            console.log(clickedId);
            $(this).request('onSizeSelect', {
                data: {sizeprice: clickedId}
            });
        });
    </script>
    <script>
        $(document).on('change','#sizeselect2',function(){
            var clickedId = $('option:selected', this).attr('data-price');
            console.log(clickedId);
            $(this).request('onSizeSelect', {
                data: {sizeprice: clickedId}
            });
        });
    </script>

    <script type="text/javascript">

  // Original JavaScript code by Chirp Internet: www.chirp.com.au
  // Please acknowledge use of this code by including this header.

  window.addEventListener("DOMContentLoaded", function(e) {

    var stage = document.getElementById("stage");
    var fadeComplete = function(e) { stage.appendChild(arr[0]); };
    var arr = stage.getElementsByTagName("a");
    for(var i=0; i < arr.length; i++) {
      arr[i].addEventListener("animationend", fadeComplete, false);
    }

  }, false);

</script>
    {# <script>
        $(document).on('change','#sizeselect',function(){
            var clickedId = $('option:selected', this).attr('data-price');
            console.log(clickedId);
            $(this).request('onSizeSelect', {
                data: {sizeprice: clickedId}
            });
        });
    </script> #}
    {% scripts %}
    </body>
</html>
