description = "Default layout"

[session]
security = "all"
redirect = 404

[Navigation]
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Kokore - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        {# <link rel="icon" type="image/png" href="{{ 'assets/images/FF_E3fav-11.png'|theme }}"> #}
        {# <link rel="shortcut icon" href="assets/img/ficon.png"> #}
        {# <link rel="stylesheet" href="{{'assets/css/bootstrap.min.css'|theme}}" type="text/css">
        <link rel="stylesheet" href="{{'assets/css/bootstrap-dropdownhover.min.css'|theme}}" type="text/css">
        <link rel="stylesheet" href="{{'assets/font/css/font-awesome.min.css'|theme}}" type="text/css"> #}
        {% if not this.page.id == 'print-ajax' %}
        <link rel="stylesheet" href="{{'assets/simple-line-icon/css/simple-line-icons.css'|theme}}" type="text/css">
        {% endif %}
        <link rel="stylesheet" href="{{'assets/css/animate.min.css'|theme}}" type="text/css">
        {% styles %}
        {# <link rel="stylesheet" href="{{'assets/css/style.css'|theme}}" type="text/css">
        <link rel="stylesheet" href="{{'assets/css/baguetteBox.css'|theme}}">
        <link href="{{'assets/owl-carousel/owl.carousel.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/owl-carousel/owl.theme.css'|theme}}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{'assets/CircularContentCarousel/css/style.css'|theme}}" type="text/css">
        <link rel="stylesheet" href="{{'assets/CircularContentCarousel/css/jquery.jscrollpane.css'|theme}}" type="text/css">
        <link href="{{'assets/css/mystyles.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/css/mobilestyles.css'|theme}}" rel="stylesheet" type="text/css"> #}
        <link rel="stylesheet" href="{{
            [
                'assets/css/bootstrap.min.css',
                'assets/css/bootstrap-dropdownhover.min.css',
                'assets/font/css/font-awesome.min.css',
                'assets/css/animate.min.css',
                'assets/css/style.css',
                'assets/css/baguetteBox.css',
                'assets/owl-carousel/owl.carousel.css',
                'assets/owl-carousel/owl.theme.css',
                'assets/CircularContentCarousel/css/style.css',
                'assets/CircularContentCarousel/css/jquery.jscrollpane.css',
                'assets/css/mystyles.css',
                'assets/css/mobilestyles.css'
            ]|theme
        }}">
    
        {% if this.page.id == "home" %}
            {# <link rel="stylesheet" type="text/css" href="{{'assets/slitslider/css/demo.css'|theme}}" />
            <link rel="stylesheet" type="text/css" href="{{'assets/slitslider/css/style.css'|theme}}" />
            <link rel="stylesheet" type="text/css" href="{{'assets/slitslider/css/custom.css'|theme}}" /> #}
            <link rel="stylesheet" type="text/css" href="{{'assets/simpleslider/style.css'|theme}}" />
            <script type="text/javascript" src="{{'assets/slitslider/js/modernizr.custom.79639.js'|theme}}"></script>
            <noscript>
                <link rel="stylesheet" type="text/css" href="{{'assets/slitslider/css/styleNoJS.css'|theme}}" />
            </noscript>
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>   
        {% partial 'helper-script/linktopost' %}
        {% framework extras %}
    </head>
    <body>
    <div>{% flash success %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div> 
     <div>{% flash error %} <p data-control="flash-message" data-interval="5" class="error">{{message}} </p>{% endflash %}</div> 
        <!--  Preloader  -->
        <div id="preloader">
            <div id="loading"> </div>
        </div>

        
            <!-- Header -->
            <header>
                {% partial 'site/topbar' %}
                {% partial 'site/header' %}
            </header>
            <!-- Content -->
            {% page %}
        

        <!-- Footer -->
        <footer style="background: #000; position:relative">
            {% partial 'site/footer2' %}
        </footer>

        <div class="modal fade bwidth" id="quickModal" tabindex="-1" role="dialog">
        </div>

        <div class="modal fade bwidth" id="homeitemsModal" tabindex="-1" role="dialog">
            </div>

        {% partial 'site/log-reg-modal' %}
        <script src="{{'assets/js/bootstrap.min.js'|theme}}"></script>
        <script src="{{'assets/js/bootstrap-dropdownhover.min.js'|theme}}"></script>
        <script src="{{'assets/js/incrementing.js'|theme}}"></script>
        <script src="{{'assets/js/jquery.easing.min.js'|theme}}"></script>
        <script src="{{'assets/js/wow.min.js'|theme}}"></script>
        {% if this.page.id == 'home' %}
        <script src="{{'assets/js/instafeed.min.js'|theme}}"></script>
        {% endif %}
        <script src="{{'assets/js/baguetteBox.js'|theme}}"></script>
        <script src="{{'assets/js/controls.js'|theme}}"></script>
	    <script src="{{'assets/js/jquery.filterizr.js'|theme}}"></script>
        <script src="{{'assets/js/custom.js'|theme}}"></script>
        <script src="{{'assets/js/custom-insta.js'|theme}}"></script>
        <script src="{{'assets/scrollbox/jquery.scrollbox.js'|theme}}"></script>
        <script src="{{'assets/owl-carousel/owl.carousel.js'|theme}}"></script>
        <script src="{{'assets/js/filters.js'|theme}}"></script>
        {# <script src="{{
            [
                'assets/js/bootstrap.min.js',
                'assets/js/bootstrap-dropdownhover.min.js',
                'assets/js/incrementing.js',
                'assets/js/jquery.easing.min.js',
                'assets/js/wow.min.js',
                'assets/js/instafeed.min.js',
                'assets/js/baguetteBox.js',
                'assets/js/controls.js',
                'assets/js/jquery.filterizr.js',
                'assets/js/custom.js',
                'assets/js/custom-insta.js',
                'assets/scrollbox/jquery.scrollbox.js',
                'assets/owl-carousel/owl.carousel.js',
                'assets/js/filters.js'
            ]|theme
        }}">
        
        </script> #}




        <script>
                    $('.rating input').change(function () {
                var $radio = $(this);
                $('.rating .selected').removeClass('selected');
                $radio.closest('label').addClass('selected');
            });

            {# $('.rating2 input').change(function () {
                var $radio = $(this);
                $('.rating2 .selected').removeClass('selected');
                $radio.closest('label').addClass('selected');
            });

            $('.rating3 input').change(function () {
                var $radio = $(this);
                $('.rating3 .selected').removeClass('selected');
                $radio.closest('label').addClass('selected');
            }); #}

            $.fn.stars = function() {
            return $(this).each(function() {
                // Get the value
                var val = parseFloat($(this).html());
                // Make sure that the value is in 0 - 5 range, multiply to get width
                var size = Math.max(0, (Math.min(5, val))) * 16;
                // Create stars holder
                var $span = $('<span />').width(size);
                // Replace the numerical value with stars
                $(this).html($span);
            });
        }

        $(function() {
            $('span.stars').stars();
        });
 
</script>

        <script>
        $('#instafeed').scrollbox();
        $(document).ready(function(){
            $('#professional-toggl').click(function(){
                $('#professional-btn').addClass('regnavactive');
                $('#professional').show();
                $('#regular').hide();
                $('#regular-btn').removeClass('regnavactive');
            });
            $('#regular-toggl').click(function(){
                $('#regular-btn').addClass('regnavactive');
                $('#regular').show();
                $('#professional').hide();
                $('#professional-btn').removeClass('regnavactive');
                
            });
        });

        $(document).ready(function(){
            $('.simplefilter > li').click(function(){
                $('.simplefilter > li').removeClass('active');
                $(this).addClass('active');
            });

            $("input:radio[name='use_for_shipping']").click(function(){
                if($("input:radio[name='use_for_shipping']:checked").val() == 'no') {
                    $('#shippinginfo').removeClass('hide');
                } else {
                    $('#shippinginfo').addClass('hide');
                }
                
            });

             
        });
    </script>


    	<script>

  $('a.submit').click(function(e) {
    e.preventDefault();
    $(this).closest('form').submit();
}); 

$('#myCart_form').keydown(function(e) {
    if (e.keyCode != 13) // Enter or Return keystroke
        return;
    $(this).submit();
});

	
	</script>

    {# <script>
        $(document).on('click','.addnewsletteruser', function(){
            var email = $('#newsletteremail').val();
            //console.log(email);
            $.request('onSubscribe',{
                data: {email:email}
            });
        });
    </script> #}

    <script>
       $(document).on('click','#couponsubmit', function(){
           var couponCode = $('#couponcode').val();
           $.request('onApplyCoupon', {
               data: {coupon: couponCode}
           });
       });
    </script>
    <script>
        $(document).on('change','#sizeselectModal',function(){
            var clickedId = $('option:selected', this).attr('data-price');
            var productId = $('option:selected', this).attr('data-product');
            console.log(productId);
            $.request('onSizeSelectModal', {
                data: {sizeprice: clickedId, product:productId}
            });
        });
    </script>
    <script>
        $(document).on('change','#sizeselect2',function(){
            var clickedId = $('option:selected', this).attr('data-price');
            var productId = $('option:selected', this).attr('data-product');
            console.log(productId);
            $(this).request('onSizeSelect', {
                data: {sizeprice: clickedId, product: productId}
            });
        });
    </script>
    <script>
        $(document).on('change','#sizeselectCart',function(){
            var clickedSize = $('option:selected', this).attr('data-price');
            var product = $('option:selected', this).attr('data-product');
            var index = $('option:selected', this).attr('data-index');
            var quantity = $('.quantity'+index).val();
            $.request('onSizeSelectCart', {
                data: {sizeInText: clickedSize, product: product, index:index, quantity:quantity}
            });
        });
    </script>
    <script>
        function getQuantityIndex(value,index){
            var dataPrice = $('.finalprice'+index).children('span').attr('data-price');
            var cost = dataPrice * value;
            console.log(cost);
            $.request('onChangeQuantityCart', {
                data: {index:index,cost:cost}
            });
		};
    </script>

    


    <script type="text/javascript">

  // Original JavaScript code by Chirp Internet: www.chirp.com.au
  // Please acknowledge use of this code by including this header.

  window.addEventListener("DOMContentLoaded", function(e) {

    var stage = document.getElementById("stage");
    var fadeComplete = function(e) { stage.appendChild(arr[0]); };
    var arr = stage.getElementsByTagName("a");
    for(var i=0; i < arr.length; i++) {
      arr[i].addEventListener("animationend", fadeComplete, false);
    }

  }, false);

</script>
    {# <script>
        $(document).on('change','#sizeselect',function(){
            var clickedId = $('option:selected', this).attr('data-price');
            console.log(clickedId);
            $(this).request('onSizeSelect', {
                data: {sizeprice: clickedId}
            });
        });
    </script> #}

    {% scripts %}
    {% if this.page.id == 'home' %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{'assets/simpleslider/script.js'|theme}}"></script>
        {# <script type="text/javascript" src="{{'assets/slitslider/js/jquery.ba-cond.min.js'|theme}}"></script>
		<script type="text/javascript" src="{{'assets/slitslider/js/jquery.slitslider.js'|theme}}"></script> #}
		{# <script type="text/javascript">	
			$(function() {
			
				var Page = (function() {

					var $nav = $( '#nav-dots > span' ),
						slitslider = $( '#slider' ).slitslider( {
							onBeforeChange : function( slide, pos ) {

								$nav.removeClass( 'nav-dot-current' );
								$nav.eq( pos ).addClass( 'nav-dot-current' );

							}
						} ),

						init = function() {

							initEvents();
							
						},
						initEvents = function() {

							$nav.each( function( i ) {
							
								$( this ).on( 'click', function( event ) {
									
									var $dot = $( this );
									
									if( !slitslider.isActive() ) {

										$nav.removeClass( 'nav-dot-current' );
										$dot.addClass( 'nav-dot-current' );
									
									}
									
									slitslider.jump( i + 1 );
									return false;
								
								} );
								
							} );

						};

						return { init : init };

				})();

				Page.init();

				/**
				 * Notes: 
				 * 
				 * example how to add items:
				 */

				/*
				
				var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');
				
				// call the plugin's add method
				ss.add($items);

				*/
			
			});
		</script> #}
    {% endif %}
    {# <script src="{{'assets/CircularContentCarousel/js/jquery.easing.1.3.js'|theme}}" type="text/javascript"></script>
    <script src="{{'assets/CircularContentCarousel/js/jquery.mousewheel.js'|theme}}" type="text/javascript"></script>
    <script src="{{'assets/CircularContentCarousel/js/jquery.contentcarousel.js'|theme}}" type="text/javascript"></script>
    <script type="text/javascript">
		$('#ca-container').contentcarousel();
	</script> #}
    </body>
</html>