description = "Default layout"
[session]
security = "all"
==
<!DOCTYPE html>
<html>
    <head>
         {% partial 'site/analytics' %}
        <meta charset="utf-8">
        <title>FFE.ng - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <link rel="icon" type="image/png" href="{{ 'assets/images/favicon_.png'|theme }}">
        <!-- Bateaux Styles -->
        <link rel='stylesheet' href="{{'assets/LayerSlider/static/css/layerslider.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/revslider/public/assets/css/settings.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/woocommerce-layout.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/woocommerce-smallscreen.css'|theme}}" type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href="{{'assets/css/woocommerce.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/mediaelement/mediaelementplayer.min.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/mediaelement/wp-mediaelement.min.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/main.min.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/style-customabae.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/configs.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/css/mystyles.css'|theme}}" type='text/css' media='all' />

    <link rel='stylesheet' href="{{'assets/js/wp-google-maps-pro/css/wpgmza_style_pro.css'|theme}}" type='text/css' media='all' />
    <link rel='stylesheet' href="{{'assets/js/wp-google-maps-pro/css/data_table_front.css'|theme}}" type='text/css' media='all' />

    <link rel="icon" type="image/x-icon" href="{{'assets/images/favicon_.png'|theme}}" />
    <link rel="stylesheet" type="text/css" media='all' href="{{'assets/css/mystyles.css'|theme}}" />
    <link rel="stylesheet" type='text/css' media='all' href="{{'assets/tether/dist/css/tether.css'|theme}}" />
    <link rel="stylesheet" type='text/css' media='all' href="{{'assets/tether/dist/css/tether-theme-basic.css'|theme}}" />
    <link rel="stylesheet" type="text/css" media='all' href="{{'assets/bootstrap/css/bootstrap.css'|theme}}" />
    <link rel="stylesheet" type="text/css" media='all' href="{{'assets/bootstrap/css/bootstrap-grid.css'|theme}}" />
    <link rel="stylesheet" type="text/css" media='all' href="{{'assets/bootstrap/css/bootstrap-reboot.css'|theme}}" />
    <link rel="stylesheet" href="{{'assets/css/customstyles.css'|theme}}" type='text/css' media='all' />
     <link rel="stylesheet" href="{{'assets/css/loader.css'|theme}}" type='text/css' media='all' />

    
        {% styles %}
      <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>
        <script>

$(document).ready(function() {
        $("#site").fadeIn('slow');
        $("#loader").fadeOut('fast');

    });

    
</script>
        
    </head>
    <body class="single single-product postid-980 woocommerce woocommerce-page btx-layout btx-layout--wide btx-layout-responsive btx-layout--topnav btx-layout--fixednav" data-scheme="light" data-layout="wide">
<div id="loader">
        <img src="{{'assets/images/FF_E2.png'|theme}}" alt="">
    </div>
    <div class="btx-wrapper btx-p-bg-bg btx-home hide-border" id="site" >

        <!-- Header -->
        <header class="btx-header" data-transparent="" data-height="90">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>
    </div>

        <!-- Scripts -->
     
    {% framework extras %}


        <!-- Bateaux Scripts -->
         
  
 

    <script type='text/javascript' src="{{'assets/revslider/public/assets/js/jquery.themepunch.tools.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/revslider/public/assets/js/jquery.themepunch.revolution.min.js'|theme}}"></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var BateauxOptions = {"ajax_url":"{{'assets/js/admin-ajax.html'}}"};
    /* ]]> */
    </script>
  
        
      
         
    <script type='text/javascript' src="{{'assets/js/mediaelement/mediaelement-and-player.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/mediaelement/wp-mediaelement.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/hoverIntent.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/jquery/ui/widget.min.js'|theme}}"></script> 
    <script type='text/javascript' src="{{'assets/js/main-vendors.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/js/main.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/tether/dist/js/tether.min.js'|theme}}"></script>
    <script type='text/javascript' src="{{'assets/bootstrap/js/bootstrap.min.js'|theme}}"></script>
    <script>
        $(document).ready(function() {
            $(".btx-quantity-plus").click(function(){
                var number = $(".btx-quantity-text").val();
                number = ++number;
                $("#itemQuantity").attr('value', number);
            });
            $(".btx-quantity-minus").click(function(){
                var number = $(".btx-quantity-text").val();
                number = --number;
                $("#itemQuantity").attr('value', number);
            });
        });
    </script>

    </body>
</html>
