{% for print in urlUser.prints|slice(0,7) %}
			<div class="col-sm-4 video">
				<div class="portfolio-item text-center">
					<a href="/products/product/{{print.slug}}">
					<div class="thumb">
						<div class="icons">
							<a href="{{print.product_image.path}}" class="portfolio-image" data-effect="mfp-move-horizontal">
								<i class="icon-size-fullscreen fullscreen"></i>
							</a>
							<a href="/products/product/{{print.slug}}">
								<i class="icon-link link"></i>
							</a>
						</div>
						<img src="{{print.product_image.path}}" alt="Portfolio-title" />
						{# <div class="mask"></div> #}
					</div>
					</a>
					<h4 class="title"><a href="/products/product/{{print.slug}}">{{print.product_name}}</a></h4>
					{% for category in print.categories %}
						<span class="term">{{category.category_name}}</span>
					{% endfor %}
				</div>
				
			</div>
			{% endfor %}