 <div class="grid-spr newPagetions">
    {# page: <select name="Filter[page]" class="select-option">
                        {% for i in 1..pages %}
                            {% if i == page %}
                                <option value="{{page}}" selected>{{page}}</option>
                            {% else %}
                                <option value="{{i}}">{{i}}</option>
                            {% endif %}
                        {% endfor %}
                        <option value="">2</option>
                        </select> #}
    
    <ul class="pagination newPagetions">
        {% for i in 1..pages %}
            {% if i == page %}
            <li class="active">
                {# 
                 #}<span><input class="pagenumber" type="radio" value="{{i}}" data-value="{{i}}" name="Filter[page]" checked="checked" id="page{{i}}" /><label for="page{{i}}">{{i}}</label></span>
            </li>
            {% else %}
            <li>
                {# 
                <label for="page{{i}}">{{i}}</label> #} <span><input type="radio" class="pagenumber" value="{{i}}" data-value="{{i}}" name="Filter[page]" id="page{{i}}" /><label for="page{{i}}">{{i}}</label></span>
            </li>
            {% endif %}
            {# <input type="radio" value="2" data-value="2" name="Filter[page]" id="page2">
            <label for="page2">2</label> #}
        {% endfor %}
    </ul>
 </div> 

<script>
    function setCookie(cname, cvalue, exmins) {
        var d = new Date();
        d.setTime(d.getTime() + (exmins*60*1000));
        var expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
    }
    $('.pagenumber').click(function(){
        //alert('hello');
        var page = $(this).val();
        console.log(page);
        setCookie("pagination_posjs", page, 4);
        $('html, body').animate({scrollTop:0}, '300');
    });
</script>


 