
{% for print in prints %}
                        
	<div class="col-md-3 col-xs-6" style="padding:18px 30px;">
		<!-- .pro-text -->
		<div class="pro-text">
			<a href="{{'product-details'| page({'slug':print.slug})}}">
				{% if print.hover_image %}
				<div class="pro-img">
					<img class="mainimage" src="{{print.product_image.path}}" alt="{{print.slug}}">
					<img class="altimage" src="{{print.hover_image.path}}" alt="{{print.slug}}">
				{% else %}
					<div class="pro-img"> 
						<img class="" src="{{print.product_image.path}}"
							alt="{{print.slug}}">
						{% endif %}
				
						<!-- .hover-img -->
						<div class="hover-img">
							<ul>
								{% if user %}
								{% component 'Newfav' print_id = print.id %}
								<li><a href="#" data-toggle="modal" data-target="#quickModal"
										data-request="onView"
										data-request-data="slug: '{{print.slug}}'"
										data-whatever="@mdo"><i class="fa fa-search"
											aria-hidden="true"></i></a></li>
								{% else %}
									<li><a href="#" data-toggle="modal" data-target="#quickModal"
										data-request="onView"
										data-request-data="slug: '{{print.slug}}'"
										data-whatever="@mdo"><i class="fa fa-search"
											aria-hidden="true"></i></a></li>
								{% endif %}
								{# <li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li> #}


							</ul>
						</div>
						{% if print.sale_off %}
						<div class="discount tage">
							<span class="pres-text">-{{print.sale_amount}}%</span>
						</div>
						{% elseif print.new %}
						<div class="new tage">
							<span class="new-text">NEW</span>
						</div>
						{% elseif print.sale_off and print.new %}
						<div class="new tage">
							<span class="new-text">NEW</span>
							<span class="discount-text">-{{print.sale_amount}}%</span>
						</div>
						{% endif %}
						<!-- /.hover-img -->
					</div>

					<!-- /.pro-img -->
					<a style="display:inline !important"
						href="{{'product-details'| page({'slug':print.slug})}}">
						{{str_limit(print.product_name,15)}}
					</a>
					<span style="font-size:10px" class="pull-right"> <i
							class="fa fa-heart"></i>&nbsp; {{print.favorites_count}}
					</span>
					<div style="height:25px">
						{% if print.user %}
						<a href="{{'profile'|page({'display_name':print.user.display_name})}}"
							target="_blank" style="position: relative !important; top:-10px;">
							<span style="font-size:10px; ">by <span
									style=" color:#f0ad4e !important; font-weight:450 ">{{print.user.name}}
									{{print.user.surname}}</span></span>
						</a>
						{% endif %}
					</div>
					{# <form id="myCart_form" data-request="onAddToCart" data-request-flash class="cart" method="post" enctype='multipart/form-data' style="display: inline-block">
					<input type="hidden" name="quantity" value="1" />
					{% set printPrice = print.prices|first %}
					<input type="hidden" name="size" value="5 x 7" />
					<input type="hidden" name="frame" value="gold" />
					<input type="hidden" name="price" value="{{print.base_price.base_price}}" />
					<input type="hidden" name="product" value="{{print.id}}" />
					<a href="#" class="addtocart submit">+ Add to cart</a>
				</form> #}
					

					<a href="#" data-toggle="modal" data-target="#quickModal" data-request="onView" data-request-data="slug: '{{print.slug}}'" data-whatever="@mdo">+ Add to cart</a>
					
					{% if print.sale_off %}
					<div class="price">NGN {{print.base_price.eight_by_twelve - print.base_price.eight_by_twelve * print.sale_amount / 100}} <span class="sale">NGN {{print.base_price.eight_by_twelve}}</span>
						
					</div>
					{% else %}
						<div class="price">NGN {{print.base_price.eight_by_twelve}}</div>
					{% endif %}

				</div>
				<!-- /.pro-text -->
			</a>
		</div>
	
{% endfor %}
	</div>



					{# {{prints.render|raw}} #}

					<script>
					    $('.submit').click(function (e) {
					        e.preventDefault();
					        $(this).closest('form').submit();
					    });
					</script>