{% set products = __SELF__.products %}
 <a href="{{'create-portfolio'|page}}" class="btn btn-primary">Add Portfolio Item</a>
<div class="card">
            {# <div class="header">
                <h2 class="title">Prints</h2>
                <p class="category"></p>
            </div> #}
            <div class="content">
                {# <h3 style="text-align:center; line-height:40px">Add Print</h3> #}
                {# <ul>
                    <li>Click on "Create a project": Fill and submit project creation form</li>
                    <li>Click on "Create a project item": Fill and submit project item creation form. make sure you select the appropriate existing project for each item </li>
                    
                </ul> #}
                <div class="content table-responsive table-full-width">
   
    <table class="table table-striped">
        <thead>
            <th>id</th>
            <th>Item Name</th>
            <th>Item image</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="{{'edit-portfolio'|page({'slug':product.slug})}}">{{product.id}}</a></td>
                    <td><a href="{{'edit-portfolio'|page({'slug':product.slug})}}">{{product.name}}</a></td> 
                    <td><img src="{{product.portfolio_featured_image.path}}" alt="" width="50"></td>  
                    <td><a href="{{'edit-portfolio'|page({'slug':product.slug})}}" data-request="onDeletePortfolio" data-request-data="portfolio_id: {{product.id}}" data-request-confirm="Are you sure?">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
            </div>
        </div>
