{% set offers = __SELF__.offers %}


        
            
           
                <ul class="customcollections">
                    
                    {% for offer in offers %}
                        <li><a href="/prints/collections/{{offer.slug}}" class="childCategory">{{offer.offer_name}}</a></li>
                        {# <input type="checkbox" name="Filter[productCategories][]" value="{{subCategory.slug}}" data-value="{{subCategory.slug}}" id="{{subCategory.slug}}"> #}
                        {# <label for="{{subCategory.slug}}" class="categoryFilter" value="{{subCategory.slug}}">{{subCategory.category_name}}</label> #}
                    {% endfor %}
                </ul>
            
        