{% set projectSolutions = __SELF__.categoryProjectSolutions %}
{% set projectSolutionsCategory = __SELF__.projectSolutionsCategory %}
<main class="btx-content btx-content--no-header" id="main">
    <article id="post-5273" class="btx-content-wrapper post-5273 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry btx_portfolio_category-residential" >
        <div class="btx-main btx-main--single">
            <div class="btx-main-wrapper">
                <div class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
                    </div>
                    <div class="btx-section-wrapper">
                        <div class="btx-container">
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-heading btx-heading btx-heading--underline btx-left-align btx-p-border-border" style="border-bottom: 0px; padding-bottom:25px">
                                        <h2 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="display:inline !important">{{projectSolutionsCategory.category}}</h2> - <h4  style="display:inline !important"> Find ideas, inspiration and technical information for {{projectSolutionsCategory.category}} projects </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-gallery btx-gallery btx-gallery--masonry">
                                        <div class="btx-portfolio-content" >
                                            {% if projectSolutions|length > 0 %}
                                            {% for projectSolution in projectSolutions %}
                                            {% set firstS = projectSolution.solutions|first %}
<article class="btx-entry btx-entry-light-scheme btx-col-3 post-694 btx_portfolio type-btx_portfolio status-publish has-post-thumbnail hentry" style="padding:0 5px; margin-bottom:10px;">
    <a href="{{'project-solution'| page({'category':projectSolutionsCategory.slug,'slug':projectSolution.slug})}}" class="btx-entry-inner anmt-item anmt-fadeinu stagger anmt-content-frame anmt-image-blur">
        <div class="btx-entry-header ">
            <div class="btx-entry-media">
                <img src="{{firstS.solution_image.path}}" alt="{{projectSolution.title}}" />
            </div>
            <div>
            <br>
                <h4>{{projectSolution.title}}</h4>
            </div>
        </div>
    </a>
</article>
    {% endfor %}
    {% else %}
        <h3>Coming Soon</h3> 
        <p>There are no solutions in this category yet. </p>
    {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>

