{% set orders = __SELF__.dOrders %}

<div class="card">
           
            <div class="content">
<div class="content table-responsive table-full-width">
    <table class="table table-striped">
        <thead>
            <th>Order ID</th>
            {# <th>Order Total</th> #}
            <th>First Name</th>
            <th>Last Name</th>
            <th>Package</th>
            <th>Message</th>
            <th>Phone</th>
            <th>Amount</th>
            <th>Order Date</th>
            <th>Order Status</th>
            
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td><a href="{{'decororderdetails'|page({'slug':order.id})}}">Nº KKR-{{order.created_at|date('m/d/y')}}{{order.id}}</a></td>
                    {# <td>NGN {{order.total}}</td> #}
                    <td>{{order.f_name}}</td>
                    <td>{{order.l_name}}</td>
                    <td>{{order.package.package_name}} Package</td>
                    <td>{{order.message}}</td>
                    <td>{{order.phone}}</td>
                    <td>{{order.amount}}</td>
                    <td>{{order.created_at}}</td>
                    <td>{{order.status.name}}</td>
                      
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>