{# {% set homeitems = Shop.homeItems %} #}

{% put styles %}
    <link href="/themes/kokore/assets/css/affix-top.css" rel="stylesheet" />
{% endput %}



{% for homeitem in homeitems %}
	<div class="col-md-3 col-xs-6" style="padding:18px 30px;">
		<!-- .pro-text -->
		<div class="pro-text">
			<a href="{{'home-items-details'|page({'slug':homeitem.slug})}}">
				{% if homeitem.hover_image %}
				<div class="pro-img">
					<img class="homeitemimages" src="{{homeitem.product_image.path}}" alt="{{homeitem.slug}}">
					<img class="homeitemaltimage" src="{{homeitem.hover_image.path}}" alt="{{homeitem.slug}}">
				{% else %}
					<div class="pro-img"> 
						<img class="" src="{{homeitem.product_image.path}}"
							alt="{{homeitem.slug}}">
						{% endif %}
				
						<!-- .hover-img -->
						<div class="hover-img">
							{# <ul>
								{% if user %}
								{% component 'Newfav' print_id = homeitem.id %}
								<li><a href="#" data-toggle="modal" data-target="#quickModal"
										data-request="onView"
										data-request-data="slug: '{{homeitem.slug}}'"
										data-whatever="@mdo"><i class="fa fa-search"
											aria-hidden="true"></i></a></li>
								{% else %}
								<li><a href="#" data-toggle="modal" data-target="#logRegModal"><i
											class="fa fa-search" aria-hidden="true"></i></a></li>
								{% endif %}
								<li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>


							</ul> #}
						</div>
						
						{% if homeitem.sale_off %}
						<div class="discount tage">
							<span class="pres-text">-{{homeitem.sale_amount}}%</span>
						</div>
						{% elseif homeitem.new %}
						<div class="new tage">
							<span class="new-text">NEW</span>
						</div>
						{% elseif homeitem.sale_off and homeitem.new %}
						<div class="new tage">
							<span class="new-text">NEW</span>
							<span class="discount-text">-{{homeitem.sale_amount}}%</span>
						</div>
						{% endif %}
						<!-- /.hover-img -->
					</div>

					<!-- /.pro-img -->
					<a style="display:inline !important"
						href="{{'home-items-details'|page({'slug':homeitem.slug})}}">
						{{str_limit(homeitem.product_name,15)}}
					</a>
					{# <span style="font-size:10px" class="pull-right"> <i
							class="fa fa-heart"></i>&nbsp; {{print.favorites_count}}
					</span> #}
					{# <div style="height:25px">
						{% if print.user %}
						<a href="{{'profile'|page({'display_name':print.user.display_name})}}"
							target="_blank" style="position: relative !important; top:-10px;">
							<span style="font-size:10px; ">by <span
									style=" color:#f0ad4e !important; font-weight:450 ">{{print.user.name}}
									{{print.user.surname}}</span></span>
						</a>
						{% endif %}
					</div> #}
					{# <form id="myCart_form" data-request="onAddToCart" data-request-flash class="cart" method="post" enctype='multipart/form-data' style="display: inline-block">
					<input type="hidden" name="quantity" value="1" />
					{% set printPrice = print.prices|first %}
					<input type="hidden" name="size" value="5 x 7" />
					<input type="hidden" name="frame" value="gold" />
					<input type="hidden" name="price" value="{{print.base_price.base_price}}" />
					<input type="hidden" name="product" value="{{print.id}}" />
					<a href="#" class="addtocart submit">+ Add to cart</a>
				</form> #}
					{# {% if user %} #}

					<form id="myCart_form" data-request="onAddHomeItemToDbCart" data-request-flash class="cart" method="post">
										<input type="hidden" name="quantity" value="1" />
										{# <input type="hidden" name="size" value="12cmx18cm-5x7" /> #}
										{# {% set printPrice = homeitem.prices|first %} #}
										{# <input type="hidden" name="size" value="5 x 7" />
										<input type="hidden" name="frame" value="gold" /> #}
										
										<input type="hidden" name="price" value="{{homeitem.price}}" />
										<input type="hidden" name="product" value="{{homeitem.id}}" />
										
										{% if homeitem.categories[0].slug == 'grids' %}
											<a href="#" data-toggle="modal" data-target="#homeitemsModal" data-request="onViewGrids" data-request-data="slug: '{{homeitem.slug}}'" data-whatever="@mdo">+ Add to cart</a>
										{% else %}
											<a href="#" data-request-data="slug: '{{homeitem.slug}}'" type="submit" data-whatever="@mdo">+ Add to cart</a>
										{% endif %} 
									 	
										{# <a href="#" class="hart"><span class="fa fa-heart-o"></span></a> #}
								 	</form>
					{# {% else %}
																<a href="#" data-toggle="modal" data-target="#logRegModal">+ Add to cart</a>

					{% endif %} #}
					{% if homeitem.sale_off %}
					<div class="price">NGN
						{{homeitem.price - homeitem.price * homeitem.sale_amount / 100}}
					</div>
					{% else %}
					<div class="price">NGN {{homeitem.price}}</div>
					{% endif %}

				</div>
				<!-- /.pro-text -->
			</a>
		</div>
{% endfor %}