{# {% set homeitems = Shop.homeItems %} #}

{% put styles %}
    <link href="/themes/kokore/assets/css/affix-top.css" rel="stylesheet" />
{% endput %}
{% for homeitem in homeitems %}
    <div class="row">
						<!-- .pro-text -->
						<div class="pro-text">
							<div class="col-xs-12 col-sm-4 col-md-3">
								<!-- .pro-img -->
								
                                <a href="{{'home-items-details'|page({'slug':homeitem.slug})}}">
								{% if homeitem.hover_image %}
								<div class="pro-img"> <img class="homeitemimages" src="{{homeitem.product_image.path}}" alt="{{homeitem.product_name}}"><img class="homeitemaltimage" src="{{homeitem.hover_image.path}}" alt="{{homeitem.slug}}">
								

									{# <div class="new tage"> <span class="new-text">NEW</span> <span class="pres-text">-15%</span> </div> #}
								</div>
								{% else %}
									<div class="pro-img"> <img class="homeitemimages" src="{{homeitem.product_image.path}}" alt="{{homeitem.product_name}}"></div>
								{% endif %}
                                </a>
								<!-- /.pro-img -->
							</div>
							<div class="col-sm-8 col-md-8">
								<!-- .listview-detail -->
								<div class="listview-detail">
									<!-- /.pro-img --><a href="{{'home-items-details'|page({'slug':homeitem.slug})}}" style="font-weight: 200; padding-top:10px; font-size:20px;">{{str_limit(homeitem.product_name|raw, 25)}}</a>
									<div class="price2">NGN {{homeitem.price}}
                                    {# <span>200</span> #}
                                    </div>
									<div style="color: #000 !important">
										{% if homeitem.excerpt %}
											{{homeitem.excerpt|raw}}
										{% else %}
											{{homeitem.product_description|raw}}
										{% endif %}
									</div>
									
									{# <ul class="ul-content">
										<li>Light green crewneck sweatshirt.</li>
										<li>Hand pockets.</li>
										<li>Relaxed fit.</li>
									</ul>  #}
									<form id="myCart_form" data-request="onAddHomeItemToDbCart" data-request-flash class="cart" method="post">
										<input type="hidden" name="quantity" value="1" />
										{# <input type="hidden" name="size" value="12cmx18cm-5x7" /> #}
										{# {% set printPrice = homeitem.prices|first %} #}
										{# <input type="hidden" name="size" value="5 x 7" />
										<input type="hidden" name="frame" value="gold" /> #}
										
										<input type="hidden" name="price" value="{{homeitem.price}}" />
										<input type="hidden" name="product" value="{{homeitem.id}}" />
										
										{% if homeitem.categories[0].slug == 'grids' %}
											<a href="#" style="background-color:#000; color:#fff !important" data-toggle="modal" class="addtocart2" data-target="#homeitemsModal" data-request="onViewGrids" data-request-data="slug: '{{homeitem.slug}}'" data-whatever="@mdo">+ Add to cart</a>
										{% else %}
											<button class="addtocart2" style="background-color:#000; color:#fff">+ Add to cart</button>
										{% endif %} 
									 	
										{# <a href="#" class="hart"><span class="fa fa-heart-o"></span></a> #}
								 	</form>
									{# <a href="#" class="addtocart2">Add to cart</a> <a href="#" class="hart"><span class="fa fa-heart-o"></span></a></div> #}
								<!-- /.listview-detail -->
							</div>
						</div>
						<!-- /.pro-text -->
					</div>
{% endfor %}