{% set total = __SELF__.total %}
<main class="btx-content btx-content--with-header" id="main">
<div>{% flash success %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div>
    <article id="post-942" class="btx-content-wrapper post-942 page type-page status-publish hentry">

        
        <header class="btx-content-header js-dynamic-navbar btx-page-hero btx-page-hero--stacked btx-dark-scheme" style="height:400px;"
            data-role="header" data-scheme="dark">
            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                <div class="btx-background-wrapper" style="height: 397.6px; transform: translateY(-6.2px);">
                    <div class="btx-background-inner" style="background-image:url(http://www.bateauxtheme.com/content/uploads/bg-buiding.jpg); background-size:cover; background-position:center center; background-repeat:repeat;"></div>
                </div>
                <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.9;"></div>
            </div>
            <div class="btx-page-hero-inner btx-container">
                <div class="btx-page-hero-wrapper btx-center-align">
                    <div class="btx-page-hero-content btx-middle-vertical">
                        <div class="btx-page-hero-content-wrapper btx-center-align" style="max-width:550px;">


                            <div class="btx-page-hero-body">


                                <div class="btx-page-hero-body-title">
                                    <h1 class="btx-page-hero-title btx-s-text-color btx-secondary-font" style="letter-spacing:-0.02em;">Shopping Cart</h1>
                                </div>

                                {# <div class="btx-page-hero-subtitle btx-page-hero-subtitle--bottom btx-primary-font">
                                    <span style="color: rgb(255, 255, 255);">Just a few steps and your order is on the way to your door</span>
                                </div> #}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    
        <div class="btx-main btx-main--single">
            <div class="btx-main-wrapper">

                <div class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                    <div class="btx-background" data-type="image" data-parallaxspeed="0" data-contentfade="" data-mobileparallax="">
                        <div class="btx-background-overlay btx-p-bg-bg" style="opacity:0.5;"></div>
                    </div>
                    <div class="btx-section-wrapper" style="padding-top:40px; padding-bottom:40px;">
                        <div class="btx-container">
                            <div class="btx-row btx-row--main">
                                <div class="btx-col-12">
                                    <div class="btx-item js-item-text btx-text btx-left-align btx-primary-font">
                                        <div class="btx-row" style="margin:0 -30px;">
                                            
                                            <div class="btx-text-content btx-col-12" style="padding:0 30px;">
                                                <div class="btx-text-content-inner">
                                                {% if cart %}
                                                    <div class="woocommerce">
                                                        <form class="woocommerce-cart-form" data-request="onCartUpdate" method="post">

                                                            <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="product-remove">&nbsp;</th>
                                                                        <th class="product-thumbnail">&nbsp;</th>
                                                                        <th class="product-name">Product</th>
                                                                        <th class="product-price">Price</th>
                                                                        <th class="product-quantity">Quantity</th>
                                                                        <th class="product-subtotal">Total</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for cartItem in cart %}
                                                                        {# {% for cartItem in productKey %} #}

                                                                    <tr class="woocommerce-cart-form__cart-item cart_item">
                                                                        {# <form method="post"> #}
                                                                        
                                                                        <td class="product-remove">
                                                                            <a href="#" class="remove" aria-label="Remove this item" data-request="onRemoveFromCart" data-request-data="product:{{cartItem.id}}" >×</a>
                                                                            <input type="hidden" name="products[]" value="{{cartItem.slug}}">

                                                                        </td>
                                                                        {# </form> #}
                                                                        <td class="product-thumbnail">
                                                                            <a href="'/shop/'{{cartItem.slug}}">
                                                                                <img src="{{cartItem.product_image}}"
                                                                                    class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"/>
                                                                            </a>
                                                                        </td>

                                                                        <td class="product-name" data-title="Product">
                                                                            <a href="/shop/'{{cartItem.slug}}">{{cartItem.product}}</a>
                                                                        </td>

                                                                        <td class="product-price" data-title="Price">
                                                                            <span class="woocommerce-Price-amount amount">
                                                                                <span class="woocommerce-Price-currencySymbol">NGN </span>{{cartItem.price}}</span>
                                                                        </td>

                                                                        <td class="product-quantity" data-title="Quantity">
                                                                            <div class="quantity">
                                                                                 
                                    <input type="number" step="1" min="1" max="" name="quantity[]" value="{{cartItem.quantity}}" title="Qty" class="input-text qty text" size="4" pattern="[0-9]*"
                                        inputmode="numeric" />
                               
                                                                                
                                                                                {# <input type="number" id="quantity_59e1b6e7aea0f" class="input-text qty text" step="1" min="0" max="" name="cart[d79aac075930c83c2f1e369a511148fe][qty]"
                                                                                    value="2" title="Qty" size="4" pattern="[0-9]*"
                                                                                    inputmode="numeric"> #}
                                                                            </div>
                                                                        </td>

                                                                        <td class="product-subtotal" data-title="Total">
                                                                            <span class="woocommerce-Price-amount amount">
                                                                                <span class="woocommerce-Price-currencySymbol">NGN </span>{{cartItem.cost}}</span>
                                                                        </td>
                                                                    </tr>
                                                                    {# {% endfor %} #}
                                                                    {% endfor %}


                                                                    <tr>
                                                                        <td colspan="6" class="actions">

                                                                            {# <div class="coupon">
                                                                                <label for="coupon_code">Coupon:</label>
                                                                                <input type="text" name="coupon_code"
                                                                                    class="input-text" id="coupon_code" value=""
                                                                                    placeholder="Coupon code">
                                                                                <input type="submit" class="button" name="apply_coupon"
                                                                                    value="Apply coupon">
                                                                            </div> #}

                                                                            <input type="submit" class="button" value="Update Cart">

                                                                        </td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </form>

                                                        <div class="cart-collaterals">
                                                            <div class="cart_totals ">


                                                                <h2>Cart totals</h2>

                                                                <table cellspacing="0" class="shop_table shop_table_responsive">

                                                                    <tbody>
                                                                        <tr class="cart-subtotal">
                                                                            <th>Subtotal</th>
                                                                            <td data-title="Subtotal">
                                                                                <span class="woocommerce-Price-amount amount">
                                                                                    <span class="woocommerce-Price-currencySymbol">NGN </span>{{total}}</span>
                                                                            </td>
                                                                        </tr>
                                                                        {# <tr class="shipping">
                                                                            <th>Shipping</th>
                                                                            <td data-title="Shipping">
                                                                                <ul id="shipping_method">
                                                                                    <li>
                                                                                        <input type="radio" name="shipping_method[0]" data-index="0" id="shipping_method_0_legacy_free_shipping" value="legacy_free_shipping"
                                                                                            class="shipping_method" checked="checked">
                                                                                        <label for="shipping_method_0_legacy_free_shipping">Free Shipping</label>
                                                                                    </li>
                                                                                    <li>
                                                                                        <input type="radio" name="shipping_method[0]" data-index="0" id="shipping_method_0_legacy_international_delivery" value="legacy_international_delivery"
                                                                                            class="shipping_method">
                                                                                        <label for="shipping_method_0_legacy_international_delivery">Flat Rate:
                                                                                            <span class="woocommerce-Price-amount amount">
                                                                                                <span class="woocommerce-Price-currencySymbol">$</span>60.00</span>
                                                                                        </label>
                                                                                    </li>
                                                                                </ul>


                                                                            </td>
                                                                        </tr> #}
                                                                        <tr class="order-total">
                                                                            <th>Total</th>
                                                                            <td data-title="Total">
                                                                                <strong>
                                                                                    <span class="woocommerce-Price-amount amount">
                                                                                        <span class="woocommerce-Price-currencySymbol">NGN </span>{{total}}</span>
                                                                                </strong>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div class="wc-proceed-to-checkout">
                                                                    <a href="/checkout" class="checkout-button button alt wc-forward">
                                                                        Proceed to checkout</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% else %}
                                            <div class="woocommerce">
                                                                <p class="cart-empty">
                                                                    Your cart is currently empty.</p>

                                                                <p class="return-to-shop">
                                                                    <a class="button wc-backward" href="/source-products">     Return To Shop      </a>
                                                                </p>
                                                            </div>
                                            {% endif %}
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>