{% set total = __SELF__.dbCartTotal %}
{% set cart = __SELF__.dbCart %}
<div>{% flash success %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div>
<section class="shopping-cart">
		<!-- .shopping-cart -->
        <form class="woocommerce-cart-form" data-request="onCartUpdate" method="post" id="#myCart_form">
		<div class="container">
			
			{% if cart is not empty %}
				<div class="col-md-8">
					<div style="border: 1px solid #e1e8ed; border-radius:10px 10px 0 0;">
						<div style=" padding:13px; background:#bcbcbc; border: none; border-radius:10px 10px 0 0;" >
							
							<span style="padding:5px">You have {{cart|length}} item(s) in your cart</span>
							<a href="/prints" class="button darkgrey">Continue Shopping</a>
							<a href="" class="button darkgrey" data-request="onEmptyDbCart" >Empty Cart</a>
						</div>
						<input type="hidden" name="cartcount" value="{{cart|length}}">
						{% for cartItem in cart %}
							
							<input type="hidden" name="cartitemid[]" value="{{cartItem.id}}">
							<div style="display:inline-block">
								<div class="col-sm-3 col-md-3" style="padding-top:35px">
									<img class="cartthumb" src="{{cartItem.product.product_image.path}}" alt="13">
								</div>
								<div class="col-sm-9 col-md-9" style="padding-top:20px">
									<h4>{{cartItem.product.product_name}} <span class="red" style="font-size:12px; font-weight:100">|<a href="#" class="remove" style="color:#eba100 !important"  aria-label="Remove this item" data-request="onRemoveFromDbCart" data-request-data="cartitemid:{{cartItem.id}}"> Remove Item </a></span></h4>
									
									<div>
										<input type="hidden" name="product[]" value="{{cartItem.product.id}}">
										<input type="hidden" id="index{{loop.index}}" value="{{loop.index}}">
										<span class="finalprice{{loop.index}}"><span data-price="{{cartItem.price}}">NGN {{cartItem.price|number_format(2, '.', ',')}}</span></span> X
										<span class="quantity"><input type="number" class="quantity{{loop.index}}" data-index="{{loop.index}}" name="quantity[]" min="1" max="10" style="width:50px !important" value="{{cartItem.quantity}}" onchange="getQuantityIndex(this.value, {{loop.index}})"></span>
										=> <strong class="itemtotalcost{{loop.index}}" >NGN {{cartItem.total|number_format(2, '.', ',')}} <input type="hidden" name="cartitemtotalcost[]" value="{{cartItem.total}}"></strong>
									</div>
									{% if cartItem.product.homeitem %}
									<div class="col-md-3 form-group selectdiv" style="padding-left:0px">
											<label for="">Color:</label>
											<select name="color[]" class="form-control">
												<option value="">Please confirm the color</option>
										{% for color in cartItem.product.colors %}
											<option value="{{color.id}}" {% if cartItem.color.color == color.color %} selected {% endif %}>{{color.color}}</option>
										{% endfor %}
											</select>
									</div>
										<input type="hidden" name="frame[]" value="0">
										<input type="hidden" name="size[]" value="NA">
									{% else %}
									<div class="form-row">
										{% set cartItemIndex = loop.index %}
										{% set productSizes = __SELF__.sizeMap %}
										<div class="col-md-3 form-group selectdiv" style="padding-left:0px">
											<label for="">Size:</label>
											<select name="size[]" id="sizeselectCart" class="form-control">
												<option value="">Please confirm the size</option>
												{# {% for sizeInNumbers,sizeInText in productSizes %}
													<option data-request="onSizeSelect" data-request-data="sizeprice:{{sizeInText}}, product:{{cartItem.product.id}}" data-price="{{sizeInText}}" data-product="{{cartItem.product.id}}" data-index="{{cartItemIndex}}" value="{{sizeInNumbers}}" {% if cartItem.size == sizeInNumbers %} selected {% endif %}>{{sizeInNumbers}}</option>
												{% endfor %} #}
												{% for size in cartItem.product.sizes %}
													<option data-request="onSizeSelect" data-request-data="sizeprice:{{size.sizeintext}}, product:{{cartItem.product.id}}" data-price="{{size.sizeintext}}" data-product="{{cartItem.product.id}}" data-index="{{cartItemIndex}}" value="{{size.sizeinnumbers}}" {% if cartItem.size == size.sizeinnumbers %} selected {% endif %}>{{size.sizeinnumbers}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="form-row"> 
										{% set frames = __SELF__.cartFrames %}
										<div class="col-md-4 form-group selectdiv">
											<label for="">Frame Color:</label>
											<select name="frame[]" id="" class="form-control">
												<option value="">Please confirm the frame</option>
												{% for frame in frames %}
													<option value={{frame.slug}} {% if cartItem.frame.frame == frame.frame %} selected {% endif %}>{{frame.frame}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="form-row"> 
										<div class="col-md-5 form-group selectdiv">
											<label for="">Border:</label>
											<select name="border[]" id="" class="form-control">
												<option value="">Border options</option>
												<option value="no-border" {% if cartItem.border == 'no-border' %} selected {% endif %}>No Border</option>
												<option value="with-border" {% if cartItem.border == 'with-border' %} selected {% endif %}>With Border</option>
											</select>
										</div>
									</div>
										
									
									{% endif %}

									
									{# <div class="pro-text">
										<a href="#">{{cartItem.product}} x {{cartItem.quantity|raw}}</a>
										<div class="close">x</div>
										<strong>NGN {{cartItem.cost|raw}}</strong>
									</div> #}
								</div>
								<hr>
							</div>	
						{% endfor %}
					</div>
					
				</div>
			

			<div class="col-md-4" style="text-align:center; " >
				<div style="display:inline-block; border: 1px solid #e1e8ed; border-radius:4px; padding:45px; background-color: #222">
					<h4 style="color:#fff">Your Cart Total</h4>
					
					{% set newTotal = total %}
					<h2 style="color:#fff">NGN {{newTotal|number_format(2, '.', ',')}}</h2>
					<span style="color:#fff !important; font-size:12px"><strong>Update cart</strong> if you made any changes to your cart before checking out</span>
					<div style="margin-top:50px;" style="color: #fff !important">
						<a href="" class="button red" style="padding:20px 40px; color:#fff !important; border-color:#fff" data-request="onDBCartUpdate" >Update Cart</a>
					</div>
					<div style="margin-top:50px;" style="color: #fff !important">
						{% if user %}
							<a href="/checkout" class="button red" style="padding:20px 40px; color:#fff !important; border-color:#fff">CHECKOUT</a>
						{% else %}
							<a href="#" data-toggle="modal" data-target="#logRegModal" class="button red" style="padding:20px 40px; color:#fff !important; border-color:#fff">CHECKOUT</a>
						{% endif %}
					</div>
					
				</div>
				
			
			</div>

			{% else %}
				<div class="col-md-12">
					<h3>You do not have any items in your cart</h3>
					<div style="margin-top:50px;">
						<a href="/prints" class="button red" >Go Shopping</a>
					</div>
				</div>
			{% endif %}
		</div>
        </form>
		<!-- /.shopping-cart -->
	</section>




	