{% set total = __SELF__.total %}
<div>{% flash success %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div>
<section class="shopping-cart">
		<!-- .shopping-cart -->
        <form class="woocommerce-cart-form" data-request="onCartUpdate" method="post" id="#myCart_form">
		<div class="container">
			<div class="col-md-12">
				<h2>You cart items</h2>
				<table>
					<tr>
						<th></th>
						<th>Product name</th>
						<th>Description</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Total Price</th>
						<th></th>
					</tr>
                    {% for cartItem in cart %}
					<tr>
						<td><img src="{{cartItem.product_image}}" alt="13"></td>
						<td>{{cartItem.product}}</td>
						<td>{{cartItem.description}}</td>
						<td><strong>NGN {{cartItem.price}}</strong></td>
						<td><input type="number" name="quantity[]" min="1" max="500" value="{{cartItem.quantity}}"></td>
						<td><strong>NGN {{cartItem.cost}}</strong></td>
						<td><span class="red"> <a href="#" class="remove" aria-label="Remove this item" data-request="onRemoveFromCart" data-request-data="product:{{cartItem.id}}" >×</a><input type="hidden" name="products[]" value="{{cartItem.slug}}"></span></td>
					</tr>
                    {% endfor %}
					{# <tr>
						<td><img src="assets/images/cart-img2.jpg" alt="13"></td>
						<td>Name product #02</td>
						<td>Lorem Ipsum is simply dummy text of the printing<br/> and typesetting industry.</td>
						<td><strong>$180.00</strong></td>
						<td><input type="number" name="quantity" min="1" max="500"></td>
						<td><strong>$180.00</strong></td>
						<td><span><i class="fa fa-times" aria-hidden="true"></i></span></td>
					</tr> #}
				</table>
				<div class="col-sm-6 col-md-6">
					<a href="{{'/prints-ajax'}}" class="button red">CONTINUE SHOPPING</a>
				</div>
				<div class="col-sm-6 col-md-6 text-right">
					<a href="#" class="button submit">UPDATE SHOPPING CART</a>
					<a href="#" class="button">CLEAR SHOPPING CART</a>
				</div>
				{# <div class="col-sm-4 col-md-4">
					<div class="shipping-outer">
						<h2>Calculate shipping</h2>
						<div class="row">
							<ul>
								<li>
									<div class="col-md-12 counttry">
										<div class="lable">Select your Country:</div>
										<input name="counttry" placeholder="Nigeria (NG)" type="text">
									</div>
									<div class="col-sm-6 col-md-6">
										<div class="lable">Select your State:</div>
										<div class="size State">
											<div class="select-option">
												<select>
                
                                                    {% for state in states %}
                                                        <option value="{{state}}" {% if user.state == state %} selected {% endif %}>{{state}}</option>
                                                    {% endfor %}
                                    </select>
											</div>
										</div>
									</div>
								</li>
							</ul>

						</div>
						<a href="#" class="button2">Update Shipping</a>
					</div>
				</div> #}
				{# <div class="col-sm-4 col-md-4">
					<div class="shipping-outer">
						<h2>Coupon code</h2>
						<ul>
							<li>
								<div class="col-md-12">
									<div class="lable">Coupon Code:</div>
									<input name="Coupon Code" placeholder="Coupon Code" type="text">
								</div>
							</li>
						</ul>
						<a href="#" class="button2">Redeem code</a>
					</div>
				</div> #}
				<div class="col-sm-4 col-md-4">
					<div class="shipping-outer">
						<h2>Cart totals</h2>
						<ul>
							<li>Cart Subtotal: <strong>NGN {{total}}</strong></li>
							<li>Shipping and Handling: <strong>NGN 1000.00</strong></li>
							<li>Cart Totals: <strong>NGN {{total + 1000 }} </strong></li>
						</ul>
						<div class="text-center">
							<a href="{{'/checkout'}}" class="redbutton">Proceed to checkout</a>
						</div>
					</div>
				</div>
			</div>
		</div>
        </form>
		<!-- /.shopping-cart -->
	</section>