{% set shippingCost = 1000 %}
{# <div id="minicart"> #}
<a href="#" class="dropbtn">
        <img src="{{'assets/images/top-icon3.png'|theme}}" alt="top-ico3">
        <span>Cart ({{cart|length}})</span>
    </a>
 {% if cart %}
 
<div class="dropdown-content">

    {# {% for productKey in cart %} #} {% for cartItem in cart %}
    <div class="cart-content">
        <div class="col-sm-4 col-md-4">
            <img src="{{cartItem.product_image}}" width="40" height="60" alt="13" style="margin-top:5px">
        </div>
        <div class="col-sm-8 col-md-8">
            <div class="pro-text">
                <a href="#">{{cartItem.product}} x {{cartItem.quantity|raw}}</a>
                <div class="close">x</div>
                <strong>NGN {{cartItem.cost|raw}}</strong>
            </div>
        </div>
    </div>

    {% endfor %} {# {% endfor %} #}
    <div class="total">
        <div class="col-sm-6 col-md-6 text-left">
            <span>Shipping :</span>
            <br>
            <span>Subtotal :</span>
            <br>
            <strong>Total :</strong>
        </div>
        <div class="col-sm-6 col-md-6 text-right">
            <strong>NGN {{shippingCost}}</strong>
            <br>
            <strong>NGN {{cartTotal}}</strong>
            <br>
            <strong>NGN {{cartTotal + shippingCost}}</strong>
        </div>
    </div>
    <a href="{{'/cart'}}" class="cart-btn">VIEW CART </a>
    <a href="{{'/checkout'}}" class="cart-btn">CHECKOUT</a>
	</div>
    {% else %}
	<div class="dropdown-content">
	<div class="cart-content">
        No products in the cart
    </div>
	</div>

    {% endif %}
{# </div> #}

