<!-- Trigger the modal with a button -->
<div>{% flash success %}
    <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div>

<!-- Modal -->
<div id="cftModalLogin" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form data-request="onSignin">
                    <div class="form-group">
                        <label for="userSigninLogin">e-mail</label>
                        <input name="login" type="text" class="form-control" id="userSigninLogin" placeholder="Enter your e-mail" />
                    </div>

                    <div class="form-group">
                        <label for="userSigninPassword">Password</label>
                        <input name="password" type="password" class="form-control" id="userSigninPassword" placeholder="Enter your password" />
                    </div>

                    <button type="submit" class="wpcf7-form-control wpcf7-submit">Sign in</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div id="cftModalRegistration" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register</h4>
            </div>
            <div class="modal-body">
                <form data-request="onRegister">
                    <div class="form-group">
                        <label for="registerName">Full Name</label>
                        <input name="name" type="text" class="form-control" id="registerName" placeholder="Enter your full name" />
                    </div>

                    <div class="form-group">
                        <label for="registerEmail">Email</label>
                        <input name="email" type="email" class="form-control" id="registerEmail" placeholder="Enter your email" />
                    </div>

                    <div class="form-group">
                        <label for="registerPassword">Password</label>
                        <input name="password" type="password" class="form-control" id="registerPassword" placeholder="Choose a password" />
                    </div>
                    <div class="btx-contactform-submit">
                        <button type="submit" class="wpcf7-form-control wpcf7-submit">Register</button>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<section class="btx-section js-dynamic-navbar btx-p-border-border" style="border-bottom-width:1px; border-bottom-style:solid;"
    data-index="0">
    <div class="btx-section-wrapper">
        <div class="btx-container">
            <div class="btx-row btx-row--main">
                <div class="btx-col-12">

                    <div class="btx-item js-item-heading btx-heading btx-heading--plain btx-left-align" style="margin-bottom:0px;">
                        <h3 class="btx-heading-text btx-secondary-font btx-s-text-color btx-s-text-border" style="letter-spacing:0px;">Request for Quote (RFQ)</h3>
                    </div>

                    <div class="btx-item js-item-space btx-space" style="height:30px;"></div>

                    <div class="btx-item js-item-contactform btx-contactform btx-contactform--standard">
                        {% if not user %} Please
                        <a href="" data-toggle="modal" data-target="#cftModalLogin">login</a>/
                        <a href="" data-toggle="modal" data-target="#cftModalRegistration">Register</a> to fill the form below{% endif %}
                        <div role="form" class="wpcf7" id="wpcf7-f1044-p485-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form data-request="onRFQSubmit" class="wpcf7-form" novalidate="novalidate" data-request-validate data-request-files data-request-flash>
                                {{ form_token() }} {{ form_sessionKey() }}
                                <div class="btx-row">
                                    <div class="btx-col-12">
                                        <h5>Request for a quote in three easy steps</h5>
                                        <p>Step 1: Upload your bill of quantities</p>
                                        <hr>
                                    </div>
                                    <div class="btx-col-12">
                                        <label for="">Upload documents</label>
                                        <input type="file" name="documents[]" {% if not user %} disabled {% endif %}/>
                                        <em>Please upload your BOQ or any supporting information. Supported documents are jpg,png,pdf,txt,doc,docx,csv</em>
                                    </div>
                                    <hr />
                                </div>
                                <div class="btx-row">
                                    <div class="btx-col-12">
                                        <p>Step 2: Additional Information</p>
                                        <hr>
                                    </div>
                                </div>
                                <div class="btx-row">
                                    {#
                                    <div class="btx-col-6">
                                        <div class="btx-form-container">

                                            <label>First name
                                                <span class="required">*</span>
                                            </label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text" name="f_name" value="{{user.name}}" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                    aria-required="true" aria-invalid="false" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="btx-col-6">
                                        <div class="btx-form-container">
                                            <label>Last name
                                                <span class="required">*</span>
                                            </label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text" name="l_name" value="{{user.name}}" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                    aria-required="true" aria-invalid="false" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="btx-col-6">
                                        <div class="btx-form-container">
                                            <label>Email
                                                <span class="required">*</span>
                                            </label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-email">
                                                <input type="text" name="email" value="{{user.email}}" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                    aria-required="true" aria-invalid="false" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="btx-col-6">
                                        <div class="btx-form-container">
                                            <label>Contact number
                                                <span class="required">*</span>
                                            </label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text" name="contact_number" value="{{user.number}}" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                    aria-required="true" aria-invalid="false" />
                                            </span>
                                        </div>
                                    </div> #}
                                    <div class="btx-col-6">
                                        <div class="btx-form-container">
                                            <label>Project name
                                                <span class="required">*</span>
                                            </label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text" name="project_name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                    aria-required="true" aria-invalid="false" {% if not user %} disabled {% endif
                                                    %}/>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="btx-col-6">
                                        <div class="btx-form-container">
                                            <label>Project location
                                                <span class="required">*</span>
                                            </label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text" name="project_location" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                    aria-required="true" aria-invalid="false" {% if not user %} disabled {% endif
                                                    %}/>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <div class="btx-row">
                                    <div class="btx-col-12">
                                        <div class="btx-form-container">
                                            <label>Additional Comments</label>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-message">
                                                <textarea name="comments_questions" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea"
                                                    aria-invalid="false" {% if not user %} disabled {% endif %}></textarea>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="btx-row">
                                    <div class="btx-col-12">
                                        <div class="btx-form-container">
                                            <p>Step 3: Submit Quotation request</p>
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-message">
                                                <input type="checkbox" name="tandc" {% if not user %} disabled {% endif %}> I have read the terms and conditions</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="btx-contactform-submit">
                                    <input type="submit" value="Submit Request for quotes" class="wpcf7-form-control wpcf7-submit" {% if not user %} disabled
                                        {% endif %}/>
                                </div>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
