{% set projects = __SELF__.projects %}
<div class="content table-responsive table-full-width">
    <a href="{{'create-project'|page}}" class="btn btn-primary">Create Project</a>
    <a href="{{'create-project-items'|page}}" class="btn btn-success">Create Project Items</a>
    <table class="table table-striped">
        <thead>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Project Featured Image</th>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td><a href="{{'edit-project'|page({'slug':project.slug})}}">{{project.id}}</a></td>
                    <td><a href="{{'edit-project'|page({'slug':project.slug})}}">{{project.project_name}}</a></td>  
                    <td><img src="{{project.project_image.path}}" alt="" width="50"></td>  
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>